[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=texteffect
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_texteffect
X-KDE-PluginInfo-Author=Olivier Goffart
X-KDE-PluginInfo-Email=ogoffart@tiscalinet.be
X-KDE-PluginInfo-Name=kopete_texteffect
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Text Effect
Name[ar]=التأثير النصي
Name[be]=Тэкставы эфект
Name[bg]=Текстови ефекти
Name[bn]=টেক্সট প্রভাব
Name[bs]=Tekst efekti
Name[ca]=Efecte de text
Name[cs]=Textový efekt
Name[cy]=Effaith Testun
Name[da]=Teksteffekt
Name[de]=Texteffekte
Name[el]=Εφέ κειμένου
Name[eo]=Tekst-efektoj
Name[es]=Efecto de texto
Name[et]=Tekstiefektid
Name[eu]=Testuaren efektua
Name[fa]=جلوۀ متن
Name[fi]=Tekstitehoste
Name[fr]=Effets de texte
Name[ga]=Maisíocht Téacs
Name[gl]=Efecto de texto
Name[he]=אפקטים של טקסט
Name[hi]=पाठ प्रभाव
Name[hr]=Tekstualni efekti
Name[hu]=Szövegeffektus
Name[is]=Breyta letri
Name[it]=Effetto di testo
Name[ja]=テキスト効果
Name[ka]=ტექსტის ეფექტები
Name[kk]=Мәтінді безендіру
Name[km]=បែបផែន​អត្ថបទ​
Name[lt]=Teksto efektai
Name[mk]=Ефекти за текст 
Name[nb]=Teksteffekt
Name[nds]=Texteffekt
Name[ne]=पाठ प्रभाव
Name[nl]=Teksteffect
Name[nn]=Teksteffekt
Name[pa]=ਪਾਠ ਪਰਭਾਵ
Name[pl]=Efekty tekstowe
Name[pt]=Efeito de Texto
Name[pt_BR]=Efeito de texto
Name[ro]=Efect text
Name[ru]=Текстовые эффекты
Name[se]=Teakstaeffeakta
Name[sk]=Textový efekt
Name[sl]=Besedilni učinki
Name[sr]=Текстуални ефекти
Name[sr@Latn]=Tekstualni efekti
Name[sv]=Texteffekter
Name[ta]=செயல்
Name[tg]=Натиҷаҳои Матн
Name[tr]=Metin Efekti
Name[uk]=Текстові ефекти
Name[uz]=Matn effekti
Name[uz@cyrillic]=Матн эффекти
Name[zh_CN]=文字特效
Name[zh_HK]=文字效果
Name[zh_TW]=文字效果
Comment=Add nice effects to your messages
Comment[ar]=تضيف مؤثرات لطيفة لرسائلك
Comment[be]=Дадаць файныя эфекты да вашых паведамленняў
Comment[bg]=Добавяне на текстови ефекти към съобщенията
Comment[bn]=আপনার বার্তাতে সুন্দর প্রভাব যোগ করে
Comment[bs]=Dodaj efekte porukama
Comment[ca]=Afegeix bonics efectes als vostres missatges
Comment[cs]=Přidává efekty ke zprávám
Comment[cy]=Ychwanegu effeithiau del i'ch negeseuon
Comment[da]=Tilføj rare effekter til dine beskeder
Comment[de]=Verschönern Sie eigene Nachrichten durch nette Effekte
Comment[el]=Προσθέτει όμορφα εφέ στα μηνύματά σας
Comment[eo]=Ornami viajn mesaĝojn per belaj efektoj
Comment[es]=Añade efectos agradables a sus mensajes
Comment[et]=Lisab sõnumitele vahvaid efekte
Comment[eu]=Gehitu efektu atseginak zure mezuei
Comment[fa]=افزودن جلوه‌های زیبا به پیامهایتان
Comment[fi]=Lisää tehosteita viesteihisi
Comment[fr]=Ajouter des effets sympathiques à vos messages
Comment[ga]=Cuir maisíochtaí deasa le do theachtaireachtaí
Comment[gl]=Engadir efectos agradables ás túas mensaxes
Comment[he]=הוסף אפקטים נחמדים להודעותך
Comment[hi]=आपके संदेशों में सुंदर प्रभाव जोड़े
Comment[hu]=Effektusok hozzáadása az üzenetekhez
Comment[is]=Gera skeytin þín flottari
Comment[it]=Aggiungi effetti carini ai tuoi messaggi
Comment[ja]=メッセージに効果を付加
Comment[ka]=თქვენს შეტყობინებებს ამატებს სასიამოვნო ეფექტებს
Comment[kk]=Хабарыңызды безендіру тәсілдері
Comment[km]=បន្ថែម​បែបផែន​ស្រស់ស្អាត​ទៅ​សារ​របស់​អ្នក
Comment[lt]=Papuoškite žinutes gražiais teksto efektais
Comment[mk]=Додадете фини ефекти на вашите пораки
Comment[nb]=Legg til effekter på meldingene dine
Comment[nds]=Dien Narichten smucke Effekten tofögen
Comment[ne]=तपाईँको सन्देशमा उत्तम प्रभाव थप्नुहोस्
Comment[nl]=Voegt leuke effecten to aan uw berichten
Comment[nn]=Legg til effektar på meldingane
Comment[pl]=Dodaje ładne efekty do Twoich wiadomości
Comment[pt]=Adicionar efeitos engraçados às suas mensagens
Comment[pt_BR]=Adiciona um efeito às suas mensagens
Comment[ro]=Adaucă efecte drăguţe la mesajele dumneavoastră
Comment[ru]=Добавить эффекты к вашим сообщениям
Comment[se]=Lasit fiinna effeavttaid du dieđáhusaide
Comment[sk]=Pridá pekné efekty k vašim správam
Comment[sl]=Doda lepe učinke vašim sporočilom
Comment[sr]=Додаје лепе ефекте вашим порукама
Comment[sr@Latn]=Dodaje lepe efekte vašim porukama
Comment[sv]=Lägg till trevliga effekter i dina meddelanden
Comment[ta]=இனிய விளைவுகளை உங்களுக்கு சேர்க்கும்
Comment[tg]=Натиҷаҳои хубро ба пайёмҳои шумо ҳамроҳ мекунад
Comment[tr]=Mesajlarınıza hoş efektler ekleyin
Comment[uk]=Додати ефекти до ваших повідомлень
Comment[uz]=Xabarlarga chiroyli effektlarni qoʻshish
Comment[uz@cyrillic]=Хабарларга чиройли эффектларни қўшиш
Comment[zh_CN]=在您的消息中添加文字特效
Comment[zh_HK]=為您的訊息增加有趣的效果
Comment[zh_TW]=在您的訊息中加入一些效果
