[Desktop Entry]
Encoding=UTF-8
Icon=texteffect
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_texteffect
X-KDE-FactoryName=TextEffectConfigFactory
X-KDE-ParentApp=kopete_texteffect
X-KDE-ParentComponents=kopete_texteffect

Name=Text Effect
Name[ca]=Efecte de text
Name[cs]=Textový efekt
Name[da]=Teksteffekt
Name[de]=Texteffekte
Name[es]=Efecto de texto
Name[et]=Tekstiefektid
Name[hu]=Szövegeffektus
Name[it]=Effetto di testo
Name[nl]=Teksteffect
Name[pt]=Efeito de Texto
Name[pt_BR]=Efeito de texto
Name[sr]=Текстуални ефекти
Name[sv]=Texteffekter
Name[xx]=xxText Effectxx
Comment=Adds special effects to your text
Comment[ca]=Afegeix bonics efectes al vostre text
Comment[cs]=Přidává speciální efekty do vašeho textu
Comment[da]=Tilføj specielle effekter til din tekst
Comment[de]=Verschönern Sie eigene Nachrichten durch nette Effekte
Comment[es]=Añade efectos especiales a su texto
Comment[et]=Lisab tekstile eriefekte
Comment[hu]=Speciális effektusok hozzáadása az üzenetek szövegéhez
Comment[it]=Aggiunti effetti speciali al tuo testo
Comment[nl]=Voegt speciale effecten aan je teksten toe
Comment[pt_BR]=Adiciona efeitos especiais em seu texto
Comment[sr]=Додаје лепе ефекте вашем тексту
Comment[sv]=Lägger till specialeffekter till din text
Comment[xx]=xxAdds special effects to your textxx

