[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=preferences-plugin-text-effect-kopete
X-KDE-ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_texteffect
X-KDE-PluginInfo-Author=Olivier Goffart
X-KDE-PluginInfo-Email=ogoffart@tiscalinet.be
X-KDE-PluginInfo-Name=kopete_texteffect
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Text Effect
Comment=Add nice effects to your messages
