[Desktop Entry]
Icon=preferences-plugin-text-effect-kopete
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_texteffect
X-KDE-ParentApp=kopete_texteffect
X-KDE-ParentComponents=kopete_texteffect

Name=Text Effect
Comment=Adds special effects to your text

