[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=preferences-plugin-text-effect-kopete
X-KDE-ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_texteffect
X-KDE-PluginInfo-Author=Olivier Goffart
X-KDE-PluginInfo-Email=ogoffart@tiscalinet.be
X-KDE-PluginInfo-Name=kopete_texteffect
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Text Effect
Name[ar]=تأثير النص
Name[ast]=Efeutu de testu
Name[bg]=Текстови ефекти
Name[bn]=টেক্সট প্রভাব
Name[bs]=Efekti teksta
Name[ca]=Efecte de text
Name[ca@valencia]=Efecte de text
Name[cs]=Textový efekt
Name[cy]=Effaith Testun
Name[da]=Teksteffekt
Name[de]=Texteffekte
Name[el]=Εφέ κειμένου
Name[en_GB]=Text Effect
Name[eo]=Tekst-efektoj
Name[es]=Efecto de texto
Name[et]=Tekstiefektid
Name[eu]=Testuaren efektua
Name[fa]=جلوه متن
Name[fi]=Tekstitehoste
Name[fr]=Effets de texte
Name[ga]=Maisíocht Téacs
Name[gl]=Efecto de texto
Name[he]=אפקטים של טקסט
Name[hi]=पाठ प्रभाव
Name[hne]=पाठ प्रभाव
Name[hr]=Tekstualni efekti
Name[hu]=Szövegeffektus
Name[ia]=Effecto de texto
Name[is]=Breyta letri
Name[it]=Effetti di testo
Name[ja]=テキスト効果
Name[kk]=Мәтінді безендіру
Name[km]=បែបផែន​អត្ថបទ​
Name[ko]=텍스트 효과
Name[lt]=Teksto efektai
Name[lv]=Teksta efekti
Name[mk]=Ефекти за текст 
Name[ml]=പാഠത്തിന്റെ പ്രഭാവങ്ങള്‍
Name[nb]=Teksteffekt
Name[nds]=Texteffekt
Name[ne]=पाठ प्रभाव
Name[nl]=Teksteffect
Name[nn]=Teksteffekt
Name[pa]=ਟੈਕਸਟ ਪਰਭਾਵ
Name[pl]=Efekty tekstowe
Name[pt]=Efeito de Texto
Name[pt_BR]=Efeito de texto
Name[ro]=Efect text
Name[ru]=Текстовые эффекты
Name[se]=Teakstaeffeakta
Name[si]=පෙළ සැරසිල්ල
Name[sk]=Textový efekt
Name[sl]=Besedilni učinki
Name[sr]=Ефекти текста
Name[sr@ijekavian]=Ефекти текста
Name[sr@ijekavianlatin]=Efekti teksta
Name[sr@latin]=Efekti teksta
Name[sv]=Texteffekter
Name[ta]=செயல்
Name[tg]=Натиҷаҳои Матн
Name[th]=ลูกเล่นข้อความ
Name[tr]=Metin Efekti
Name[uk]=Текстові ефекти
Name[uz]=Matn effekti
Name[uz@cyrillic]=Матн эффекти
Name[vi]=Hiệu ứng văn bản
Name[x-test]=xxText Effectxx
Name[zh_CN]=文字特效
Name[zh_HK]=文字效果
Name[zh_TW]=文字效果
Comment=Add nice effects to your messages
Comment[ar]=إضافة تأثيرات جميلة إلى رسائلك
Comment[ast]=Amesta efeutos guapos a los tos mensaxes
Comment[bg]=Добавяне на текстови ефекти към съобщенията
Comment[bn]=আপনার বার্তাতে সুন্দর প্রভাব যোগ করে
Comment[bs]=Dodaj lijepe efekte u vašu poruku
Comment[ca]=Afegeix bonics efectes als vostres missatges
Comment[ca@valencia]=Afig bonics efectes als vostres missatges
Comment[cs]=Přidává efekty ke zprávám
Comment[cy]=Ychwanegu effeithiau del i'ch negeseuon
Comment[da]=Tilføj rare effekter til dine beskeder
Comment[de]=Verschönert Ihre Nachrichten mit netten Effekten
Comment[el]=Προσθέτει όμορφα εφέ στα μηνύματά σας
Comment[en_GB]=Add nice effects to your messages
Comment[eo]=Ornami viajn mesaĝojn per belaj efektoj
Comment[es]=Añade efectos agradables a sus mensajes
Comment[et]=Lisab sõnumitele vahvaid efekte
Comment[eu]=Gehitu efektu atseginak zure mezuei
Comment[fa]=افزودن جلوه‌های زیبا به پیامهایتان
Comment[fi]=Lisää tehosteita viesteihisi
Comment[fr]=Ajouter des effets sympathiques à vos messages
Comment[ga]=Cuir maisíochtaí deasa le do theachtaireachtaí
Comment[gl]=Engade efectos agradábeis ás súas mensaxes
Comment[he]=הוסף אפקטים נחמדים להודעותך
Comment[hi]=अपने संदेशों में सुंदर प्रभाव जोड़ें
Comment[hne]=अपन संदेस मन मं सुंदर प्रभाव जोड़व
Comment[hr]=Dodaj lijepe efekte svojim porukama
Comment[hu]=Effektusok hozzáadása az üzenetekhez
Comment[ia]=Adde effectos gratiose a tu messages
Comment[is]=Gera skeytin þín flottari
Comment[it]=Aggiungi effetti carini ai messaggi
Comment[ja]=メッセージに効果を付加
Comment[kk]=Хабарламаңызды безендіру тәсілдері
Comment[km]=បន្ថែម​បែបផែន​ស្រស់ស្អាត​ទៅ​សារ​របស់​អ្នក
Comment[ko]=메시지에 효과를 추가합니다
Comment[lt]=Papuoškite žinutes gražiais teksto efektais
Comment[lv]=Pievieno jūsu ziņojumiem jaukus efektus
Comment[mk]=Додадете фини ефекти на вашите пораки
Comment[ml]=നിങ്ങളുടെ സന്ദേശങ്ങള്‍ക്ക് വിശേഷമായ പ്രഭാവം നല്കാം
Comment[nb]=Legg til effekter på meldingene dine
Comment[nds]=Dien Narichten smucke Effekten tofögen
Comment[ne]=तपाईँको सन्देशमा उत्तम प्रभाव थप्नुहोस्
Comment[nl]=Voegt leuke effecten toe aan uw berichten
Comment[nn]=Legg til effektar på meldingane
Comment[pa]=ਤੁਹਾਡੇ ਸੁਨੇਹੇ ਲਈ ਸ਼ਾਨਦਾਰ ਪਰਭਾਵ
Comment[pl]=Dodaj ładne efekty do twoich wiadomości
Comment[pt]=Adicionar efeitos engraçados às suas mensagens
Comment[pt_BR]=Adiciona efeitos às suas mensagens
Comment[ro]=Adaugă efecte plăcute mesajelor dumneavoastră
Comment[ru]=Добавить эффекты к вашим сообщениям
Comment[se]=Lasit fiinna effeavttaid du dieđáhusaide
Comment[si]=ඔබේ පණිවුඩ සඳහා අලංකාර සැරසිලි එක් කරයි
Comment[sk]=Pridáva pekné efekty k vašim správam
Comment[sl]=Doda lepe učinke vašim sporočilom
Comment[sr]=Додаје лепе ефекте вашим порукама
Comment[sr@ijekavian]=Додаје лијепе ефекте вашим порукама
Comment[sr@ijekavianlatin]=Dodaje lijepe efekte vašim porukama
Comment[sr@latin]=Dodaje lepe efekte vašim porukama
Comment[sv]=Lägg till trevliga effekter i dina meddelanden
Comment[ta]=இனிய விளைவுகளை உங்களுக்கு சேர்க்கும்
Comment[tg]=Натиҷаҳои хубро ба пайёмҳои шумо ҳамроҳ мекунад
Comment[th]=เพิ่มลูกเล่นพิเศษต่าง ๆ ให้กับข้อความของคุณดูสวยงามมากขึ้น
Comment[tr]=Mesajlarınıza hoş efektler ekleyin
Comment[uk]=Додати ефекти до ваших повідомлень
Comment[uz]=Xabarlarga chiroyli effektlarni qoʻshish
Comment[uz@cyrillic]=Хабарларга чиройли эффектларни қўшиш
Comment[vi]=Thêm các hiệu ứng đẹp vào tin nhắn
Comment[x-test]=xxAdd nice effects to your messagesxx
Comment[zh_CN]=在您的消息中添加漂亮的文字特效
Comment[zh_HK]=為您的訊息增加有趣的效果
Comment[zh_TW]=在您的訊息中加入一些效果
