[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000800
Icon=javascript
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_javascript
X-KDE-PluginInfo-Author=Jason Keirstead
X-KDE-PluginInfo-Email=jason@keirstead.org
X-KDE-PluginInfo-Name=kopete_javascript
X-KDE-PluginInfo-Version=0.9.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=JavaScript
Comment=Script Kopete using JavaScript
