[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=color
Name=Text Effect
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_texteffect
X-Kopete-Author=Olivier Goffart
X-Kopete-Site=http://kopete.kde.org
X-Kopete-Email=ogoffart@tiscalinet.be
X-Kopete-License=GPL
Comment=Add nice effect at your messages
