[Desktop Entry]
Encoding=UTF-8
Icon=urlpicpreview
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_urlpicpreview
X-KDE-FactoryName=URLPicPreviewPreferencesFactory
X-KDE-ParentApp=kopete_urlpicpreview
X-KDE-ParentComponents=kopete_urlpicpreview

X-Kopete-Version=1000900

Name=URLPicPreview Plugin Configuration
Name[pt]=Configuração do 'Plugin' URLPicPreview
Name[sv]=Inställning av insticksprogram för förhandsgranskning av webbadressbilder
Comment=URLPicPreview Plugin
Comment[pt]='Plugin' do URLPicPreview
Comment[sv]=Insticksprogram för förhandsgranskning av webbadressbilder
