[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=urlpicpreview
X-Kopete-Version=1000900
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_urlpicpreview
X-KDE-PluginInfo-Author=Heiko Schäfer
X-KDE-PluginInfo-Email=heiko@rangun.de
X-KDE-PluginInfo-Name=kopete_urlpicpreview
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://www.rangun.de
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Preview of pictures in chats
Name[es]=Vista previa de imágenes en chats
Name[it]=Anteprima delle immagini nelle chat
Name[pt]=Antevisão das imagens nas conversas
Name[sv]=Förhandsgranskning av bilder i chatter
Comment=Displays a preview of pictures in chats
Comment[es]=Muestra una vista previa de imágenes en los chats
Comment[it]=Mostra un'anteprima delle immagini nelle chat
Comment[pt]=Mostra uma antevisão das imagens nas conversas
Comment[sv]=Visar en förhandsgranskning av bilder i chatter
