[Desktop Entry]
Encoding=UTF-8
Icon=urlpicpreview
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_urlpicpreview
X-KDE-FactoryName=URLPicPreviewPreferencesFactory
X-KDE-ParentApp=kopete_urlpicpreview
X-KDE-ParentComponents=kopete_urlpicpreview

X-Kopete-Version=1000900

Name=URLPicPreview Plugin Configuration
Name[ar]=إعدادات قابس URLPicPreview Plugin
Name[bg]=Настройка на приставката URLPicPreview
Name[cs]=Modul nastavení URLPicPreview
Name[da]=Indstilling af plugin for forhåndsvisning af web-adresse-billeder
Name[de]=URLPicPreview Modul-Einstellungen
Name[el]=Ρυθμίσεις πρόσθετου URLPicPreview
Name[es]=Configuración de la extensión URLPicPreview
Name[et]=URLPicPreview plugina seadistused
Name[fr]=Configuration du module URLPicPreview
Name[gl]=Configurazón do plugin URLPicPreview
Name[it]=Configurazione del plugin URLPicPreview
Name[ka]=URLPicPreview მოდულის კონფიგურაცია
Name[nl]=URLPicPreview Plugin-configuratie
Name[pt]=Configuração do 'Plugin' URLPicPreview
Name[sk]=URLPicPreview modul konfigurácie
Name[sr]=Подешавање прикључка URLPicPreview
Name[sr@Latn]=Podešavanje priključka URLPicPreview
Name[sv]=Inställning av insticksprogram för förhandsgranskning av webbadressbilder
Name[xx]=xxURLPicPreview Plugin Configurationxx
Comment=URLPicPreview Plugin
Comment[ar]=قابس URLPicPreview
Comment[bg]=Приставка URLPicPreview
Comment[cs]=Modul URLPicPreview
Comment[da]=Plugin for forhåndsvisning af web-adresse-billeder
Comment[de]=URLPicPreview-Modul
Comment[el]=Πρόσθετο URLPicPreview
Comment[es]=Extensión URLPicPreview
Comment[et]=URLPicPreview plugin
Comment[fr]=Module URLPicPreview
Comment[gl]=Plugin URLPicPreview
Comment[it]=Plugin URLPicPreview
Comment[ka]=URLPicPreview მოდული
Comment[nl]=URLPicPreview-plugin
Comment[pt]='Plugin' do URLPicPreview
Comment[sk]=URLPicPreview modul
Comment[sr]=URLPicPreview прикључак
Comment[sr@Latn]=URLPicPreview priključak
Comment[sv]=Insticksprogram för förhandsgranskning av webbadressbilder
Comment[xx]=xxURLPicPreview Pluginxx
