[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000800
Icon=source_pl
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_perlscript
X-KDE-PluginInfo-Author=Jason Keirstead
X-KDE-PluginInfo-Email=jason@keirstead.org
X-KDE-PluginInfo-Name=kopete_perlscript
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Perl Scripting Plugin
Name[bg]=Скрипт
Name[bs]=Dodatak za Perl skriptiranje
Name[ca]=Script connector en Perl
Name[cs]=Modul pro Perl skripty
Name[cy]=Ategyn Sgriptio Perl
Name[da]=Perl-scriptning plugin
Name[de]=Perl-Skript-Modul
Name[el]=Πρόσθετο σεναρίων Perl
Name[es]=Plugin de Perl
Name[et]=Perli skriptide plugin
Name[fi]=Perl skriptiliitännäinen
Name[fr]=Module de scriptage Perl
Name[gl]=Plugin para escribir guións na linguaxe Perl
Name[he]=תוסף תסריטי פרל
Name[hi]=पर्ल स्क्रिप्टिंग प्लगइन
Name[hu]=Bővítőmodul Perl szkriptekhez
Name[it]=Plugin per script in perl
Name[ja]=Perlスクリプトプラグイン
Name[nb]=Programtillegg for Perl skript
Name[nl]=Perl scripting plug-in
Name[pl]=Wtyczka skryptów Perl-a
Name[pt]='Plugin' de Programação em Perl
Name[pt_BR]=Plugin de Scripts Perl
Name[ru]=Модуль скриптов на Perl
Name[sk]=Modul pre skriptovanie Perlom
Name[sl]=Vstavek za skripte Perl
Name[sr]=Додатак за Perl скриптовање
Name[sv]=Insticksprogram för Perl-skript
Name[ta]=Perl சிறுநிரல் செருகல்
Name[uk]=Втулок для написання скриптів на Perl
Name[xx]=xxPerl Scripting Pluginxx
Name[zh_CN]=Perl 脚本插件
Comment=Script Kopete using Perl 
