[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Perl Scripting Plugin
Icon=source_pl
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_perlscript
X-Kopete-Plugin-Id=perlscript
X-Kopete-Author=Jason Keirstead
X-Kopete-Site=http://kopete.kde.org
X-Kopete-Email=jason@keirstead.org
X-Kopete-License=GPL
Comment=Script Kopete using Perl 
