[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Perl Scripting Plugin
Name[es]=Plugin de Script para Perl .
Name[pt]='Plugin' de 'Scripting' em Perl
Name[pt_BR]=Plug-in para Usar Scripts em Perl
Name[sv]=Insticksprogram för Perl-skript
Icon=autoaway_plugin
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_perlscript
X-Kopete-Plugin-Id=perlscript
X-Kopete-Author=Jason Keirstead
X-Kopete-Site=http://kopete.kde.org
X-Kopete-Email=jason@keirstead.org
X-Kopete-License=GPL
Comment=Script Kopete using Perl 
