[Desktop Entry]
Encoding=UTF-8
Icon=color
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_autoreplace
X-KDE-FactoryName=AutoReplaceConfigFactory
X-KDE-ParentApp=kopete_autoreplace
X-KDE-ParentComponents=kopete_autoreplace

Name=Auto Replace
Name[be]=Аўтаматычная замена
Name[ca]=Auto-substitució
Name[cs]=Automatické nahrazení
Name[da]=Auto-erstat
Name[de]=Automatische Ersetzung
Name[es]=Auto reemplazar
Name[et]=Automaatne asendamine
Name[hu]=Automatikus szövegcsere
Name[it]=Sostituisci automaticamente
Name[nl]=Automatisch vervangen
Name[pt_BR]=Substituição Automática
Name[ru]=Автозамена
Name[sr]=Аутоматска замена
Name[sv]=Ersätt automatiskt
Name[wa]=Replaecî otomaticmint
Name[xx]=xxAuto Replacexx
Comment=Autoreplaces some text you can choose
Comment[ca]=Auto-substitueix algun text que podreu escollir
Comment[cs]=Automaticky nahrazuje zvolený text
Comment[da]=Autoerstatter noget tekst du kan vælge
Comment[de]=Ersetzt wählbare Texte automatisch
Comment[es]=Autoreemplaza texto que puede elegir
Comment[et]=Asendab automaatselt sinu valitud teksti
Comment[hu]=A kiválasztott szövegeket automatikusan lecseréli
Comment[it]=Sostituisci automaticamente del testo a scelta
Comment[nl]=Vervangt automatisch tekst die u kunt instellen
Comment[pt_BR]=Substitui automaticamente o texto que você escolher
Comment[ru]=Автоматически заменяет выбранный вами текст
Comment[sr]=Аутоматска замена неког текста који одаберете
Comment[sv]=Ersätt automatiskt text du kan markera
Comment[xx]=xxAutoreplaces some text you can choosexx

