[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=preferences-text-autocorrection-kopete
X-KDE-ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_autoreplace
X-KDE-PluginInfo-Author=Roberto Pariset
X-KDE-PluginInfo-Email=victorheremita@fastwebnet.it
X-KDE-PluginInfo-Name=kopete_autoreplace
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Auto Replace
Name[ar]=استبدال تلقائي
Name[ast]=Auto Trocar
Name[bg]=Автоматична замяна
Name[bn]=স্বয়ংক্রীয় প্রতিস্থাপন
Name[bs]=Automatska zamjena
Name[ca]=Auto-substitució
Name[ca@valencia]=Auto-substitució
Name[cs]=Automatické nahrazení
Name[cy]=Hunan-Amnewid
Name[da]=Auto-erstat
Name[de]=Automatische Ersetzung
Name[el]=Αυτόματη αντικατάσταση
Name[en_GB]=Auto Replace
Name[eo]=Aŭtomata anstataŭigo
Name[es]=Auto reemplazar
Name[et]=Automaatne asendamine
Name[eu]=Ordeztu automatikoki
Name[fa]=جایگزینی خودکار
Name[fi]=Automaattinen korvaus
Name[fr]=Remplacement automatique
Name[ga]=Ionadú Uathoibríoch
Name[gl]=Substitución automática
Name[he]=החלפה אוטומטית
Name[hi]=स्वचलित बदलें
Name[hne]=अपने अपन बदलव
Name[hr]=Automatska zamijena
Name[hu]=Automatikus szövegcsere
Name[ia]=Reimplacia automaticamente
Name[is]=Skipta sjálfkrafa út
Name[it]=Sostituzione automatica
Name[ja]=自動置換
Name[kk]=Авто алмастыру
Name[km]=ជំនួស​ស្វ័យប្រវត្តិ
Name[ko]=자동 바꾸기
Name[lt]=Automatinis keitimas
Name[lv]=Auto aizvietošana
Name[mk]=Автоматска замена
Name[ml]=യാന്ത്രികമായി മാറ്റിവെയ്ക്കുന്നു
Name[nb]=Automatisk utskifting
Name[nds]=Automaatsch utwesseln
Name[ne]=स्वत: प्रतिस्थापन
Name[nl]=Automatisch vervangen
Name[nn]=Automatisk utbyting
Name[pa]=ਆਟੋ ਤਬਦੀਲ
Name[pl]=Samoczynne zastępowanie
Name[pt]=Substituição Automática
Name[pt_BR]=Substituição automática
Name[ro]=Înlocuire automată
Name[ru]=Автозамена
Name[se]=Auto-buhtte
Name[si]=ස්වයං ප්‍රතිපිහිටුම
Name[sk]=Automatické nahradenie
Name[sl]=Samo-zamenjava
Name[sq]=Vetë Zëvendëso
Name[sr]=Аутоматска замена
Name[sr@ijekavian]=Аутоматска замјена
Name[sr@ijekavianlatin]=Automatska zamjena
Name[sr@latin]=Automatska zamena
Name[sv]=Ersätt automatiskt
Name[ta]=தன்னியக்க மாற்றி
Name[tg]=Ҷойивазкунии Худкор
Name[th]=แทนที่อัตโนมัติ
Name[tr]=Otomatik Değiştir
Name[ug]=ئۆزلۈكىدىن ئالماشتۇر
Name[uk]=Автоматична заміна
Name[uz]=Avto-almashtirish
Name[uz@cyrillic]=Авто-алмаштириш
Name[vi]=Tự động thay thế
Name[wa]=Replaecî otomaticmint
Name[x-test]=xxAuto Replacexx
Name[zh_CN]=自动替换
Name[zh_HK]=自動取代
Name[zh_TW]=自動取代
Comment=Auto replaces some text you can choose
Comment[ar]=استبدال تلقائي لبعض النصوص المختارة
Comment[ast]=Auto troca testu que pues escoyer
Comment[bg]=Приставка за автоматична замяна на текст в съобщенията
Comment[bn]=স্বয়ংক্রীয়ভাবে প্রতিস্থাপন করে কিছু টেক্সট যা আপনি বেছে নিতে পারেন
Comment[bs]=Automatski zamjenjuje neki tekst koji odaberete
Comment[ca]=Auto-substitueix algun text que podreu escollir
Comment[ca@valencia]=Auto-substitueix algun text que podreu escollir
Comment[cs]=Automaticky nahrazuje zvolený text
Comment[cy]=Hunan-amnewid testun y gallwch ei ddewis
Comment[da]=Autoerstatter noget tekst du kan vælge
Comment[de]=Ersetzt wählbare Texte automatisch
Comment[el]=Αντικαθιστά αυτόματα κάποιο κείμενο που επιλέγετε
Comment[en_GB]=Auto replaces some text you can choose
Comment[eo]=Aŭtomate anstataŭigas ian tekston kiun vi povas elekti
Comment[es]=Autoreemplaza texto que puede elegir
Comment[et]=Asendab automaatselt sinu valitud teksti
Comment[eu]=Aukeratu dezakezun testua automatikoki ordezten du
Comment[fa]=بعضی از متنها را که می‌توانید انتخاب کنید، به طور خودکار جایگزین می‌کند
Comment[fi]=Korvaa valitsemasi tekstit automaattisesti
Comment[fr]=Remplace automatiquement du texte que vous pouvez choisir
Comment[ga]=Ionadaigh do rogha téacs go huathoibríoch
Comment[gl]=Substitúe automaticamente por outro o texto que escolla
Comment[he]=מחליף אוטומטית טקסט לבחירתך
Comment[hi]=कुछ पाठ जिन्हें आप चुन सकते हैं, स्वचलित बदलें
Comment[hne]=कुछ पाठ जऊन ल आप मन चुन सकथो , अपने अपन बदलव
Comment[hr]=Automatska zamjena teksta kojeg odaberete
Comment[hu]=A beállított szövegeket automatikusan lecseréli
Comment[ia]=Reimplacia automaticamente alcun texto que tu pote seliger
Comment[is]=Skiptir sjálfkrafa út þeim texta sem þú velur
Comment[it]=Sostituisce automaticamente del testo a scelta
Comment[ja]=選択したテキストを自動置換
Comment[kk]=Таңдаған мәтінді автоматты түрде алмастыру
Comment[km]=ជំនួស​អត្ថបទ​ដែល​អ្នក​អាច​ជ្រើស ដោយ​ស្វ័យប្រវត្តិ
Comment[ko]=선택한 텍스트를 자동으로 바꿉니다
Comment[lt]=Automatiškai keičia parinktą tekstą
Comment[lv]=Automātiski aizvieto jūsu izvēlētus tekstus
Comment[mk]=Автоматска замена на некој текст што го избирате
Comment[ml]=നിങ്ങള്‍ക്ക് തെരഞ്ഞെടുക്കാവുന്ന ചില പാഠങ്ങള്‍ യാന്ത്രികമായി മാറ്റിവെയ്ക്കപ്പെടുന്നു
Comment[nb]=Skift ut en valgt tekst automatisk
Comment[nds]=Wesselt automaatsch wat instellbor Text ut
Comment[ne]=तपाईँले रोज्न सक्नुहुने केही पाठ स्वत: प्रतिस्थापन हुन्छ
Comment[nl]=Vervangt automatisch tekst die u kunt instellen
Comment[nn]=Skift ut ein vald tekst automatisk
Comment[pl]=Samoczynnie zastępuje tekst, który możesz wybrać
Comment[pt]=Substitui automaticamente algum texto seleccionado por si
Comment[pt_BR]=Substitui automaticamente o texto escolhido
Comment[ro]=Înlocuiește automat text pe care îl puteți alege
Comment[ru]=Автоматически заменяет текст, который вы вводите
Comment[se]=Automáhtalaččat buhtte teavstta maid válljet
Comment[si]=ඔබට තෝරාගත හැකි ඇතැම් පෙළ ස්වයංක්‍රීයව ප්‍රතිපිහිටුවයි
Comment[sk]=Automaticky nahradí text, ktorý si vyberiete
Comment[sl]=Samodejno zamenja besedilo, ki ga lahko izberete
Comment[sr]=Аутоматска замена неког текста који одаберете
Comment[sr@ijekavian]=Аутоматска замјена неког текста који одаберете
Comment[sr@ijekavianlatin]=Automatska zamjena nekog teksta koji odaberete
Comment[sr@latin]=Automatska zamena nekog teksta koji odaberete
Comment[sv]=Ersätt automatiskt text du kan markera
Comment[ta]=நீங்கள் தேர்வு செய்த உரையை தானாக மாற்றவும்
Comment[tg]=Матни интихобкардаи шуморо ба таври худкор иваз мекунад
Comment[th]=แทนที่บางข้อความที่คุณสามารถเลือกได้ให้โดยอัตโนมัติ
Comment[tr]=Seçilen bazı metinler otomatik değiştirilir
Comment[uk]=Автоматично заміняє текст, який ви вкажете
Comment[vi]=Tự động thay thế văn bản bạn chọn
Comment[x-test]=xxAuto replaces some text you can choosexx
Comment[zh_CN]=自动替换您可选择的某些文字
Comment[zh_HK]=自動取代可選擇的文字
Comment[zh_TW]=自動取代您所選擇的文字

