[Desktop Entry]
Encoding=UTF-8
Icon=color
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_autoreplace
X-KDE-FactoryName=AutoReplaceConfigFactory
X-KDE-ParentApp=kopete_autoreplace
X-KDE-ParentComponents=kopete_autoreplace

Name=Auto Replace
Name[x-test]=xxAuto Replacexx
Comment=Autoreplaces some text you can choose
Comment[x-test]=xxAutoreplaces some text you can choosexx

