[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=autoreplace
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_autoreplace
X-KDE-PluginInfo-Author=Roberto Pariset
X-KDE-PluginInfo-Email=victorheremita@fastwebnet.it
X-KDE-PluginInfo-Name=kopete_autoreplace
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Auto Replace
Name[ar]=الاستبدال التلقائي
Name[be]=Аўтаматычная замена
Name[bg]=Автоматична замяна
Name[bn]=স্বয়ংক্রীয় প্রতিস্থাপন
Name[bs]=Auto zamjena
Name[ca]=Auto-substitució
Name[cs]=Automatické nahrazení
Name[cy]=Hunan-Amnewid
Name[da]=Auto-erstat
Name[de]=Automatische Ersetzung
Name[el]=Αυτόματη αντικατάσταση
Name[eo]=Aŭtomata anstataŭigo
Name[es]=Auto reemplazar
Name[et]=Automaatne asendamine
Name[eu]=Auto ordezkatu
Name[fa]=جایگزینی خودکار
Name[fi]=Automaattinen korvaus
Name[fr]=Remplacement automatique
Name[gl]=Auto-reemplazo
Name[he]=החלפה אוטומטית
Name[hi]=स्वचलित बदलें
Name[hr]=Automatska zamijena
Name[hu]=Automatikus szövegcsere
Name[is]=Skipta sjálfkrafa út
Name[it]=Sostituisci automaticamente
Name[ja]=自動置換
Name[ka]=ავტო ჩანაცვლება
Name[kk]=Авто алмастыру
Name[km]=ជំនួស​ស្វ័យប្រវត្តិ
Name[lt]=Automatinis keitimas
Name[mk]=Автоматска замена
Name[nb]=Automatisk utskifting
Name[nds]=Automaatsch utwesseln
Name[ne]=स्वत: प्रतिस्थापन
Name[nl]=Automatisch vervangen
Name[nn]=Automatisk utbyting
Name[pa]=ਆਟੋ ਤਬਦੀਲ
Name[pl]=Automatyczne zastępowanie
Name[pt]=Substituição Automática
Name[pt_BR]=Substituição Automática
Name[ro]=Înlocuire automată
Name[ru]=Автозамена
Name[se]=Auto-buhtte
Name[sk]=Automatické náhrady
Name[sl]=Samo-zamenjava
Name[sr]=Аутоматска замена
Name[sr@Latn]=Automatska zamena
Name[sv]=Ersätt automatiskt
Name[ta]=தன்னியக்க மாற்றி
Name[tg]=Ҷойивазкунии Худкор
Name[tr]=Otomatik Değiştir
Name[uk]=Автоматична заміна
Name[uz]=Avto-almashtirish
Name[uz@cyrillic]=Авто-алмаштириш
Name[wa]=Replaecî otomaticmint
Name[zh_CN]=自动替换
Name[zh_HK]=自動取代
Name[zh_TW]=自動取代
Comment=Auto replaces some text you can choose
Comment[ar]=يقوم بتغيير تلفائي للنصوص التي يمكن اختيارها
Comment[be]=Аўтаматычная замена тэксту
Comment[bg]=Приставка за автоматична замяна на текст в съобщенията
Comment[bn]=স্বয়ংক্রীয়ভাবে প্রতিস্থাপন করে কিছু টেক্সট যা আপনি বেছে নিতে পারেন
Comment[bs]=Automatski zamjenjuje neki tekst koji izaberete
Comment[ca]=Auto-substitueix algun text que podreu escollir
Comment[cs]=Automaticky nahrazuje zvolený text
Comment[cy]=Hunan-amnewid testun y gallwch ei ddewis
Comment[da]=Autoerstatter noget tekst du kan vælge
Comment[de]=Ersetzt wählbare Texte automatisch
Comment[el]=Αντικαθιστά αυτόματα κάποιο κείμενο που επιλέγετε
Comment[es]=Autoreemplaza texto que puede elegir
Comment[et]=Asendab automaatselt sinu valitud teksti
Comment[eu]=Hautatu dezakezun testua auto ordezten du
Comment[fa]=بعضی از متنها را که می‌توانید انتخاب کنید، به طور خودکار جایگزین می‌کند
Comment[fi]=Korvaa valitsemasi tekstit automaattisesti
Comment[fr]=Remplace automatiquement du texte que vous pouvez choisir
Comment[gl]=Reemplaza automáticamente algún texto que tí podes escoller
Comment[he]=מחליף אוטומטית טקסט לבחירתך
Comment[hi]=कुछ पाठ जिन्हें आप चुन सकते हैं, स्वचलित बदलें
Comment[hr]=Automatska zamjena teksta kojeg odaberete
Comment[hu]=A beállított szövegeket automatikusan lecseréli
Comment[is]=Skiptir sjálfkrafa út þeim texta sem þú velur
Comment[it]=Sostituisci automaticamente del testo a scelta
Comment[ja]=選択したテキストを自動置換
Comment[ka]=არჩეული ტექსტის ავტო ჩანაცვლება
Comment[kk]=Таңдаған мәтінді автоматты түрде алмастыру
Comment[km]=ជំនួស​អត្ថបទ​ដែល​អ្នក​អាច​ជ្រើស ដោយ​ស្វ័យប្រវត្តិ
Comment[lt]=Automatiškai keičia parinktą tekstą
Comment[mk]=Автоматска замена на некој текст што го избирате
Comment[nb]=Skift ut en valgt tekst automatisk
Comment[nds]=Wesselt automaatsch wat instellbor Text ut
Comment[ne]=स्वत: प्रतिस्थापन हुने केही पाठ तपाईँले रोज्न सक्नुहुन्छ
Comment[nl]=Vervangt automatisch tekst die u kunt instellen
Comment[nn]=Skift ut ein vald tekst automatisk
Comment[pl]=Automatycznie zastępuje określony tekst
Comment[pt]=Substitui automaticamente algum texto seleccionado por si
Comment[pt_BR]=Substitui automaticamente o texto que você escolher
Comment[ru]=Автоматически заменяет текст, который вы вводите
Comment[se]=Automáhtalaččat buhtte teavstta maid válljet
Comment[sk]=Automaticky nahradzuje text, ktorý si vyberiete
Comment[sl]=Samodejno zamenja besedilo, ki ga lahko izberete
Comment[sr]=Аутоматска замена неког текста који одаберете
Comment[sr@Latn]=Automatska zamena nekog teksta koji odaberete
Comment[sv]=Ersätt automatiskt text du kan markera
Comment[ta]=நீங்கள் தேர்வு செய்த உரையை தானாக மாற்றவும்
Comment[tg]=Матни интихобкардаи шуморо ба таври худкор иваз мекунад
Comment[tr]=Seçilen bazı metinler otomatik değiştirilir
Comment[uk]=Автоматично заміняє текст, який ви вкажете
Comment[zh_CN]=自动替换您可选择的某些文字
Comment[zh_HK]=自動取代可選擇的文字
Comment[zh_TW]=自動取代您所選擇的文字

