[Desktop Entry]
Encoding=UTF-8
Icon=color
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_autoreplace
X-KDE-FactoryName=AutoReplaceConfigFactory
X-KDE-ParentApp=kopete
X-KDE-ParentComponents=kopete_autoreplace_plugin

Name=Auto Replace
Name[ca]=Auto-substituir
Name[da]=Auto-erstat
Name[de]=Automatische Ersetzung
Name[es]=Auto reemplazar
Name[fr]=Remplacement automatique
Name[nl]=Automatisch vervangen
Name[pt]=Substituição Automática
Name[pt_BR]=Auto-Substituir
Name[sv]=Ersätt automatiskt
Name[wa]=Replaecî otomaticmint
Name[xx]=xxAuto Replacexx
Comment=Autoreplaces some text you can choose
Comment[ca]=Substitueix automàticament el text que escolliu
Comment[da]=Autoerstatter noget tekst du kan vælge
Comment[de]=Ersetzt wählbare Texte automatisch
Comment[es]=Autoreemplace un poco de texto que usted puede elegir.
Comment[fr]=Remplace automatiquement le texte que vous choisissez
Comment[nl]=Vervangt automatisch tekst.
Comment[pt]=Substitui automaticamente algum texto à sua escolha
Comment[pt_BR]=Substitui automaticamente algum texto que você escolher
Comment[sv]=Ersätt automatiskt text du kan markera
Comment[xx]=xxAutoreplaces some text you can choosexx

