[Desktop Entry]
Encoding=UTF-8
Icon=wp_protocol
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_wp
X-KDE-FactoryName=WPProtocolConfigFactory
X-KDE-ParentApp=kopete_wp
X-KDE-ParentComponents=kopete_wp

Name=WinPopup Plugin
Name[x-test]=xxWinPopup Pluginxx
Comment=Microsoft "WinPopup" Window Messenger
Comment[x-test]=xxMicrosoft "WinPopup" Window Messengerxx
