[Desktop Entry]
Encoding=UTF-8
Icon=wp_protocol
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_wp
X-KDE-FactoryName=WPProtocolConfigFactory
X-KDE-ParentApp=kopete_wp
X-KDE-ParentComponents=kopete_wp

Name=WinPopup Plugin
Name[ar]=توصيلة منبثق windows
Name[be]=Дапаўненьне "WinPopup"
Name[bg]=Приставка WinPopup
Name[bs]=WinPopup dodatak
Name[ca]=Connector WinPopup
Name[cs]=WinPopup modul
Name[cy]=Ategyn WinPopup
Name[da]=WinPopup-plugin
Name[de]=WinPopup-Modul
Name[el]=Πρόσθετο WinPopup
Name[es]=Plugin de WinPopup
Name[et]=WinPopup plugin
Name[eu]=WinPopup plugina
Name[fi]=WinPopup-liitännäinen
Name[fr]=Module WinPopup
Name[ga]=Breiseán WinPopup
Name[gl]=Plugin para WinPopup
Name[he]=תוסף WinPopup
Name[hi]=विन-पॉपअप प्लगइन
Name[hr]=WinPopup umetak
Name[hu]=WinPopup bővítőmodul
Name[is]=WinPopup íhlutur
Name[it]=Plugin WinPopup
Name[ja]=WinPopupプラグイン
Name[lt]=Iššokančių žinučių įskiepis
Name[mk]=Приклучок за WinPopup
Name[nb]=Programtillegg for WinPopup
Name[nl]=WinPopup-plugin
Name[nn]=Programtillegg for vindaugsmeldingar
Name[pl]=Wtyczka WinPopup
Name[pt]='Plugin' do WinPopup
Name[pt_BR]=Janela de Contexto
Name[ro]=Modul WinPopup
Name[ru]=Модуль WinPopup
Name[se]=WinPopup-lassemoduvla
Name[sk]=Modul WinPopup
Name[sl]=Vstavek za WinPopup
Name[sr]=WinPopup прикључак
Name[sr@Latn]=WinPopup priključak
Name[sv]=WinPopup-insticksprogram
Name[ta]=WinPopup செருகல்
Name[tg]=Модули WinPopup
Name[tr]=WinPopup Eklentisi
Name[uk]=Втулок WinPopup
Name[uz]=WinPopup плагини
Name[xx]=xxWinPopup Pluginxx
Name[zh_CN]=WinPopup 插件
Comment=Microsoft "WinPopup" Window Messenger
Comment[bg]=Приставка за връзка с Microsoft "WinPopup" Window Messenger
Comment[bs]=Microsoft "WinPopup" poruke
Comment[ca]=Missatger de finestra "WinPopup" de Microsoft
Comment[cs]=Odesílání Microsoft "WinPopup"
Comment[cy]=Negesydd Ffenestr "WinPopup" Microsoft
Comment[de]=Microsoft "WinPopup"-Nachrichtendienst
Comment[es]=Mensajería instantánea "WinPopup" de Microsoft
Comment[et]=Microsofti "WinPopup" hüpik-teateaknad
Comment[eu]=Microsoft "WinPopup" leiho mezularia
Comment[fi]=Microsoft "WinPopup"-ikkunaviestin
Comment[fr]=Messager Microsoft Windows « WinPopup »
Comment[gl]=Mensaxes "WinPopup" do sistema Windows de Microsoft
Comment[he]=מסרים בפרוטוקול "WinPopup" של מיקרוסופט
Comment[hi]=माइक्रोसॉफ्ट "WinPopup" विंडो मैसेंजर
Comment[hr]=Microsoft "WinPopup" slanje poruka
Comment[hu]=Microsoft "WinPopup" üzenetek
Comment[it]=Finestra dei messaggi Microsoft "WinPopup"
Comment[ja]=Microsoft "WinPopup" ウィンドウメッセンジャ
Comment[lt]=Microsoft iššokačių žinučių klientas
Comment[mk]=Гласник за Microsoft „WinPopup“ прозорци
Comment[nb]=Microsoft «WinPopup» Window Messenger
Comment[nl]=Microsoft "WinPopup" Windows Messenger
Comment[nn]=Microsoft-vindaugsmeldingar
Comment[pl]=Komunikator Windows "WinPopup"
Comment[pt]=Mensageiro de Janelas "WinPopup" da Microsoft
Comment[pt_BR]=Mensageiro Instantâneo
Comment[ru]=Модуль протокола Microsoft WinPopup
Comment[sl]=Okenski sporočilnik Microsoft »WinPopup«
Comment[sv]=Microsoft "Winpopup"-fönstermeddelanden
Comment[ta]=மைக்ரோசாப்ட் "WinPopup"
Comment[tg]=Пайёмбари Тирезавии Microsoft "WinPopup"
Comment[tr]=Microsoft "WinPopup" 
Comment[uk]=Кур'єр повідомлень Microsoft WinPopup
Comment[xx]=xxMicrosoft "WinPopup" Window Messengerxx
Comment[zh_CN]=Microsoft “WinPopup”窗口信使
