[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=cryptography_plugin
Name=Highlight
Name[ca]=Ressaltat
Name[es]=Realzado
Name[fr]=Surlignement
Name[nl]=Accentueren
Name[pt]=Realce
Name[pt_BR]=Realce
Name[sv]=Markera
Name[wa]=Sorbriyance
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_highlight
X-Kopete-Plugin-Id=highlight
X-Kopete-Author=Olivier Goffart
X-Kopete-Site=http://kopete.kde.org
X-Kopete-Email=ogoffart@tiscalinet.be
X-Kopete-License=GPL
Comment=Highlight messages
Comment[ca]=Missatges a ressaltar
Comment[es]=Mensajes realzados
Comment[fr]=Surligne les messages
Comment[nl]=Berichten accentueren
Comment[pt]=Realçar as mensagens
Comment[pt_BR]=Realçar mensagens
Comment[sv]=Markera meddelanden
Comment[wa]=Mete les messaedjes e sorbriyance
