[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000800
Icon=highlight
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_highlight
X-KDE-PluginInfo-Author=Olivier Goffart
X-KDE-PluginInfo-Email=ogoffart@tiscalinet.be
X-KDE-PluginInfo-Name=kopete_highlight
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Highlight
Name[be]=Падсьветка
Name[bg]=Открояване
Name[bs]=Isticanje
Name[ca]=Ressaltat
Name[cs]=Zvýraznit
Name[cy]=Amlygu
Name[da]=Fremhæv
Name[de]=Hervorhebung
Name[el]=Τονισμός
Name[es]=Resaltar
Name[et]=Esiletõstmine
Name[fi]=Korostus
Name[fr]=Surlignement
Name[gl]=Resaltar
Name[he]=מודגש
Name[hi]=उभारें
Name[hu]=Kiemelés
Name[it]=Evidenziazione
Name[ja]=強調
Name[nb]=Marker
Name[nl]=Aanwijzen
Name[nn]=Marker
Name[pl]=Podświetlenie
Name[pt]=Realce
Name[pt_BR]=Destaque
Name[ru]=Подчеркивание
Name[sk]=Zvýrazniť
Name[sl]=Osvetli
Name[sr]=Истицање
Name[sv]=Markera
Name[ta]=முனைப்புறுத்தல்
Name[uk]=Підсвічування
Name[wa]=E sorbiyance
Name[xx]=xxHighlightxx
Name[zh_CN]=突出显示
Comment=Highlight messages
Comment[be]=Падсьветка паведамленьняў
Comment[bg]=Открояване на съобщения
Comment[bs]=Istakni poruke
Comment[ca]=Missatges a ressaltar
Comment[cs]=Zvýraznit zprávy
Comment[cy]=Amlygu negeseuon
Comment[da]=Fremhæv beskeder
Comment[de]=Hervorhebung von Nachrichten
Comment[el]=Τονισμός μηνυμάτων
Comment[es]=Resaltar mensajes
Comment[et]=Sõnumite esiletõstmine
Comment[fi]=Korosta viestit
Comment[fr]=Surligner les messages
Comment[gl]=Resaltar mensaxes
Comment[he]=הדגשת מסר
Comment[hi]=संदेशों को उभारें
Comment[hu]=Szövegkiemelés
Comment[it]=Evidenzia i messaggi
Comment[ja]=メッセージを強調
Comment[nb]=Marker meldinger
Comment[nl]=Laat berichten oplichten
Comment[pl]=Podświetlanie wiadomości
Comment[pt]=Realçar as mensagens
Comment[pt_BR]=Destaca mensagens
Comment[ru]=Подчеркивает сообщения
Comment[sk]=Zvýraznenie správ
Comment[sl]=Osvetli sporočila
Comment[sr]=Истицање порука
Comment[sv]=Markera meddelanden
Comment[ta]=தகவல் முனைப்புறுத்தல்
Comment[uk]=Підсвічування повідомлень
Comment[wa]=Mete les messaedjes e sorbriyance
Comment[xx]=xxHighlight messagesxx
Comment[zh_CN]=突出显示消息
