[Desktop Entry]
Icon=highlight
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_highlight
X-KDE-ParentApp=kopete_highlight
X-KDE-ParentComponents=kopete_highlight

Name=Highlight
Name[ar]=إبراز
Name[ast]=Resaltar
Name[bg]=Открояване
Name[bn]=গুরুত্বপূর্ণ
Name[br]=Splannadur
Name[bs]=Istaknuto
Name[ca]=Ressaltat
Name[ca@valencia]=Ressaltat
Name[cs]=Zvýraznění
Name[cy]=Amlygu
Name[da]=Fremhæv
Name[de]=Hervorgehoben
Name[el]=Τονισμός
Name[en_GB]=Highlight
Name[eo]=Emfazaĵo
Name[es]=Resaltar
Name[et]=Esiletõstmine
Name[eu]=Nabarmendu
Name[fa]=مشخص
Name[fi]=Korostus
Name[fr]=Surlignement
Name[ga]=Aibhsiú
Name[gl]=Realzar
Name[he]=מודגש
Name[hi]=उभारें
Name[hne]=चमकाव
Name[hr]=Isticanje
Name[hu]=Kiemelés
Name[ia]=Evidentia
Name[is]=Merkja
Name[it]=Evidenziazione
Name[ja]=強調
Name[kk]=Ерекше
Name[km]=សំខាន់
Name[ko]=강조
Name[lt]=Paryškinti
Name[lv]=Izcelta
Name[mai]=उभारू
Name[mk]=Осветлување
Name[ml]=എടുത്തുകാട്ടുക
Name[nb]=Marker
Name[nds]=Rutheven
Name[ne]=हाइलाइट
Name[nl]=Accentueren
Name[nn]=Markert melding
Name[pa]=ਹਾਈਲਾਈਟ
Name[pl]=Podświetlenie
Name[pt]=Realce
Name[pt_BR]=Realce
Name[ro]=Evidențiere
Name[ru]=Выделение
Name[se]=Merke
Name[si]=උපුටන
Name[sk]=Zvýraznenie
Name[sl]=Poudari
Name[sq]=Përzgjidh
Name[sr]=Истицање
Name[sr@ijekavian]=Истицање
Name[sr@ijekavianlatin]=Isticanje
Name[sr@latin]=Isticanje
Name[sv]=Markera
Name[ta]=முனைப்புறுத்தல்
Name[tg]=Равшаннамоӣ
Name[th]=เน้นข้อความ
Name[tr]=Vurgulama
Name[ug]=يورۇت
Name[uk]=Підсвічування
Name[vi]=Chiếu sáng
Name[wa]=E sorbiyance
Name[x-test]=xxHighlightxx
Name[zh_CN]=突出显示
Name[zh_HK]=加強顯示
Name[zh_TW]=高亮度
Comment=Highlights text based on filters
Comment[ar]=إبراز النصوص المعتمدة على الترشيحات
Comment[ast]=Realza'l testu basándose en filtros
Comment[bg]=Открояване на текст в съобщенията на базата на ключови думи
Comment[bn]=ফিল্টারের ওপর ভিত্তি করে টেক্সট প্রজ্জ্বল করে
Comment[bs]=Označava tekst baziran na filterima
Comment[ca]=Ressalta el text basant-se en filtres
Comment[ca@valencia]=Ressalta el text basant-se en filtres
Comment[cs]=Zvýraznit text podle filtrů
Comment[cy]=Amlygu testun ar sail hidlau
Comment[da]=Fremhæv tekst baseret på filtre
Comment[de]=Texthervorhebung mit Hilfe von Filtern
Comment[el]=Τονίζει το κείμενο βασισμένο σε φίλτρα
Comment[en_GB]=Highlights text based on filters
Comment[eo]=Emfazas la tekston laŭ filtriloj
Comment[es]=Realza el texto basándose en filtros
Comment[et]=Teksti esiletõstmine filtrite põhjal
Comment[eu]=Iragazkietan oinarritutako testua nabarmentzen du
Comment[fa]=متن را بر اساس پالایه‌ها مشخص می‌کند
Comment[fi]=Korostaa tekstin suodattimien perusteella
Comment[fr]=Surligne les messages qui répondent à certains critères
Comment[ga]=Aibhsíonn seo téacs de réir scagairí
Comment[gl]=Realza o texto usando filtros
Comment[he]=מדגיש מילים על פי מסננים
Comment[hi]=फ़िल्टर आधारित पाठ उभारें
Comment[hne]=फिल्टर आधार से पाठ चमकाव
Comment[hr]=Isticanje poruka na osnovu filtera
Comment[hu]=Szövegkiemelés üzenetekben megadott szempontok szerint
Comment[ia]=Evidentia texto basate sur filtros
Comment[is]=Merkir texta með tilliti til síunar
Comment[it]=Evidenzia il testo con dei filtri
Comment[ja]=条件に従ってテキストを強調
Comment[kk]=Сүзгі көмегімен мәтінді бояулау
Comment[km]=សារ​សំខាន់​ដែល​ផ្អែក​លើ​តម្រង
Comment[ko]=필터를 기반으로 메시지를 강조합니다
Comment[lt]=Paryškinamas tekstas, atsižvelgiant į filtrus
Comment[lv]=Izceļ tekstu, kas atbilst filtriem
Comment[mk]=Го обележува текстот базирано на филтри
Comment[ml]=അരിപ്പകള്‍ അടിസ്ഥാനമാക്കി പാഠങ്ങള്‍ പ്രകാശിതമാക്കി കാണിക്കുക
Comment[nb]=Framhev tekst ved hjelp av filtre
Comment[nds]=Filterbaseert Rutheven vun Text
Comment[ne]=फिल्टरमा आधारित पाठ हाइलाइट गर्दछ
Comment[nl]=Laat tekst oplichten gebaseerd op filters
Comment[nn]=Marker meldingar ved bruk av filter
Comment[pa]=ਫਿਲਟਰ ਮੁਤਾਬਕ ਟੈਕਸਟ ਹਾਈਲਾਈਟ
Comment[pl]=Podświetla tekst na podstawie filtrów
Comment[pt]=Realça o texto com base em filtros
Comment[pt_BR]=Destaca o texto baseado em filtros
Comment[ro]=Evidențiază text pe baza filtrelor
Comment[ru]=Подсвечивание текста основывается на фильтрах
Comment[se]=Merke teavstta silliid bokte
Comment[si]=පෙරහන් මත පදනම් පෙළ උපුටා පෙන්වන්න
Comment[sk]=Zvýrazní text pomocou filtrov
Comment[sl]=Poudari besedilo glede na filtre
Comment[sr]=Истицање порука на основу филтера
Comment[sr@ijekavian]=Истицање порука на основу филтера
Comment[sr@ijekavianlatin]=Isticanje poruka na osnovu filtera
Comment[sr@latin]=Isticanje poruka na osnovu filtera
Comment[sv]=Markerar text baserat på filter
Comment[ta]=வடிகட்டியை பொருத்து உரையை தனிப்படுத்து
Comment[tg]=Равшансозии матн дар асоси полоягарҳо
Comment[th]=เน้นข้อความอิงพื้นฐานจากตัวกรองต่าง ๆ
Comment[tr]=Süzgeçlerde metin temelli vurgular
Comment[ug]=سۈزگۈچتە سۈزۈلگەن تېكىستلارنى يورۇتىدۇ
Comment[uk]=Підсвічування тексту базується на фільтрах
Comment[vi]=Chiếu sáng văn bản theo bộ lọc
Comment[wa]=Mete li tecse e sorbriyance d' après les passetes
Comment[x-test]=xxHighlights text based on filtersxx
Comment[zh_CN]=根据过滤器突出显示文字
Comment[zh_HK]=根據過濾器將訊息加強顯示
Comment[zh_TW]=基於過濾器的高亮度訊息
