[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=preferences-text-highlighting-kopete
X-KDE-ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_highlight
X-KDE-PluginInfo-Author=Olivier Goffart
X-KDE-PluginInfo-Email=ogoffart@tiscalinet.be
X-KDE-PluginInfo-Name=kopete_highlight
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Highlight
Name[ar]=إبراز
Name[ast]=Resaltar
Name[bg]=Открояване
Name[bn]=গুরুত্বপূর্ণ
Name[br]=Splannadur
Name[bs]=Istaknuto
Name[ca]=Ressaltat
Name[ca@valencia]=Ressaltat
Name[cs]=Zvýraznění
Name[cy]=Amlygu
Name[da]=Fremhæv
Name[de]=Hervorgehoben
Name[el]=Τονισμός
Name[en_GB]=Highlight
Name[eo]=Emfazaĵo
Name[es]=Resaltar
Name[et]=Esiletõstmine
Name[eu]=Nabarmendu
Name[fa]=مشخص
Name[fi]=Korostus
Name[fr]=Surlignement
Name[ga]=Aibhsiú
Name[gl]=Realzar
Name[he]=מודגש
Name[hi]=उभारें
Name[hne]=चमकाव
Name[hr]=Isticanje
Name[hu]=Kiemelés
Name[ia]=Evidentia
Name[is]=Merkja
Name[it]=Evidenziazione
Name[ja]=強調
Name[kk]=Ерекше
Name[km]=សំខាន់
Name[ko]=강조
Name[lt]=Paryškinti
Name[lv]=Izcelta
Name[mai]=उभारू
Name[mk]=Осветлување
Name[ml]=എടുത്തുകാട്ടുക
Name[nb]=Marker
Name[nds]=Rutheven
Name[ne]=हाइलाइट
Name[nl]=Accentueren
Name[nn]=Markert melding
Name[pa]=ਹਾਈਲਾਈਟ
Name[pl]=Podświetlenie
Name[pt]=Realce
Name[pt_BR]=Realce
Name[ro]=Evidențiere
Name[ru]=Выделение
Name[se]=Merke
Name[si]=උපුටන
Name[sk]=Zvýraznenie
Name[sl]=Poudari
Name[sq]=Përzgjidh
Name[sr]=Истицање
Name[sr@ijekavian]=Истицање
Name[sr@ijekavianlatin]=Isticanje
Name[sr@latin]=Isticanje
Name[sv]=Markera
Name[ta]=முனைப்புறுத்தல்
Name[tg]=Равшаннамоӣ
Name[th]=เน้นข้อความ
Name[tr]=Vurgulama
Name[ug]=يورۇت
Name[uk]=Підсвічування
Name[vi]=Chiếu sáng
Name[wa]=E sorbiyance
Name[x-test]=xxHighlightxx
Name[zh_CN]=突出显示
Name[zh_HK]=加強顯示
Name[zh_TW]=高亮度
Comment=Highlight messages
Comment[ar]=إبراز رسائل
Comment[ast]=Resaltar mensaxes
Comment[bg]=Открояване на съобщения
Comment[bn]=বার্তা প্রজ্জ্বলন
Comment[bs]=Označite poruke
Comment[ca]=Missatges a ressaltar
Comment[ca@valencia]=Missatges a ressaltar
Comment[cs]=Zvýraznit zprávy
Comment[cy]=Amlygu negeseuon
Comment[da]=Fremhæv beskeder
Comment[de]=Hervorhebung von Nachrichten
Comment[el]=Τονισμός μηνυμάτων
Comment[en_GB]=Highlight messages
Comment[eo]=Emfazi mesaĝojn
Comment[es]=Resaltar mensajes
Comment[et]=Sõnumite esiletõstmine
Comment[eu]=Nabarmendu mezuak
Comment[fa]=پیامهای مشخص
Comment[fi]=Korosta viestit
Comment[fr]=Surligner les messages
Comment[ga]=Aibhsigh teachtaireachtaí
Comment[gl]=Realzar as mensaxes
Comment[he]=מדגיש הודעות 
Comment[hi]=संदेशों को उभारें
Comment[hne]=संदेस मन ल चमकाव
Comment[hr]=Isticanje poruka
Comment[hu]=Szövegkiemelés
Comment[ia]=Evidentia messages
Comment[is]=Merkja skeyti
Comment[it]=Evidenzia i messaggi
Comment[ja]=メッセージを強調
Comment[kk]=Хабарларды бояулау
Comment[km]=សារ​សំខាន់
Comment[ko]=메시지를 강조합니다
Comment[lt]=Paryškinti žinutes
Comment[lv]=Ziņojumu izcelšana
Comment[mk]=Обележете пораки
Comment[ml]=സന്ദേശങ്ങള്‍ പ്രകാശിതമാക്കുക
Comment[nb]=Marker meldinger
Comment[nds]=Narichten rutheven
Comment[ne]=सन्देश हाइलाइट गर्नुहोस्
Comment[nl]=Laat berichten oplichten
Comment[nn]=Marker meldingar
Comment[pa]=ਹਾਈਲਾਈਟ ਸੁਨੇਹੇ
Comment[pl]=Podświetlanie wiadomości
Comment[pt]=Realçar as mensagens
Comment[pt_BR]=Destaca mensagens
Comment[ro]=Evidențiază mesajele
Comment[ru]=Подсвечивание сообщений
Comment[se]=Merke dieđuid
Comment[si]=පණිවුඩ උපුටා පෙන්වන්න
Comment[sk]=Zvýraznenie správ
Comment[sl]=Poudari sporočila
Comment[sr]=Истицање порука
Comment[sr@ijekavian]=Истицање порука
Comment[sr@ijekavianlatin]=Isticanje poruka
Comment[sr@latin]=Isticanje poruka
Comment[sv]=Markera meddelanden
Comment[ta]=தகவல் தனிப்படுத்தல்
Comment[tg]=Равшансозии пайёмҳо
Comment[th]=เน้นข้อความ
Comment[tr]=Vurgulanmış mesajlar
Comment[ug]=ئۇچۇرلارنى يورۇت
Comment[uk]=Підсвічування повідомлень
Comment[vi]=Chiếu sáng tin nhắn
Comment[wa]=Mete les messaedjes e sorbriyance
Comment[x-test]=xxHighlight messagesxx
Comment[zh_CN]=突出显示消息
Comment[zh_HK]=將訊息加強顯示
Comment[zh_TW]=高亮度訊息
