[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=highlight
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_highlight
X-KDE-PluginInfo-Author=Olivier Goffart
X-KDE-PluginInfo-Email=ogoffart@tiscalinet.be
X-KDE-PluginInfo-Name=kopete_highlight
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Highlight
Name[ar]=تمييز
Name[bg]=Открояване
Name[bn]=গুরুত্বপূর্ণ
Name[br]=Splannadur
Name[bs]=Isticanje
Name[ca]=Ressaltat
Name[cs]=Zvýraznění
Name[cy]=Amlygu
Name[da]=Fremhæv
Name[de]=Hervorhebung
Name[el]=Τονισμός
Name[eo]=Lumaĵo
Name[es]=Resaltar
Name[et]=Esiletõstmine
Name[eu]=Nabarmendu
Name[fa]=مشخص
Name[fi]=Korostus
Name[fr]=Surlignement
Name[ga]=Aibhsiú
Name[gl]=Resaltar
Name[he]=מודגש
Name[hi]=उभारें
Name[hr]=Isticanje
Name[hu]=Kiemelés
Name[is]=Merkja
Name[it]=Evidenziazione
Name[ja]=強調
Name[ka]=მარკირებული
Name[kk]=Ерекше
Name[km]=សំខាន់
Name[lt]=Paryškinti
Name[mk]=Осветлување
Name[nb]=Marker
Name[nds]=Rutheven
Name[ne]=हाइलाइट
Name[nl]=Aanwijzen
Name[nn]=Marker
Name[pa]=ਉਘਾੜਨ
Name[pl]=Podświetlenie
Name[pt]=Realce
Name[pt_BR]=Destaque
Name[ro]=Evidenţiat
Name[ru]=Выделение
Name[se]=Merke
Name[sk]=Zvýrazniť
Name[sl]=Poudarjeno sporočilo
Name[sr]=Истицање
Name[sr@Latn]=Isticanje
Name[sv]=Markera
Name[ta]=முனைப்புறுத்தல்
Name[tg]=Равшаннамоӣ
Name[tr]=Vurgu
Name[uk]=Підсвічування
Name[wa]=E sorbiyance
Name[zh_CN]=突出显示
Name[zh_HK]=加強顯示
Name[zh_TW]=高亮度
Comment=Highlight messages
Comment[ar]=الرسائل المميزة
Comment[bg]=Открояване на съобщения
Comment[bn]=বার্তা প্রজ্জ্বলন
Comment[bs]=Istakni poruke
Comment[ca]=Missatges a ressaltar
Comment[cs]=Zvýraznit zprávy
Comment[cy]=Amlygu negeseuon
Comment[da]=Fremhæv beskeder
Comment[de]=Hervorhebung von Nachrichten
Comment[el]=Τονισμός μηνυμάτων
Comment[eo]=Elstarigi mesaĝojn
Comment[es]=Resaltar mensajes
Comment[et]=Sõnumite esiletõstmine
Comment[eu]=Nabarmendu mezuak
Comment[fa]=پیامهای مشخص
Comment[fi]=Korosta viestit
Comment[fr]=Surligner les messages
Comment[ga]=Aibhsigh teachtaireachtaí
Comment[gl]=Resaltar mensaxes
Comment[he]=מדגיש הודעות 
Comment[hi]=संदेशों को उभारें
Comment[hr]=Isticanje poruka
Comment[hu]=Szövegkiemelés
Comment[is]=Merkja skeyti
Comment[it]=Evidenzia i messaggi
Comment[ja]=メッセージを強調
Comment[ka]=მარკირებული შეტყობინება
Comment[kk]=Хабарларды бояулау
Comment[km]=សារ​សំខាន់
Comment[lt]=Paryškinti žinutes
Comment[mk]=Обележете пораки
Comment[nb]=Marker meldinger
Comment[nds]=Narichten rutheven
Comment[ne]=सन्देश हाइलाइट गर्नुहोस्
Comment[nl]=Laat berichten oplichten
Comment[nn]=Marker meldingar
Comment[pl]=Podświetlanie wiadomości
Comment[pt]=Realçar as mensagens
Comment[pt_BR]=Destaca mensagens
Comment[ro]=Evidenţiază mesajele
Comment[ru]=Подсвечивание сообщений
Comment[se]=Merke dieđuid
Comment[sk]=Zvýraznenie správ
Comment[sl]=Poudarjanje sporočil
Comment[sr]=Истицање порука
Comment[sr@Latn]=Isticanje poruka
Comment[sv]=Markera meddelanden
Comment[ta]=தகவல் தனிப்படுத்தல்
Comment[tg]=Равшансозии пайёмҳо
Comment[tr]=Vurgulanmış mesajlar
Comment[uk]=Підсвічування повідомлень
Comment[wa]=Mete les messaedjes e sorbriyance
Comment[zh_CN]=突出显示消息
Comment[zh_HK]=將訊息加強顯示
Comment[zh_TW]=高亮度訊息
