[Desktop Entry]
Icon=urlpicpreview
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_urlpicpreview
X-KDE-ParentApp=kopete_urlpicpreview
X-KDE-ParentComponents=kopete_urlpicpreview

Name=URLPicPreview Plugin Configuration
Comment=URLPicPreview Plugin
