[Desktop Entry]
Encoding=UTF-8
Icon=urlpicpreview
Type=Service
ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_urlpicpreview
X-KDE-ParentApp=kopete_urlpicpreview
X-KDE-ParentComponents=kopete_urlpicpreview

Name=URLPicPreview Plugin Configuration
Name[pt]=Configuração do 'Plugin' de Antevisão dos URLs
Name[pt_BR]=Configuração do 'Plugin' de Antevisão dos URLs
Comment=URLPicPreview Plugin
Comment[pt]='Plugin' de Antevisão dos URLs
Comment[pt_BR]='Plugin' de Antevisão dos URLs
