[Desktop Entry]
Type=Service
Icon=view-preview
X-Kopete-Version=1000900
X-KDE-ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_urlpicpreview
X-KDE-PluginInfo-Author=Heiko Schäfer
X-KDE-PluginInfo-Email=heiko@rangun.de
X-KDE-PluginInfo-Name=kopete_urlpicpreview
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Preview of Pictures in Chats
Name[ast]=Previsualización de semeyes en charres
Name[bg]=Преглед на изображения в разговора
Name[bs]=Pregled slika u ćaskanjima
Name[ca]=Vista prèvia d'imatges en els xats
Name[ca@valencia]=Vista prèvia d'imatges en els xats
Name[cs]=Náhled obrázků v rozhovoru
Name[da]=Forhåndsvisning af billeder i chat
Name[de]=Bildervorschauen in Chats
Name[el]=Προεπισκόπηση εικόνων σε συνομιλίες
Name[en_GB]=Preview of Pictures in Chats
Name[es]=Previsualización de fotografías en charlas
Name[et]=Piltide eelvaatlus vestluses
Name[eu]=Irudien aurrebista berriketetan
Name[fi]=Kuvien esikatselu pikaviestimissä
Name[fr]=Aperçu des photos dans les discussions
Name[ga]=Réamhamharc ar Phictiúir i gComhráite
Name[gl]=Previsualizar as imaxes nos chats
Name[hr]=Pregled slika u razgovorima
Name[hu]=Előnézeti képek csevegésekben
Name[ia]=Vista preliminar de picturas in conversationes in directo
Name[it]=Anteprima di immagini in chat
Name[ja]=チャット中の画像のプレビュー
Name[kk]=Чаттарда суреттерді қарау
Name[km]=មើល​រូបភាព​​ជា​មុន​នៅ​ក្នុង​គំនូស​តាង
Name[ko]=대화하면서 그림 보기
Name[lt]=Paveikslėlių peržiūra pokalbiuose
Name[lv]=Attēlu priekšskatījumi tērzēšanā
Name[nb]=Forhåndsvis bilder i pratevinduer
Name[nds]=Vöransichten vun Biller bi't Klönen
Name[nl]=Voorbeeld van afbeeldingen in gesprekken
Name[nn]=Førehandsvising av bilete i prat
Name[pa]=ਗੱਲਾਂ 'ਚ ਤਸਵੀਰਾਂ ਦੀ ਝਲਕ
Name[pl]=Podgląd obrazów w trakcie rozmowy
Name[pt]=Antevisão das Imagens nas Conversas
Name[pt_BR]=Visualização de imagens em bate-papos
Name[ro]=Previzualizarea imaginilor în discuții
Name[ru]=Предпросмотр картинок в разговоре
Name[si]=සංවාද තුල පින්තූර වල පෙරදැක්ම
Name[sk]=Náhľad obrázkov v rozhovore
Name[sl]=Predogled slik v pogovorih
Name[sr]=Преглед слика у ћаскањима
Name[sr@ijekavian]=Преглед слика у ћаскањима
Name[sr@ijekavianlatin]=Pregled slika u ćaskanjima
Name[sr@latin]=Pregled slika u ćaskanjima
Name[sv]=Förhandsgranskning av bilder i chatter
Name[tr]=Sohbetlerdeki Resimlerin Önizlemesi
Name[uk]=Перегляд зображень в балачках
Name[x-test]=xxPreview of Pictures in Chatsxx
Name[zh_CN]=预览聊天中的图片
Name[zh_TW]=聊天中預覽圖片
Comment=Displays a preview of pictures in chats
Comment[ar]=عرض لمحات للرسوم في المحادثات
Comment[ast]=Amuesa una previsualización de semeyes en charres
Comment[bg]=Показване на прегледи на изображенията в разговорите
Comment[bs]=Prikazuje pregled slika u ćaskanjima
Comment[ca]=Mostra una vista prèvia de les imatges en els xats
Comment[ca@valencia]=Mostra una vista prèvia de les imatges en els xats
Comment[cs]=Zobrazuje náhled obrázků v rozhovoru
Comment[da]=Forhåndsviser billeder i chat
Comment[de]=Zeigt eine Vorschau für Bilder in Chats an
Comment[el]=Εμφανίζει μια προεπισκόπηση των εικόνων σε συνομιλίες
Comment[en_GB]=Displays a preview of pictures in chats
Comment[eo]=Montras antaŭrigardon de bildoj en la babilejo
Comment[es]=Muestra una previsualización de fotografías en charlas
Comment[et]=Piltide eelvaatluse näitamine vestluses
Comment[eu]=Bistaratu irudien aurrebista berriketetan
Comment[fi]=Näyttää pikaviestimissä kuvien esikatselukuvia
Comment[fr]=Affiche un aperçu des photos dans les discussions
Comment[ga]=Déanann sé seo réamhamharc ar phictiúir i gcomhrá
Comment[gl]=Mostra unha vista previa das imaxes nos chats
Comment[hi]=गपशप में छवियों के पूर्वावलोकन दिखाता है
Comment[hne]=गपसप मं फोटू मन के प्रिव्यू देखाथे 
Comment[hr]=Prikazuje pregled slika u razgovorima
Comment[hu]=Megjeleníti a csevegésekben előforduló képek előnézetét
Comment[ia]=Monstra un vista preliminar de picturas in conversationes in directo
Comment[it]=Mostra un'anteprima di immagini in chat
Comment[ja]=チャットに画像のプレビューを表示します
Comment[kk]=Әңгіме-дүкендерде суреттерін қарау
Comment[km]=បង្ហាញ​ការ​មើល​រូបភាព​ជាមុន​ក្នុង​ជជែក​កំសាន្ត
Comment[ko]=대화하면서 그림을 미리 보여 줍니다
Comment[lt]=Pokalbyje bus rodoma paveikslėlių peržiūra
Comment[lv]=Parāda attēlu priekšskatījumus tērzēšanas logā
Comment[ml]=സല്ലാപത്തിലെ ചിത്രങ്ങളുടെ പൂര്‍വ്വദൃശ്യം കാണിയ്ക്കുന്നു
Comment[nb]=Viser forhåndsvisning av bilder i pratevinduer
Comment[nds]=Wiest Vöransichten vun Biller bi't Klönen
Comment[nl]=Toont een voorbeeld van afbeeldingen in gesprekken
Comment[nn]=Førehandsviser bilete i praten
Comment[pa]=ਗੱਲਾਂ ਵਿੱਚ ਤਸਵੀਰਾਂ ਦੀ ਝਲਕ ਵੇਖੋ
Comment[pl]=Wyświetla podgląd obrazów w trakcie rozmowy
Comment[pt]=Mostra uma antevisão das imagens nas conversas
Comment[pt_BR]=Mostra uma visualização de imagens em bate-papos
Comment[ro]=Afișează o previzualizare a imaginilor în discuții
Comment[ru]=Показ миниатюр изображений в окне разговора
Comment[si]=සංවාදයන්හි පින්තූර වල පෙරදැක්මයි පෙන්වයි
Comment[sk]=Zobrazí náhľad obrázkov v rozhovore
Comment[sl]=Prikaže predogled slik v pogovorih
Comment[sr]=Приказује преглед слика у ћаскањима
Comment[sr@ijekavian]=Приказује преглед слика у ћаскањима
Comment[sr@ijekavianlatin]=Prikazuje pregled slika u ćaskanjima
Comment[sr@latin]=Prikazuje pregled slika u ćaskanjima
Comment[sv]=Visar en förhandsgranskning av bilder i en chatt
Comment[tr]=Sohbetlerdeki resimlerin bir ön izlemesini gösterir
Comment[uk]=Показувати в балачках перегляд зображень
Comment[x-test]=xxDisplays a preview of pictures in chatsxx
Comment[zh_CN]=显示聊天中图片的预览
Comment[zh_TW]=在聊天視窗中顯示圖片預覽
