[Desktop Entry]
Type=Service
Icon=telepathy_protocol
X-KDE-ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_telepathy
X-Kopete-Version=1000900
X-Kopete-Messaging-Protocol=messaging/telepathy
X-KDE-PluginInfo-Author=Kopete Developers
X-KDE-PluginInfo-Email=kopete-devel@kde.org
X-KDE-PluginInfo-Name=kopete_telepathy
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Telepathy
Name[ar]=التخاطر
Name[fi]=Telepatia
Name[hi]=टेलिपैथी
Name[km]=អ្នក​ទូរចិត្ត
Name[ne]=टेलिप्याथी
Name[pa]=ਟੈਲੀਪਾਥੀ
Name[pt_BR]=Telepatia
Name[tr]=Telepati
Name[x-test]=xxTelepathyxx
Comment=Messaging using Telepathy connection managers.
Comment[ar]=راسل باستعمال ميثاق الاتصال التخاطري.
Comment[ca]=Missatgeria que usa els gestors de connexions del Telepathy.
Comment[cs]=Posílání zpráv pomocí Telepathy.
Comment[da]=Beskeder med brug af Telepathy-forbindelseshåndtering.
Comment[de]=Nachrichten mit Telepathy versenden
Comment[el]=Μηνύματα μέσα διαχειριστών σύνδεσης Telepathy.
Comment[eo]=Mesaĝado uzante Telepathy konektadministrilojn.
Comment[es]=Mensajería usando gestores de conexión Telepathy
Comment[et]=Kiirsuhtlemine Telepathy ühendushaldurite vahendusel
Comment[fi]=Viesti Telepatia-yhteyksien hallinnan kanssa
Comment[fr]=Messagerie utilisant le gestionnaire de connexion Telepathy
Comment[ga]=Teachtaireachtaí SMS le bainisteoirí ceangail Telepathy.
Comment[gl]=Mensaxeiría empregando xestores de conexón de Telepathy. 
Comment[hu]=Telepathy üzenetküldő.
Comment[it]=Invia messaggi usando i gestori di connessione Telepathy.
Comment[ja]=Telepathy 接続マネージャを使うメッセージング
Comment[km]=ផ្ញើ​សារ​ដោយ​ប្រើ​កម្មវិធី​គ្រប់គ្រង​ការ​តភ្ជាប់​​ទូរចិត្ត ។
Comment[ko]=Telepathy 연결 관리자를 사용하는 메시징.
Comment[lt]=Telepathy žinučių tarnyba.
Comment[lv]=Ziņapmaiņa, izmantojot Telepathy saziņas pārvaldniekus.
Comment[nb]=Meldinger ved bruk av Telepathy tilkoblingsbehandlere
Comment[nds]=Narichten över Telepathy-Verbinnenplegers afsteed stüern
Comment[nl]=Messaging met Telepathy-verbindingsmanagers.
Comment[nn]=Lynmeldingsteneste som brukar Telepathy-tilkopling
Comment[pl]=Wiadomości za pomocą Telepathy.
Comment[pt]=Mensageiros que usam os gestores de ligações do Telepathy.
Comment[pt_BR]=Envio/recebimento de mensagem por conexão Telepathy.
Comment[ro]=Mesagerie utilizînd gestionari de conexiune Telepathy
Comment[ru]=Обмен сообщениями по протоколу Telepathy.
Comment[sl]=Sporočanje preko upraviteljev povezav Telepathy
Comment[sv]=Direktmeddelanden med Telepathy-anslutningshanterare.
Comment[tr]=Telepathy bağlantı yöneticisi kullanan mesajlaşma.
Comment[uk]=Протокол для з'єднання з менеджерами з'єднань Telepathy.
Comment[x-test]=xxMessaging using Telepathy connection managers.xx
Comment[zh_CN]=使用 Telepathy 连接管理器发送消息。
Comment[zh_TW]=使用 Telepathy 連線管理員協定發送訊息

