[Desktop Entry]
Encoding=UTF-8
Icon=input_devices_settings
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_pluginconfig
X-KDE-FactoryName=KopetePluginConfigFactory
X-KDE-ParentApp=kopete
X-KDE-ParentComponents=kopete

Name=Plugins
Name[bs]=Dodaci
Name[cs]=Moduly
Name[fi]=Sovelmat
Comment=Select and configure your plugins:

