[Desktop Entry]
Encoding=UTF-8
Icon=latex
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_latex
X-KDE-FactoryName=LatexConfigFactory
X-KDE-ParentApp=kopete_latex
X-KDE-ParentComponents=kopete_latex

Name=Highlight
Name[ar]=تمييز
Name[be]=Падсьветка
Name[bg]=Открояване
Name[bs]=Isticanje
Name[ca]=Ressaltat
Name[cs]=Zvýraznění
Name[cy]=Amlygu
Name[da]=Fremhæv
Name[de]=Hervorhebung
Name[el]=Τονισμός
Name[es]=Resaltar
Name[et]=Esiletõstmine
Name[fi]=Korostus
Name[fr]=Surlignement
Name[ga]=Aibhsiú
Name[gl]=Resaltar
Name[he]=מודגש
Name[hi]=उभारें
Name[hr]=Isticanje
Name[hu]=Kiemelés
Name[is]=Merkja
Name[it]=Evidenziazione
Name[ja]=強調
Name[mk]=Осветлување
Name[nb]=Marker
Name[nl]=Aanwijzen
Name[nn]=Marker
Name[pl]=Podświetlenie
Name[pt]=Realce
Name[pt_BR]=Destaque
Name[ru]=Выделение
Name[sk]=Zvýrazniť
Name[sl]=Osvetli
Name[sr]=Истицање
Name[sr@Latn]=Isticanje
Name[sv]=Markera
Name[ta]=முனைப்புறுத்தல்
Name[tg]=Равшаннамоӣ
Name[tr]=Vurgu
Name[uk]=Підсвічування
Name[wa]=E sorbiyance
Name[xx]=xxHighlightxx
Name[zh_CN]=突出显示
