[Desktop Entry]
Icon=latex
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_latex
X-KDE-ParentApp=kopete_latex
X-KDE-ParentComponents=kopete_latex

Name=KopeTeX
Name[ar]=KopeTeX
Name[ast]=KopeTeX
Name[bg]=KopeTeX
Name[bn]=কপেটেক
Name[br]=KopeTeX
Name[bs]=KopeTeX
Name[ca]=KopeTeX
Name[ca@valencia]=KopeTeX
Name[cs]=KopeTeX
Name[da]=KopeTeX
Name[de]=KopeTeX
Name[el]=KopeTeX
Name[en_GB]=KopeTeX
Name[eo]=KopeTeX
Name[es]=KopeTeX
Name[et]=KopeTeX
Name[eu]=KopeTeX
Name[fi]=KopeTeX
Name[fr]=KopeTeX
Name[ga]=KopeTeX
Name[gl]=KopeTeX
Name[he]=KopeTeX
Name[hi]=के-ऑप-टेक्स
Name[hne]=के-ओप-टेक्स
Name[hr]=KopeTeX
Name[hu]=KopeTeX
Name[ia]=KopeTeX
Name[is]=KopeTeX
Name[it]=KopeTeX
Name[ja]=KopeTex
Name[kk]=KopeTeX
Name[km]=KopeTeX
Name[ko]=KopeTeX
Name[lt]=KopeTeX
Name[lv]=KopeTeX
Name[mk]=KopeTeX
Name[ml]=കോപ് ടെക്ക്
Name[nb]=KopeTeX
Name[nds]=KopeTeX
Name[ne]=कोपेटेक्स
Name[nl]=KopeTeX
Name[nn]=KopeTeX
Name[pa]=KopeTeX
Name[pl]=KopeTeX
Name[pt]=KopeTeX
Name[pt_BR]=KopeTeX
Name[ro]=KopeTeX
Name[ru]=KopeTeX
Name[se]=KopeTeX
Name[si]=KopeTeX
Name[sk]=KopeTeX
Name[sl]=KopeTeX
Name[sq]=KopeTeX
Name[sr]=Копете‑тех
Name[sr@ijekavian]=Копете‑тех
Name[sr@ijekavianlatin]=Kopete‑TeX
Name[sr@latin]=Kopete‑TeX
Name[sv]=Kopetex
Name[ta]=KopeTeX
Name[tg]=KopeTeX
Name[tr]=KopeTeX
Name[ug]=KopeTeX
Name[uk]=KopeTeX
Name[uz]=KopeTeX
Name[uz@cyrillic]=KopeTeX
Name[vi]=KopeTeX
Name[wa]=KopeTeX
Name[x-test]=xxKopeTeXxx
Name[zh_CN]=KopeTeX
Name[zh_HK]=KopeTeX
Name[zh_TW]=KopeTeX
