[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=latex
X-KDE-ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_latex
X-KDE-PluginInfo-Author=Duncan Mac-Vicar
X-KDE-PluginInfo-Email=duncan@kde.org
X-KDE-PluginInfo-Name=kopete_latex
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=KopeteTeX
Name[ar]=KopeteTex
Name[ast]=KopeteTeX
Name[bg]=KopeteTeX
Name[bs]=KopeteTex
Name[ca]=KopeteTeX
Name[ca@valencia]=KopeteTeX
Name[cs]=KopeteTeX
Name[da]=KopeteTeX
Name[de]=KopeteTeX
Name[el]=KopeteTeX
Name[en_GB]=KopeteTeX
Name[es]=KopeteTeX
Name[et]=KopeteTeX
Name[eu]=KopeteTeX
Name[fi]=KopeteTeX
Name[fr]=KopeteTeX
Name[ga]=KopeteTeX
Name[gl]=KopeteTeX
Name[hne]=के-ओप्टी-टेक्स
Name[hr]=KopeteTeX
Name[hu]=KopeteTeX
Name[ia]=TeX de Kopete
Name[it]=KopeteTeX
Name[ja]=KopeteTeX
Name[kk]=KopeteTeX
Name[km]=KopeteTeX
Name[ko]=KopeteTeX
Name[lt]=KopeteTeX
Name[lv]=Kopete TeX
Name[ml]=കോപീറ്റ് ടെക്ക്
Name[nb]=KopeteTeX
Name[nds]=KopeteTeX
Name[nl]=KopeteTeX
Name[nn]=KopeteTeX
Name[pa]=KopeteTeX
Name[pl]=KopeteTeX
Name[pt]=KopeteTeX
Name[pt_BR]=KopeteTex
Name[ro]=KopeteTeX
Name[ru]=KopeTeX
Name[si]=KopeteTeX
Name[sk]=KopeteTeX
Name[sl]=KopeteTeX
Name[sq]=KopeteTeX
Name[sr]=Копете‑тех
Name[sr@ijekavian]=Копете‑тех
Name[sr@ijekavianlatin]=Kopete‑TeX
Name[sr@latin]=Kopete‑TeX
Name[sv]=KopeteTex
Name[tr]=KopeteTeX
Name[ug]=KopeteTeX
Name[uk]=KopeteTeX
Name[wa]=KopeteTeX
Name[x-test]=xxKopeteTeXxx
Name[zh_CN]=KopeteTeX
Name[zh_TW]=KopeteTeX
Comment=Render Latex formulas in the chatwindow
Comment[ar]=تَصْيير صيغة لاتك في نافذة الدردشة 
Comment[ast]=Amuesa fórmules LaTeX na ventana de charra
Comment[bg]=Показване на формули на Latex в прозореца за чат
Comment[bn]=চ্যাট উইন্ডোতে লেটেক ফর্মূলা প্রদর্শন করে
Comment[bs]=Renderovanje Latex formula u prozoru za časkanje
Comment[ca]=Representa fórmules Latex a la finestra de xat
Comment[ca@valencia]=Representa fórmules Latex a la finestra de xat
Comment[cs]=Vykresluje vzorce LaTeXu v okně rozhovoru
Comment[da]=Viser LaTeX-formler i chat-vinduet
Comment[de]=Ermöglicht LaTeX-Formeln in einem Chat-Fenster
Comment[el]=Μαθηματικές σχέσεις Latex στο παράθυρο συνομιλίας
Comment[en_GB]=Render Latex formulas in the chatwindow
Comment[eo]=Bildigi LaTeĤajn formulojn en la babilada fenestro
Comment[es]=Reproduce fórmulas LaTeX en la ventana de charla
Comment[et]=LaTeXi valemite renderdamine vestlusaknas
Comment[eu]=Berriketa-leihoetan Latex formulak marrazten ditu
Comment[fa]=نمایش فرمولهای Latex در پنجره گفتگو
Comment[fi]=Renderöi LaTeX-kaavoja keskusteluikkunaan
Comment[fr]=Affichage de formules LaTeX dans la fenêtre de discussion
Comment[ga]=Rindreáil foirmlí LaTeX san fhuinneog chomhrá
Comment[gl]=Debuxa as fórmulas de LaTeX na fiestra de conversa
Comment[he]=מציג נוסחאות של Latex בחלון השיחה
Comment[hi]=गपशप-विंडो में लेटेक्स सूत्रों को रेंडर करें
Comment[hne]=गपसप-विंडो मं लेटेक्स सूत्रों ल रेंडर करव
Comment[hr]=Prikazivanje Latex-formula u prozoru za razgovor
Comment[hu]=Latex-es képletek megjelenítése a csevegési ablakban
Comment[ia]=Rende formulas de Latex in le fenestra de conversation
Comment[is]=Teikna Latex formúlur í spjallglugganum
Comment[it]=Visualizza formule LaTeX nella finestra di chat
Comment[ja]=チャットウィンドウで LaTeX の数式を表示
Comment[kk]=Latex формулаларын әңгіме терезесінде келтіру
Comment[km]=បង្ហាញ​រូបមន្ត Latex នៅ​ក្នុង​បង្អួច​ជជែក​កំសាន្ដ
Comment[ko]=대화 창에 LaTeX 수식을 표시합니다
Comment[lt]=Vykdyti Latex formules pokalbių lange
Comment[lv]=Attēlo Latex formulas tabulas logā
Comment[mk]=Исцртува Latex формули во прозорецот за разговори
Comment[ml]=സല്ലാപ ജാലകത്തില്‍ ലാടെക്ക് സമവാക്യ‌ങ്ങള്‍ ചിത്രീകരിയ്ക്കുക
Comment[nb]=Tegn LaTeX-formler i pratevinduet
Comment[nds]=Latex-Formeln binnen dat Klöönfinster wiesen
Comment[ne]=कुराकानी सञ्झ्यालमा ल्याटेक्स सूत्र रेन्डर गर्नुहोस्
Comment[nl]=Latex-formules renderen in het gespreksvenster
Comment[nn]=Vis Latex-formlar i pratevindauget
Comment[pl]=Wyświetlanie wyrażeń Latexa w oknie rozmowy
Comment[pt]=Mostrar formulas de Latex na janela de conversação
Comment[pt_BR]=Renderiza fórmulas do Latex em uma janela de bate-papo
Comment[ro]=Randează formule Latex în fereastra de discuții
Comment[ru]=Вставка и вывод формул LaTeX в окнах разговоров Kopete
Comment[se]=Sárggo LaTeX-hámuid čáttenláses
Comment[si]=සංවාද කවුළුව තුල Latex සූත්‍ර ජනයය කරන්න
Comment[sk]=Vykreslí vzorce LaTeXu v okne rozhovoru
Comment[sl]=Izris formul LaTeX v oknu za klepet
Comment[sr]=Рендерује латех формуле у прозору за ћаскање
Comment[sr@ijekavian]=Рендерује латех формуле у прозору за ћаскање
Comment[sr@ijekavianlatin]=Renderuje LaTeX formule u prozoru za ćaskanje
Comment[sr@latin]=Renderuje LaTeX formule u prozoru za ćaskanje
Comment[sv]=Visa Latex-formler i chattfönstret
Comment[ta]= Render Latex formulas in the chatwindow
Comment[tg]=Формулаҳои Render Latex дар тирезаи чат
Comment[tr]=Sohbet penceresindeki Latex formüllerini verir
Comment[uk]=Відтворення формул Latex у вікнах розмов Kopete
Comment[vi]=Vẽ công thức LaTeX trong cửa sổ trò chuyện
Comment[x-test]=xxRender Latex formulas in the chatwindowxx
Comment[zh_CN]=在聊天窗口中渲染 Latex 公式
Comment[zh_HK]=在聊天視窗內顯示 Latex 方程式
Comment[zh_TW]=在聊天視窗中加入 Latex 公式

