[Desktop Entry]
Encoding=UTF-8
Icon=latex
Type=Service
ServiceTypes=KCModule

X-KDE-Library=kopete_latex
X-KDE-FactoryName=kcm_kopete_latex
X-KDE-ParentApp=kopete_latex
X-KDE-ParentComponents=kopete_latex

Name=KopeTeX
Name[ja]=KopeTex
Name[ne]=कोपेटेक्स
Name[sv]=Kopetex
Name[x-test]=xxKopeTeXxx
