[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=latex
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_latex
X-KDE-PluginInfo-Author=Duncan Mac-Vicar
X-KDE-PluginInfo-Email=duncan@kde.org
X-KDE-PluginInfo-Name=kopete_latex
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=KopeTeX
Name[bn]=কপেটেক
Name[ja]=KopeTex
Name[ne]=कोपेटेक्स
Name[sv]=Kopetex
Comment=Render Latex formulas in the chatwindow
Comment[be]=Паказваць формулы Latex у вакне гутаркі
Comment[bg]=Показване на формули на Latex в прозореца за чат
Comment[bn]=চ্যাট উইন্ডোতে লেটেক ফর্মূলা প্রদর্শন করে
Comment[bs]=Iscrtava Latex formule u chat prozoru
Comment[ca]=Representa fórmules Latex a la finestra de xat
Comment[cs]=Vykresluje vzorce LaTeXu v okně rozhovoru
Comment[da]=Viser Latex-formler i chat-vinduet
Comment[de]=Latex-Formeln in einem Chat-Fenster anzeigen
Comment[el]=Εξισώσεις Latex στο παράθυρο συνομιλίας
Comment[es]=Muestra fórmulas LaTeX en la ventana de charla
Comment[et]=LaTeXi valemite renderdamine vestlusaknas
Comment[eu]=Elkarrizketa leihoaetan Latex formulak marrazten ditu
Comment[fa]=نمایش فرمولهای Latex در پنجرۀ گفتگو
Comment[fi]=Renderöi Latex-kaavoja keskusteluikkunaan
Comment[fr]=Affichage de formules LaTeX dans la fenêtre de discussion
Comment[gl]=Debuxar as fórmulas de Laxtex na fiestra de conversa
Comment[he]=מציג נוסחאות של Latex בחלון השיחה
Comment[hu]=Latex-es képletek megjelenítése a csevegési ablakban
Comment[is]=Teikna Latex formúlur í spjallglugganum
Comment[it]=Visualizza formule latex nella finestra di chat
Comment[ja]=チャットウィンドウで LaTeX の数式を表示
Comment[ka]=Latex ფორმულების საუბრის ფანჯარაში რენდერი
Comment[kk]=Latex формулаларын әңгіме терезесінде келтіру
Comment[km]=បង្ហាញ​រូបមន្ត Latex នៅ​ក្នុង​បង្អួច​ជជែក​កំសាន្ដ
Comment[lt]=Vykdyti Latex formules pokalbių lange
Comment[mk]=Исцртува Latex формули во прозорецот за разговори
Comment[nb]=Tegn LaTeX-formler i pratevinduet
Comment[nds]=Latex-Formeln binnen dat Klöönfinster wiesen
Comment[ne]=कुराकानी सञ्झ्यालमा ल्याटेक्स सूत्र रेन्डर गर्नुहोस्
Comment[nl]=Latex-formules renderen in het gespreksvenster
Comment[nn]=Vis Latex-formlar i pratevindauget
Comment[pl]=Wyświetla wyrażenia Latexa w oknie rozmowy
Comment[pt]=Mostrar formulas de Latex na janela de conversação
Comment[pt_BR]=Renderiza fórmulas do Latex em uma janela de bate-papo
Comment[ro]=Randează formule LaTeX în fereastra de discuţii
Comment[ru]=Вставка и вывод формул Latex в окнах разговоров Kopete
Comment[se]=Sárggo LaTeX-hámuid čáttenláses
Comment[sk]=Zobrazovanie výrazov Latex v okne rozhovoru
Comment[sl]=Izris formul LaTeX v oknu za klepet
Comment[sr]=Приказ Latex формула у прозору за ћаскање
Comment[sr@Latn]=Prikaz Latex formula u prozoru za ćaskanje
Comment[sv]=Visa Latex-formler i chattfönstret
Comment[ta]= Render Latex formulas in the chatwindow
Comment[tg]=Формулаҳои Render Latex дар тирезаи чат
Comment[tr]=Sohbet penceresindeki Latex formüllerini verir
Comment[uk]=Відтворення формул Latex у вікнах розмов Kopete
Comment[zh_CN]=在聊天窗口中渲染 Latex 公式
Comment[zh_HK]=在聊天視窗內顯示 Latex 方程式
Comment[zh_TW]=在聊天視窗中加入 Latex 公式

