[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=gadu_protocol
ServiceTypes=Kopete/Protocol
X-Kopete-Messaging-Protocol=messaging/gadu
X-KDE-Library=kopete_gadu
X-KDE-PluginInfo-Author=Zack Rusin
X-KDE-PluginInfo-Email=zack@kde.org
X-KDE-PluginInfo-Name=kopete_gadu
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Gadu-Gadu
Comment=Protocol to connect to Gadu-Gadu
Comment[da]=Protokol til at forbinde til Gadu-Gadu
Comment[hu]=Protokoll a Gadu-Gadu használatához
Comment[sr]=Протокол за повезивање на Gadu-Gadu
