[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000800
Icon=gadu_protocol
ServiceTypes=Kopete/Protocol
X-Kopete-Messaging-Protocol=messaging/gadu
X-KDE-Library=kopete_gadu
X-KDE-PluginInfo-Author=Grzegorz Jaskiewicz
X-KDE-PluginInfo-Email=gj@pointblue.com.pl
X-KDE-PluginInfo-Name=kopete_gadu
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Gadu-Gadu
Name[hi]=गडू-गडू
Name[xx]=xxGadu-Gaduxx
Name[zh_CN]=Gaud-Gadu
Comment=Protocol to connect to Gadu-Gadu
Comment[bg]=Протокол за връзка с Gadu-Gadu
Comment[bs]=Protokol za povezivanje na Gadu-Gadu
Comment[ca]=Protocol per a connectar-se a Gadu-Gadu
Comment[cs]=Protokol k připojení ke Gadu-Gadu
Comment[cy]=Protocol i gysylltu â Gadu-Gadu
Comment[da]=Protokol til at forbinde til Gadu-Gadu
Comment[de]=Protokoll zur Verbindung mit Gadu-Gadu
Comment[el]=Πρωτόκολλο για σύνδεση στο Gadu-Gadu
Comment[es]=Protocolo de conexión a Gadu-Gadu
Comment[et]=Protokoll ühendumiseks Gadu-Gaduga
Comment[fi]=Protokolla Gadu-Gadu -verkkoon kytkeytymiseen
Comment[fr]=Protocole pour se connecter sur Gadu-Gadu
Comment[ga]=Prótacal chun ceangailt le Gadu-Gadu
Comment[gl]=Protocolo para conectarse a Gadu-Gadu
Comment[he]=פרוטוקול להתחברות ל- Gadu-Gadu
Comment[hi]=गडू-गडू से जुड़ने का प्रोटोकॉल
Comment[hu]=Protokoll a Gadu-Gadu használatához
Comment[is]=Samskiptamáti til að tengjast Gadu-Gadu
Comment[it]=Protocollo per connessione a Gadu-Gadu
Comment[ja]=Gadu-Gaduに接続するプロトコル
Comment[nb]=Protokoll for å koble til Gadu-Gadu
Comment[nl]=Protocol om met Gadu-Gadu te verbinden
Comment[nn]=Protokoll for å kopla til Gadu-Gadu
Comment[pl]=Protokół połączenia z serwerem Gadu-Gadu
Comment[pt]=Um protocolo para se ligar ao Gadu-Gadu
Comment[pt_BR]=Protocolo para conexão ao Gadu-Gadu
Comment[ru]=Протокол для подключения к Gadu-Gadu
Comment[sk]=Protokol pre pripojenie k Gadu-Gadu
Comment[sl]=Protokol za povezavo na Gadu-Gadu
Comment[sr]=Протокол за повезивање на Gadu-Gadu
Comment[sr@Latn]=Protokol za povezivanje na Gadu-Gadu
Comment[sv]=Protokoll för att ansluta till Gadu-Gadu
Comment[ta]=IRC உடன் இணைக்க விதிமுறை
Comment[uk]=Протокол для з'єднання з Gadu-Gadu
Comment[uz]=Gadu-Gadu билан алоқа ўрнатиш учун протокол
Comment[xx]=xxProtocol to connect to Gadu-Gaduxx
Comment[zh_CN]=连接到 Gadu-Gadu 协议
