[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=gadu_protocol
ServiceTypes=Kopete/Protocol
X-Kopete-Messaging-Protocol=messaging/gadu
X-KDE-Library=kopete_gadu
X-KDE-PluginInfo-Author=Grzegorz Jaskiewicz
X-KDE-PluginInfo-Email=gj@pointblue.com.pl
X-KDE-PluginInfo-Name=kopete_gadu
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Gadu-Gadu
Name[fa]=Gadu-Gadu‌
Name[hi]=गडू-गडू
Name[ne]=गादु-गादु
Name[tr]=Gadu Gadu
Comment=Protocol to connect to Gadu-Gadu
Comment[ar]=البرتوكول سيتصل بـ Gadu-Gadu
Comment[be]=Пратакол Gadu-Gadu
Comment[bg]=Протокол за връзка с Gadu-Gadu
Comment[bn]=Gadu-Gadu-তে সংযোগ করতে প্রোটোকল
Comment[br]=Komenad kevreañ ouzh Gadu-Gadu
Comment[bs]=Gadu-Gadu protokol
Comment[ca]=Protocol per a connectar-se a Gadu-Gadu
Comment[cs]=Protokol k připojení ke Gadu-Gadu
Comment[cy]=Protocol i gysylltu â Gadu-Gadu
Comment[da]=Protokol til at forbinde til Gadu-Gadu
Comment[de]=Protokoll zur Verbindung mit Gadu-Gadu
Comment[el]=Πρωτόκολλο για σύνδεση στο Gadu-Gadu
Comment[es]=Protocolo de conexión a Gadu-Gadu
Comment[et]=Protokoll ühendumiseks Gadu-Gaduga
Comment[eu]=Gadu-Gadu-ra konektatzeko protokoloa
Comment[fa]=قرارداد برای اتصال Gadu-Gadu‌
Comment[fi]=Yhteyskäytäntö Gadu-Gadu-verkkoon kytkeytymiseen
Comment[fr]=Protocole pour se connecter sur Gadu-Gadu
Comment[ga]=Prótacal chun ceangal le Gadu-Gadu
Comment[gl]=Protocolo para conectarse a Gadu-Gadu
Comment[he]=פרוטוקול התחברות ל- Gadu-Gadu
Comment[hi]=गडू-गडू से जुड़ने का प्रोटोकॉल
Comment[hr]=Protokol za povezivanje na Gadu-Gadu
Comment[hu]=Protokoll a Gadu-Gadu használatához
Comment[is]=Samskiptamáti til að tengjast Gadu-Gadu
Comment[it]=Protocollo per connessione a Gadu-Gadu
Comment[ja]=Gadu-Gadu に接続するプロトコル
Comment[ka]=Gadu-Gadu-სთან დაკავშირების ოქმი
Comment[kk]=Gadu-Gadu-ға қосылу протоколы
Comment[km]=ពិធីការ​​ភ្ជាប់​ទៅ Gadu-Gadu​
Comment[lt]=Protokolas prisijungimui prie Gadu-Gadu
Comment[mk]=Протокол за поврзување на Gadu-Gadu
Comment[nb]=Protokoll for å koble til Gadu-Gadu
Comment[nds]=Protokoll för't Tokoppeln na Gadu-Gadu
Comment[ne]=गादु-गादुमा जडान गर्ने प्रोटोकल
Comment[nl]=Protocol voor Gadu-Gadu
Comment[nn]=Protokoll for å kopla til Gadu-Gadu
Comment[pl]=Protokół połączenia z serwerem Gadu-Gadu
Comment[pt]=Um protocolo para se ligar ao Gadu-Gadu
Comment[pt_BR]=Protocolo para conexão ao Gadu-Gadu
Comment[ro]=Protocol de conectare la Gadu-Gadu
Comment[ru]=Протокол для подключения к Gadu-Gadu
Comment[sk]=Protokol pre pripojenie k Gadu-Gadu
Comment[sl]=Protokol za povezavo na Gadu-Gadu
Comment[sr]=Протокол за повезивање на Gadu-Gadu
Comment[sr@Latn]=Protokol za povezivanje na Gadu-Gadu
Comment[sv]=Protokoll för att ansluta till Gadu-Gadu
Comment[ta]=Gadu-Gadu உடன் இணைக்க விதிமுறை
Comment[tg]=Қарордоди пайвастшавӣ ба Gadu-Gadu
Comment[tr]=Gadu Gadu'ya bağlantı iletişim kuralı
Comment[uk]=Протокол для з'єднання з Gadu-Gadu
Comment[uz]=Gadu-Gadu bilan aloqa oʻrnatish uchun protokol
Comment[uz@cyrillic]=Gadu-Gadu билан алоқа ўрнатиш учун протокол
Comment[zh_CN]=连接到 Gadu-Gadu 协议
Comment[zh_HK]=用來連接至 Gadu-Gadu 的通訊協定
Comment[zh_TW]=連線到 Gadu-Gadu 的協定
