[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=testbed_protocol
X-KDE-ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_bonjour
X-Kopete-Messaging-Protocol=messaging/bonjour
X-KDE-PluginInfo-Author=Tejas Dinkar
X-KDE-PluginInfo-Email=tejas@gja.in
X-KDE-PluginInfo-Name=kopete_bonjour
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Bonjour
Name[xx]=xxBonjourxx
Comment=Kopete Bonjour Protocol
Comment[es]=Protocolo Bojour para Kopete
Comment[et]=Kopete Bonjouri protokoll
Comment[pt]=Protocolo Bonjour do Kopete
Comment[xx]=xxKopete Bonjour Protocolxx
