[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=groupwise_protocol
X-KDE-ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_groupwise
X-Kopete-Messaging-Protocol=messaging/groupwise
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=wstephenson@kde.org
X-KDE-PluginInfo-Name=kopete_groupwise
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=GroupWise
Name[ar]=GroupWise
Name[ast]=GroupWise
Name[bg]=GroupWise
Name[bn]=গ্রুপ-ওয়াইজ
Name[br]=GroupWise
Name[bs]=GroupWise
Name[ca]=GroupWise
Name[ca@valencia]=GroupWise
Name[cs]=GroupWise
Name[da]=GroupWise
Name[de]=GroupWise
Name[el]=GroupWise
Name[en_GB]=GroupWise
Name[eo]=GroupWise
Name[es]=GroupWise
Name[et]=GroupWise
Name[eu]=GroupWise
Name[fa]=گروه هوشیار
Name[fi]=GroupWise
Name[fr]=GroupWise
Name[ga]=GroupWise
Name[gl]=GroupWise
Name[he]=GroupWise
Name[hi]=ग्रुपवाइज़
Name[hne]=ग्रुपवाइज
Name[hr]=GroupWise
Name[hu]=GroupWise
Name[ia]=GroupWise
Name[is]=GroupWise
Name[it]=GroupWise
Name[ja]=GroupWise
Name[kk]=GroupWise
Name[km]=GroupWise
Name[ko]=GroupWise
Name[lt]=GroupWise
Name[lv]=GroupWise
Name[mk]=GroupWise
Name[ml]=ഗ്രൂപ്പ്‌വൈസ്
Name[nb]=GroupWise
Name[nds]=GroupWise
Name[ne]=समूहगत
Name[nl]=GroupWise
Name[nn]=GroupWise
Name[oc]=GroupWise
Name[pa]=GroupWise
Name[pl]=GroupWise
Name[pt]=GroupWise
Name[pt_BR]=GroupWise
Name[ro]=GroupWise
Name[ru]=GroupWise
Name[se]=GroupWise
Name[si]=GroupWise
Name[sk]=GroupWise
Name[sl]=GroupWise
Name[sq]=GroupWise
Name[sr]=групвајз
Name[sr@ijekavian]=групвајз
Name[sr@ijekavianlatin]=GroupWise
Name[sr@latin]=GroupWise
Name[sv]=GroupWise
Name[ta]=குழு படி
Name[tg]=GroupWise
Name[tr]=Akıllı Gruplama
Name[ug]=GroupWise
Name[uk]=GroupWise
Name[uz]=GroupWise
Name[uz@cyrillic]=GroupWise
Name[vi]=GroupWise
Name[wa]=GroupWise
Name[x-test]=xxGroupWisexx
Name[zh_CN]=GroupWise
Name[zh_HK]=GroupWise
Name[zh_TW]=GroupWise
Comment=Novell GroupWise Messenger
Comment[ar]=GroupWise نوفل مرسال
Comment[ast]=Mensaxería GroupWise de Novell
Comment[bg]=Моментни съобщения GroupWise на Novell
Comment[bn]=নোভেল গ্রুপ-ওয়াইজ বার্তাবাহক
Comment[bs]=Novell GroupWise mesindžer
Comment[ca]=Novell GroupWise Messenger
Comment[ca@valencia]=Novell GroupWise Messenger
Comment[cs]=Novell GroupWise komunikátor
Comment[da]=Novell GroupWise Messenger
Comment[de]=Novell-GroupWise-Nachrichtendienst
Comment[el]=Novell GroupWise Messenger
Comment[en_GB]=Novell GroupWise Messenger
Comment[eo]=Novell GroupWise mesaĝilo
Comment[es]=Mensajería GroupWise de Novell
Comment[et]=Novell GroupWise Messenger
Comment[eu]=Novell GroupWise mezularitza
Comment[fa]=پیام‌رسان GroupWise ناول
Comment[fi]=Novell GroupWise -viestin
Comment[fr]=Messagerie GroupWise Novell
Comment[ga]=Teachtaire Novell GroupWise
Comment[gl]=Mensaxeiro GroupWise de Novell
Comment[he]=תוכנת המסרים של נובל GroupWise
Comment[hi]=नॉवेल ग्रुपवाइज़ मैसेंजर
Comment[hne]=नावेल ग्रुपवाइज मैसेंजर
Comment[hr]=Novell GroupWise Messenger
Comment[hu]=Novell GroupWise Messenger
Comment[ia]=Messagero de GroupWise de Novell
Comment[is]=Novell GroupWise skilaboðaþjónustan
Comment[it]=Messaggistica GroupWise di Novell
Comment[ja]=Novell GroupWise メッセンジャー
Comment[kk]=Novell GroupWise хабарласуы
Comment[km]=កម្មវិធី​ផ្ញើ​សារ GroupWise របស់​ណូវែល
Comment[ko]=Novell GroupWise 메신저
Comment[lt]=Novell GroupWise žinučių klientas
Comment[lv]=Novell GroupWise ziņotājs
Comment[mk]=Гласник за Novell GroupWise 
Comment[ml]=നോവെലിന്റെ ഗ്രൂപ്പ്‌വൈസിനുള്ള ദൂതന്‍
Comment[nb]=Novell GroupWise meldingsprogram
Comment[nds]=Novell-GroupWise-Kortnarichtenmaker
Comment[ne]=नोभेल समूहगत मेसेन्जर
Comment[nl]=Protocol voor Novell GroupWise Messenger
Comment[nn]=Lynmeldingstenesta Novell GroupWise
Comment[pl]=Komunikator Novell GroupWise
Comment[pt]=Novell GroupWise Messenger
Comment[pt_BR]=Mensageiro do GroupWise da Novell
Comment[ro]=Mesager Novell GroupWise
Comment[ru]=Программа обмена сообщениями Novell GroupWise
Comment[se]=Novell GroupWise-šleađgadieđáhusprográmma
Comment[si]=Novell GroupWise පණිවුඩකරු
Comment[sk]=Novell GroupWise Messenger
Comment[sl]=Sporočilnik za Novell GroupWise
Comment[sr]=Новелов групвајз гласник
Comment[sr@ijekavian]=Новелов групвајз гласник
Comment[sr@ijekavianlatin]=Novellov GroupWise glasnik
Comment[sr@latin]=Novellov GroupWise glasnik
Comment[sv]=Novell GroupWise-meddelandeklient
Comment[ta]=Novell GroupWise உடனடி தூதர்
Comment[tg]=Пайёмбари Novell GroupWise 
Comment[tr]=Novell Akıllı Grup İletişimi
Comment[ug]=Novell GroupWise مۇڭداشقۇسى
Comment[uk]=Програма обміну повідомленнями Novell GroupWise
Comment[uz]=Novell GroupWise mesenjer
Comment[uz@cyrillic]=Novell GroupWise месенжер
Comment[vi]=Trình gửi/nhận tin nhắn Novell GroupWise
Comment[x-test]=xxNovell GroupWise Messengerxx
Comment[zh_CN]=Novell GroupWise 信使
Comment[zh_HK]=Novell GroupWise Messenger
Comment[zh_TW]=Novell GroupWise 即時訊息
