[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000900
Icon=groupwise_protocol
ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_groupwise
X-Kopete-Messaging-Protocol=messaging/groupwise
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=will@stevello.free-online.co.uk
X-KDE-PluginInfo-Name=kopete_groupwise
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=GroupWise
Name[it]=Per gruppi
Name[ta]=குழு படி
Name[tr]=Akıllı Gruplama
Comment=Novell GroupWise Messenger
Comment[cs]=Novell GroupWise komunikátor
Comment[de]=Novell GroupWise-Nachrichtendienst
Comment[es]=Mensajerí­a GroupWise de Novell
Comment[fi]=Novell GroupWise -viestijä
Comment[fr]=Messagerie GroupWise Novell
Comment[he]=תוכנת המסרים של נובל GroupWise
Comment[it]=Messaggistica per gruppi di Novell
Comment[ja]=Novell GroupWiseメッセンジャ
Comment[lt]=Novell GroupWise žinučių klientas
Comment[mk]=Гласник за Novell GroupWise 
Comment[nb]=Novell GroupWise meldingsprogram
Comment[nl]=Protocol voor Novell GroupWise Messenger
Comment[nn]=Lynmeldingsprogrammet Novell GroupWise
Comment[pl]=Komunikator Novell GroupWise
Comment[pt_BR]=Mensageiro do GroupWise da Novell
Comment[ru]=Программа обмена сообщениями Novell GroupWise
Comment[se]=Novell GroupWise-šleađgadieđáhusprográmma
Comment[sl]=Sporočilnik za Novell GroupWise
Comment[sr]=Novell-ов гласник GroupWise
Comment[sr@Latn]=Novell-ov glasnik GroupWise
Comment[sv]=Novell GroupWise-meddelandeklient
Comment[ta]=Novell GroupWise உடனடி தூதர்
Comment[tg]=Пайёмбари Novell GroupWise 
Comment[tr]=Novell Akıllı Grup İletişimi
Comment[uk]=Програма обміну повідомленнями Novell GroupWise
Comment[uz]=Novell GroupWise месенжер
Comment[zh_CN]=Novell GroupWise 信使
