[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000793
Icon=history
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_history
X-KDE-PluginInfo-Author=Olivier Goffart
X-KDE-PluginInfo-Email=ogoffart@tiscalinet.be
X-KDE-PluginInfo-Name=kopete_history
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=History
Name[az]=Keçmiş
Name[be]=Гісторыя
Name[bg]=История
Name[bs]=Historija
Name[ca]=Historial
Name[cs]=Historie
Name[da]=Historik
Name[de]=Verlauf
Name[eo]=Historio
Name[es]=Historia
Name[et]=Ajalugu
Name[fi]=Historia
Name[hr]=Povijest
Name[hu]=Üzenetnapló
Name[id]=Sejarah
Name[is]=Saga
Name[it]=Cronologia
Name[ja]=履歴
Name[lt]=Istorija
Name[lv]=Vēsture
Name[mt]=Kronoloġija
Name[nl]=Geschiedenis
Name[pt]=Historial
Name[pt_BR]=História
Name[ro]=Istoric
Name[sr]=Историја
Name[sv]=Historik
Name[ta]=ÅÃÄ¡Ú
Name[th]=ประวัติการใช้งาน
Name[tr]=Geçmiş
Name[uk]=Історія
Name[ven]=Divhazwakale
Name[vi]=Lịch sử 
Name[wa]=Istwere
Name[xh]=Imbali
Name[xx]=xxHistoryxx
Name[zu]=Umlando
Comment=Log all messages to keep track of your conversations
Comment[ca]=Registra tots els missatges per a que seguiu les vostres conversacions
Comment[da]=Log alle beskeder for at holde styr på dine konversationer
Comment[de]=Protokolliert alle Nachrichten der eigenen Gespräche
Comment[es]=Registra todos los mensajes para guardar sus conversaciones
Comment[et]=Kõigi sõnumite logimine, et neil ka hiljem silm peal hoida
Comment[hu]=Az üzenetek archiválása
Comment[nl]=Bewaar alle berichten in een logboek om uw conversaties later opnieuw te kunnen bekijken
Comment[pt_BR]=Registra todas as mensagens para manter o histórico de suas conversações
Comment[sr]=Уписује у дневник зве поруке да би сте водили евиденцију о вашим разговорима
Comment[sv]=Logga alla meddelanden för att hålla ordning på samtalen
Comment[wa]=Wårder on djournå di tos vos messaedjes, po vos poleur rivey li conversåcion
Comment[xx]=xxLog all messages to keep track of your conversationsxx
