[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=view-history
X-KDE-ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_history
X-KDE-PluginInfo-Author=Olivier Goffart
X-KDE-PluginInfo-Email=ogoffart@tiscalinet.be
X-KDE-PluginInfo-Name=kopete_history
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=History
Name[ar]=التاريخ
Name[ast]=Hestorial
Name[bg]=История
Name[bn]=ইতিহাস
Name[br]=Istor
Name[bs]=Historija
Name[ca]=Historial
Name[ca@valencia]=Historial
Name[cs]=Historie
Name[cy]=Hanes
Name[da]=Historik
Name[de]=Verlauf
Name[el]=Ιστορικό
Name[en_GB]=History
Name[eo]=Historio
Name[es]=Historial
Name[et]=Ajalugu
Name[eu]=Historia
Name[fa]=تاریخچه
Name[fi]=Historia
Name[fr]=Historique
Name[ga]=Stair
Name[gl]=Historial
Name[he]=היסטוריה
Name[hi]=इतिहास 
Name[hne]=इतिहास 
Name[hr]=Povijest
Name[hsb]=Předchadne přikazy
Name[hu]=Üzenetnapló
Name[ia]=Historia
Name[is]=Ferill
Name[it]=Cronologia
Name[ja]=履歴
Name[kk]=Журнал
Name[km]=ប្រវត្តិ
Name[ko]=과거 기록
Name[lt]=Žurnalas
Name[lv]=Vēsture
Name[mai]=इतिहास
Name[mk]=Историја
Name[ml]=നാള്‍വഴി
Name[mr]=इतिहास
Name[nb]=Historie
Name[nds]=Vörgeschicht
Name[ne]=इतिहास
Name[nl]=Geschiedenis
Name[nn]=Historie
Name[oc]=Istoric
Name[pa]=ਅਤੀਤ
Name[pl]=Historia
Name[pt]=Histórico
Name[pt_BR]=Histórico
Name[ro]=Istoric
Name[ru]=Журнал разговоров
Name[se]=Historihkka
Name[si]=ඉතිහාසය
Name[sk]=História
Name[sl]=Zgodovina
Name[sq]=Historia
Name[sr]=Историјат
Name[sr@ijekavian]=Историјат
Name[sr@ijekavianlatin]=Istorijat
Name[sr@latin]=Istorijat
Name[sv]=Historik
Name[ta]=வரலாறு
Name[tg]=Номнависи сӯҳбатҳо
Name[th]=ประวัติการใช้
Name[tr]=Geçmiş
Name[ug]=ئىز
Name[uk]=Історія
Name[uz]=Tarix
Name[uz@cyrillic]=Тарих
Name[vi]=Lịch sử
Name[wa]=Istwere
Name[xh]=Imbali
Name[x-test]=xxHistoryxx
Name[zh_CN]=历史
Name[zh_HK]=歷程紀錄
Name[zh_TW]=歷史
Comment=Log all messages to keep track of your conversations
Comment[ar]=سجل جميع الرسائل للإبقاء على محادثاتك
Comment[ast]=Rexistra tolos mensaxes pa guardar les sos charres
Comment[bg]=Запис на всички съобщения с цел преглед и търсене в тях в бъдеще
Comment[bn]=আপনার কথোপকথনের খতিয়ান রাখতে সব বার্তা কার্যবিবরণীতে লিখে রাখে
Comment[bs]=Loguj sve poruke da čuvaju vaše razgovore
Comment[ca]=Registra tots els missatges per seguir les vostres converses
Comment[ca@valencia]=Registra tots els missatges per seguir les vostres converses
Comment[cs]=Provádět záznam všech správ ať máte přehled o vašich rozhovorech
Comment[cy]=Cofnodi pob neges er mwyn cadw trefn ar eich sgwrsiau
Comment[da]=Log alle beskeder for at holde styr på dine konversationer
Comment[de]=Protokolliert Ihre Gespräche und Nachrichten
Comment[el]=Καταγράψτε όλα τα μηνύματά σας για να διατηρήσετε αρχείο με τις συζητήσεις σας
Comment[en_GB]=Log all messages to keep track of your conversations
Comment[eo]=Raportas ĉiujn mesaĝojn por konservi la konversaciojn
Comment[es]=Registra todos los mensajes para guardar sus conversaciones
Comment[et]=Kõigi sõnumite logimine, et neil ka hiljem silm peal hoida
Comment[eu]=Gorde mezu guztiak zure berriketen jarraipena mantentzeko
Comment[fa]=برای ردگیری مکالمات خود همه پیامها را ثبت کنید
Comment[fi]=Laita kaikki viestisi lokiin
Comment[fr]=Enregistrer tous les messages pour conserver une trace de vos discussions
Comment[ga]=Logáil gach teachtaireacht chun tuairisc a choinneáil ar do chuid comhráite
Comment[gl]=Rexistra todas as mensaxes para gardar as conversas
Comment[he]=שומר תיעוד מסודר שלך כל שיחותיך
Comment[hi]=आपके वार्तालाप की जानकारी बनाए रखने के लिए सभी संदेशों को लॉग करें
Comment[hne]=आप मन के बातचीत के जानकारी बनाए रखे बर सब्बो संदेस मन ल लाग करव
Comment[hr]=Upisuje u dnevnik sve poruke kako biste vodili evidenciju o svojim razgovorima
Comment[hu]=Az üzenetek eltárolása
Comment[ia]=Registra omne messages pro tener tracia de tu conversationes
Comment[is]=Halda til haga samskiptaannál
Comment[it]=Registra tutti i messaggi per tener traccia delle conversazioni
Comment[ja]=会話を残すためにメッセージのログを取る
Comment[kk]=Хабарласу барысын журналға жазып отыру
Comment[km]=ចុះ​កំណត់​ហេតុ​សារ​ទាំងអស់ ដើម្បី​តាមដាន​ការ​សន្ទនា​របស់​អ្នក
Comment[ko]=대화를 추적할 수 있도록 모든 메시지를 기록합니다
Comment[lt]=Įrašinėti visas žinutes ir vesti pokalbių žurnalą
Comment[lv]=Žurnalē visus ziņojumus, lai saglabātu jūsu sarunas
Comment[mk]=Ги зачувува сите пораки за да ги следите вашите разговори
Comment[ml]=നിങ്ങളുടെ സംഭാഷണങ്ങള്‍ നിരീക്ഷിക്കാന്‍ എല്ലാ സന്ദേശങ്ങളും രേഖപ്പെടുത്തുക
Comment[nb]=Logg alle meldinger for å ta vare på samtalene dine
Comment[nds]=All Narichten för't Nakieken na't Logbook schrieven
Comment[ne]=तपाईँको वार्तालापको ट्रयाक राख्न सबै सन्देश लग गर्नुहोस्
Comment[nl]=Bewaar alle berichten in een logboek om uw conversaties later opnieuw te kunnen bekijken
Comment[nn]=Logg alle meldingar for å ta vare på samtalane dine
Comment[pa]=ਆਪਣੀਆਂ ਗੱਲਬਾਤਾਂ ਬਾਰੇ ਜਾਣਕਾਰੀ ਰੱਖਣ ਸਭ ਸੁਨੇਹਿਆਂ ਦਾ ਲਾਗ ਰੱਖੋ
Comment[pl]=Tworzy dziennik, aby umożliwić ci śledzenie twoich rozmów
Comment[pt]=Regista todas as mensagens para manter um registo da sua conversa
Comment[pt_BR]=Registra todas as mensagens para manter o histórico das suas conversas
Comment[ro]=Jurnalizează toate mesajele pentru a duce evidența conversațiilor
Comment[ru]=Сохранение всех разговоров в журнале
Comment[se]=Vurke buot dieđáhusaid vai oaidnit du ságastallamiid
Comment[si]=ඔබේ සංවාද හඹා යෑමට සියළු පණිවුඩ වාර්ථාගත කරයි
Comment[sk]=Zaznamená všetkých správ, aby ste mohli sledovať vaše rozhovory
Comment[sl]=Beleži vsa sporočila za hranjenje vaših pogovorov
Comment[sr]=Уписује у дневник све поруке да бисте водили евиденцију о својим разговорима
Comment[sr@ijekavian]=Уписује у дневник све поруке да бисте водили евиденцију о својим разговорима
Comment[sr@ijekavianlatin]=Upisuje u dnevnik sve poruke da biste vodili evidenciju o svojim razgovorima
Comment[sr@latin]=Upisuje u dnevnik sve poruke da biste vodili evidenciju o svojim razgovorima
Comment[sv]=Logga alla meddelanden för att hålla ordning på samtalen
Comment[ta]=உங்கள் உரையாடலை கவனிக்க அனைத்து செய்திகளையும் புகுபதி 
Comment[tg]=Сабти ҳамаи пайёмҳо барои пайгардии ҳамаи сӯҳбатҳои шумо
Comment[th]=ทำปูมบันทึกข้อความทั้งหมดเพื่อให้สามารถดูการสนทนาของคุณย้อนหลังได้
Comment[tr]=Konuşmalarınızın kaydedildiği bütün günlük mesajları
Comment[uk]=Робити записи в журналі для слідкування за вашими розмовами
Comment[vi]=Ghi lưu tất cả các tin nhắn để theo dõi
Comment[wa]=Wårder on djournå di tos vos messaedjes, po vos poleur rivey li conversåcion
Comment[x-test]=xxLog all messages to keep track of your conversationsxx
Comment[zh_CN]=记录您对话的全部消息
Comment[zh_HK]=記錄所有訊息，讓您能追查您的對話紀錄
Comment[zh_TW]=紀錄所有對話訊息
