[Desktop Entry]
Icon=history
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_history
X-KDE-FactoryName=HistoryConfigFactory
X-KDE-ParentApp=kopete_history
X-KDE-ParentComponents=kopete_history

Name=History
Name[ar]=محفوظات
Name[az]=Keçmiş
Name[be]=Гісторыя
Name[bg]=История
Name[bn]=ইতিহাস
Name[br]=Istor
Name[bs]=Historija
Name[ca]=Historial
Name[cs]=Historie
Name[cy]=Hanes
Name[da]=Historik
Name[de]=Verlauf
Name[el]=Ιστορικό
Name[eo]=Historio
Name[es]=Historia
Name[et]=Ajalugu
Name[eu]=Historia
Name[fa]=تاریخچه
Name[fi]=Historia
Name[fr]=Historique
Name[ga]=Stair
Name[gl]=Historial
Name[he]=היסטוריה
Name[hi]=इतिहास
Name[hr]=Povijest
Name[hu]=Üzenetnapló
Name[id]=Sejarah
Name[is]=Ferill
Name[it]=Cronologia
Name[ja]=履歴
Name[ka]=ისტორია
Name[kk]=Журнал
Name[km]=ប្រវត្តិ
Name[lt]=Istorija
Name[lv]=Vēsture
Name[mk]=Историја
Name[mt]=Kronoloġija
Name[nb]=Historie
Name[nds]=Vörgeschicht
Name[ne]=इतिहास
Name[nl]=Geschiedenis
Name[nn]=Historie
Name[pa]=ਅਤੀਤ
Name[pl]=Historia
Name[pt]=Histórico
Name[pt_BR]=História
Name[ro]=Istoric
Name[ru]=Журнал разговоров
Name[rw]=Amateka
Name[se]=Historihkka
Name[sk]=História
Name[sl]=Zgodovina
Name[sr]=Историја
Name[sr@Latn]=Istorija
Name[sv]=Historik
Name[ta]=வரலாறு
Name[tg]=Номнависи сӯҳбатҳо
Name[th]=ประวัติการใช้งาน
Name[tr]=Geçmiş
Name[uk]=Історія
Name[uz]=Tarix
Name[uz@cyrillic]=Тарих
Name[ven]=Divhazwakale
Name[wa]=Istwere
Name[xh]=Imbali
Name[zh_CN]=历史
Name[zh_HK]=歷程紀錄
Name[zh_TW]=歷史
Name[zu]=Umlando
Comment=History Plugin
Comment[ar]=توصيلة المحفوظات
Comment[be]=Модуль гісторыі
Comment[bg]=Приставка за историята
Comment[bn]=ইতিহাস প্লাগিন
Comment[br]=Lugent an istorig
Comment[bs]=Dodatak za historiju
Comment[ca]=Connector de l'historial
Comment[cs]=Modul historie
Comment[cy]=Ategyn Hanes
Comment[da]=Historik-plugin
Comment[de]=Verlaufsmodul
Comment[el]=Πρόσθετο ιστορικού
Comment[eo]=Historio-kromaĵo
Comment[es]=Complemento de Historial
Comment[et]=Ajalooplugin
Comment[eu]=Historia plugin-a
Comment[fa]=وصلۀ تاریخچه
Comment[fi]=Historia-liitännäinen
Comment[fr]=Module d'historique
Comment[ga]=Breiseán Staire
Comment[gl]=Plugin de historial
Comment[he]=תוסף ההיסטוריה
Comment[hi]=इतिहास प्लगइन
Comment[hr]=Umetak za povijest
Comment[hu]=Előzmények bővítőmodul
Comment[is]=Ferilsíforrit
Comment[it]=Plugin cronologia
Comment[ja]=履歴プラグイン
Comment[ka]=ისტორიის მოდული
Comment[kk]=Журнал плагин модулі
Comment[km]=កម្មវិធី​ជំនួយ​ប្រវត្តិ
Comment[lt]=Istorijos įskiepis
Comment[mk]=Приклучок за историја
Comment[nb]=Programtillegg for historie
Comment[nds]=Vörgeschichtmoduul
Comment[ne]=इतिहास प्लगइन
Comment[nl]=Geschiedenis-plugin
Comment[nn]=Programtillegg for historie
Comment[pl]=Wtyczka historii
Comment[pt]='Plugin' de Historial
Comment[pt_BR]=Plugin de Histórico
Comment[ro]=Modul istoric
Comment[ru]=Модуль журналирования
Comment[se]=Historihkkalassemoduvla
Comment[sk]=Modul histórie
Comment[sl]=Vstavek Zgodovina
Comment[sr]=Прикључак за историјат
Comment[sr@Latn]=Priključak za istorijat
Comment[sv]=Historikinsticksprogram
Comment[ta]=வரலாற்று செருகல்
Comment[tg]=Модули Номнависи сӯҳбатҳо
Comment[tr]=Geçmiş Eklentisi
Comment[uk]=Втулок історії
Comment[uz]=Tarix plagini
Comment[uz@cyrillic]=Тарих плагини
Comment[wa]=Tchôke-divins del istwere
Comment[zh_CN]=历史插件
Comment[zh_HK]=歷程紀錄插件
Comment[zh_TW]=歷史外掛程式
