[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000800
Icon=history
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_history
X-KDE-PluginInfo-Author=Olivier Goffart
X-KDE-PluginInfo-Email=ogoffart@tiscalinet.be
X-KDE-PluginInfo-Name=kopete_history
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=History
Name[az]=Keçmiş
Name[be]=Гісторыя
Name[bg]=История
Name[bs]=Historija
Name[ca]=Historial
Name[cs]=Historie
Name[cy]=Hanes
Name[da]=Historik
Name[de]=Verlauf
Name[el]=Ιστορικό
Name[eo]=Historio
Name[es]=Historia
Name[et]=Ajalugu
Name[fi]=Historia
Name[fr]=Historique
Name[ga]=Stair
Name[gl]=Historial
Name[he]=היסטוריה
Name[hi]=इतिहास
Name[hr]=Povijest
Name[hu]=Üzenetnapló
Name[id]=Sejarah
Name[is]=Ferill
Name[it]=Cronologia
Name[ja]=履歴
Name[lt]=Istorija
Name[lv]=Vēsture
Name[mt]=Kronoloġija
Name[nb]=Historie
Name[nl]=Geschiedenis
Name[nn]=Historie
Name[pl]=Historia
Name[pt]=Historial
Name[pt_BR]=História
Name[ro]=Istoric
Name[ru]=История
Name[sk]=História
Name[sl]=Zgodovina
Name[sr]=Историја
Name[sr@Latn]=Istorija
Name[sv]=Historik
Name[ta]=வரலாறு
Name[th]=ประวัติการใช้งาน
Name[tr]=Geçmiş
Name[uk]=Історія
Name[uz]=Тарих
Name[ven]=Divhazwakale
Name[vi]=Lịch sử 
Name[wa]=Istwere
Name[xh]=Imbali
Name[xx]=xxHistoryxx
Name[zh_CN]=历史
Name[zu]=Umlando
Comment=Log all messages to keep track of your conversations
Comment[bg]=Запис на всички съобщения с цел преглед и търсене в тях в бъдеще
Comment[bs]=Zapiši sve poruke u historiju
Comment[ca]=Registra tots els missatges per a que seguiu les vostres conversacions
Comment[cs]=Loguje všechny zprávy k zajištění vaší komunikace
Comment[cy]=Cofnodi pob neges er mwyn cadw trefn ar eich sgwrsiau
Comment[da]=Log alle beskeder for at holde styr på dine konversationer
Comment[de]=Protokolliert alle Nachrichten der eigenen Gespräche
Comment[el]=Καταγράψτε όλα τα μηνύματά σας για να κρατήσετε αρχείο με τις συζητήσεις σας
Comment[es]=Registra todos los mensajes para guardar sus conversaciones
Comment[et]=Kõigi sõnumite logimine, et neil ka hiljem silm peal hoida
Comment[fi]=Laita kaikki viestisi lokiin
Comment[fr]=Enregistrer tous les messages pour garder une trace de vos discussions
Comment[gl]=Rexitra tódolas mensajex para gardar conversacións
Comment[he]=שומר תיעוד מסודר שלך כל שיחותיך
Comment[hi]=आपके वार्तालाप की जानकारी बनाए रखने हेतु सभी संदेशों को लॉग करें
Comment[hr]=Upisuje u dnevnik sve poruke kako biste vodili evidenciju o svojim razgovorima
Comment[hu]=Az üzenetek archiválása
Comment[is]=Halda til haga samskiptaannál
Comment[it]=Effettua il log di tutti i messaggi in modo da avere traccia delle tue conversazioni
Comment[ja]=会話を残すためにメッセージのログをとる
Comment[nb]=Logg alle meldinger for å ta vare på samtalene dine
Comment[nl]=Bewaar alle berichten in een logboek om uw conversaties later opnieuw te kunnen bekijken
Comment[nn]=Logg alle meldingar for å ta vare på samtalane dine
Comment[pl]=Zapisuje wszystkie wiadomości, aby trzymać historię Twoich rozmów
Comment[pt]=Regista todas as mensagens para manter um registo da sua conversa
Comment[pt_BR]=Registra todas as mensagens para manter o histórico de suas conversações
Comment[ru]=Записывает все сообщения в журнал
Comment[sk]=Záznam všetkých správ, aby ste mohli sledovať vaše rozhovory
Comment[sl]=Beleži vsa sporočila za hranjenje vaših pogovorov
Comment[sr]=Уписује у дневник све поруке да би сте водили евиденцију о својим разговорима
Comment[sr@Latn]=Upisuje u dnevnik sve poruke da bi ste vodili evidenciju o svojim razgovorima
Comment[sv]=Logga alla meddelanden för att hålla ordning på samtalen
Comment[ta]=உங்கள் உரையாடலை கவணிக்க அணைத்து செய்திகளையும் புகுபதி 
Comment[uk]=Зберігати всі повідомлення в журналі для відслідкування всіх розмов
Comment[wa]=Wårder on djournå di tos vos messaedjes, po vos poleur rivey li conversåcion
Comment[xx]=xxLog all messages to keep track of your conversationsxx
Comment[zh_CN]=记录您对话的全部消息
