[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=phone
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_netmeeting
X-KDE-PluginInfo-Author=Olivier Goffart
X-KDE-PluginInfo-Email=ogoffart@tiscalinet.be
X-KDE-PluginInfo-Name=kopete_netmeeting
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=kopete_msn
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Netmeeting
Name[ar]=الاجتماع على الشبكة
Name[bg]=Видео чат
Name[bn]=নেট মিটিং
Name[da]=Netmøde
Name[eo]=Reta renkontiĝo
Name[fa]=نت میتینگ
Name[fr]=Vidéo-conférence
Name[hi]=नेटमीटिंग
Name[ja]=ネットミーティング
Name[km]=ប្រជុំ​លើ​បណ្ដាញ
Name[lt]=Bendravimas tinkle
Name[nds]=Nettmööt
Name[ne]=नेट मिटिङ
Name[nl]=NetMeeting
Name[pa]=ਨੈੱਟ-ਮੀਟਿੰਗ
Name[sv]=Nätverksmöte
Name[ta]=இணைய சந்திப்பு
Name[tg]=Вохӯриҳои шабакавӣ
Comment=Voice and Video with MSN Messenger
Comment[be]=Гук і відэа праз MSN Messenger
Comment[bg]=Приставка за разговор с глас и видео с MSN Messenger
Comment[bn]=এমএসএন বার্তাবাহকের সঙ্গে স্বর এবং ভিডিও
Comment[bs]=Glas i video sa MSN Messengerom
Comment[ca]=Veu i vídeo amb MSN Messenger
Comment[cs]=Hlas a video pomocí MSN Messenger
Comment[da]=Stemme og video med MSN Messenger
Comment[de]=Sprache und Video mit dem MSN-Messenger verwenden
Comment[el]=Βίντεο και εικόνα με το MSN Messenger
Comment[es]=Voz y vídeo con MSN Messenger
Comment[et]=Audio ja video kasutamine MSN Messengeriga
Comment[eu]=Ahotsa eta bideoa MSN Messenger-ekin
Comment[fa]=ویدیو و صدا با پیام‌رسان ام‌اس‌ان
Comment[fi]=Ääni ja videokuva MSN Messengerin kanssa
Comment[fr]=Voix et vidéo avec MSN Messenger
Comment[gl]=Voz e video con MSN Messenger
Comment[he]=חוזי ושמע עם MSN Messenger
Comment[hu]=Hang és videó az MSN Messengerrel
Comment[is]=Hljóð og vídeó með MSN Messenger
Comment[it]=Voce e video con MSN Messenger
Comment[ja]=MSN メッセンジャーとボイス/ビデオチャット
Comment[ka]=ხმა და ვიდეო MSN მესინჯერთან
Comment[kk]=MSN Messenger дыбыс пен бейнемен
Comment[km]=សំឡេង និង​វីដេអូ​ដោយ​ប្រើ​កម្មវិធី​ផ្ញើ​សារ MSN
Comment[lt]=Bendravimas balsu ir vaizdu per MSN Messenger
Comment[mk]=Глас и видео со Гласникот на MSN
Comment[nb]=Lyd og bilde med MSN Messenger
Comment[nds]=Spraak un Video mit dat MSN-Kortnarichtenprogramm
Comment[ne]=एमएसएन मेसेन्जरसँग आवाज र भिडियो
Comment[nl]=Beeld en geluid met MSN Messenger
Comment[nn]=Lyd og bilete med MSN Messenger
Comment[pl]=Głos i wideo za pomocą MSN Messenger
Comment[pt]=Voz e Vídeo com o MSN Messenger
Comment[pt_BR]=Voz e Vídeo com o MSN Messenger
Comment[ru]=Аудио и видео с MSN Messenger
Comment[sk]=Hlas a video pomocou MSN Messenger
Comment[sl]=Glas in video z MSN Messenger
Comment[sr]=Глас и видео са MSN Messenger-ом
Comment[sr@Latn]=Glas i video sa MSN Messenger-om
Comment[sv]=Ljud och video med MSN Messenger
Comment[ta]=எம்எஸ்என் செய்தியில் குரல் மற்றும் படக்காட்சி
Comment[tr]=MSN Messenger ile Video ve Ses
Comment[uk]=Аудіо і відео з MSN Messenger
Comment[zh_CN]=与 MSN Messenger 一起使用影音
Comment[zh_HK]=和 MSN Messenger 一起使用語音和視像
Comment[zh_TW]=MSN Messenger 影像與聲音
