[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000900
Icon=phone
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_netmeeting
X-KDE-PluginInfo-Author=Olivier Goffart
X-KDE-PluginInfo-Email=ogoffart@tiscalinet.be
X-KDE-PluginInfo-Name=kopete_netmeeting
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=kopete_msn
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Netmeeting
Name[ar]=الاجتماع على الشبكة
Name[bg]=Видео чат
Name[da]=Netmøde
Name[fr]=Vidéo-conférence
Name[hi]=नेटमीटिंग
Name[ja]=ネットミーティング
Name[nl]=NetMeeting
Name[sv]=Nätverksmöte
Name[ta]=இணைய சந்திப்பு
Name[tg]=Вохӯриҳои шабакавӣ
Comment=Use GnomeMeeting with MSN Messenger
Comment[ar]=قم باستخدام GnomeMeeting مع MSN Messenger
Comment[bg]=Приставка за използване на GnomeMeeting с MSN Messenger
Comment[bs]=Koristi GnomeMeeting sa MSN Messengerom
Comment[ca]=Usa GnomeMeeting amb MSN Messenger
Comment[cy]=Defnyddio GnomeMeeting efo MSN Messenger
Comment[da]=Brug GnomeMeeting med MSN Messenger
Comment[de]=GnomeMeeting mit dem MSN-Messenger verwenden
Comment[el]=Χρήση του GnomeMeeting με το MSN Messenger
Comment[es]=Usar GnomeMeeting con MSN Messenger
Comment[et]=GnomeMeetingu kasutamine MSN Messengeriga
Comment[eu]=Erabili GnomeMeeting MSN Messengerrekin
Comment[fi]=Voit käyttää GnomeMeeting-sovellusta MSN Messengerin kanssa
Comment[fr]=Utiliser GnomeMeeting avec MSN Messenger
Comment[gl]=Utiliza GnomeMeeting co MSN Messanger
Comment[he]=שימוש ב-GnomeMeeting עם MSN Messenger
Comment[hi]=एमएसएन मैसेंजर के साथ ग्नोम-मीटिंग इस्तेमाल करें
Comment[hr]=Korištenje GnomeMeetinga sa MSN Messengerom
Comment[hu]=A GnomeMeeting használata az MSN Messengerrel
Comment[is]=Nota GnomeMeeting fyrir MSN Messenger
Comment[it]=Utilizza GnomeMeeting con MSN Messenger
Comment[ja]=MSNメッセンジャにGnomeMeetingを使う
Comment[mk]=Употребувајте GnomeMeeting со Гласникот за MSN
Comment[nb]=Bruk GnomeMeeting med MSN Messenger
Comment[nl]=Gebruik GnomeMeeting met MSN Messenger
Comment[nn]=Bruk GnomeMeeting med MSN Messenger
Comment[pl]=Używanie GnomeMeeting z MSN Messengerem
Comment[pt]=Usar o GnomeMeeting com o MSN Messenger
Comment[pt_BR]=Usa o GnomeMeeting com o  MSN Messenger
Comment[ru]=Использовать GnomeMeeting с MSN Messenger
Comment[se]=Geavat GnomeMeeting ovttas MSN-Messenger prográmmain
Comment[sk]=Použitie GnomeMeeting s MSN Messenger
Comment[sl]=Uporabi GnomeMeeting z MSN.Messenger
Comment[sr]=Коришћење GnomeMeeting-а са MSN Messenger-ом
Comment[sr@Latn]=Korišćenje GnomeMeeting-a sa MSN Messenger-om
Comment[sv]=Använd Gnomemeeting med MSN Messenger
Comment[ta]=எம்எஸ்என் தூதுவனோடு க்னோம் சந்திப்பைப் பயன்படுத்து
Comment[tg]=GnomeMeeting-ро бо MSN Пайёмбар истифода баред
Comment[uk]=ВживанняGnomeMeeting з MSN Messenger
Comment[zh_CN]=与 MSN Messenger 一起使用 GnomeMeeting
