[Desktop Entry]
Encoding=UTF-8
Icon=highlight
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_netmeeting
X-KDE-FactoryName=NetmeetingConfigFactory
X-KDE-ParentApp=kopete_netmeeting
X-KDE-ParentComponents=kopete_netmeeting

Name=Netmeeting
Name[x-test]=xxNetmeetingxx
Comment=Voice and Video with MSN Messenger
Comment[x-test]=xxVoice and Video with MSN Messengerxx
