[Desktop Entry]
Encoding=UTF-8
Icon=highlight
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_netmeeting
X-KDE-FactoryName=NetmeetingConfigFactory
X-KDE-ParentApp=kopete_netmeeting
X-KDE-ParentComponents=kopete_netmeeting

Name=Netmeeting
Name[ar]=الاجتماع على الشبكة
Name[bg]=Видео чат
Name[da]=Netmøde
Name[fr]=Vidéo-conférence
Name[hi]=नेटमीटिंग
Name[ja]=ネットミーティング
Name[nl]=NetMeeting
Name[sv]=Nätverksmöte
Name[ta]=இணைய சந்திப்பு
Name[tg]=Вохӯриҳои шабакавӣ
Name[xx]=xxNetmeetingxx
Comment=Voice and Video with MSN Messenger
