[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=phone
Name=Netmeeting
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_netmeeting
X-Kopete-Plugin-Id=netmeeting
X-Kopete-Author=Olivier Goffart
X-Kopete-Site=http://kopete.kde.org
X-Kopete-Email=ogoffart@tiscalinet.be
X-Kopete-License=GPL
Comment=use Gnome-meeting with MSN Messenger
