[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=phone
Name=Netmeeting
Name[fr]=Conférence réseau
Name[sv]=Nätverksmöte
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_netmeeting
X-Kopete-Plugin-Id=netmeeting
X-Kopete-Author=Olivier Goffart
X-Kopete-Site=http://kopete.kde.org
X-Kopete-Email=ogoffart@tiscalinet.be
X-Kopete-License=GPL
Comment=Use GnomeMeeting with MSN Messenger
Comment[ca]=usa Gnome-meeting amb MSN Messenger
Comment[es]=Use Gnome-meeting con Mensajero MSN
Comment[fr]=Utiliser Gnome meeting avec le messager MSN
Comment[nl]=Gebruik Gnome Netmeeting met MSN Messenger
Comment[pt]=Utilize o Gnome-meeting Mensageiro do MSN
Comment[pt_BR]=usar meeting do Gnome com MSN Messenger
Comment[sv]=Använd Gnome-möte med MSN-meddelandehantering
