[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000900
Icon=skype_protocol
ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_skype
X-Kopete-Messaging-Protocol=messaging/skype
X-KDE-PluginInfo-Author=Kopete Developers
X-KDE-PluginInfo-Email=kopete-devel@kde.org
X-KDE-PluginInfo-Name=kopete_skype
X-KDE-PluginInfo-Version=0.0.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Skype
Name[pa]=ਸਕਾਈਪੀ
Name[tg]=Скайп
Name[xx]=xxSkypexx
Comment=Skype protocol plugin (only wrapper!)
Comment[ar]= قابس ميفاق Skype (only wrapper!)
Comment[be]=Утулка пратаколу Skype (толькі wrapper!)
Comment[bg]=Приставка за протокола Skype (само обвивка!)
Comment[cs]=Modul protokolu Skype (pouze wrapper!)
Comment[da]=Plugin for skype-protokol (kun wrapper!)
Comment[de]=Skype Protokoll-Modul (nur ein Wrapper!)
Comment[el]=Πρόσθετο πρωτοκόλλου Skype (μόνο ενσωμάτωση!)
Comment[es]=Extensión del protocolo skype (Solo la capa externa)
Comment[et]=Skype protokolli plugin (ainult kest!)
Comment[fr]=Plugin gérant le protocole Skype (redirige seulement les appels)
Comment[ga]=Breiseán prótacail Skype (rapar amháin!)
Comment[gl]=Plugin para o protocolo de Skype (só interface!)
Comment[hr]=Dodatak za Skype protokol (samo omotač!)
Comment[it]=Plugin per il protocollo Skype (solo un impacchettatore!)
Comment[ka]=Skype-ის ოქმის მოდული (მხოლოდ გარდამქმნელი!)
Comment[lt]=Skype protokolo priedas (tik apvalkalas!)
Comment[ms]=Plugin protokol Skype (hanya pembalut!)
Comment[nds]=Moduul för dat Skype-Protokoll (bloots en Ümtoprogramm!)
Comment[nl]=Skype-protocolplugin (alleen schil!)
Comment[pa]=ਸਕਾਈਪੀ (Skype) ਪਰੋਟੋਕਾਲ ਪਲੱਗਿੰਨ (ਸਿਰਫ਼ ਰੇਪਰ!)
Comment[pt]='Plugin' para o protocolo do Skype (apenas interface!)
Comment[pt_BR]=Plugin para o protocolo Skype(somente encapsulamento!)
Comment[ru]=Модуль для работы с протоколом Skype через официальный клиент
Comment[sk]=Modul pre Skype protokol (len obálka!)
Comment[sr]=Прикључак Skype протокола (само омотач!)
Comment[sr@Latn]=Priključak Skype protokola (samo omotač!)
Comment[sv]=Protokollinsticksprogram för Skype (bara omgivning)
Comment[tg]=Модул барои кор кардан бо протоколи Скайп бо воситаи мизоҷи расмӣ
Comment[tr]=Skype protokolü eklentisi
Comment[uk]=Втулок протоколу Skype (тільки обгортка)
Comment[xx]=xxSkype protocol plugin (only wrapper!)xx
