[Desktop Entry]
Encoding=UTF-8
Icon=identity
Type=Service
ServiceTypes=KCModule

X-KDE-Library=kopete_identityconfig
X-KDE-FactoryName=kcm_kopete_identityconfig
X-KDE-ParentApp=kopete
X-KDE-ParentComponents=kopete

Name=Identity
Name[be]=Прыватныя звесткі
Name[bg]=Идентификация
Name[br]=Anvelezh
Name[ca]=Identitat
Name[cs]=Identita
Name[cy]=Dynodiad
Name[da]=Identitet
Name[de]=Identität
Name[el]=Ταυτότητα
Name[es]=Identidad
Name[et]=Identiteet
Name[eu]=Identitatea
Name[fa]=هویت
Name[fi]=Identiteetti
Name[fr]=Identité
Name[ga]=Aitheantas
Name[gl]=Indentidade
Name[he]=חשבון
Name[hu]=Azonosító
Name[is]=Auðkenni
Name[it]=Identità
Name[ja]=分身
Name[kk]=Профилі
Name[km]=អត្តសញ្ញាណ
Name[lt]=Tapatybė
Name[nb]=Identitet
Name[nds]=Identiteet
Name[ne]=परिचय
Name[nl]=Identiteit
Name[nn]=Identitet
Name[pl]=Tożsamość
Name[pt]=Identidade
Name[pt_BR]=Identidade
Name[ru]=Профиль
Name[sl]=Identiteta
Name[sr]=Идентитет
Name[sr@Latn]=Identitet
Name[sv]=Identitet
Name[tr]=Kimlik
Name[uk]=Профіль
Name[uz]=Шахсият
Name[x-test]=xxIdentityxx
Name[zh_HK]=識別名稱
Name[zh_TW]=身份
Comment=Manage Your Global Identity
Comment[uk]=Керування вашим глобальним профілем
Comment[x-test]=xxManage Your Global Identityxx

DocPath=kopete/configure-dialog.html#configuring-identity
