[Desktop Entry]
Encoding=UTF-8
Icon=identity
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_identityconfig
X-KDE-FactoryName=KopeteIdentityConfigFactory
X-KDE-ParentApp=kopete
X-KDE-ParentComponents=kopete

Name=Identity
Name[bg]=Идентификация
Name[br]=Anvelezh
Name[da]=Identitet
Name[es]=Identidad
Name[ga]=Aitheantas
Name[sv]=Identitet
Comment=Here you can manage your global identity
Comment[bg]=Настройки на идентификацията
Comment[da]=Her kan du håndtere din globale identitet
Comment[es]=Aqui puede gestionar su identidad global
Comment[ga]=Tig leat d'aitheantas a láimhseáil anseo
Comment[sv]=Här kan du hantera din generella identitet

