[Desktop Entry]
Encoding=UTF-8
Icon=identity
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_identityconfig
X-KDE-FactoryName=KopeteIdentityConfigFactory
X-KDE-ParentApp=kopete
X-KDE-ParentComponents=kopete

Name=Identity
Name[bg]=Идентификация
Name[br]=Anvelezh
Name[cs]=Identita
Name[cy]=Dynodiad
Name[da]=Identitet
Name[de]=Identität
Name[el]=Ταυτότητα
Name[es]=Identidad
Name[et]=Identiteet
Name[fr]=Identité
Name[ga]=Aitheantas
Name[lt]=Tapatybė
Name[pt]=Identidade
Name[pt_BR]=Identidade
Name[sr]=Идентитет
Name[sr@Latn]=Identitet
Name[sv]=Identitet
Name[tr]=Kimlik
Name[xx]=xxIdentityxx
Name[zh_CN]=身份
Comment=Here You Can Manage Your Global Identity
Comment[cs]=Zde můžete spravovat svou globální identitu
Comment[de]=Hier können Sie Ihre globale Identität verwalten
Comment[el]=Εδώ μπορείτε να ρυθμίσετε την καθολική σας Ταυτότητα
Comment[ga]=Tig Leat d'Aitheantas a Láimhseáil Anseo
Comment[sv]=Här kan du hantera din generella identitet
Comment[zh_CN]=您可在此管理您的全局身份

DocPath=kopete/configure-dialog.html#configuring-identity
