[Desktop Entry]
Type=Service
Icon=mail-encrypt

ServiceTypes=KCModule
X-KDE-Library=kcm_kopete_otr
X-KDE-FactoryName=kcm_kopete_otr
X-KDE-ParentApp=kopete_otr
X-KDE-ParentComponents=kopete_otr

Comment=Encrypt chat sessions with Off-The-Record encryption
Name=OTR

