[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=mail-encrypt
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_otr
X-KDE-PluginInfo-Author=Michael Zanetti
X-KDE-PluginInfo-Email=michael_zanetti@gmx.net
X-KDE-PluginInfo-Name=kopete_otr
X-KDE-PluginInfo-Version=0.8
X-KDE-PluginInfo-Website=http://kopete-otr.follefuder.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Comment=Encrypt chat sessions with Off-The-Record encryption
Comment[da]=Kryptér chatsessioner med 'uofficielt'-kryptering
Comment[el]=Κρυπτογράφηση συνομιλιών με ανεπίσημη κρυπτογράφηση
Comment[ga]=Criptigh seisiúin chomhráite le criptiú Off-The-Record
Comment[ja]=OTR (Off-the-Record) プロトコルでチャットセッションを暗号化します
Comment[km]=អ៊ិនគ្រីប​សម័យ​ជជែក​កំសាន្ត​ជា​មួយ​នឹង​កា​របិទ​កា​រអ៊ិនគ្រីប​ថត
Comment[pt]=Encriptar as sessões de conversão com encriptação OTR (Off-The-Record - Não Oficial)
Comment[pt_BR]=Encriptar as sessões de conversão com encriptação OTR (Off-The-Record - Não Oficial)
Comment[sv]=Kryptera chattsessioner med Off-The-Record kryptering
Comment[uk]=Зашифрувати сеанси балачок шифруванням Off-The-Record
Comment[x-test]=xxEncrypt chat sessions with Off-The-Record encryptionxx
Comment[zh_CN]=用非正式加密算法加密聊天会话
Comment[zh_TW]=使用私下加密（Off-The-Record）來加密聊天階段
Name=OTR
Name[x-test]=xxOTRxx
Name[zh_CN]=非正式加密
