[Desktop Entry]
Type=Service
Icon=mail-encrypt

ServiceTypes=KCModule
X-KDE-Library=kcm_kopete_otr
X-KDE-FactoryName=kcm_kopete_otr
X-KDE-ParentApp=kopete_otr
X-KDE-ParentComponents=kopete_otr

Comment=Encrypt chat sessions with Off-The-Record encryption
Comment[ar]=شفر جلسة الدردشة بـ تعطيل-التسجيل المشفر
Comment[ast]=Cifrar les charres col cifráu «Off-The-Record»
Comment[bg]=Шифриране на разговорите с Off-The-Record
Comment[bs]=Šifrirajte sesije časkanja sa Off-The-Record šifrovanjem
Comment[ca]=Encripta les sessions de xat amb un encriptatge «Off-The-Record»
Comment[ca@valencia]=Encripta les sessions de xat amb un encriptatge «Off-The-Record»
Comment[cs]=Šifrovat rozhovory pomocí OTR
Comment[da]=Kryptér chatsessioner med 'uofficielt'-kryptering
Comment[de]=Chatsitzung mit Off-The-Record-Verschlüsselung sichern
Comment[el]=Κρυπτογράφηση συνομιλιών με ανεπίσημη κρυπτογράφηση
Comment[en_GB]=Encrypt chat sessions with Off-The-Record encryption
Comment[es]=Cifrar las sesiones de charla con el cifrado «Off-The-Record»
Comment[et]=Vestlusseansside krüptimine Off-The-Record krüptimisega
Comment[eu]=Enkriptatu berriketako saioak Off-The-Record enkriptazioarekin
Comment[fi]=Salaa keskusteluistuntosi Off-The-Record-salauksella
Comment[fr]=Protéger les sessions de discussions avec le chiffrement Off-The-Record
Comment[ga]=Criptigh seisiúin chomhráite le criptiú Off-The-Record
Comment[gl]=Cifra as sesións de conversa mediante cifrado non rexistrado
Comment[hr]=Kriptiraj razgovorne sjednice enkripcijom Off-The-Record
Comment[hu]=A csevegések titkosítása Off-The-Record kódolással
Comment[ia]=Crypta sessiones de conversation in directo con cryptation informal (OTR)
Comment[it]=Cifra le sessioni di chat con la cifratura Off-The-Record
Comment[ja]=OTR (Off-the-Record) プロトコルでチャットセッションを暗号化します
Comment[kk]=Әңгіме-дүкен сеанстарды Off-The-Record шифрымен шифрлау
Comment[km]=អ៊ិនគ្រីប​សម័យ​ជជែក​កំសាន្ត​ជា​មួយ​នឹង​កា​របិទ​កា​រអ៊ិនគ្រីប​ថត
Comment[ko]=Off-The-Record 암호화를 사용하여 대화 세션을 암호화합니다
Comment[lt]=Pokalbio seansus šifruoti Off-the-Record kodu
Comment[lv]=Šifrēt tērzēšanas sesijas ar Off-the-Record šifrēšanu
Comment[ml]=സംഭാഷണവേളകള്‍ രേഖപ്പെടുത്താതെ കോഡീകരിച്ച് രഹസ്യ‌മാക്കിവെക്കുക
Comment[nb]=Krypter prateøkter med Off-The-Record-kryptering
Comment[nds]=Verslötelt Klööntörns mit "Off-The-Record"- (engl. Buten-Protokoll-)Verslöteln
Comment[nl]=Versleutel gesprekken met Off-The-Record-versleuteling
Comment[nn]=Krypter prateøkter med Off-The-Record-kryptering
Comment[pl]=Szyfrowanie sesji rozmowy za pomocą Off-The-Record
Comment[pt]=Encriptar as sessões de conversão com encriptação OTR (Off-The-Record - Não Oficial)
Comment[pt_BR]=Criptografa as sessões de bate-papo com criptografia OTR (Off-The-Record)
Comment[ro]=Criptează sesiunile de discuție cu criptare Off-The-Record
Comment[ru]=Шифрует разговоры по протоколу OTR
Comment[si]=වාර්ථාවෙන්-බැහැර සංකේතන භාවිතයෙන් සංවාද වාර සංකේතනය කරන්න
Comment[sk]=Zašifruje rozhovory pomocou Off-The-Record (OTR) šifrovania
Comment[sl]=Šifriranje klepetov s pomočjo šifriranja Off-The-Record
Comment[sr]=Шифрујте сесије ћаскања оф‑д‑рекордом
Comment[sr@ijekavian]=Шифрујте сесије ћаскања оф‑д‑рекордом
Comment[sr@ijekavianlatin]=Šifrujte sesije ćaskanja Off‑The‑Recordom
Comment[sr@latin]=Šifrujte sesije ćaskanja Off‑The‑Recordom
Comment[sv]=Kryptera chattsessioner med Off-The-Record kryptering
Comment[tr]=Oturumları Off-The-Record (Kayıt Dışı) şifrelemesi ile şifrele
Comment[uk]=Зашифрувати сеанси балачок шифруванням Off-The-Record
Comment[x-test]=xxEncrypt chat sessions with Off-The-Record encryptionxx
Comment[zh_CN]=用非正式加密算法加密聊天会话
Comment[zh_TW]=使用私下加密（Off-The-Record）來加密聊天階段
Name=OTR
Name[ar]=OTR
Name[ast]=OTR
Name[bg]=OTR
Name[bs]=OTR
Name[ca]=OTR
Name[ca@valencia]=OTR
Name[cs]=OTR
Name[da]=OTR
Name[de]=OTR
Name[el]=OTR
Name[en_GB]=OTR
Name[eo]=OTR
Name[es]=OTR
Name[et]=OTR
Name[eu]=OTR
Name[fi]=OTR
Name[fr]=OTR
Name[ga]=OTR
Name[gl]=OTR
Name[hne]=ओटीआर
Name[hr]=OTR
Name[hu]=OTR
Name[ia]=OTR
Name[it]=OTR
Name[ja]=OTR
Name[kk]=OTR
Name[km]=OTR
Name[ko]=OTR
Name[lt]=Off-the-Record
Name[lv]=OTR
Name[ml]=ഓടിആര്‍
Name[nb]=OTR
Name[nds]=OTR
Name[nl]=OTR
Name[nn]=OTR
Name[pa]=OTR
Name[pl]=OTR
Name[pt]=OTR
Name[pt_BR]=OTR
Name[ro]=OTR
Name[ru]=OTR
Name[si]=OTR
Name[sk]=OTR
Name[sl]=OTR
Name[sq]=OTR
Name[sr]=ОТР
Name[sr@ijekavian]=ОТР
Name[sr@ijekavianlatin]=OTR
Name[sr@latin]=OTR
Name[sv]=OTR
Name[tr]=OTR
Name[ug]=OTR
Name[uk]=OTR
Name[x-test]=xxOTRxx
Name[zh_CN]=非正式加密
Name[zh_TW]=OTR

