[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=mail-encrypt
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_otr
X-KDE-PluginInfo-Author=Michael Zanetti
X-KDE-PluginInfo-Email=michael_zanetti@gmx.net
X-KDE-PluginInfo-Name=kopete_otr
X-KDE-PluginInfo-Version=0.8
X-KDE-PluginInfo-Website=http://kopete-otr.follefuder.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Comment=Encrypt chat sessions with Off-The-Record encryption
Comment[km]=អ៊ីនគ្រិប​សម័យ​ជជែក​ដោយ​ការ​អ៊ីនគ្រិប​បិទ​ការ​ថត
Comment[pt]=Encriptar as sessões de conversa com encriptação Fora-de-Banda
Comment[pt_BR]=Encriptar as sessões de conversa com encriptação Fora-de-Banda
Comment[uk]=Вживати для сеансу балачки шифрування Off-The-Record
Comment[zh_TW]=使用非正式的加密來加密聊天
Name=OTR
Name[zh_TW]=非正式（Off-The-Record，OTR）
