[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000900
Icon=statistics
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_statistics
X-KDE-PluginInfo-Author=Marc Cramdal
X-KDE-PluginInfo-Email=marc.cramdal@yahoo.fr
X-KDE-PluginInfo-Name=kopete_statistics
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Statistics
Name[bg]=Статистика
Name[br]=Stadegoù
Name[ca]=Estadístiques
Name[cy]=Ystadegau
Name[da]=Statistik
Name[fr]=Statistiques
Name[ga]=Staitistic
Name[nl]=Statistieken
Name[pt]=Estatísticas
Name[pt_BR]=Estatísticas
Name[ru]=Статистика
Name[sv]=Statistik
Name[uk]=Статистика
Comment=Gather some meaningful statistics
Comment[bg]=Приставка за обобщаваща статистика
Comment[da]=Indsamling af noget meningsfuld statistik
Comment[fr]=Récupération de quelques statistiques utiles
Comment[nl]=Verzamel wat betekenisvolle statistieken
Comment[pt]=Recolher algumas estatísticas relevantes
Comment[pt_BR]=Recolher algumas estatísticas relevantes
Comment[ru]=Собрать некоторые статистические данные
Comment[sv]=Samla in en del användbar statistik
Comment[uk]=Зібрати деякі статистичні дані
