[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=view-statistics
X-KDE-ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_statistics
X-KDE-PluginInfo-Author=Marc Cramdal
X-KDE-PluginInfo-Email=marc.cramdal@yahoo.fr
X-KDE-PluginInfo-Name=kopete_statistics
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Statistics
Name[ar]=الإحصائيات
Name[ast]=Estadístiques
Name[bg]=Статистика
Name[bn]=পরিসংখ্যান
Name[br]=Stadegoù
Name[bs]=Statistike
Name[ca]=Estadístiques
Name[ca@valencia]=Estadístiques
Name[cs]=Statistika
Name[cy]=Ystadegau
Name[da]=Statistik
Name[de]=Statistik
Name[el]=Στατιστικά
Name[en_GB]=Statistics
Name[eo]=Statistikoj
Name[es]=Estadísticas
Name[et]=Statistika
Name[eu]=Estatistikak
Name[fa]=آمار
Name[fi]=Tilastot
Name[fr]=Statistiques
Name[ga]=Staitisticí
Name[gl]=Estatísticas
Name[he]=סטטיסטיקה
Name[hi]=आंकड़े
Name[hne]=आंकड़ा
Name[hr]=Statistika
Name[hu]=Statisztika
Name[ia]=Statistica
Name[is]=Tölfræði
Name[it]=Statistiche
Name[ja]=統計
Name[kk]=Статистика
Name[km]=ស្ថិតិ
Name[ko]=통계
Name[ku]=Statistîk
Name[lt]=Statistika
Name[lv]=Statistika
Name[mai]=सांख्यिकी
Name[ml]=സ്ഥിതിവിവരം
Name[mr]=आकडेवारी
Name[nb]=Statistikk
Name[nds]=Statistik
Name[ne]=तश्याङ्क
Name[nl]=Statistieken
Name[nn]=Statistikk
Name[oc]=Estadisticas
Name[pa]=ਅੰਕੜੇ
Name[pl]=Statystyki
Name[pt]=Estatísticas
Name[pt_BR]=Estatísticas
Name[ro]=Statistici
Name[ru]=Статистика
Name[si]=වාර්ථා
Name[sk]=Štatistiky
Name[sl]=Statistika
Name[sq]=Statistikat
Name[sr]=Статистика
Name[sr@ijekavian]=Статистика
Name[sr@ijekavianlatin]=Statistika
Name[sr@latin]=Statistika
Name[sv]=Statistik
Name[th]=สถิติ
Name[tr]=İstatistikler
Name[ug]=ستاتىستىكا
Name[uk]=Статистика
Name[uz]=Statistika
Name[uz@cyrillic]=Статистика
Name[vi]=Thông kê
Name[x-test]=xxStatisticsxx
Name[zh_CN]=统计
Name[zh_HK]=統計
Name[zh_TW]=統計
Comment=Gather some meaningful statistics
Comment[ar]=جمّع بعض إحصائيات
Comment[ast]=Recueye dalgunes estadístiques significatives
Comment[bg]=Приставка за обобщаваща статистика
Comment[bn]=কিছু অর্থপূর্ণ পরিসংখ্যান সমবেত করে
Comment[bs]=Sakuplja nešto korisne statistike
Comment[ca]=Reuneix algunes estadístiques significatives
Comment[ca@valencia]=Reuneix algunes estadístiques significatives
Comment[cs]=Shromažďuje užitečné statistiky
Comment[da]=Indsamling af noget meningsfuld statistik
Comment[de]=Einige aussagekräftige Statistiken sammeln
Comment[el]=Συλλογή μερικών σημαντικών στατιστικών
Comment[en_GB]=Gather some meaningful statistics
Comment[eo]=Akiri kelkajn signifoplenajn statistikojn
Comment[es]=Recoge algunas estadísticas significativas
Comment[et]=Veidi statistikat, millest võib kasu olla
Comment[eu]=Bildu estatistika esanguratsu batzuk
Comment[fa]=جمع‌آوری بعضی از آمارهای با معنی
Comment[fi]=Kerää hyödyllisiä tilastoja
Comment[fr]=Réception de quelques statistiques utiles
Comment[ga]=Cruinnigh staitisticí fiúntacha
Comment[gl]=Recompila algunhas estatísticas de utilidade
Comment[he]=מלקט סטטיסטיקה בעלת משמעות
Comment[hi]=कुछ मतलब के आंकड़े संग्रह करें
Comment[hne]=कुछ मतलब के आंकड़ा संग्रह करव
Comment[hr]=Prikupi suvislu statistiku
Comment[hu]=Statisztikai adatok gyűjtése
Comment[ia]=Collige alcun statisticas significative
Comment[is]=Safna saman nokkrum gagnlegum tölfræði upplýsingum
Comment[it]=Raccoglie statistiche significative
Comment[ja]=有意義な統計データを収集します
Comment[kk]=Кейбір маңызды статистиканы жинақтау
Comment[km]=ប្រមែប្រមូល​ស្ថិតិ​សំខាន់ៗ​មួយ​ចំនួន
Comment[ko]=의미 있는 통계를 가져오려고 시도합니다
Comment[lt]=Rinkti prasmingą statistiką
Comment[lv]=Vāc dažas noderīgas statistikas
Comment[ml]=അര്‍ത്ഥവത്തായ ചില സ്ഥിതിവിവരങ്ങള്‍ ശേഖരിക്കാം
Comment[nb]=Samle noe meningsfylt statistikk
Comment[nds]=En poor sinnvulle Statistiken sammeln
Comment[ne]=केही अर्थपूर्ण तश्याङ्क भेला गर्नुहोस्
Comment[nl]=Verzamel wat betekenisvolle statistieken
Comment[nn]=Hentar inn statistikkar
Comment[pa]=ਕੁਝ ਮਤਲਬ ਦੇ ਅੰਕੜੇ ਲਵੋ
Comment[pl]=Gromadzenie niektórych znaczących statystyk
Comment[pt]=Recolher algumas estatísticas relevantes
Comment[pt_BR]=Coleta algumas estatísticas úteis
Comment[ro]=Adună cîteva statistici însemnate
Comment[ru]=Сбор некоторых статистических данных
Comment[si]=ප්‍රයෝජනවත් වාර්ථා කිහිපයක් එක් කරයි
Comment[sk]=Zhromažďuje niektoré užitočné štatistiky
Comment[sl]=Zbiranje uporabne statistike
Comment[sr]=Сакупља нешто корисне статистике
Comment[sr@ijekavian]=Сакупља нешто корисне статистике
Comment[sr@ijekavianlatin]=Sakuplja nešto korisne statistike
Comment[sr@latin]=Sakuplja nešto korisne statistike
Comment[sv]=Samla in en del användbar statistik
Comment[tr]=Anlamlı istatistikler topla
Comment[uk]=Зібрати деякі статистичні дані
Comment[vi]=Đưa ra một vài thống kê có ích
Comment[x-test]=xxGather some meaningful statisticsxx
Comment[zh_CN]=收集更有意义的统计
Comment[zh_HK]=收集一些有用的統計
Comment[zh_TW]=收集一些有用的統計
