[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=statistics
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_statistics
X-KDE-PluginInfo-Author=Marc Cramdal
X-KDE-PluginInfo-Email=marc.cramdal@yahoo.fr
X-KDE-PluginInfo-Name=kopete_statistics
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Statistics
Name[be]=Статыстыка
Name[bg]=Статистика
Name[bn]=পরিসংখ্যান
Name[br]=Stadegoù
Name[bs]=Statistike
Name[ca]=Estadístiques
Name[cs]=Statistika
Name[cy]=Ystadegau
Name[da]=Statistik
Name[de]=Statistiken
Name[el]=Στατιστικά
Name[eo]=Statistikoj
Name[es]=Estadísticas
Name[et]=Statistika
Name[eu]=Estatistikak
Name[fa]=آمار
Name[fi]=Tilastot
Name[fr]=Statistiques
Name[ga]=Staitistic
Name[gl]=Estatísticas
Name[he]=סטטיסטיקה
Name[hu]=Statisztika
Name[is]=Tölfræði
Name[it]=Statistiche
Name[ja]=統計
Name[ka]=სტატისტიკა
Name[kk]=Статистика
Name[km]=ស្ថិតិ
Name[lt]=Statistika
Name[nb]=Statistikk
Name[nds]=Statistik
Name[ne]=तश्याङ्क
Name[nl]=Statistieken
Name[nn]=Statistikk
Name[pa]=ਅੰਕੜੇ
Name[pl]=Statystyki
Name[pt]=Estatísticas
Name[pt_BR]=Estatísticas
Name[ro]=Statistici
Name[ru]=Статистика
Name[sk]=Štatistiky
Name[sl]=Statistika
Name[sr]=Статистика
Name[sr@Latn]=Statistika
Name[sv]=Statistik
Name[tr]=İstatistlikler
Name[uk]=Статистика
Name[uz]=Statistika
Name[uz@cyrillic]=Статистика
Name[zh_CN]=统计
Name[zh_HK]=統計
Name[zh_TW]=統計
Comment=Gather some meaningful statistics
Comment[bg]=Приставка за обобщаваща статистика
Comment[bn]=কিছু অর্থপূর্ণ পরিসংখ্যান সমবেত করে
Comment[bs]=Prikuplja neke interesantne statistike
Comment[ca]=Obté estadístiques
Comment[cs]=Shromažďuje užitečné statistiky
Comment[da]=Indsamling af noget meningsfuld statistik
Comment[de]=Einige aussagekräftige Statistiken sammeln
Comment[el]=Συλλογή μερικών σημαντικών στατιστικών
Comment[es]=Recoge algunas estadí­sticas significativas
Comment[et]=Veidi statistikat, millest võib kasu olla
Comment[eu]=Estatistika esanguratsuak bildu
Comment[fa]=جمع‌آوری بعضی از آمارهای با معنی
Comment[fi]=Kerää hyödyllisiä tilastoja
Comment[fr]=Récupération de quelques statistiques utiles
Comment[he]=מלקט סטטיסטיקה בעלת משמעות
Comment[hu]=Statisztikai adatok gyűjtése
Comment[is]=Safna saman nokkrum gagnlegum tölfræði upplýsingum
Comment[it]=Raccoglie delle statistiche significative
Comment[ja]=有意義な統計データを収集します
Comment[ka]=სტატისტიკის შეგროვება
Comment[kk]=Кейбір маңызды статистиканы жинақтау
Comment[km]=ប្រមែប្រមូល​ស្ថិតិ​សំខាន់ៗ​មួយ​ចំនួន
Comment[lt]=Rinkti prasmingą statistiką
Comment[nb]=Samle noen opplysninger med mening
Comment[nds]=En poor sinnvulle Statistiken sammeln
Comment[ne]=केही अर्थपूर्ण तश्याङ्क भेला गर्नुहोस्
Comment[nl]=Verzamel wat betekenisvolle statistieken
Comment[nn]=Samla nokre opplysningar med meining
Comment[pl]=Zbieranie niektórych znaczących statystyk
Comment[pt]=Recolher algumas estatísticas relevantes
Comment[pt_BR]=Coleta estatísticas úteis
Comment[ru]=Собрать некоторые статистические данные
Comment[sk]=Zozbiera niektoré významné štatistiky
Comment[sl]=Zbiranje uporabne statistike
Comment[sr]=Сакупи нешто корисне статистике
Comment[sr@Latn]=Sakupi nešto korisne statistike
Comment[sv]=Samla in en del användbar statistik
Comment[tr]=Anlamlı istatistlikler topla
Comment[uk]=Зібрати деякі статистичні дані
Comment[zh_CN]=收取更有意义的统计
Comment[zh_HK]=收集一些有用的統計
Comment[zh_TW]=收集一些有用的統計
