[Desktop Entry]
Icon=user-identity
Type=Service
ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_statusconfig
X-KDE-FactoryName=kcm_kopete_statusconfig
X-KDE-ParentApp=kopete
X-KDE-ParentComponents=kopete

Name=Status
Name[ar]=الحالة
Name[ast]=Estáu
Name[bg]=Състояние
Name[bs]=Stanje
Name[ca]=Estat
Name[ca@valencia]=Estat
Name[cs]=Stav
Name[da]=Status
Name[de]=Status
Name[el]=Κατάσταση
Name[en_GB]=Status
Name[es]=Estado
Name[et]=Olek
Name[eu]=Egoera
Name[fi]=Tila
Name[fr]=État
Name[ga]=Stádas
Name[gl]=Estado
Name[hne]=स्थिति
Name[hr]=Status
Name[hu]=Állapot
Name[ia]=Stato
Name[it]=Stato
Name[ja]=状態
Name[kk]=Күй-жайлары
Name[km]=ស្ថានភាព
Name[ko]=상태
Name[lt]=Būsena
Name[lv]=Statuss
Name[mai]=स्थिति
Name[ml]=സ്ഥിതി
Name[mr]=स्थिती
Name[nb]=Status
Name[nds]=Status
Name[nl]=Status
Name[nn]=Status
Name[pa]=ਹਾਲਤ
Name[pl]=Dostępność
Name[pt]=Estado
Name[pt_BR]=Status
Name[ro]=Stare
Name[ru]=Состояние
Name[si]=තත්වය
Name[sk]=Stav
Name[sl]=Stanje
Name[sq]=Statusi
Name[sr]=Стање
Name[sr@ijekavian]=Стање
Name[sr@ijekavianlatin]=Stanje
Name[sr@latin]=Stanje
Name[sv]=Status
Name[th]=สถานะ
Name[tr]=Durum
Name[ug]=ھالىتى
Name[uk]=Стан
Name[wa]=Statut
Name[x-test]=xxStatusxx
Name[zh_CN]=状态
Name[zh_TW]=狀態
Comment=Manage Your Statuses
Comment[ar]=أدِر حالاتك
Comment[ast]=Xestionar les tos cuentes ya identidaes
Comment[bg]=Управление на състоянието
Comment[bs]=Uredi svoj status
Comment[ca]=Gestioneu els vostres estats
Comment[ca@valencia]=Gestioneu els vostres estats
Comment[cs]=Správa stavů
Comment[da]=Håndtér din status
Comment[de]=Statuseinstellungen verwalten
Comment[el]=Διαχείριση των καταστάσεών σας
Comment[en_GB]=Manage Your Statuses
Comment[es]=Gestionar sus cuentas e identidades
Comment[et]=Oma olekute haldamine
Comment[eu]=Kudeatu zure egoerak
Comment[fi]=Hallitse tilatietojasi
Comment[fr]=Gérer vos états
Comment[ga]=Bainistigh Do Chuid Stádas
Comment[gl]=Xestiona os seus estados
Comment[hne]=अपन स्थिति के प्रबंधन करव
Comment[hr]=Upravljanje vašim statusima
Comment[hu]=Itt lehet kezelni az állapotokat
Comment[ia]=Gere tu statos
Comment[it]=Gestisci gli stati
Comment[ja]=あなたの状態の管理
Comment[kk]=Күй-жайыңызды басқару
Comment[km]=គ្រប់គ្រង​ស្ថានភាព​របស់​អ្នក
Comment[ko]=상태를 관리합니다
Comment[lt]=Tvarkyti visas būsenas
Comment[lv]=Pārvaldīt jūsu statusus
Comment[ml]=നിങ്ങളുടെ സ്ഥിതികള്‍ കൈകാര്യം ചെയ്യുക
Comment[nb]=Rediger dine statuser
Comment[nds]=Dien Statussen plegen
Comment[nl]=Beheer uw statussen
Comment[nn]=Handter statusane dine
Comment[pa]=ਆਪਣੀ ਹਾਲਤ ਦਾ ਪਰਬੰਧ ਕਰੋ
Comment[pl]=Zarządzanie dostępnością
Comment[pt]=Gerir os Seus Estados
Comment[pt_BR]=Gerencia os seus status de conexão
Comment[ro]=Gestionați stările
Comment[ru]=Управление состоянием
Comment[si]=ඔබේ තත්වයන් කළමනාකරණය කරන්න
Comment[sk]=Správa stavov
Comment[sl]=Upravljajte s stanji
Comment[sr]=Управљајте својим стањима
Comment[sr@ijekavian]=Управљајте својим стањима
Comment[sr@ijekavianlatin]=Upravljajte svojim stanjima
Comment[sr@latin]=Upravljajte svojim stanjima
Comment[sv]=Hantera din status
Comment[th]=จัดการสถานะต่าง ๆ ของคุณ
Comment[tr]=Durumlarınızı Yapılandırın
Comment[ug]=ھالىتىڭىزنى باشقۇرىدۇ
Comment[uk]=Керування вашими станами
Comment[wa]=Manaedjî vos status
Comment[x-test]=xxManage Your Statusesxx
Comment[zh_CN]=管理您的状态
Comment[zh_TW]=管理您的狀態

