[Desktop Entry]
Encoding=UTF-8
Icon=user-identity
Type=Service
ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_statusconfig
X-KDE-FactoryName=kcm_kopete_statusconfig
X-KDE-ParentApp=kopete
X-KDE-ParentComponents=kopete

Name=Status
Name[el]=Κατάσταση
Name[ga]=Stádas
Name[ja]=状態
Name[km]=ស្ថានភាព
Name[pt]=Estado
Name[ru]=Статусы
Name[tr]=Durum
Name[uk]=Стан
Name[x-test]=xxStatusxx
Name[zh_CN]=状态
Name[zh_TW]=狀態
Comment=Manage Your Statuses
Comment[da]=Håndtér din status
Comment[el]=Διαχείριση των καταστάσεών σας
Comment[ga]=Bainistigh Do Chuid Stádas
Comment[ja]=あなたの状態の管理
Comment[km]=គ្រប់គ្រង​ស្ថានភាព​របស់​អ្នក
Comment[nds]=Dien Statussen plegen
Comment[pt]=Gerir os Seus Estados
Comment[pt_BR]=Gerencie todas as suas contas
Comment[sv]=Hantera din status
Comment[tr]=Durumlarınızı Yapılandırın
Comment[uk]=Керування вашими станами
Comment[x-test]=xxManage Your Statusesxx
Comment[zh_CN]=管理您的状态
Comment[zh_TW]=管理您的狀態

