[Desktop Entry]
Encoding=UTF-8
Icon=user-identity
Type=Service
ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_statusconfig
X-KDE-FactoryName=kcm_kopete_statusconfig
X-KDE-ParentApp=kopete
X-KDE-ParentComponents=kopete

Name=Status
Name[el]=Κατάσταση
Name[ga]=Stádas
Name[zh_TW]=狀態
Comment=Manage Your Statuses
Comment[el]=Διαχείριση των καταστάσεών σας
Comment[ga]=Bainistigh Do Chuid Stádas
Comment[nds]=Dien Statussen plegen
Comment[sv]=Hantera din status
Comment[zh_TW]=管理您的狀態

