[Desktop Entry]
Icon=camera-web
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_avdeviceconfig
X-KDE-FactoryName=kcm_kopete_avdeviceconfig
X-KDE-ParentApp=kopete
X-KDE-ParentComponents=kopete
X-KDE-Weight=180

Name=Video
Name[ca]=Vídeo
Name[el]=Βίντεο
Name[es]=Vídeo
Name[fr]=Vidéo
Name[ga]=Fís
Name[gl]=Vídeo
Name[hu]=Videó
Name[ja]=ビデオ
Name[km]=វីដេអូ
Name[ko]=비디오
Name[oc]=Vidèo
Name[pa]=ਵਿਡੀਓ
Name[pl]=Wideo
Name[pt]=Vídeo
Name[pt_BR]=Vídeo
Name[ru]=Видео
Name[sr]=Видео
Name[uk]=Відео
Name[x-test]=xxVideoxx
Name[zh_CN]=视频
Name[zh_TW]=影像
Comment=Configure Video Devices
Comment[ca]=Configura els dispositius de vídeo
Comment[cs]=Nastavení video zařízení
Comment[da]=Indstil videoenheder
Comment[de]=Videogeräte einrichten
Comment[el]=Ρύθμιση συσκευών βίντεο
Comment[eo]=Agordi la vidaparatojn
Comment[es]=Configurar dispositivos de vídeo
Comment[et]=Videoseadmete seadistamine
Comment[fi]=Aseta videolaitteita
Comment[fr]=Configurer les périphériques vidéos
Comment[ga]=Cumraigh Gléasanna Físe
Comment[gl]=Configurar os dispositivos de vídeo
Comment[hu]=Videóeszközök beállítása
Comment[it]=Configura i dispositivi video
Comment[ja]=ビデオデバイスの設定
Comment[km]=កំណត់​រចនា​សម្ព័ន្ធ​ឧបករណ៍​វីដេអូ
Comment[ko]=비디오 장치를 설정합니다
Comment[lt]=Konfigūruoti video įrenginius
Comment[lv]=Konfigurēt video ierīces
Comment[nb]=Sett opp videoenheter
Comment[nds]=Videoreedschappen instellen
Comment[nl]=Video-apparaten instellen
Comment[nn]=Set opp videoeiningar
Comment[pa]=ਵਿਡੀਓ ਜੰਤਰ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja urządzeń wideo
Comment[pt]=Configurar os Dispositivos de Vídeo
Comment[pt_BR]=Configurar dispositivos de vídeo
Comment[ru]=Настройка устройства для воспроизведения видео
Comment[sl]=Nastavite video naprave
Comment[sr]=Подесите видео уређаје
Comment[sr@latin]=Podesite video uređaje
Comment[sv]=Anpassa videoenheter
Comment[tr]=Video Aygıtlarını Yapılandır
Comment[uk]=Налаштувати відеопристрої
Comment[x-test]=xxConfigure Video Devicesxx
Comment[zh_CN]=配置视频设备
Comment[zh_TW]=設定影像裝置
X-DocPath=kopete/configure-dialog.html#configuring-avdevice
