[Desktop Entry]
Icon=camera-web
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_avdeviceconfig
X-KDE-FactoryName=kcm_kopete_avdeviceconfig
X-KDE-ParentApp=kopete
X-KDE-ParentComponents=kopete
X-KDE-Weight=180

Name=Video
Name[ca]=Vídeo
Name[el]=Βίντεο
Name[ja]=ビデオ
Name[oc]=Vidèo
Name[pt]=Vídeo
Name[pt_BR]=Vídeo
Name[x-test]=xxVideoxx
Name[zh_TW]=影像
Comment=Configure Video Devices
Comment[ca]=Configura els dispositius de vídeo
Comment[de]=Videogeräte einrichten
Comment[el]=Ρύθμιση συσκευών βίντεο
Comment[eo]=Agordi la vidaparatojn
Comment[ja]=ビデオデバイスの設定
Comment[lv]=Konfigurēt video iekārtu
Comment[nl]=Video-apparaten instellen
Comment[pt]=Configurar os Dispositivos de Vídeo
Comment[pt_BR]=Configurar os Dispositivos de Vídeo
Comment[sv]=Anpassa videoenheter
Comment[x-test]=xxConfigure Video Devicesxx
Comment[zh_TW]=設定影像裝置
X-DocPath=kopete/configure-dialog.html#configuring-avdevice
