[Desktop Entry]
Encoding=UTF-8
Icon=webcam
Type=Service
ServiceTypes=KCModule

X-KDE-Library=kopete_avdeviceconfig
X-KDE-FactoryName=kcm_kopete_avdeviceconfig
X-KDE-ParentApp=kopete
X-KDE-ParentComponents=kopete

Name=Devices
Name[br]=Trobarzhelloù
Name[ca]=Dispositius
Name[cs]=Zařízení
Name[cy]=Dyfeisiau
Name[da]=Enheder
Name[de]=Geräte
Name[el]=Συσκευές
Name[eo]=Aparatoj
Name[es]=Dispositivos
Name[et]=Seadmed
Name[eu]=Dispositiboak
Name[fa]=دستگاهها
Name[fi]=Laitteet
Name[fr]=Périphériques
Name[ga]=Gléasanna
Name[gl]=Dispositivos
Name[he]=התקנים
Name[hu]=Eszközök
Name[is]=Tæki
Name[it]=Periferiche
Name[ja]=デバイス
Name[kk]=Құрылығылар
Name[km]=ឧបករណ៍
Name[lt]=Įrenginiai
Name[lv]=Iekārtas
Name[nb]=Enheter
Name[nds]=Reedschappen
Name[ne]=यन्त्र
Name[nl]=Apparaten
Name[nn]=Einingar
Name[pa]=ਜੰਤਰ
Name[pl]=Urządzenia
Name[pt]=Dispositivos
Name[pt_BR]=Dispositivos
Name[ru]=Устройства
Name[sl]=Naprave
Name[sr]=Уређаји
Name[sr@latin]=Uređaji
Name[sv]=Enheter
Name[tr]=Aygıtlar
Name[uk]=Пристрої
Name[uz]=Ускуналар
Name[x-test]=xxDevicesxx
Name[xh]=Amacebo
Name[zh_HK]=裝置
Name[zh_TW]=裝置
Comment=Kopete Video and Audio Device Settings
Comment[de]=Hier können Sie Kopetes Einstellungen zu Audio- und Videogeräten anpassen
Comment[el]=Ρυθμίσεις συσκευών βίντεο και ήχου του Kopete
Comment[es]=Opciones de los dispositivos de audio y vídeo de Kopete
Comment[fa]=تنظیمات دستگاه صوتی و تصویری Kopete
Comment[ja]=Kopete の A/V デバイスを設定
Comment[pt]=Configuração do Áudio e Vídeo do Kopete
Comment[pt_BR]=Configuração do Áudio e Vídeo do Kopete
Comment[sv]=Kopetes video- och ljudenhetsinställningar
Comment[uk]=Параметри відео і аудіо пристроїв у Kopete
Comment[x-test]=xxKopete Video and Audio Device Settingsxx
Comment[zh_TW]=Kopete 的影像與聲音裝置設定
DocPath=kopete/configure-dialog.html#configuring-avdevice
