[Desktop Entry]
Type=Service
Icon=msn_protocol
X-KDE-ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_msn
X-Kopete-Version=1000900
X-Kopete-Messaging-Protocol=messaging/msn
X-KDE-PluginInfo-Author=Kopete Developers
X-KDE-PluginInfo-Email=kopete-devel@kde.org
X-KDE-PluginInfo-Name=kopete_msn
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=MSN Messenger
Name[bn]=এমএসএন বার্তাবাহক
Name[cy]=Negesydd MSN
Name[da]=MSN-Messenger
Name[eo]=MSN mesaĝilo
Name[fa]=پیام‌رسان ام‌اس‌ان
Name[hi]=एमएसएन मैसेंजर
Name[ja]=MSN メッセンジャー
Name[km]=កម្មវិធី​ផ្ញើសារ MSN
Name[lt]=MSN žinučių klientas
Name[mk]=Гласник за MSN 
Name[nds]=MSN-Kortnarichtendeenst
Name[ne]=एमएसएन मेसेन्जर
Name[pa]=MSN ਮੈਸੈਂਜਰ
Name[pl]=Komunikator MSN Messenger
Name[pt_BR]=Mensageiro MSN
Name[tg]=MSN Пайёмбар
Name[uk]=Кур'єр MSN
Name[uz]=MSN mesenjer
Name[uz@cyrillic]=MSN месенжер
Name[vi]=Trình gửi/nhận tin nhắn MSN
Name[x-test]=xxMSN Messengerxx
Comment=Windows Live Messenger compatibility
Comment[ca]=Compatibilitat amb el Windows Live Messenger
Comment[cs]=Kompatibilita Windows Live Messenger
Comment[da]=Windows Live Messenger-kompatibilitet
Comment[de]=Kompatibilität mit Windows Live Messenger
Comment[el]=Windows Live Messenger συμβατότητα
Comment[eo]=Vindoza mesaĝila kongrueco
Comment[es]=Compatibilidad con Windows Live Messenger
Comment[et]=Windows Live Messengeri ühilduvus
Comment[fi]=Windows Live Messenger -yhteensopivuus
Comment[fr]=Compatibilité avec Windows Live Messenger
Comment[ga]=Comhoiriúnacht do Windows Live Messenger
Comment[gl]=Compatibilidade con Windows Live Messenger
Comment[hu]=Kompatibilis a Windows Live Messengerrel
Comment[it]=Compatibilità Windows Live Messenger
Comment[ja]=Windows Live メッセンジャーとの互換性
Comment[km]=ភាព​ឆប​គ្នា​កម្មវិធី​ផ្ញើសារ​បន្ត​ផ្ទាល់​របស់​វីនដូ
Comment[ko]=Windows Live Messenger 호환성
Comment[lt]=Windows Live žinučių klientas
Comment[lv]=Windows Live Messenger saderība
Comment[nb]=Kompatibilitet med Windows Live Messenger
Comment[nds]=Kompatibiliteet to Windows Live-Kortnarichtenmaker
Comment[nl]=Compatibiliteit met Windows Live Messenger
Comment[nn]=Windows Live (MSN) Messenger-kompatibilitet
Comment[pl]=Kompatybilność z komunikatorem Windows Live
Comment[pt]=Compatibilidade com o Windows Live Messenger
Comment[pt_BR]=Compatibilidade com Windows Live Messenger (MSN)
Comment[ro]=Compatibilitate Windows Live Messenger
Comment[ru]=Совместимость с Windows Live Messenger
Comment[sl]=Windows Live Messenger, kompatibilni
Comment[sv]=Kompatibel med Windows Live Messenger
Comment[tr]=Windows Live Messenger uyumluluğu
Comment[uk]=Сумісність з кур'єром Windows Live
Comment[x-test]=xxWindows Live Messenger compatibilityxx
Comment[zh_CN]=Windows Live Messenger 兼容
Comment[zh_TW]=Windows Live Messenger 相容

