[Desktop Entry]
Type=Service
Icon=msn_protocol
ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_msn
X-Kopete-Version=1000900
X-Kopete-Messaging-Protocol=messaging/msn
X-KDE-PluginInfo-Author=Kopete Developers
X-KDE-PluginInfo-Email=kopete-devel@kde.org
X-KDE-PluginInfo-Name=kopete_msn
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=MSN Messenger
Name[ar]=مرسال MSN
Name[bn]=এমএসএন বার্তাবাহক
Name[cy]=Negesydd MSN
Name[da]=MSN-Messenger
Name[de]=MSN-Messenger
Name[eo]=MSN-mesaĝilo
Name[fa]=پیام‌رسان ام‌اس‌ان
Name[gl]=MSN Messanger
Name[hi]=एमएसएन मैसेंजर
Name[ja]=MSN メッセンジャー
Name[km]=កម្មវិធី​ផ្ញើសារ MSN
Name[lt]=MSN žinučių klientas
Name[mk]=Гласник за MSN 
Name[nds]=MSN-Kortnarichtendeenst
Name[ne]=एमएसएन मेसेन्जर
Name[pa]=MSN ਸੁਨੇਹੇਦਾਰ
Name[pl]=Komunikator MSN Messenger
Name[pt_BR]=Mensageiro MSN
Name[ro]=Mesaje instantanee MSN
Name[tg]=MSN Пайёмбар
Name[uk]=Кур'єр MSN
Name[uz]=MSN mesenjer
Name[uz@cyrillic]=MSN месенжер
Comment=Protocol to connect to MSN Messenger
Comment[ar]=البرتوكول سيتصل بمرسال MSN
Comment[be]=Пратакол MSN Messenger
Comment[bg]=Протокол за връзка с MSN Messenger
Comment[bn]=এমএসএন বার্তাবাহকে সংযোগ করতে প্রোটোকল
Comment[br]=Komenad kevreañ ouzh MSN Messenger
Comment[bs]=MSN Messenger protokol
Comment[ca]=Protocol per a connectar-se a MSN Messenger
Comment[cs]=Protokol k připojení k MSN Messengeru
Comment[cy]=Protocol i gysylltu â Negesydd MSN
Comment[da]=Protokol til at forbinde til MSN-Messenger
Comment[de]=Protokoll zur Verbindung mit dem MSN-Messenger
Comment[el]=Πρωτόκολλο για σύνδεση στο MSN Messenger
Comment[es]=Protocolo para conectar con MSN Messenger
Comment[et]=Protokoll ühendumiseks MSN Messengeriga
Comment[eu]=MSN Messenger-era konektatzeko protokoloa
Comment[fa]=قرارداد برای اتصال به پیام‌رسان ام‌اس‌ان
Comment[fi]=Yhteyskäytäntö MSN Messanger -verkkoon kytkeytymiseen
Comment[fr]=Protocole pour se connecter sur MSN Messenger
Comment[ga]=Prótacal chun ceangal le MSN Messenger
Comment[gl]=Protocolo para se conectar ó MSN Messanger
Comment[he]=פרוטוקול התחברות ל- MSN Messenger
Comment[hi]=एमएसएन मैसेंजर से जुड़ने का प्रोटोकॉल
Comment[hr]=Protokol za povezivanje na MSN Messenger
Comment[hu]=Protokoll az MSN Messenger használatához
Comment[is]=Samskiptamáti til að tengjast MSN Messenger
Comment[it]=Protocollo per connessione a MSN Messenger
Comment[ja]=MSN メッセンジャーに接続するプロトコル
Comment[ka]=MSN Messenger დაკავშირების ოქმი
Comment[kk]=MSN Messenger-ге қосылу протоколы
Comment[km]=ពិធីការ​ដើម្បី​ភ្ជាប់​ទៅ​កម្មវិធី​ផ្ញើសារ MSN
Comment[lt]=Protokolas prisijungimui prie MSN žinučių kliento
Comment[mk]=Протокол за поврзување на Гласникот на MSN
Comment[nb]=Protokoll for å koble til MSN Messenger
Comment[nds]=Protokoll för't Tokoppeln na den MSN-Kortnarichtendeenst
Comment[ne]=एमएसएन मेसेन्जरमा जडान गर्नुपर्ने प्रोटोकल
Comment[nl]=Protocol voor MSN Messenger
Comment[nn]=Protokoll for å kopla til MSN Messenger
Comment[pl]=Protokół połączenia z serwerem MSN Messenger
Comment[pt]=Um protocolo para ser ligar ao MSN Messenger
Comment[pt_BR]=Protocolo para conexão ao MSN Messenger
Comment[ro]=Protocol de conectare la MSN Messenger
Comment[ru]=Протокол для подключения к MSN Messenger
Comment[sk]=Protokol pre pripojenie k MSN Messenger
Comment[sl]=Protokol za povezavo na MSN Messenger
Comment[sr]=Протокол за повезивање на MSN Messenger
Comment[sr@Latn]=Protokol za povezivanje na MSN Messenger
Comment[sv]=Protokoll för att ansluta till MSN-meddelandeklient
Comment[ta]= MSN Messenger யுடன் இணைக்க விதிமுறை
Comment[tg]=Қарордоди пайвастшавӣ ба MSN Пайёмбар
Comment[tr]=MSN Messenger'a bağlantı iletişim kuralı
Comment[uk]=Протокол для з'єднання з MSN Messenger
Comment[uz]=MSN mesenjer bilan aloqa oʻrnatish uchun protokol
Comment[uz@cyrillic]=MSN месенжер билан алоқа ўрнатиш учун протокол
Comment[wa]=Protocole po s' raloyî a MSN
Comment[zh_CN]=连接到 MSN Messenger 协议
Comment[zh_HK]=用來連接至 MSN Messenger 的通訊協定
Comment[zh_TW]=連線到 MSN 的協定

