[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=MSN Messenger
Name[pt]=Messenger da MSN
Name[pt_BR]=Messenger da MSN
Name[sv]=MSN-meddelandehantering
Icon=msn_protocol
ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_msn
X-Kopete-Author=Kopete Developers
X-Kopete-Site=http://kopete.kde.org
X-Kopete-Email=kopete-devel@kde.org
X-Kopete-License=GPL
Comment=MSN Messenger
Comment[es]=Mensajero MSN
Comment[pt]=Mensageiro do MSN
Comment[pt_BR]=Mensageiro do MSN
Comment[sv]=MSN-meddelandehantering
