[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=MSN Messenger
Icon=msn_protocol
ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_msn
X-Kopete-Author=Kopete Developers
X-Kopete-Site=http://kopete.kde.org
X-Kopete-Email=kopete-devel@kde.org
X-Kopete-License=GPL
Comment=MSN Messenger
Comment[es]=Plugin de protocolo para MSN Messenger
Comment[fr]=MSN Messenger
Comment[ja]=MSNメッセンジャー用のプロトコルプラグイン
Comment[pt]='Plugin' do protocolo do MSN Messenger
Comment[pt_BR]=Um plug-in de protocolo para o MSN messenger
Comment[ru]=Модуль протокола MSN Messenger
Comment[sv]=Protokoll för att ansluta till MSN Messenger
Comment[zh_CN]=用来连接 MSN Messenger 的协议
Comment[zh_TW]=用來連接 MSN Messenger 的協定
Comment[zu]=I-plugin yomthetho olandelwayo ye-MSN Messenger
