[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=msn_protocol
ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_msn
X-Kopete-Plugin-Id=msn
X-Kopete-Messaging-Protocol=messaging/msn
X-Kopete-Author=Kopete Developers
X-Kopete-Site=http://kopete.kde.org
X-Kopete-Email=kopete-devel@kde.org
X-Kopete-License=GPL
Name=MSN Messenger
Comment=MSN Messenger

[X-KDE Plugin Info]
Author=Kopete Developers
Email=kopete-devel@kde.org
PluginName=kopete_msn
Version=0.8.0
Website=http://kopete.kde.org
Category=Protocols
Require=
License=GPL
EnabledByDefault=false
Messaging-Protocol=messaging/msn

