<!DOCTYPE kpartgui>
<kpartgui version="12" name="kopete_msn_chat">
	<MenuBar>
		<Menu noMerge="1" name="file">
			<text>&amp;Chat</text>
			<Action name="msnWebcamReceive" />
			<Action name="msnWebcamSend" />
			<Action name="msnSendFile" />		
			<Action name="msnSendNudge" />
			<Action name="msnRequestDisplayPicture" />
			<Action name="msnInvite" />
<!--			<Menu name="debug">
				<text>&amp;Debug</text>
				<Action name="msnDebugRawCommand" />
			</Menu> -->
		</Menu>
	</MenuBar>


	<ToolBar name="statusToolBar">
		<Action name="msnDisplayPicture" />
		<Action name="msnWebcamReceive" />	
		<Action name="msnWebcamSend" />
		<Action name="msnSendFile" />		
		<Action name="msnSendNudge" />
	</ToolBar>
</kpartgui>
