<!DOCTYPE kpartgui>
<kpartgui version="3" name="kopete_msn_chat">
	<MenuBar>
		<Menu noMerge="1" name="file">
			<text>&amp;Chat</text>
			<Action name="msnInvite" />
			<Action name="msnRequestDisplayPicture" />
		</Menu>
	</MenuBar>


	<ToolBar name="statusToolBar">
		<Action name="msnDisplayPicture" />
	</ToolBar>


</kpartgui>
