<!DOCTYPE kpartgui>
<kpartgui version="11" name="kopete_jabber_chat">
	<MenuBar>
		<Menu noMerge="1" name="file">
			<text>&amp;Chat</text>
			<Action name="jabberSendFile" />
			<Action name="jabberSession" />
			<Action name="jabberJingleaudiocall" />
			<Action name="jabberJinglevideocall" />
		</Menu>
	</MenuBar>


	<ToolBar name="statusToolBar">
		<Action name="jabberDisplayPicture" />
		<Action name="jabberSendFile" />		
		<Action name="jabberSession" />
		<Action name="jabberJingleaudiocall" />
		<Action name="jabberJinglevideocall" />
	</ToolBar>


</kpartgui>
