<!DOCTYPE kpartgui>
<kpartgui version="13" name="kopete_jabber_chat">
	<MenuBar>
		<Menu noMerge="1" name="file">
			<text>&amp;Chat</text>
			<Action name="jingleSession" />
			<Action name="jingleSessionsGui" />
		</Menu>
	</MenuBar>


	<ToolBar name="statusToolBar">
		<Action name="jabberDisplayPicture" />
		<Action name="jingleSession" />
		<Action name="jingleSessionsGui" />
	</ToolBar>


	<ToolBar name="chatToolBar" fullWidth="true">
		<Action name="jabberInvite" />
	</ToolBar>


</kpartgui>
