[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=jabber_protocol
ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_jabber
X-Kopete-Messaging-Protocol=messaging/xmpp
X-KDE-PluginInfo-Author=Kopete Developers
X-KDE-PluginInfo-Email=kopete-devel@kde.org
X-KDE-PluginInfo-Name=kopete_jabber
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Jabber
Name[hi]=जैबर
Name[ne]=ज्याबर
Name[pa]=ਜੱਬਰ
Name[ta]=ஜாபர்
Comment=Protocol to connect to Jabber
Comment[ar]=البروتوكول سيتصل بـ Jabber
Comment[be]=Пратакол Jabber
Comment[bg]=Протокол за връзка с Jabber
Comment[bn]=Jabber-এ সংযোগ করতে প্রোটোকল
Comment[br]=Komenad kevreañ ouzh Jabber
Comment[bs]=Jabber protokol
Comment[ca]=Protocol per a connectar-se a Jabber
Comment[cs]=Protokol k připojení k Jabberu
Comment[cy]=Protocol i gysylltu â Jabber
Comment[da]=Protokol til at forbinde til Jabber
Comment[de]=Protokoll zur Verbindung mit Jabber
Comment[el]=Πρωτόκολλο για σύνδεση στο Jabber
Comment[es]=Protocolo de conexión con Jabber
Comment[et]=Protokoll ühendumiseks Jabberiga
Comment[eu]=Jabber-era konektatzeko protokoloa
Comment[fa]=قرارداد برای اتصال به Jabber
Comment[fi]=Yhteyskäytäntö Jabber-verkkoon kytkeytymiseen
Comment[fr]=Protocole pour se connecter sur Jabber
Comment[ga]=Prótacal chun ceangal le Jabber
Comment[gl]=Protocolo para se conectar a Jabber
Comment[he]=פרוטוקול התחברות ל- Jabber
Comment[hi]=जैबर से जुड़ने का प्रोटोकॉल
Comment[hr]=Protokol za povezivanje na Jabber
Comment[hu]=Protokoll a Jabber használatához
Comment[is]=Samskiptamáti til að tengjast Jabber
Comment[it]=Protocollo per connessione a Jabber
Comment[ja]=Jabber に接続するプロトコル
Comment[ka]=Jabberთან დაკავშირების ოქმი
Comment[kk]=Jabber-ге қосылу протоколы
Comment[km]=ពិធីការ​ភ្ជាប់​ទៅ Jabber
Comment[lt]=Protokolas prisijungimui prie Jabber
Comment[mk]=Протокол за поврзување на Jabber
Comment[nb]=Protokoll for å koble til Jabber
Comment[nds]=Protokoll för't Tokoppeln na Jabber
Comment[ne]=ज्याबरमा जडान गर्ने प्रोटोकल
Comment[nl]=Protocol voor Jabber
Comment[nn]=Protokoll for å kopla til Jabber
Comment[pl]=Protokół połączenia z serwerem Jabbera
Comment[pt]=Um protocolo para se ligar ao Jabber
Comment[pt_BR]=Protocolo para conexão ao Jabber
Comment[ro]=Protocol de conectare la Jabber
Comment[ru]=Протокол для подключения к Jabber
Comment[sk]=Protokol pre pripojenie k Jabber
Comment[sl]=Protokol za povezavo na Jabber
Comment[sr]=Протокол за повезивање на Jabber
Comment[sr@Latn]=Protokol za povezivanje na Jabber
Comment[sv]=Protokoll för att ansluta till Jabber
Comment[ta]=ஜாபருடன் இணைக்க விதிமுறை
Comment[tg]=Қарордоди пайвастшавӣ ба Jabber
Comment[tr]=Jabber'e bağlantı iletişim kuralı
Comment[uk]=Протокол для з'єднання з Jabber
Comment[uz]=Jabber uchun protokol
Comment[uz@cyrillic]=Jabber учун протокол
Comment[zh_CN]=连接到 Jabber 协议
Comment[zh_HK]=用來連接至 Jabber 的通訊協定
Comment[zh_TW]=連到 Jabber 的協定

