[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=jabber_protocol
X-KDE-ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_jabber
X-Kopete-Messaging-Protocol=messaging/xmpp
X-KDE-PluginInfo-Author=Kopete Developers
X-KDE-PluginInfo-Email=kopete-devel@kde.org
X-KDE-PluginInfo-Name=kopete_jabber
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Jabber
Name[ar]=جابر
Name[ast]=Jabber
Name[bg]=Jabber
Name[bn]=Jabber
Name[br]=Jabber
Name[bs]=Jabber
Name[ca]=Jabber
Name[ca@valencia]=Jabber
Name[cs]=Jabber
Name[cy]=Jabber
Name[da]=Jabber
Name[de]=Jabber
Name[el]=Jabber
Name[en_GB]=Jabber
Name[eo]=Jabber
Name[es]=Jabber
Name[et]=Jabber
Name[eu]=Jabber
Name[fi]=Jabber
Name[fr]=Jabber
Name[ga]=Jabber
Name[gl]=Jabber
Name[he]=Jabber
Name[hi]=जैबर
Name[hne]=जैबर
Name[hr]=Jabber
Name[hu]=Jabber
Name[ia]=Jabber
Name[is]=Jabber
Name[it]=Jabber
Name[ja]=Jabber
Name[kk]=Jabber
Name[km]=Jabber
Name[ko]=Jabber
Name[lt]=Jabber
Name[lv]=Jabber
Name[mk]=Jabber
Name[ml]=ജാബ്ബര്‍
Name[nb]=Jabber
Name[nds]=Jabber
Name[ne]=ज्याबर
Name[nl]=Jabber
Name[nn]=Jabber
Name[oc]=Jabber
Name[pa]=ਜੱਬਰ
Name[pl]=Jabber
Name[pt]=Jabber
Name[pt_BR]=Jabber
Name[ro]=Jabber
Name[ru]=Jabber
Name[se]=Jabber
Name[si]=Jabber
Name[sk]=Jabber
Name[sl]=Jabber
Name[sq]=Jabber
Name[sr]=Џабер
Name[sr@ijekavian]=Џабер
Name[sr@ijekavianlatin]=Jabber
Name[sr@latin]=Jabber
Name[sv]=Jabber
Name[ta]=ஜாபர்
Name[tg]=Jabber
Name[tr]=Jabber
Name[ug]=Jabber
Name[uk]=Jabber
Name[uz]=Jabber
Name[uz@cyrillic]=Jabber
Name[vi]=Jabber
Name[wa]=Jabber
Name[x-test]=xxJabberxx
Name[zh_CN]=Jabber
Name[zh_HK]=Jabber
Name[zh_TW]=Jabber
Comment=XMPP, Jabber, Google Talk
Comment[ar]=XMPP, جابر, محادثة جوجل
Comment[ast]=XMPP, Jabber, Google Talk
Comment[bg]=XMPP, Jabber, Google Talk
Comment[bs]=XMPP, Jabber, Google Talk
Comment[ca]=XMPP, Jabber, Google Talk
Comment[ca@valencia]=XMPP, Jabber, Google Talk
Comment[cs]=XMPP, Jabber, Google Talk
Comment[da]=XMPP, Jabber, Google Talk
Comment[de]=XMPP, Jabber, Google Talk
Comment[el]=XMPP, Jabber, Google Talk
Comment[en_GB]=XMPP, Jabber, Google Talk
Comment[eo]=XMPP, Jabber, Google Talk
Comment[es]=XMPP, Jabber, Google Talk
Comment[et]=XMPP, Jabber, Google Talk
Comment[eu]=XMPP, Jabber, Google Talk
Comment[fi]=XMPP, Jabber, Google Talk
Comment[fr]=XMPP, Jabber, Google Talk
Comment[ga]=XMPP, Jabber, Google Talk
Comment[gl]=XMPP, Jabber, Google Talk
Comment[hne]=एक्सएमपीपी, जैबर, गूगल टाक
Comment[hr]=XMPP, Jabber, Google Talk
Comment[hu]=XMPP, Jabber, Google Talk
Comment[ia]=XMPP, Jabber, Google Talk
Comment[it]=XMPP, Jabber, Google Talk
Comment[ja]=XMPP, Jabber, Google Talk
Comment[kk]=XMPP, Jabber, Google Talk
Comment[km]=XMPP Jabber Google Talk
Comment[ko]=XMPP, Jabber, Google Talk
Comment[lt]=XMPP, Jabber, Google pokalbiai
Comment[lv]=XMPP, Jabber, Google Talk
Comment[ml]=എക്സ്എംപിപി, ജാബ്ബര്‍, ഗൂഗിള്‍ സംസാരം
Comment[nb]=XMPP, Jabber, Google Talk
Comment[nds]=XMPP, Jabber, Google Talk
Comment[nl]=XMPP, Jabber, Google Talk
Comment[nn]=XMPP, Jabber, Google Talk
Comment[pa]=XMPP, ਜੱਬਰ, ਗੂਗਲ ਟਾਕ
Comment[pl]=XMPP, Jabber, Google Talk
Comment[pt]=XMPP, Jabber, Google Talk
Comment[pt_BR]=XMPP, Jabber, Google Talk
Comment[ro]=XMPP, Jabber, Google Talk
Comment[ru]=XMPP, Jabber, Google Talk
Comment[si]=XMPP, Jabber, Google Talk
Comment[sk]=XMPP, Jabber, Google Talk
Comment[sl]=XMPP, Jabber, Google Talk
Comment[sq]=XMPP, Jabber, Google Talk
Comment[sr]=ИксМПП, џабер, Гугл‑разговор
Comment[sr@ijekavian]=ИксМПП, џабер, Гугл‑разговор
Comment[sr@ijekavianlatin]=XMPP, Jabber, Google-razgovor
Comment[sr@latin]=XMPP, Jabber, Google-razgovor
Comment[sv]=XMPP, Jabber, Google Talk
Comment[tr]=XMPP, Jabber, Google Talk
Comment[uk]=XMPP, Jabber, Google Talk
Comment[x-test]=xxXMPP, Jabber, Google Talkxx
Comment[zh_CN]=XMPP、Jabber、Google Talk
Comment[zh_TW]=XMPP, Jabber, Google Talk

