[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000900
Icon=skype_protocol
ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_skype
X-Kopete-Messaging-Protocol=messaging/skype
X-KDE-PluginInfo-Author=Kopete Developers
X-KDE-PluginInfo-Email=kopete-devel@kde.org
X-KDE-PluginInfo-Name=kopete_skype
X-KDE-PluginInfo-Version=0.0.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Skype
Name[ast]=Skype
Name[bg]=Skype
Name[bs]=Skype
Name[ca]=Skype
Name[ca@valencia]=Skype
Name[cs]=Skype
Name[da]=Skype
Name[de]=Skype
Name[el]=Skype
Name[en_GB]=Skype
Name[eo]=kype
Name[es]=Skype
Name[et]=Skype
Name[eu]=Skype
Name[fi]=Skype
Name[fr]=Skype
Name[ga]=Skype
Name[gl]=Skype
Name[hr]=Skype
Name[hu]=Skype
Name[ia]=Skype
Name[it]=Skype
Name[ja]=Skype
Name[kk]=Skype
Name[km]=Skype
Name[ko]=Skype
Name[lt]=Skype
Name[lv]=Skype
Name[nb]=Skype
Name[nds]=Skype
Name[nl]=Skype
Name[nn]=Skype
Name[pa]=ਸਕਾਈਪੀ
Name[pl]=Skype
Name[pt]=Skype
Name[pt_BR]=Skype
Name[ro]=Skype
Name[ru]=Skype
Name[si]=Skype
Name[sk]=Skype
Name[sl]=Skype
Name[sr]=Скајп
Name[sr@ijekavian]=Скајп
Name[sr@ijekavianlatin]=Skype
Name[sr@latin]=Skype
Name[sv]=Skype
Name[tr]=Skype
Name[ug]=Skype
Name[uk]=Skype
Name[wa]=Skype
Name[x-test]=xxSkypexx
Name[zh_CN]=Skype
Name[zh_TW]=Skype
Comment=Skype protocol plugin (a wrapper)
Comment[ast]=Complementu de protocolu Skype (un ambiente)
Comment[bg]=Приставка за протокол Skype (обвивка)
Comment[bs]=Priključak za protokol Skypa (omotač)
Comment[ca]=Connector de protocol Skype (un embolcall)
Comment[ca@valencia]=Connector de protocol Skype (un embolcall)
Comment[cs]=Modul pro protokol Skype (obal)
Comment[da]=Plugin til Skype-protokollen (en "wrapper")
Comment[de]=Modul für das Skype-Protokoll (Wrapper)
Comment[el]=Πρόσθετο πρωτοκόλλου Skype (περίβλημα)
Comment[en_GB]=Skype protocol plugin (a wrapper)
Comment[es]=Complemento de protocolo Skype (un ambiente)
Comment[et]=Skype'i protokolli plugin (ainult kest)
Comment[eu]=Skype protokoloaren plugina (bilduki bat)
Comment[fi]=Skype-yhteyskäytäntöliitännäinen (kääre)
Comment[fr]=Module de protocole Skype (encapsulation)
Comment[ga]=Breiseán phrótacal Skype (rapar)
Comment[gl]=Engadido do protocolo Skyper (wrapper)
Comment[hr]=Priključak za protokol Skypea (omotač)
Comment[hu]=Skype-modul (kapcsolóelem)
Comment[ia]=Plug-in de protocollo de Skype (un copertura)
Comment[it]=Estensione per il protocollo Skype (adattatore)
Comment[kk]=Skype протоколының плагині (бағдарламасының орамасы)
Comment[km]=កម្មវិធី​ជំនួយ​ពិធីការ Skype (ជា​កម្មវិធីរុំ)
Comment[ko]=Skype 프로토콜 플러그인 (래퍼)
Comment[lt]=Skype protokolo priedas (apgaubimas)
Comment[lv]=Skype protokola spraudnis (saistītājs)
Comment[nb]=Programtillegg for Skype-protokoll (et omslag)
Comment[nds]=Skype-Protokollmoduul (Ümto-Programm)
Comment[nl]=Plugin voor het Skype-protocol (een 'wrapper')
Comment[nn]=Skype-tillegg
Comment[pa]=ਸਕਾਈਪੀ ਪਰੋਟੋਕਾਲ ਪਲੱਗਇਨ (ਰੇਪਰ)
Comment[pl]=Wtyczka protokołu Skype (nakładka)
Comment[pt]='Plugin' do protocolo Skype (uma interface)
Comment[pt_BR]=Plugin do protocolo Skype (um adaptador)
Comment[ru]=Модуль для работы с протоколом Skype через официальный клиент
Comment[si]=Skype නීතිමාලා ප්ලගිනය (එතුමක්)
Comment[sk]=Modul pre Skype protokol (wrapper)
Comment[sl]=Vstavek za protokol Skype (ovijalnik)
Comment[sr]=Прикључак за протокол Скајпа (омотач)
Comment[sr@ijekavian]=Прикључак за протокол Скајпа (омотач)
Comment[sr@ijekavianlatin]=Priključak za protokol Skypea (omotač)
Comment[sr@latin]=Priključak za protokol Skypea (omotač)
Comment[sv]=Protokollinsticksprogram för Skype (bara omgivning)
Comment[th]=ส่วนเสริมโพรโทคอลบริการ Skype (ตัวครอบบริการ)
Comment[tr]=Skype protokolü eklentisi (bir wrapper)
Comment[uk]=Додаток протоколу Skype (обгортка)
Comment[x-test]=xxSkype protocol plugin (a wrapper)xx
Comment[zh_CN]=Skype 协议插件(包装层)
Comment[zh_TW]=Skype 協定外掛程式（只是個包裝）
