<!DOCTYPE kpartgui>
<kpartgui version="1" name="kopetechatwindow">
	<MenuBar>
		<Menu name="tools" >
			<text>&amp;Tools</text>
			<Action name="callSkypeContactFromChat" />
		</Menu>
	</MenuBar>
	<ToolBar name="mainToolBar" fullWidth="true"> 
		<Action name="callSkypeContactFromChat" />
	</ToolBar>
</kpartgui>
