[Desktop Entry]
Encoding=UTF-8
Icon=color
Type=Service
ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_javascript
X-KDE-FactoryName=kcm_kopete_javascript
X-KDE-ParentApp=kopete_javascript
X-KDE-ParentComponents=kopete_javascript

Name=JavaScript
Name[ne]=जाभास्क्रिप्ट
Name[sv]=Javascript
Name[x-test]=xxJavaScriptxx
Comment=Add JavaScript bindings
Comment[bg]=Добавяне на JavaScript
Comment[de]=JavaScript-Unterstützung aktivieren
Comment[el]=Προσθήκη συνδέσεων JavaScript
Comment[ja]=JavaScript バインディングを追加します
Comment[ne]=जाभास्क्रिप्ट बाइन्डिङ थप्नुहोस्
Comment[nl]=JavaScript-bindingen toevoegen
Comment[pt]=Adicionar uma interface de JavaScript
Comment[pt_BR]=Adicionar uma interface de JavaScript
Comment[sv]=Lägg till Javaskript-kopplingar
Comment[uk]=Додати прив'язування JavaScript
Comment[vi]=Thêm sự đóng kết JavaScript
Comment[x-test]=xxAdd JavaScript bindingsxx
Comment[zh_TW]=新增 JavaScript 組合

