[Desktop Entry]
Type=Service
Name=Tutorial Plugin
Comment=Demonstration plugin for teaching Kopete development
Icon=tutorial_plugin
X-KDE-ServiceTypes=Kopete/Plugin
X-Kopete-Version=1000900
X-KDE-Library=kopete_tutorialplugin
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=wstephenson@kde.org
X-KDE-PluginInfo-Name=kopete_tutorialplugin
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Category[ca]=Connectors
X-KDE-PluginInfo-Category[cs]=Moduly
X-KDE-PluginInfo-Category[de]=Module
X-KDE-PluginInfo-Category[el]=Πρόσθετα
X-KDE-PluginInfo-Category[es]=Complementos
X-KDE-PluginInfo-Category[et]=Pluginad
X-KDE-PluginInfo-Category[fi]=Liitännäiset
X-KDE-PluginInfo-Category[fr]=Modules
X-KDE-PluginInfo-Category[ga]=Breiseáin
X-KDE-PluginInfo-Category[gl]=Extensións
X-KDE-PluginInfo-Category[is]=Íforrit
X-KDE-PluginInfo-Category[it]=Estensioni
X-KDE-PluginInfo-Category[ja]=プラグイン
X-KDE-PluginInfo-Category[km]=កម្មវិធី​ជំនួយ
X-KDE-PluginInfo-Category[nds]=Modulen
X-KDE-PluginInfo-Category[pl]=Wtyczki
X-KDE-PluginInfo-Category[pt]='Plugins'
X-KDE-PluginInfo-Category[pt_BR]='Plugins'
X-KDE-PluginInfo-Category[sv]=Insticksprogram
X-KDE-PluginInfo-Category[x-test]=xxPluginsxx
X-KDE-PluginInfo-Category[zh_CN]=插件
X-KDE-PluginInfo-Category[zh_TW]=外掛程式
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false


