[Desktop Entry]
Icon=tutorial_plugin
Type=Service
X-KDE-ServiceTypes=KCModule
Name=Tutorial
Name[ar]=تعليمات
Name[ast]=Tutorial
Name[bg]=Ръководство
Name[bs]=Tutorijal
Name[ca]=Guia d'aprenentatge
Name[ca@valencia]=Guia d'aprenentatge
Name[cs]=Výuka
Name[da]=Gennemgang
Name[de]=Anleitung
Name[el]=Εκμάθηση
Name[en_GB]=Tutorial
Name[eo]=Prilerno
Name[es]=Tutorial
Name[et]=Õpe
Name[eu]=Tutoretza
Name[fa]=خودآموز
Name[fi]=Opas
Name[fr]=Tutoriel
Name[ga]=Cúrsa Teagaisc
Name[gl]=Titorial
Name[hi]=शिक्षण पाठ
Name[hne]=सिक्छन पाठ
Name[hr]=Vodič
Name[hu]=Bemutató
Name[ia]=Classe special (Tutorial)
Name[it]=Esercitazione
Name[ja]=チュートリアル
Name[kk]=Үйрету
Name[km]=បង្រៀន
Name[ko]=따라하기
Name[lt]=Mokymas
Name[lv]=Pamācība
Name[ml]=അദ്ധ്യാ‌പനം
Name[nb]=Opplæring
Name[nds]=Inföhren
Name[ne]=संरक्षक
Name[nl]=Inleiding
Name[nn]=Opplæring
Name[pa]=ਟਟੋਰੀਅਲ
Name[pl]=Samouczek
Name[pt]=Tutorial
Name[pt_BR]=Tutorial
Name[ro]=Îndrumar
Name[ru]=Руководство
Name[si]=සහාය
Name[sk]=Výučba
Name[sl]=Vodnik
Name[sq]=Tutorial
Name[sr]=Учење
Name[sr@ijekavian]=Учење
Name[sr@ijekavianlatin]=Učenje
Name[sr@latin]=Učenje
Name[sv]=Handledning
Name[tr]=Öğretici
Name[ug]=قوللانما
Name[uk]=Навчання
Name[vi]=Trợ lý
Name[wa]=Tutoriel
Name[x-test]=xxTutorialxx
Name[zh_CN]=教程
Name[zh_TW]=教學
Comment=Turns normal people into Super Kopete Developer
Comment[ar]=حول للأشخاص العاديين في مطور Super Kopete 
Comment[ast]=Convierte a xente normal en súper desendolcadores de Kopete
Comment[bg]=Превръща обикновените хора в супер копетъри
Comment[bs]=Pretvara normalne ljude u Super Kopete Razvijače
Comment[ca]=Torna a la gent normal en super desenvolupadors del Kopete
Comment[ca@valencia]=Torna a la gent normal en super desenvolupadors del Kopete
Comment[cs]=Udělá z normálních lidí super vývojáře Kopete
Comment[da]=Gør almindelige mennesker til suveræne Kopete-udviklere
Comment[de]=Macht Normalsterbliche zu Super-Kopete-Entwicklern ;-)
Comment[el]=Μετατρέπει τους απλούς ανθρώπους σε υπερ-προγραμματιστές του Kopete
Comment[en_GB]=Turns normal people into Super Kopete Developer
Comment[eo]=Forŝanĝas la vulgarulojn al la Super Kopete Programisto
Comment[es]=Convierte a gente normal en súper desarrolladores de Kopete
Comment[et]=Muudab tavalised inimesed Kopete superarendajateks
Comment[eu]=Pertsona arruntak Kopete-ko supergaratzaile bihurtzen ditu
Comment[fi]=Tekee taviksesta Kopete-huippukehittäjiä
Comment[fr]=Convertit les personnes normales en super développeurs de Kopete
Comment[ga]=Claochlaíonn sé cosmhuintir go Sár-Fhorbróirí Kopete
Comment[gl]=Converte a xente normal en Superdesenvolventes de Kopete
Comment[hi]=सामान्य जनता को सुपर केऑप्टी डेवलपर में परिवर्तित कर देता है
Comment[hne]=सामान्य जनता ल सुपर केओप्टी डेवलपर मं बदल देथे 
Comment[hr]=Pretvara uobičajene ljude u Super Kopete Developere
Comment[hu]=Oktatómodul azoknak, akik Kopete-fejlesztők szeretnének lenni
Comment[ia]=Il transforma gente normal in Super Developpatores de Kopete
Comment[it]=Trasforma le persone normali in Super Sviluppatori di Kopete
Comment[ja]=普通の人を Kopete のスーパー開発者に変えます
Comment[kk]=Қарапайым адамды супер Kopete құрастырушы қылу
Comment[km]=ប្រែ​ក្លាយ​មនុស្ស​ធម្មតា​ឲ្យ​ទៅ​ជា​កំពូល​អ្នក​អភិវឌ្ឍន៍ Kopete
Comment[ko]=일반적인 사람들에게 Kopete 개발을 소개합니다
Comment[lt]=Normalius žmones paverčia Kopete super programuotojais
Comment[lv]=Pārvērš parastus cilvēkus par Kopete Superizstrādātājiem
Comment[ml]=സാധാരണ ജനങ്ങളെ കോപീറ്റ് വികസനത്തില്‍ അമാനുഷരാക്കുന്നു
Comment[nb]=Gjør vanlige folk til super Kopete-utviklere
Comment[nds]=Maakt ut normaal Lüüd basig Kopete-Utwicklers
Comment[ne]=सामान्य मानिसलाई सपर कोपेट विकासकर्तामा फर्काउँदछ
Comment[nl]=Maakt van normale personen super Kopete-ontwikkelaars
Comment[nn]=Gjer vanlege folk til supre Kopete-utviklarar
Comment[pl]=Zamienia zwykłych ludzi w super-programistów Kopete
Comment[pt]=Torna as pessoas normais em Super-Programadores do Kopete
Comment[pt_BR]=Transforma pessoas normais em super desenvolvedores do Kopete
Comment[ro]=Transformă oamenii simnpli în Superdezvoltatori Kopete
Comment[ru]=Превращает нормальных людей в опытных разработчиков Kopete
Comment[si]=සාමාන්‍ය පුද්ගලයන් සුපිරි Kopete සංවර්ධකයෙක් බවට පත් කරයි
Comment[sk]=Spraví z normálnych ľudí super vývojárov Kopete
Comment[sl]=Spremeni navadne ljudi v super razvijalce za Kopete
Comment[sr]=Претвара обичног човека у суперпрограмера Копетеа
Comment[sr@ijekavian]=Претвара обичног човјека у суперпрограмера Копетеа
Comment[sr@ijekavianlatin]=Pretvara običnog čovjeka u superprogramera Kopetea
Comment[sr@latin]=Pretvara običnog čoveka u superprogramera Kopetea
Comment[sv]=Förvandlar vanliga människor till superutvecklare av Kopete
Comment[tr]=Normal insanları Süper Kopete Geliştiricisi haline getirir
Comment[uk]=Перетворює звичайних людей на супер-розробників Kopete
Comment[vi]=Giúp người thường trở thành Siêu Nhà Phát triển Kopete
Comment[x-test]=xxTurns normal people into Super Kopete Developerxx
Comment[zh_CN]=将普通人训练成杰出的 Kopete 开发者
Comment[zh_TW]=將一般人變成超級 Kopete 開發者
X-KDE-Library=kcm_kopete_tutorialplugin
X-KDE-FactoryName=kcm_kopete_tutorialplugin
X-KDE-ParentApp=kopete_tutorialplugin
X-KDE-ParentComponents=kopete_tutorialplugin

