[Desktop Entry]
Icon=tutorial_plugin
Type=Service
X-KDE-ServiceTypes=KCModule
Name=Tutorial
Comment=Turns normal people into Super Kopete Developer
X-KDE-Library=kcm_kopete_tutorialplugin
X-KDE-FactoryName=kcm_kopete_tutorialplugin
X-KDE-ParentApp=kopete_tutorialplugin
X-KDE-ParentComponents=kopete_tutorialplugin

