[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000792
Icon=testbed_protocol
ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_testbed
X-Kopete-Messaging-Protocol=messaging/testbed
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=will@stevello.free-online.co.uk
X-KDE-PluginInfo-Name=kopete_testbed
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Testbed
Name[et]=Testija
Name[hu]=Tesztelési
Name[nl]=Testomgeving
Name[pt]=Testes
Name[sv]=Testomgivning
Name[xx]=xxTestbedxx
Comment=Kopete test protocol
Comment[be]=Тэставы пратакол Kopete
Comment[ca]=Protocol per a proves en Kopete
Comment[da]=Kopete test-protokol
Comment[de]=Kopete Testprotokoll
Comment[es]=Prueba de protocolo de Kopete
Comment[et]=Kopete testprotokoll
Comment[hu]=Kopete tesztprotokoll
Comment[it]=Protocollo di test di Kopete
Comment[nl]=Kopete testprotocol
Comment[pt_BR]=Protocolo de Teste do Kopete
Comment[ru]=Тестовый протокол Kopete
Comment[sr]=Kopete-ов протокол за тестирање
Comment[sv]=Testprotokoll för Kopete
Comment[wa]=Protocole di saye po Kopete
Comment[xx]=xxKopete test protocolxx
