[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=testbed_protocol
X-KDE-ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_testbed
X-Kopete-Messaging-Protocol=messaging/testbed
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=will@stevello.free-online.co.uk
X-KDE-PluginInfo-Name=kopete_testbed
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Testbed
Name[ar]=مكان اختبار
Name[ast]=Testbed
Name[bg]=Проба
Name[bn]=পরীক্ষাস্থল
Name[bs]=Testbed
Name[ca]=Testbed
Name[ca@valencia]=Testbed
Name[cs]=Testbed
Name[cy]=Mainc Arbrofi
Name[da]=Testbed
Name[de]=Testbett
Name[el]=Testbed
Name[en_GB]=Testbed
Name[eo]=Testbed
Name[es]=Testbed
Name[et]=Testija
Name[eu]=Testbed
Name[fi]=Testipenkki
Name[fr]=Testbed
Name[ga]=Testbed
Name[gl]=Testbed
Name[he]=Testbed
Name[hi]=टेस्टबेड
Name[hne]=टेस्टबेड
Name[hr]=Probno okruženje
Name[hu]=Tesztelési
Name[ia]=Testbed (banco de prova)
Name[is]=Prufuhorn
Name[it]=Prova
Name[ja]=Testbed
Name[kk]=Testbed
Name[km]=គ្រែ​ពិសោធន៍
Name[ko]=테스트 공간
Name[lt]=Tikrinimas
Name[lv]=Testbed
Name[mk]=Testbed
Name[ml]=പരിശോധനാമെത്ത
Name[nb]=Testbenk
Name[nds]=Testbed
Name[ne]=टेस्टबेड
Name[nl]=Testomgeving
Name[nn]=Testbed
Name[pa]=ਟੈਸਟਬੈੱਡ
Name[pl]=Testowy
Name[pt]=Testes
Name[pt_BR]=Testbed
Name[ro]=Testbed
Name[ru]=Testbed
Name[se]=Testbed
Name[si]=පිරික්සුම් බිම
Name[sk]=Testbed
Name[sl]=Testbed
Name[sq]=Testbed
Name[sr]=Пробни сто
Name[sr@ijekavian]=Пробни сто
Name[sr@ijekavianlatin]=Probni sto
Name[sr@latin]=Probni sto
Name[sv]=Testomgivning
Name[ta]=Testbed
Name[tg]=Testbed
Name[tr]=Deneme ortamı
Name[uk]=Тест
Name[vi]=Testbed
Name[x-test]=xxTestbedxx
Name[zh_CN]=测试床
Name[zh_HK]=Testbed
Name[zh_TW]=Testbed
Comment=Kopete test protocol
Comment[ar]=Kopete اختبار ميفاق
Comment[ast]=Preba de protocolu de Kopete
Comment[bg]=Пробен протокол на Kopete
Comment[bn]=কপেট পরীক্ষা প্রোটোকল
Comment[bs]=Kopete probni protocol
Comment[ca]=Protocol per a proves en Kopete
Comment[ca@valencia]=Protocol per a proves en Kopete
Comment[cs]=Kopete test protocol
Comment[cy]=Protocol arbrofi Kopete
Comment[da]=Kopete test-protokol
Comment[de]=Kopete-Testprotokoll
Comment[el]=Πρωτόκολλο ελέγχου του Kopete
Comment[en_GB]=Kopete test protocol
Comment[eo]=Kopete testa protokolo
Comment[es]=Prueba de protocolo de Kopete
Comment[et]=Kopete testprotokoll
Comment[eu]=Kopete-ren probako protokoloa
Comment[fa]=Kopete قرارداد را آزمایش می‌کند
Comment[fi]=Kopeten testiyhteyskäytäntö
Comment[fr]=Protocole de test de Kopete
Comment[ga]=Prótacal tástála Kopete
Comment[gl]=Protocolo de probas de Kopete
Comment[he]=פרוטוקול הניסוי של Kopete
Comment[hi]=के-ऑप्टी टेस्ट प्रोटोकॉल
Comment[hne]=के-ओप्टी टेस्ट प्रोटोकाल
Comment[hr]=Kopete protokol za testiranje
Comment[hu]=Kopete tesztprotokoll
Comment[ia]=Protocollo de essayar de Kopete
Comment[is]=Kopete prufuíhlutur
Comment[it]=Protocollo di prova di Kopete
Comment[ja]=Kopete テストプロトコル
Comment[kk]=Kopete сынау протоколы
Comment[km]=ពិធីការ​សាកល្បង Kopete
Comment[ko]=Kopete 테스트 프로토콜
Comment[lt]=Kopete tikrinimo protokolas
Comment[lv]=Kopete testēšanas protokols
Comment[mk]=Протокол за тестирање на Kopete
Comment[ml]=കോപീറ്റ് പരിശോധനാ നിയമാവലി
Comment[nb]=Kopete protokoll for tester
Comment[nds]=Kopete-Pröövprotokoll
Comment[ne]=कोपेट परीक्षण प्रोटोकल
Comment[nl]=Kopete testprotocol
Comment[nn]=Kopete-protokoll for testing
Comment[pa]=ਕੋਪੀਟੀ ਟੈਸਟ ਪਰੋਟੋਕਾਲ
Comment[pl]=Protokół testowy Kopete
Comment[pt]=Protocolo de teste do Kopete
Comment[pt_BR]=Protocolo de teste do Kopete
Comment[ro]=Protocol Kopete pentru testare
Comment[ru]=Тестовый протокол Kopete
Comment[se]=Kopete geahččalanprotokolla
Comment[si]=Kopete පිරික්සුම් නීතිමාලාව
Comment[sk]=Testovací protokol Kopete
Comment[sl]=Preizkusni protokol za Kopete
Comment[sr]=Копетеов пробни протокол
Comment[sr@ijekavian]=Копетеов пробни протокол
Comment[sr@ijekavianlatin]=Kopeteov probni protokol
Comment[sr@latin]=Kopeteov probni protokol
Comment[sv]=Testprotokoll för Kopete
Comment[ta]=Kopete விதிமுறை சோதனை
Comment[tg]=Қарордоди санҷишии Kopete 
Comment[th]=โพรโทคอลทดสอบของ Kopete
Comment[tr]=Kopete deneme protokolü
Comment[uk]=Тестовий протокол Kopete
Comment[vi]=Giao thức thử Kopete
Comment[wa]=Protocole di saye po Kopete
Comment[x-test]=xxKopete test protocolxx
Comment[zh_CN]=Kopete 测试协议
Comment[zh_HK]=Kopete 測試通訊協定
Comment[zh_TW]=Kopete 測試協定
