[Desktop Entry]
Encoding=UTF-8
Icon=tutorial_plugin
Type=Service
ServiceTypes=KCModule
Name=Tutorial
Name[de]=Anleitung
Name[sv]=Handledning
Comment=Turns normal people into Super Kopete Developer
Comment[de]=Macht Normalsterbliche zu Super-Kopete-Entwicklern ;-)
Comment[pt]=Torna as pessoas normais em Super-Programadores do Kopete
Comment[pt_BR]=Torna as pessoas normais em Super-Programadores do Kopete
Comment[sv]=Förvandlar vanliga människor till superutvecklare av Kopete
X-KDE-Library=kopete_tutorialplugin
X-KDE-FactoryName=kcm_kopete_tutorialplugin
X-KDE-ParentApp=kopete_tutorialplugin
X-KDE-ParentComponents=kopete_tutorialplugin

