[Desktop Entry]
Icon=kaboodle
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_nowlistening
X-KDE-FactoryName=kcm_kopete_nowlistening
X-KDE-ParentApp=kopete_nowlistening
X-KDE-ParentComponents=kopete_nowlistening

Name=Now Listening
Name[ar]=الاستماع الآن
Name[ast]=Escuchando
Name[bg]=В момента се слуша
Name[bn]=এখন শুনছেন
Name[bs]=Trenutno slušam
Name[ca]=Ara s'escolta
Name[ca@valencia]=Ara s'escolta
Name[cs]=Nyní poslouchám
Name[cy]=Rwan yn Gwrando ar
Name[da]=Lytter nu
Name[de]=Im Hintergrund läuft
Name[el]=Τώρα ακούω
Name[en_GB]=Now Listening
Name[eo]=Nun aŭskultanta
Name[es]=Escuchando
Name[et]=Praegu kuulan
Name[eu]=Orain entzuten
Name[fa]=الان گوش می‌کند
Name[fi]=Nyt soi
Name[fr]=En écoute
Name[ga]=Ag Éisteacht Anois
Name[gl]=Está a escoitar
Name[he]=מאזין עכשיו
Name[hi]=अब सुन रहे...
Name[hne]=अब सुन रहे...
Name[hr]=Sada slušam
Name[hu]=Most ezt hallgatom
Name[ia]=Ora ascoltante
Name[is]=Hlustandi á
Name[it]=Cosa ascolto
Name[ja]=今聴いているもの
Name[kk]=Тыңдап тұрмын
Name[km]=កំពុង​ស្ដាប់
Name[ko]=지금 재생 중
Name[lt]=Dabar klausau
Name[lv]=Šobrīd atskaņo
Name[mai]=आबि सुनि रहल अछि
Name[mk]=Сега слуша
Name[ml]=ഇപ്പോള്‍ ശ്രദ്ധിക്കുന്നു
Name[nb]=Hører nå på
Name[nds]=In'n Achtergrund löppt
Name[ne]=अहिले सुनिरहेको छ
Name[nl]=Luistert nu naar
Name[nn]=Høyrer på
Name[pa]=ਹੁਣ ਸੁਣ ਰਿਹਾ ਹਾਂ
Name[pl]=Teraz słucham
Name[pt]=Agora a Ouvir
Name[pt_BR]=Ouvindo
Name[ro]=Ascult acum
Name[ru]=Сейчас звучит
Name[se]=Dál guldaleamen
Name[si]=සවන් නොදේ
Name[sk]=Teraz počúvam
Name[sl]=Zdaj poslušam
Name[sq]=Në Dëgjim
Name[sr]=Сада слушам
Name[sr@ijekavian]=Сада слушам
Name[sr@ijekavianlatin]=Sada slušam
Name[sr@latin]=Sada slušam
Name[sv]=Lyssnar nu
Name[ta]=தற்போது கேட்டுக்கொண்டுள்ளார்
Name[tg]=Ҳоло гӯшкунӣ рафта истодааст
Name[th]=ตอนนี้กำลังฟัง
Name[tr]=Şimdi Dinleniyor
Name[ug]=ھازىر ئاڭلاۋاتىدۇ
Name[uk]=Зараз слухаю
Name[vi]=Đang nghe
Name[x-test]=xxNow Listeningxx
Name[zh_CN]=现在收听
Name[zh_HK]=現正聆聽
Name[zh_TW]=正在收聽
Comment=Tells your buddies what you're listening to
Comment[ar]=أطلع رفاقك على ما تستمعه الآن
Comment[ast]=Cuenta-y a los tos contautos lo que tas escuchando
Comment[bg]=Приставка за информиране на приятелите какво слушате
Comment[bn]=আপনার বন্ধুদের বলে আপনি কি শুনছেন
Comment[bs]=Govori vašoj raji šta trenutno slušate
Comment[ca]=Li diu als vostres companys què esteu escoltant
Comment[ca@valencia]=Li diu als vostres companys què esteu escoltant
Comment[cs]=Sdělí vašim kamarádům, co právě posloucháte
Comment[cy]=Dweud wrth eich cyfeillion be y gwrandwch arnodd
Comment[da]=Fortæller dine venner hvad du lytter til
Comment[de]=Teilt Ihren Freunden mit, welche Musik Sie gerade hören
Comment[el]=Ενημερώνει τους φίλους σας σχετικά με το τι ακούτε
Comment[en_GB]=Tells your buddies what you're listening to
Comment[eo]=Diras al viajn amikojn tion kion vi estas aŭskultanta
Comment[es]=Le cuenta a sus contactos lo que está escuchando
Comment[et]=Semudele teatamine, mida parajasti kuulad
Comment[eu]=Zure lagunei zer entzuten ari zaren esaten die
Comment[fa]=به دوستان شما می‌گوید که به چه چیز گوش می‌دهید
Comment[fi]=Kertoo kavereillesi, mitä kuuntelet tällä hetkellä
Comment[fr]=Indique à vos contacts ce que vous êtes en train d'écouter
Comment[ga]=Inis do do chuid cairde cén ceol a bhfuil tú ag éisteacht leis
Comment[gl]=Dille aos seus amigos que está a escoitar
Comment[he]=מספר לחבריך לאיזו מוסיקה אתה מאזין כרגע
Comment[hi]=आपके बड्डीस को बताता है कि आप क्या सुन रहे हैं
Comment[hne]=आप मन के बड्डीस ल बताथे  कि आप मन के सुन रहे हे
Comment[hr]=Govori vašim prijateljima što trenutno slušate
Comment[hu]=A partnerek értesítése arról, hogy Ön milyen zenét hallgat éppen
Comment[ia]=Il dice a tu amicos cosa tu es ascoltante
Comment[is]=Segir vinum þínum á hvað þú ert að hlusta
Comment[it]=Dice ai tuoi amici cosa stai ascoltando
Comment[ja]=何を聴いているかを仲間に伝える
Comment[kk]=Достарыңызға тыңдап тұрғаныңыз туралы хабарлайды
Comment[km]=ប្រាប់​សម្លាញ់​អ្នក​ថា អ្នក​កំពុង​ស្ដាប់​អ្វី
Comment[ko]=친구들에게 듣고 있는 음악을 소개합니다
Comment[lt]=Praneškite bičiuliams ką dabar klausotės
Comment[lv]=Paziņo jūsu draugiem kādu mūziku jūs klausāties
Comment[mk]=Им кажува на вашите пријатели што слушате
Comment[ml]=നിങ്ങള്‍ എന്താണ് ശ്രദ്ധിക്കുന്നത് എന്ന് നിങ്ങളുടെ ചങ്ങാതിമാരോട് പറയുന്നു
Comment[nb]=Forteller venner hva du hører på
Comment[nds]=Vertellt Dien Frünnen de Musik, de Du jüst höörst
Comment[ne]=तपाईँले सुनिरहनुभएको तपाईँको साथीलाई भन्दछ
Comment[nl]=Vertelt je vrienden naar welke muziek je luistert
Comment[nn]=Fortel venner kva du høyrer på
Comment[pa]=ਆਪਣੇ ਦੋਸਤਾਂ ਨੂੰ ਦੱਸੋ ਕਿ ਤੁਸੀਂ ਕੀ ਸੁਣ ਰਹੇ ਹੋ
Comment[pl]=Mówi twoim znajomym o tym, czego obecnie słuchasz
Comment[pt]=Indica aos seus amigos o que você está a ouvir
Comment[pt_BR]=Informa aos seus colegas o que você está ouvindo
Comment[ro]=Le spune amicilor ce ascultați
Comment[ru]=Сообщает вашим собеседникам что вы сейчас слушаете
Comment[se]=Muitala olbmáide maid dál leat guldaleamen
Comment[si]=ඔබ සවන්දෙන්නේ කුමකට දැයි ඔබේ මිතුරන්ට දන්වයි
Comment[sk]=Oznámi vašim priateľom, čo práve počúvate
Comment[sl]=Vašim prijateljem sporoči, kaj poslušate
Comment[sr]=Говори вашим другарима шта тренутно слушате
Comment[sr@ijekavian]=Говори вашим другарима шта тренутно слушате
Comment[sr@ijekavianlatin]=Govori vašim drugarima šta trenutno slušate
Comment[sr@latin]=Govori vašim drugarima šta trenutno slušate
Comment[sv]=Talar om för kompisar vad du lyssnar på
Comment[ta]=நீங்கள் கேட்டுக் கொண்டிருப்பதை உங்கள் எதிராலிக்கு சொல்லும்
Comment[tg]=Ба дӯстонатон чи гӯш карда истодаатонро мегӯяд
Comment[tr]=O an dinliyor olduğunuz şarkıyı arkadaş listenizle paylaşın
Comment[uk]=Сповіщає ваших друзів про, те що ви зараз слухаєте
Comment[vi]=Cho người khác biết bạn đang nghe gì
Comment[x-test]=xxTells your buddies what you're listening toxx
Comment[zh_CN]=告诉您的好友您正在收听的内容
Comment[zh_HK]=告訴您的伙伴您正在聆聽甚麼
Comment[zh_TW]=告訴您的好友您正在收聽什麼

