[Desktop Entry]
Icon=kaboodle
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_nowlistening
X-KDE-FactoryName=NowListeningConfigFactory
X-KDE-ParentApp=kopete_nowlistening
X-KDE-ParentComponents=kopete_nowlistening

Name=Now Listening
Name[ar]=الاستماع جار
Name[be]=Слухаю зараз
Name[bg]=Инфо за песен
Name[bn]=এখন শুনছেন
Name[bs]=Sada slušam
Name[ca]=Ara s'escolta
Name[cs]=Nyní poslouchám
Name[cy]=Rwan yn Gwrando ar
Name[da]=Lytter nu
Name[de]=Im Hintergrund läuft
Name[el]=Τώρα ακούω
Name[eo]=Nun aŭskultanta
Name[es]=Escuchando
Name[et]=Praegu kuulan
Name[eu]=Orain entzuten
Name[fa]=الان گوش می‌کند
Name[fi]=Nyt soi
Name[fr]=En écoute
Name[ga]=Ag Éisteacht Anois
Name[gl]=Escoitando
Name[he]=מאזין עכשיו
Name[hi]=नाऊ लिसनिंग
Name[hr]=Sada slušam
Name[hu]=Most figyelek
Name[is]=Hlustandi á
Name[it]=Adesso sto ascoltando
Name[ja]=今聴いているもの
Name[ka]=ახლა ისმინება
Name[kk]=Тыңдауда
Name[km]=កំពុង​ស្ដាប់
Name[lt]=Dabar klausau
Name[mk]=Сега слуша
Name[nb]=Hører nå
Name[nds]=In'n Achtergrund löppt
Name[ne]=अहिले सुनिरहेको छ
Name[nl]=Luistert naar
Name[nn]=Høyrer på
Name[pa]=ਹੁਣ ਸੁਣਦਾ
Name[pl]=Czego słucham
Name[pt]=Agora a Ouvir
Name[pt_BR]=Ouvindo agora
Name[ru]=Сейчас звучит
Name[se]=Dál guldaleamen
Name[sk]=Teraz počúvam
Name[sl]=Zdaj poslušam
Name[sr]=Сада слушам
Name[sr@Latn]=Sada slušam
Name[sv]=Lyssnar nu
Name[ta]=தற்போது கேட்டுக்கொண்டுள்ளார்
Name[tg]=Ҳоло гӯшкунӣ рафта истодааст
Name[tr]=Şimdi Dinleniyor
Name[uk]=Зараз слухаю
Name[zh_CN]=现在收听
Name[zh_HK]=現正聆聽
Name[zh_TW]=正在收聽
Comment=Tells your buddies what you're listening to
Comment[ar]=تخبر أصدقائك بما تستمع إليه
Comment[be]=Паведамляе сябрам, што вы зараз слухаеце
Comment[bg]=Приставка за информиране на приятелите какво слушате
Comment[bn]=আপনার বন্ধুদের বলে আপনি কি শুনছেন
Comment[bs]=Obavještava vaše prijatelje o muzici koju slušate
Comment[ca]=Li diu als vostres companys què esteu escoltant
Comment[cs]=Sdělí vašim kamarádům, co právě posloucháte
Comment[cy]=Dweud wrth eich cyfeillion be y gwrandwch arnodd
Comment[da]=Fortæller dine venner hvad du lytter til
Comment[de]=Teilt Ihren Freunden mit, welche Musik Sie gerade hören
Comment[el]=Ενημερώνει τους φίλους σας σχετικά με το τι ακούτε
Comment[es]=Le cuenta a sus contactos lo que está escuchando
Comment[et]=Semudele teatamine, mida parajasti kuulad
Comment[eu]=Zure lagunei zer entzuten ari zaren esaten die
Comment[fa]=به دوستان شما می‌گوید که به چه چیز گوش می‌دهید
Comment[fi]=Kertoo kavereillesi mitä kuuntelet tällä hetkellä
Comment[fr]=Indique à vos contacts ce que vous êtes en train d'écouter
Comment[gl]=Dílle ós teus amigos que estás a escoitar
Comment[he]=מספר לחבריך לאיזו מוסיקה אתה מאזין כרגע
Comment[hi]=आपके बड्डीस को बताता है कि आप क्या सुन रहे हैं
Comment[hr]=Govori vašim prijateljima što trenutno slušate
Comment[hu]=A partnerek értesítése arról, hogy Ön mit hallgat
Comment[is]=Segir vinum þínum á hvað þú ert að hlusta
Comment[it]=Di' ai tuoi amici cosa stai ascoltando
Comment[ja]=何を聴いているかを仲間に伝える
Comment[ka]=ატყობინებს თქვენს მეგობრებს, თუ რას უსმენთ
Comment[kk]=Достарыңызға тыңдап тұрғаныңыз туралы хабарлайды
Comment[km]=ប្រាប់​សម្លាញ់​អ្នក​ថា អ្នក​កំពុង​ស្ដាប់​អ្វី
Comment[lt]=Praneškite bičiuliams ką dabar klausotės
Comment[mk]=Им кажува на вашите пријатели што слушате
Comment[nb]=Forteller venner hva du hører på
Comment[nds]=Vertellt Dien Frünnen, welke Musik Du jüst höörst
Comment[ne]=तपाईँले सुनिरहनुभएको तपाईँको साथीलाई भन्दछ
Comment[nl]=Vertelt je vrienden naar welke muziek je luistert
Comment[nn]=Fortel venner kva du høyrer på
Comment[pl]=Przekazuje znajomym, czego obecnie słuchasz
Comment[pt]=Indica aos seus amigos o que você está a ouvir
Comment[pt_BR]=Diz a seus colegas o que você está escutando
Comment[ru]=Сообщает вашим собеседникам что вы сейчас слушаете
Comment[se]=Muitala olbmáide maid dál leat guldaleamen
Comment[sk]=Oznámi vašim priateľom, koho práve počúvate
Comment[sl]=Sporočí vašim prijateljem, kaj poslušate
Comment[sr]=Говори вашим другарима шта тренутно слушате
Comment[sr@Latn]=Govori vašim drugarima šta trenutno slušate
Comment[sv]=Talar om för kompisar vad du lyssnar på
Comment[ta]=நீங்கள் கேட்டுக் கொண்டிருப்பதை உங்கள் எதிராலிக்கு சொல்லும்
Comment[tg]=Ба дӯстонатон чи гӯш карда истодаатонро мегӯяд
Comment[tr]=Dinlediğiniz arkadaşların listesini söyler
Comment[uk]=Сповіщає ваших друзів про, те що ви зараз слухаєте
Comment[zh_CN]=告诉您的好友您正在收听的内容
Comment[zh_HK]=告訴您的伙伴您正在聆聽甚麼
Comment[zh_TW]=告訴您的好友您正在收聽什麼

