[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000793
Icon=kaboodle
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_nowlistening
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=will@stevello.free-online.co.uk
X-KDE-PluginInfo-Name=kopete_nowlistening
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Now Listening
Name[be]=Слухаю зараз
Name[ca]=Ara s'escolta
Name[da]=Lytter nu
Name[de]=Im Hintergrund läuft
Name[es]=Escuchando
Name[et]=Praegu kuulan
Name[fr]=En écoute
Name[hu]=Most figyelek
Name[it]=Adesso sto ascoltando
Name[nl]=Luistert naar
Name[pt]=Agora a Ouvir
Name[pt_BR]=Ouvindo agora
Name[sr]=Сада слушам
Name[sv]=Lyssnar nu
Name[xx]=xxNow Listeningxx
Comment=Tells your buddies what you're listening to
Comment[ca]=Li diu als vostres companys què esteu escoltant
Comment[da]=Fortæller dine venner hvad du lytter til
Comment[de]=Teilt Ihren Freunden mit, welche Musik Sie gerade hören
Comment[es]=Le cuenta a sus contactos lo que está escuchando
Comment[et]=Semudele teatamine, mida parajasti kuulad
Comment[fr]=Indique à vos contacts ce que vous êtes en train d'écouter
Comment[hu]=A partnerek értesítése arról, hogy Ön mit hallgat
Comment[it]=Di' ai tuoi amici stai ascoltando
Comment[nl]=Vertelt je vrienden naar welke muziek je luistert
Comment[pt]=Indica aos seus amigos o que você está a ouvir
Comment[pt_BR]=Diz a seus colegas o que você está escutando
Comment[sr]=Говори вашим другарима шта тренутно слушате
Comment[sv]=Talar om för kompisar vad du lyssnar på
Comment[xx]=xxTells your buddies what you're listening toxx

