[Desktop Entry]
Icon=kaboodle
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_nowlistening
X-KDE-FactoryName=kcm_kopete_nowlistening
X-KDE-ParentApp=kopete_nowlistening
X-KDE-ParentComponents=kopete_nowlistening

Name=Now Listening
Comment=Tells your buddies what you're listening to

