[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=kaboodle
Name=Now Listening
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_nowlistening
X-Kopete-Plugin-Id=nowlistening
X-Kopete-Author=Will Stephenson
X-Kopete-Site=http://kopete.kde.org
X-Kopete-Email=will@stevello.free-online.co.uk
X-Kopete-License=GPL
Comment=Tells your buddies what you're listening to

