[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=nowlistening_plugin
Name=Now Listening
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_nowlistening
X-Kopete-Author=Will Stephenson
X-Kopete-Site=http://kopete.kde.org
X-Kopete-Email=will@stevello.free-online.co.uk
X-Kopete-License=GPL
Name[es]=Escuchando
Name[fr]=En écoute
Name[pt]=Agora a Ouvir
Name[pt_BR]=Ouvindo agora
Name[sv]=Lyssnar nu
Name[zh_CN]=正在听
Comment=Tells your buddies what you're listening to
Comment[es]=Dice a sus compinches lo que usted está escuchando 
Comment[fr]=Indique à vos contacts ce que vous écoutez en ce moment
Comment[pt]=Diz aos teus amigos o que estás a ouvir
Comment[pt_BR]=Diz o que está ouvindo
Comment[sv]=Talar om för kompisar vad du lyssnar på
Comment[zh_CN]=告诉您的好友您在听什么

