[Desktop Entry]
Icon=view-choose
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_chatwindowconfig
X-KDE-FactoryName=kcm_kopete_chatwindowconfig
X-KDE-ParentApp=kopete
X-KDE-ParentComponents=kopete

Name=Chat Window
Name[ar]=نافذة محادثة Kopete
Name[ast]=Ventana de charra
Name[bg]=Прозорец за разговори
Name[bs]=Prozor za ćaskanje
Name[ca]=Finestra de xat
Name[ca@valencia]=Finestra de xat
Name[cs]=Okno rozhovoru
Name[da]=Chatvindue
Name[de]=Chat-Fenster
Name[el]=Παράθυρο συνομιλίας
Name[en_GB]=Chat Window
Name[eo]=Babilada fenestro
Name[es]=Ventana de charla
Name[et]=Vestlusaken
Name[eu]=Berriketa-leihoa
Name[fi]=Keskusteluikkuna
Name[fr]=Fenêtre de discussion
Name[ga]=Fuinneog Chomhrá
Name[gl]=Fiestra de conversas
Name[hne]=गपसप-विंडो
Name[hr]=Prozor za razgovor
Name[hu]=Csevegési ablak
Name[ia]=Fenestra de conversation in directo
Name[it]=Finestra di chat
Name[ja]=チャットウィンドウ
Name[kk]=Әңгіме-дүкен терезесі
Name[km]=បង្អួច​ជជែក​កំសាន្ត
Name[ko]=대화 창
Name[lt]=Pokalbių langas
Name[lv]=Tērzēšanas logs
Name[mai]=चैट विंडो
Name[ml]=കുശല ജാലകം
Name[nb]=Pratevindu
Name[nds]=Klöönfinster
Name[nl]=Chatvenster
Name[nn]=Pratevindauge
Name[pa]=ਗੱਲਬਾਤ ਵਿੰਡੋ
Name[pl]=Okno rozmowy
Name[pt]=Janela de Conversação
Name[pt_BR]=Janela de bate-papo
Name[ro]=Fereastră de discuții
Name[ru]=Окно разговора
Name[si]=සංවාද කවුළුව
Name[sk]=Okno rozhovoru
Name[sl]=Okno za klepet
Name[sq]=Dritarja e Bisedës
Name[sr]=Прозор за ћаскање
Name[sr@ijekavian]=Прозор за ћаскање
Name[sr@ijekavianlatin]=Prozor za ćaskanje
Name[sr@latin]=Prozor za ćaskanje
Name[sv]=Chattfönster
Name[th]=หน้าต่างพูดคุย
Name[tr]=Sohbet Penceresi
Name[ug]=پاراڭ كۆزنىكى
Name[uk]=Вікно балачки
Name[wa]=Purnea di berdelaedje
Name[x-test]=xxChat Windowxx
Name[zh_CN]=聊天窗口
Name[zh_TW]=聊天視窗
Comment=Configure Chat Window Look and Feel
Comment[ar]=اضبط  مظهر و ملمس نافذة الدردشة
Comment[ast]=Configura l'aspeutu de la ventana de charra
Comment[bg]=Настройки на изгледа на прозореца за разговори
Comment[bs]=Konfiguriraj izgled prozora za ćaskanje
Comment[ca]=Configura l'aparença i comportament de la finestra de xat
Comment[ca@valencia]=Configura l'aparença i comportament de la finestra de xat
Comment[cs]=Nastavení vzhledu a chování okna rozhovoru
Comment[da]=Indstil chatvinduets look & feel
Comment[de]=Erscheinungsbild des Chat-Fensters einrichten
Comment[el]=Ρύθμιση όψης και αίσθησης του παραθύρου συνομιλίας
Comment[en_GB]=Configure Chat Window Look and Feel
Comment[eo]=Agordi la aspekton de la babilada fenestro
Comment[es]=Configure el aspecto de la ventana de charla
Comment[et]=Vestlusakna väljanägemise seadistamine
Comment[eu]=Konfiguratu berriketa-leihoaren itxura eta izaera
Comment[fi]=Muokkaa keskusteluikkunan ulkonäköä ja käyttöä
Comment[fr]=Configurer l'apparence de la fenêtre de discussion
Comment[ga]=Cumraigh Cuma na Fuinneoige Chomhrá
Comment[gl]=Configuración do aspecto e o comportamento da fiestra de conversas
Comment[hne]=गपसप विंडो के रूप आकार ल कान्फिगर करव
Comment[hr]=Podešavanje izgleda i načina rada prozora za razgovor
Comment[hu]=Itt lehet megváltoztatni a csevegőablak grafikai megjelenését
Comment[ia]=Configura aspecto e tacto de fenestra de conversation in directo
Comment[it]=Configura l'aspetto della finestra di chat
Comment[ja]=チャットウィンドウの外観を設定
Comment[kk]=Әңгіме-дүкен терезесінің сырқы көрінісін баптау
Comment[km]=កំណត់​រចនា​សម្ព័ន្ធ​រូបរាង និង​មុខងារ​បង្អួច​ជជែក​កំសាន្ត
Comment[ko]=대화 창의 모양을 변경합니다
Comment[lt]=Konfigūruoti pokalbių lango išvaizdą
Comment[lv]=Konfigurēt tērzēšanas loga izskatu un izturēšanos
Comment[ml]=കുശല ജാലകത്തിന്റെ കെട്ടും മട്ടും ക്രമീകരിക്കുക
Comment[nb]=Sett opp pratevinduets utseende og oppførsel
Comment[nds]=Dat Utsehn vun't Klöönfinster topassen
Comment[nl]=Uiterlijk en gedrag van gespreksvenster instellen
Comment[nn]=Endra utsjånaden til pratevindauget
Comment[pa]=ਗੱਲਬਾਤ ਵਿੰਡੋ ਦਿੱਖ ਤੇ ਰਵੱਈਆ ਸੰਰਚਨਾ
Comment[pl]=Tutaj można zmienić wygląd i zachowanie okna rozmowy
Comment[pt]=Configurar a Aparência e Comportamento da Janela de Conversação
Comment[pt_BR]=Configura a aparência e comportamento da janela de bate-papo
Comment[ro]=Configurați aspectul și comportamentul ferestrei de discuții
Comment[ru]=Настройка внешнего вида окна разговора
Comment[si]=සංවාද කවුළුවේ පෙනුම හා හැඟීම සකසන්න
Comment[sk]=Nastavenie vzhľadu a správania okna rozhovoru
Comment[sl]=Nastavite izgled in občutek za okna za klepet
Comment[sr]=Подесите изглед прозора за ћаскање
Comment[sr@ijekavian]=Подесите изглед прозора за ћаскање
Comment[sr@ijekavianlatin]=Podesite izgled prozora za ćaskanje
Comment[sr@latin]=Podesite izgled prozora za ćaskanje
Comment[sv]=Anpassa chattfönstrets känsla och utseende
Comment[th]=ปรับแต่งลักษณะรูปลักษณ์ของหน้าต่างพูดคุย
Comment[tr]=Sohbet Penceresinin Görünümünü Yapılandır
Comment[ug]=سۆھبەت كۆزنەكنىڭ كۆرۈنۈشى ۋە سېزىمىنى سەپلەيدۇ
Comment[uk]=Налаштувати вигляд і поведінку вікна балачки
Comment[x-test]=xxConfigure Chat Window Look and Feelxx
Comment[zh_CN]=配置聊天窗口的观感
Comment[zh_TW]=設定聊天視窗的外觀與感覺



