[Desktop Entry]
Encoding=UTF-8
Icon=view-choose
Type=Service
ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_chatwindowconfig
X-KDE-FactoryName=kcm_kopete_chatwindowconfig
X-KDE-ParentApp=kopete
X-KDE-ParentComponents=kopete

Name=Chatwindow
Name[de]=Chat-Fenster
Name[el]=Παράθυρο συνομιλίας
Name[es]=Ventana de charla
Name[fa]=پنجرۀ گپ 
Name[ga]=Fuinneog Chomhrá
Name[ja]=チャットウィンドウ
Name[ko]=대화 창
Name[ne]=कुराकानी सञ्झ्याल
Name[nl]=Gespreksvenster
Name[pt]=Janela de Conversação
Name[pt_BR]=Janela de Conversação
Name[sv]=Chattfönster
Name[uk]=Вікно балачки
Name[vi]=Cửa sổ trò chuyện
Name[x-test]=xxChatwindowxx
Name[zh_TW]=聊天視窗
Comment=Configure Chat Window Look And Feel
Comment[bg]=Настройване изгледа на прозореца
Comment[de]=Erscheinungsbild des Chat-Fensters einrichten
Comment[el]=Ρύθμιση όψης και αίσθησης του παραθύρου συνομιλίας
Comment[es]=Configure el aspecto de la ventana de charla
Comment[ja]=チャットウィンドウの外観を設定
Comment[ko]=대화 창의 모양을 변경합니다
Comment[ne]=कुराकानी सञ्झ्याल मोहडा कन्फिगर गर्नुहोस् र महशुस गर्नुहोस्
Comment[nl]=Uiterlijk en gedrag van gespreksvenster instellen
Comment[pt]=Configurar a Aparência e Comportamento da Janela de Conversação
Comment[pt_BR]=Configurar a Aparência e Comportamento da Janela de Conversação
Comment[sv]=Anpassa chattfönstrets känsla och utseende
Comment[uk]=Налаштувати вигляд і поведінку вікна балачки
Comment[vi]=Cấu hình Giao diện và Cảm nhận của cửa sổ trò chuyện
Comment[x-test]=xxConfigure Chat Window Look And Feelxx
Comment[zh_TW]=設定聊天視窗的外觀與感覺



