[Desktop Entry]
Encoding=UTF-8
Icon=view-choose
Type=Service
ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_chatwindowconfig
X-KDE-FactoryName=kcm_kopete_chatwindowconfig
X-KDE-ParentApp=kopete
X-KDE-ParentComponents=kopete

Name=Chat Window
Name[ja]=チャットウィンドウ
Comment=Configure Chat Window Look and Feel
Comment[ja]=チャットウィンドウの外観を設定



