[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Connection Status
Name[es]=Estado de la conexión
Name[fr]=État de la connexion
Name[he]=מצב חיבור
Name[ja]=接続状態
Name[pt]=Estado da Ligação
Name[pt_BR]=Estado da Conexão
Name[ru]=Состояние соединения
Name[sv]=Anslutningsstatus
Name[xh]=imeko Yoxulumano
Name[zh_CN]=连接状态
Name[zu]=Izinga Lokuxhumano
Icon=connectionstatus_plugin
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_connectionstatus
X-Kopete-Plugin-Id=connectionstatus
X-Kopete-Author=Chris Howells
X-Kopete-Site=http://kopete.kde.org
X-Kopete-Email=howells@kde.org
X-Kopete-License=GPL
Comment=Automatically detects whether the internet connection is available or not
Comment[es]=Detecta automáticamente si hay una conexión a Internet disponible
Comment[fr]=Détecte automatiquement si la connexion internet est disponible ou non
Comment[he]=קובע אוטומטית אם החיבור לאינטרנט קיים או לא
Comment[ja]=インターネット接続が可能かどうか自動的に検出します
Comment[pt]=Detecta automaticamente se a ligação à Internet está disponível ou não
Comment[pt_BR]=Detecta automaticamente se a conexão internet está disponível ou não
Comment[ru]=Автоматически определять наличие связи с Интернетом
Comment[sv]=Detekterar automatiskt om Internetanslutningen är tillgänglig eller inte
Comment[zh_CN]=自动检测互联网连接是否可用
