[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Connection Status
Name[sv]=Anslutningsstatus
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_connectionstatus
X-Kopete-Plugin-Id=connectionstatus
X-Kopete-Author=Chris Howells
X-Kopete-Site=http://kopete.kde.org
X-Kopete-Email=howells@kde.org
X-Kopete-License=GPL
Comment=Connects/disconnects Kopete automatically depending on availability of Internet connection
