[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_connectionstatus
X-KDE-PluginInfo-Author=Chris Howells
X-KDE-PluginInfo-Email=howells@kde.org
X-KDE-PluginInfo-Name=kopete_connectionstatus
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Connection Status
Name[ar]=وضع الاتصال
Name[be]=Стан злучэння
Name[bg]=Състояние на връзката
Name[bn]=সংযোগ অবস্থা
Name[bs]=Status veze
Name[ca]=Estatus de la connexió
Name[cs]=Stav spojení
Name[cy]=Cyflwr Cysylltiad
Name[da]=Forbindelsesstatus
Name[de]=Verbindungsstatus
Name[el]=Κατάσταση σύνδεσης
Name[eo]=Konektostato
Name[es]=Estado de conexión
Name[et]=Ühenduse staatus
Name[eu]=Konexioaren egoera
Name[fa]=وضعیت اتصال
Name[fi]=Yhteyden tila
Name[fr]=État de la connexion
Name[ga]=Stádas Ceangail
Name[gl]=Estado da conexión1
Name[he]=מצב החיבור
Name[hi]=कनेक्शन स्थिति
Name[hr]=Status veze
Name[hu]=A kapcsolat állapota
Name[is]=Staða tengingar
Name[it]=Stato della connessione
Name[ja]=接続状況
Name[ka]=კავშირის სტატუსი
Name[kk]=Қосылымның күй-жайы
Name[km]=ស្ថានភាព​តការ​​ភ្ជាប់
Name[lt]=Ryšio būsena
Name[mk]=Статус на поврзувањето
Name[nb]=Tilstand for forbindelsen
Name[nds]=Verbinnen-Status
Name[ne]=जडान वस्तुस्थिति
Name[nl]=Verbindingsstatus
Name[nn]=Tilstand for sambandet
Name[pa]=ਕੁਨੈਕਸ਼ਨ ਹਾਲਤ
Name[pl]=Status połączenia
Name[pt]=Estado da Ligação
Name[pt_BR]=Status da Conexão
Name[ro]=Stare conexiune
Name[ru]=Статус соединения
Name[se]=Oktavuohtástáhtus
Name[sk]=Stav spojenia
Name[sl]=Stanje povezave
Name[sr]=Статус везе
Name[sr@Latn]=Status veze
Name[sv]=Anslutningsstatus
Name[ta]=இணைப்பு நிலை
Name[tg]=Ҳолати Пайвастшавӣ
Name[tr]=Bağlantı Durumu
Name[uk]=Стан з'єднання
Name[uz]=Aloqaning holati
Name[uz@cyrillic]=Алоқанинг ҳолати
Name[wa]=Estat do raloyaedje
Name[zh_CN]=连接状态
Name[zh_HK]=連線狀態
Name[zh_TW]=連線狀態
Comment=Connects/disconnects Kopete automatically depending on availability of Internet connection
Comment[ar]=يقوم بوصل و فصل Kopete تلقائيا استنادا إلى وضع الاتصال بالشبكة
Comment[be]=Злучае/адлучае Kopete ад сервісаў у залежнасці ад наяўнасці інтэрфэйсаў з Інтэрнэтам
Comment[bg]=Автоматично установяване и прекъсване на връзката в зависимост от състоянието на връзката с Интернет
Comment[bn]=ইন্টারনেট সংযোগের সুবিধা অনুযায়ী কপেট স্বয়ংক্রীয়ভাবে সংযোগ/সংযোগবিচ্ছিন্নকরে
Comment[bs]=Automatski spaja Kopete i prekida vezu ovisno o dostupnosti Internet konekcije
Comment[ca]=Connecta/desconnecta automàticament depenent de la disponibilitat de la connexió a Internet
Comment[cs]=Automaticky připojí nebo odpojí vzhledem k dostupnosti připojení na Internet
Comment[cy]=Cysylltu/datgyslltu Kopete yn ymysgogol, yn dibynnu ar argaeledd cysylltiad Rhyngrwyd
Comment[da]=Forbinder/afbryder Kopete automatisk afhængig af om der er en internet-forbindelse
Comment[de]=Verbindet/trennt Kopete automatisch abhängig von der Verfügbarkeit einer Internetverbindung
Comment[el]=Συνδέει/αποσυνδέει το Kopete αυτόματα ανάλογα με την κατάσταση της σύνδεσης με το διαδίκτυο
Comment[es]=Conecta/desconecta Kopete automáticamente según la disponibilidad de la conexión a internet
Comment[et]=Kopete automaatne ühendamine/ühenduse katkestamine vastavalt internetiühenduse olemasolule
Comment[eu]=Kopete automatikoki konektatu/deskonektatzen du internet-eko konexioaren eskuragarritasunaren arabera
Comment[fa]=بسته به قابلیت دسترسی اتصال اینترنت،  Kopete به طور خودکار وصل/قطع ارتباط می‌کند
Comment[fi]=Yhdistää/katkaisee yhteyden automaattisesti riippuen onko Internet-yhteys päällä
Comment[fr]=Connecte / déconnecte automatiquement Kopete en fonction de la disponibilité de la connexion Internet
Comment[gl]=Conecta/desconecta a Kopete automáticamente dependendo da disponibilidade de conexión a Internet
Comment[he]=חיבור\ניתוק Kopete באופן אוטומטי בתלות בזמינות של החיבור לאינטרנט
Comment[hi]=इंटरनेट कनेक्शन की उपलब्धता की निर्भरता के आधार पर के-ऑप्टी को स्वचलित कनेक्ट/डिस्कनेक्ट करता है
Comment[hu]=A Kopete automatikus csatlakoztatása és bontása az internetkapcsolat elérhetőségétől függően
Comment[is]=(Af)tengir Kopete sjálfkrafa miðað við stöðu Internettengingar
Comment[it]=Connetti/disconnetti automaticamente Kopete a seconda della disponibilità della connessione ad internet
Comment[ja]=インターネット接続の有無により自動的に Kopete を接続/切断します
Comment[ka]=ინტერნეტ კავშირის არსებობისას ავტომატურად აკავშირებს Kopete-ს
Comment[kk]=Интернетке қосылымның бар=жоғына қарай Kopete-ті автоматты түрде қосады және ажыратады
Comment[km]=ភ្ជាប់ ​ ​ផ្ដាច​ Kopeteដោយ​ស្វ័យប្រវត្តិ​ដោយ​ផ្អែក​លើ​ភាព​មាន​នៃការណត​ភ្ជាប់​អ៊ីនធឺណិត
Comment[lt]=Automatiškai prijungia/atjungia Kopete, priklausomai nuo interneto ryšio buvimo
Comment[mk]=Автоматски го поврзува/исклучува Kopete во зависност на достапноста на поврзувањето на Интернет
Comment[nb]=Kobler Kopete automatisk til/fra avhengig av om internettforbindelse er tilgjengelig
Comment[nds]=Koppelt Kopete automaatsch to- oder af, afhangen vun de Verföögborkeit vun de Internetverbinnen
Comment[ne]=इन्टरनेट जडानको उपलब्धतामा आधारित कोपेट स्वचालित रूपमा जडान गर्दछ/विच्छेदन गर्दछ
Comment[nl]=Bouwt automatisch verbindingen op voor Kopete of verbreekt ze, afhankelijk van de beschikbaarheid van de internetverbinding
Comment[nn]=Koplar Kopete automatisk til eller frå avhengig av om Internett-sambandet er tilgjengeleg.
Comment[pl]=Automatycznie podłącza/odłącza Kopete zależnie od stanu połączenia z Internetem
Comment[pt]=Liga/desliga o Kopete automaticamente, dependendo da disponibilidade de uma ligação à Internet
Comment[pt_BR]=Conecta/desconecta o Kopete automaticamente dependendo da disponibilidade da conexão com a Internet
Comment[ru]=Автоматически входит в сеть или выходит из неё в зависимости от наличия соединения с Интернет
Comment[sk]=Pripojí/odpojí Kopete v závislosti či existuje pripojenie na Internet
Comment[sl]=Samodejno vzpostavi/prekine povezavo Kopete glede na dostopnost internetne povezave
Comment[sr]=Аутоматски успоставља или прекида везу у Kopete-у у зависности од доступности интернет везе
Comment[sr@Latn]=Automatski uspostavlja ili prekida vezu u Kopete-u u zavisnosti od dostupnosti internet veze
Comment[sv]=Ansluter eller kopplar ner Kopete automatiskt beroende på Internetförbindelsens tillgänglighet
Comment[ta]=இணைய இணைப்பை பொருத்து Kopete யுடன்தானாக இணையும்/நீக்கும் 
Comment[tg]=Вобаста ба имкониятҳои алоқаи Интернет Kopete-ро ба таври худкор пайваст/канда мекунад 
Comment[tr]=İnternet bağlantısının kullanılabilir olabilirliğine göre Kopete'yi otomatik bağlar/bağlamaz
Comment[uk]=Автоматично входить в мережу чи виходить з неї в залежності від наявності з'єднання з Інтернет
Comment[zh_CN]=根据 Internet 连接是否可用自动连接/断开 Kopete
Comment[zh_HK]=自動根據互聯網連接情況連接或中斷 Kopete 連線
Comment[zh_TW]=自動依據網路狀況來連線/中斷連線 Kopete
