[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000900
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_connectionstatus
X-KDE-PluginInfo-Author=Chris Howells
X-KDE-PluginInfo-Email=howells@kde.org
X-KDE-PluginInfo-Name=kopete_connectionstatus
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Connection Status
Name[x-test]=xxConnection Statusxx
Comment=Connects/disconnects Kopete automatically depending on availability of Internet connection
Comment[x-test]=xxConnects/disconnects Kopete automatically depending on availability of Internet connectionxx
