[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000793
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_connectionstatus
X-KDE-PluginInfo-Author=Chris Howells
X-KDE-PluginInfo-Email=howells@kde.org
X-KDE-PluginInfo-Name=kopete_connectionstatus
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Connection Status
Name[ca]=Estatus de la connexió
Name[cs]=Stav spojení
Name[da]=Forbindelsesstatus
Name[de]=Verbindungsstatus
Name[es]=Estado de conexión
Name[et]=Ühenduse staatus
Name[hu]=A kapcsolat állapota
Name[it]=Stato della connessione
Name[nl]=Verbindingsstatus
Name[pt_BR]=Status da Conexão
Name[ru]=Статус соединения
Name[sr]=Статус везе
Name[sv]=Anslutningsstatus
Name[tr]=Bağlantı Durumu
Name[wa]=Estat do raloyaedje
Name[xx]=xxConnection Statusxx
Comment=Connects/disconnects Kopete automatically depending on availability of Internet connection
Comment[ca]=Connecta/desconnecta automàticament depenent de la disponibilitat de la connexió a Internet
Comment[da]=Forbinder/afbryder Kopete automatisk afhængig af om der er en internet-forbindelse
Comment[de]=Verbindet/trennt Kopete automatisch abhängig von der Verfügbarkeit einer Internetverbindung
Comment[es]=Conecta/desconecta Kopete automáticamente según la disponibilidad de la conexión a internet
Comment[et]=Kopete automaatne ühendamine/ühenduse katkestamine vastavalt internetiühenduse olemasolule
Comment[hu]=A Kopete automatikus csatlakoztatása és bontása az internetkapcsolat elérhetőségétől függően
Comment[it]=Connetti/disconnetti automaticamente Kopete a seconda della disponibilità della connessione ad internet
Comment[nl]=Bouwt automatisch verbindingen op voor Kopete of verbreekt ze, afhankelijk van de beschikbaarheid van de internetverbinding
Comment[pt_BR]=Conecta/desconecta o Kopete automaticamente dependendo da disponibilidade da conexão com a Internet
Comment[sr]=Аутоматски успоставља или прекида везу за Kopete у зависности од доступности интернет везе
Comment[sv]=Ansluter eller kopplar ner Kopete automatiskt beroende på Internetförbindelsens tillgänglighet
Comment[xx]=xxConnects/disconnects Kopete automatically depending on availability of Internet connectionxx
