[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kopete/Plugin
X-Kopete-Version=1000900
X-KDE-Library=kopete_chatwindow
X-KDE-PluginInfo-Author=Kopete Developers
X-KDE-PluginInfo-Email=kopete-devel@kde.org
X-KDE-PluginInfo-Name=kopete_chatwindow
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Views
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Kopete Chat Window
Name[ar]=Kopete دردشة نافذة
Name[ast]=Ventana de charra de Kopete
Name[bg]=Прозорец за разговори
Name[bn]=কপেট চ্যাট উইন্ডো
Name[br]=Prenestr flapañ Kopete
Name[bs]=Kopete Prozor za Časkanjep
Name[ca]=Finestra de xat del Kopete
Name[ca@valencia]=Finestra de xat del Kopete
Name[cs]=Okno rozhovoru Kopete
Name[cy]=Ffenestr Sgwrs Kopete
Name[da]=Kopete Chat-vindue
Name[de]=Chat-Fenster von Kopete
Name[el]=Παράθυρο συνομιλίας Kopete
Name[en_GB]=Kopete Chat Window
Name[eo]=Kopete babilada fenestro
Name[es]=Ventana de charla de Kopete
Name[et]=Kopete vestlusaken
Name[eu]=Kopete-ren berriketaren leihoa
Name[fa]=پنجره گپ Kopete
Name[fi]=Kopeten keskusteluikkuna
Name[fr]=Fenêtre de discussion de Kopete
Name[ga]=Fuinneog Chomhrá Kopete
Name[gl]=Fiestra de conversa de Kopete
Name[he]=חלון שיחה של Kopete
Name[hi]=के-ऑप्टी गपशप विंडो
Name[hne]=के-ओप्टी गपसप विंडो
Name[hr]=Kopeteov prozor za razgovor
Name[hu]=Kopete csevegési ablak
Name[ia]=Fenestra de conversation in directo de Kopete
Name[is]=Spjallgluggi Kopete
Name[it]=Finestra di chat di Kopete
Name[ja]=Kopete チャットウィンドウ
Name[kk]=Kopete чат терезесі
Name[km]=បង្អួច​ជជែក​កំសាន្ត​របស់ Kopete
Name[ko]=Kopete 대화 창
Name[lt]=Kopete pokalbių langas
Name[lv]=Kopete tērzēšanas logs
Name[mk]=Прозорец за муабет од Kopete 
Name[ml]=കോപീറ്റിന്റെ കുശല ജാലകം
Name[nb]=Kopete pratevindu
Name[nds]=Kopete-Klöönfinster
Name[ne]=कोपेट कुराकानी सञ्झ्याल
Name[nl]=Kopete gespreksvenster
Name[nn]=Pratevindauget i Kopete
Name[pa]=ਕੋਪੀਟੀ ਗੱਲਾਬਾਤ ਵਿੰਡੋ
Name[pl]=Okno rozmowy Kopete
Name[pt]=Janela de Conversação do Kopete
Name[pt_BR]=Janela de bate-papo do Kopete
Name[ro]=Fereastra de discuții Kopete
Name[ru]=Окно разговора Kopete
Name[se]=Kopete čáttenláse
Name[si]=Kopete සංවාද කවුළුව
Name[sk]=Okno rozhovoru Kopete
Name[sl]=Okno za klepet v Kopete
Name[sq]=Dritare Bisedimi e Kopete
Name[sr]=Копетеов прозор за ћаскање
Name[sr@ijekavian]=Копетеов прозор за ћаскање
Name[sr@ijekavianlatin]=Kopeteov prozor za ćaskanje
Name[sr@latin]=Kopeteov prozor za ćaskanje
Name[sv]=Kopete-chattfönster
Name[ta]=Kopete அரட்டை சாளரம்
Name[tg]=Тирезаи Чати Kopete
Name[th]=หน้าต่างพูดคุยของ Kopete
Name[tr]=Kopete Sohbet Penceresi
Name[ug]=Kopete سۆھبەت كۆزنىكى
Name[uk]=Вікно розмови Kopete
Name[vi]=Cửa sổ trò chuyện Kopete
Name[wa]=Purnea d' berdelaedje di Kopete
Name[x-test]=xxKopete Chat Windowxx
Name[zh_CN]=Kopete 聊天窗口
Name[zh_HK]=Kopete 聊天視窗
Name[zh_TW]=Kopete 聊天視窗
Comment=The default Kopete chat window
Comment[ar]=الافتراضية Kopete محادثة نافذة
Comment[ast]=La ventana de charra predeterminada de Kopete
Comment[bg]=Стандартен прозорец за разговори
Comment[bn]=ডিফল্ট কপেট চ্যাট উইন্ডো
Comment[bs]=Podrazumijevani Kopete prozor za časkanje
Comment[ca]=La finestra de xat per defecte del Kopete
Comment[ca@valencia]=La finestra de xat per defecte del Kopete
Comment[cs]=Výchozí okno Kopete pro rozhovor
Comment[cy]=Y ffenestr sgwrs Kopete rhagosod
Comment[da]=Kopete's standard-chatvindue
Comment[de]=Das übliche Chat-Fenster für Kopete
Comment[el]=Το προκαθορισμένο παράθυρο συνομιλίας του Kopete
Comment[en_GB]=The default Kopete chat window
Comment[eo]=La defaŭlta Kopeta babilada fenestro
Comment[es]=La ventana de charla predeterminada de Kopete
Comment[et]=Kopete vaikimisi vestlusaken
Comment[eu]=Kopete-ren berriketaren leiho lehenetsia
Comment[fa]=پنجره پیش‌فرض گپ Kopete
Comment[fi]=Kopeten oletuskeskusteluikkuna
Comment[fr]=La fenêtre de discussion par défaut de Kopete
Comment[ga]=Fuinneog chomhrá réamhshocraithe Kopete
Comment[gl]=A fiestra de conversa predeterminada de Kopete
Comment[he]=ברירת מחדל עבור חלון השיחה של Kopete
Comment[hi]=डिफ़ॉल्ट के-ऑप्टी गपशप विंडो
Comment[hne]=डिफाल्ट के-ओप्टी गपसप विंडो
Comment[hr]=Uobičajeni Kopeteov prozor za razgovor
Comment[hu]=Az alapértelmezett Kopete csevegési ablak
Comment[ia]=Le fenestra de conversation in directo predefinite de Kopete
Comment[is]=Sjálfgefni spjallgluggi Kopete
Comment[it]=La finestra di chat predefinita di Kopete
Comment[ja]=Kopete の標準チャットウィンドウ
Comment[kk]=Әдетті Kopete әңгіме-дүкен терезесі
Comment[km]=បង្អួច​ជជែក​កំសាន្ត​លំនាំ​ដើម​របស់ Kopete
Comment[ko]=기본 Kopete 대화 창
Comment[lt]=Numatytas Kopete pokalbių langas
Comment[lv]=Kopete noklusējuma tērzēšanas logs
Comment[mk]=Почетниот прозорец за муабет од Kopete
Comment[ml]=കോപീറ്റിന്റെ തനത് കുശല ജാലകം
Comment[nb]=Standardvinduet for Kopete nettprat
Comment[nds]=Dat Standardklöönfinster vun Kopete
Comment[ne]=पूर्वानिर्धारित कोपेट कुराकानी सञ्झ्याल
Comment[nl]=Het standaard Kopete gespreksvenster
Comment[nn]=Standardvindauget for nettprat i Kopete
Comment[pa]=ਡਿਫਾਲਟ ਕੋਪੀਟੀ ਗੱਲਬਾਤ ਵਿੰਡੋ
Comment[pl]=Domyślne okno rozmowy Kopete
Comment[pt]=A janela de conversação por omissão do Kopete
Comment[pt_BR]=A janela de bate-papo padrão do Kopete
Comment[ro]=Fereastra de discuții Kopete implicită
Comment[ru]=Основное окно разговора Kopete
Comment[se]=Standárda Kopete-čáttenláse
Comment[si]=පෙරනිමි Kopete සංවාද කවුළුව
Comment[sk]=Štandardné okno rozhovoru pre Kopete
Comment[sl]=Privzeto okno za klepet v Kopete
Comment[sr]=Подразумевани Копетеов прозор за ћаскање
Comment[sr@ijekavian]=Подразумијевани Копетеов прозор за ћаскање
Comment[sr@ijekavianlatin]=Podrazumijevani Kopeteov prozor za ćaskanje
Comment[sr@latin]=Podrazumevani Kopeteov prozor za ćaskanje
Comment[sv]=Kopetes vanliga chattfönster
Comment[ta]=முன்னிருப்பு செயற்பட்டைப் பலகக் குறுநிரல்
Comment[tg]=Тирезаи Чат бо нобаёнии Kopete
Comment[th]=หน้าต่างพูดคุยของโปรแกรม Kopete
Comment[tr]=Öntanımlı Kopete Sohbet Penceresi
Comment[ug]=كۆڭۈلدىكى Kopete سۆھبەت كۆزنىكى
Comment[uk]=Типове вікно розмови Kopete
Comment[vi]=Cửa sổ trò chuyện Kopete mặc định
Comment[wa]=Li prémetou purnea di berdelaedje di Kopete
Comment[x-test]=xxThe default Kopete chat windowxx
Comment[zh_CN]=默认的 Kopete 聊天窗口
Comment[zh_HK]=Kopete 預設的聊天視窗
Comment[zh_TW]=預設 Kopete 聊天視窗
