[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kopete/UI
X-Kopete-Version=1000900
X-KDE-Library=kopete_chatwindow
X-KDE-PluginInfo-Author=Kopete Developers
X-KDE-PluginInfo-Email=kopete-devel@kde.org
X-KDE-PluginInfo-Name=kopete_chatwindow
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=UI
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Kopete Chat Window
Name[be]=Акно гутаркі Kopete
Name[bg]=Прозорец за разговори
Name[ca]=Finestra de Xat de Kopete
Name[cs]=Okno rozhovoru Kopete
Name[cy]=Ffenestr Sgwrs Kopete
Name[da]=Kopete Chat-vindue
Name[de]=Kopete-Chat-Fenster
Name[el]=Παράθυρο κουβέντας Kopete
Name[es]=Ventana de charla de Kopete
Name[et]=Kopete vestlusaken
Name[fi]=Kopeten keskusteluikkuna
Name[fr]=Fenêtre de discussion de Kopete
Name[he]=חלון שיחה של Kopete
Name[hi]=के-ऑप्टी गपशप विंडो
Name[hr]=Kopeteov prozor za razgovor
Name[hu]=Kopete csevegési ablak
Name[is]=Spjallgluggi Kopete
Name[it]=Finestra di chat di Kopete
Name[nb]=Kopete pratevindu
Name[nl]=Kopete chatvenster
Name[nn]=Kopete pratevindauge
Name[pl]=Okno rozmowy Kopete
Name[pt]=Janela de Conversão do Kopete
Name[pt_BR]=Janela de Bate-papo do Kopete
Name[ru]=Окно разговора Kopete
Name[sk]=Okno rozhovoru Kopete
Name[sl]=Klepetalno okno v Kopete
Name[sr]=Kopete-ов прозор за ћаскање
Name[sr@Latn]=Kopete-ov prozor za ćaskanje
Name[sv]=Kopete-chattfönster
Name[ta]=Kopete அரட்டை சாளரம்
Name[uk]=Вікно розмови Kopete
Name[xx]=xxKopete Chat Windowxx
Name[zh_CN]=Kopete 聊天窗口
Comment=The default Kopete chat window
Comment[be]=Акно гутаркі Kopete па ўмаўчаньні
Comment[bg]=Стандартен прозорец за разговори
Comment[ca]=La finestra per omissió per a xats de kopete
Comment[cs]=Výchozí okno Kopete pro rozhovor
Comment[cy]=Y ffenestr sgwrs Kopete rhagosod
Comment[da]=Kopete's standard-chatvindue
Comment[de]=Das übliche Chat-Fenster für Kopete
Comment[el]=Το προκαθορισμένο παράθυρο κουβέντας του Kopete
Comment[es]=La ventana de charla predeterminada de Kopete
Comment[et]=Kopete vaikimisi vestlusaken
Comment[fi]=Kopeten oletuskeskusteluikkuna
Comment[fr]=La fenêtre de discussion par défaut de Kopete
Comment[he]=ברירת מחדל עבור חלון השיחב של Kopete
Comment[hi]=डिफ़ॉल्ट के-ऑप्टी गपशप विंडो
Comment[hr]=Uobičajeni Kopeteov prozor za razgovor
Comment[hu]=Az alapértelmezett Kopete csevegési ablak
Comment[is]=Sjálfgefni spjallgluggi Kopete
Comment[it]=La finestra di chat predefinita di Kopete
Comment[nb]=Standardvinduet for Kopete nettprat
Comment[nl]=Het standaard Kopete chatvenster
Comment[nn]=Standardvindauget for nettprat i Kopete
Comment[pl]=Domyślne okno rozmowy Kopete
Comment[pt]=A janela de conversação por omissão do Kopete
Comment[pt_BR]=A janela de bate-papo padrão do Kopete
Comment[ru]=Окно разговора Kopete
Comment[sk]=Štandardné okno rozhovoru pre Kopete
Comment[sl]=Privzeto klepetalno okno v Kopete
Comment[sr]=Подразумевани Kopete-ов прозор за ћаскање
Comment[sr@Latn]=Podrazumevani Kopete-ov prozor za ćaskanje
Comment[sv]=Kopetes vanliga chattfönster
Comment[ta]=கொடாநிலைச் செயற்பட்டைப் பலகக் குறுநிரல்
Comment[uk]=Типове вікно розмови Kopete
Comment[xx]=xxThe default Kopete chat windowxx
Comment[zh_CN]=默认的 Kopete 聊天窗口
