[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kopete/Plugin
X-Kopete-Version=1000900
X-KDE-Library=kopete_emailwindow
X-KDE-PluginInfo-Author=Kopete Developers
X-KDE-PluginInfo-Email=kopete-devel@kde.org
X-KDE-PluginInfo-Name=kopete_emailwindow
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Views
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Kopete Email Window
Name[et]=Kopete e-posti aken
Name[ga]=Fuinneog R-Phoist Kopete
Name[pt]=Janela de E-mail do Kopete
Name[pt_BR]=Janela de E-mail do Kopete
Comment=The Kopete email window
Comment[et]=Kopete e-posti aken
Comment[ga]=An fhuinneog r-phoist Kopete
Comment[pt]=A janela de e-mail do Kopete
Comment[pt_BR]=A janela de e-mail do Kopete
