[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kopete/Plugin
X-Kopete-Version=1000900
X-KDE-Library=kopete_emailwindow
X-KDE-PluginInfo-Author=Kopete Developers
X-KDE-PluginInfo-Email=kopete-devel@kde.org
X-KDE-PluginInfo-Name=kopete_emailwindow
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Views
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Kopete Email Window
Name[bg]=Прозорец за е-поща
Name[ca]=Finestra de correu-e de Kopete
Name[cs]=Emailové okno Kopete
Name[da]=Kopete's e-mail-vindue
Name[de]=Kopete-E-Mail-Fenster
Name[el]=Παράθυρο Email του Kopete
Name[es]=Ventana de correo de Kopete
Name[et]=Kopete e-posti aken
Name[fi]=Kopeten sähköposti-ikkuna
Name[fr]=Fenêtre de courrier électronique Kopete
Name[ga]=Fuinneog R-Phoist Kopete
Name[he]=חלון דוא"ל של Kopete
Name[hu]=Kopete levelezési ablak
Name[is]=Kopete póstgluggi
Name[it]=Finestra dei messaggi di Kopete
Name[lt]=Kopete el. pašto langas
Name[nl]=Kopete e-mailvenster
Name[pl]=Okno e-mailowe Kopete
Name[pt]=Janela de E-mail do Kopete
Name[pt_BR]=Janela de Mensagens do Kopete
Name[ro]=Fereastră de e-mail Kopete
Name[ru]=Окно эл.почты Kopete
Name[sl]=Okno za e-pošto v Kopete
Name[sr]=Kopete-ов прозор за е-пошту
Name[sr@Latn]=Kopete-ov prozor za e-poštu
Name[sv]=Kopete e-postfönster
Name[tr]=Kopete e-posta Penceresi
Name[uk]=Вікно ел. пошти Kopete
Name[xx]=xxKopete Email Windowxx
Name[zh_CN]=Kopete 电子邮件窗口
Comment=The Kopete email window
Comment[bg]=Прозорец за изпращане на е-поща
Comment[br]=Prenestr postel Kopete
Comment[ca]=La finestra de correu-e de kopete
Comment[cs]=Emailové okno Kopete
Comment[da]=Kopete's e-mail-vindue
Comment[de]=Das E-Mail-Fenster für Kopete
Comment[el]=Το παράθυρο email του Kopete
Comment[es]=La ventana de correo de Kopete
Comment[et]=Kopete e-posti aken
Comment[fi]=Kopeten sähköposti-ikkuna
Comment[fr]=La fenêtre de courrier électronique de Kopete
Comment[ga]=An fhuinneog r-phoist Kopete
Comment[he]=ברירת מחדל עבור חלון הדוא"ל של Kopete
Comment[hu]=A Kopete levelezési ablaka
Comment[is]=Póstgluggi Kopete
Comment[it]=La finestra dei messaggi di Kopete
Comment[lt]=Kopete el. pašto langas
Comment[nl]=Het standaard Kopete gespreksvenster
Comment[pl]=Okno e-maila w Kopete
Comment[pt]=A janela de e-mail do Kopete
Comment[pt_BR]=A janela de mensagens do Kopete
Comment[ro]=Fereastra de e-mail Kopete
Comment[ru]=Окно эл.почты Kopete
Comment[sl]=Okno za e-pošto v Kopete
Comment[sr]=Подразумевани Kopete-ов прозор за е-пошту
Comment[sr@Latn]=Podrazumevani Kopete-ov prozor za e-poštu
Comment[sv]=Kopetes e-postfönster
Comment[tr]=Kopete e-posta Penceresi
Comment[uk]=Вікно ел. пошти Kopete
Comment[xx]=xxThe Kopete email windowxx
Comment[zh_CN]=Kopete 电子邮件窗口
