[Desktop Entry]
Type=Service
ServiceTypes=Kopete/Plugin
X-Kopete-Version=1000900
X-KDE-Library=kopete_emailwindow
X-KDE-PluginInfo-Author=Kopete Developers
X-KDE-PluginInfo-Email=kopete-devel@kde.org
X-KDE-PluginInfo-Name=kopete_emailwindow
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Views
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Kopete Email Window
Name[be]=Вакно электроннай пошты Kopete
Name[bg]=Прозорец за е-поща
Name[bn]=কপেট ই-মেইল উইন্ডো
Name[br]=Prenestr postel Kopete
Name[bs]=Kopete e-mail prozor
Name[ca]=Finestra de correu-e del Kopete
Name[cs]=Emailové okno Kopete
Name[da]=Kopete's e-mail-vindue
Name[de]=Kopete-E-Mail-Fenster
Name[el]=Παράθυρο Email του Kopete
Name[es]=Ventana de correo de Kopete
Name[et]=Kopete e-posti aken
Name[eu]=Kopete elkarrizketa leihoa
Name[fa]=پنجرۀ رایانامۀ Kopete
Name[fi]=Kopeten sähköposti-ikkuna
Name[fr]=Fenêtre de courrier électronique Kopete
Name[ga]=Fuinneog R-Phoist Kopete
Name[gl]=Fiestra de Correo-e De Kopete
Name[he]=חלון דוא"ל של Kopete
Name[hu]=Kopete levelezési ablak
Name[is]=Kopete póstgluggi
Name[it]=Finestra dei messaggi di Kopete
Name[ja]=Kopete Eメールウィンドウ
Name[ka]=Kopeteს ელფოსტა ფანჯარა
Name[kk]=Kopete эл.пошта терезесі
Name[km]=បង្អួច​អ៊ីមែល Kopete
Name[lt]=Kopete el. pašto langas
Name[nb]=Kopete e-postvindu
Name[nds]=Kopete-Nettpostfinster
Name[ne]=कोपेट इमेल सञ्झ्याल
Name[nl]=Kopete e-mailvenster
Name[nn]=Kopete e-postvindauge
Name[pa]=ਕੋਪੀਟੀ ਈ-ਮੇਲ ਝਰੋਖਾ
Name[pl]=Okno e-mailowe Kopete
Name[pt]=Janela de E-mail do Kopete
Name[pt_BR]=Janela de Mensagens do Kopete
Name[ro]=Fereastră de e-mail Kopete
Name[ru]=Отдельные сообщения
Name[sk]=Kopete okno pošty
Name[sl]=Okno za e-pošto v Kopete
Name[sr]=Kopete-ов прозор за е-пошту
Name[sr@Latn]=Kopete-ov prozor za e-poštu
Name[sv]=Kopete e-postfönster
Name[tr]=Kopete e-posta Penceresi
Name[uk]=Вікно ел. пошти Kopete
Name[zh_CN]=Kopete 电子邮件窗口
Name[zh_HK]=Kopete 電郵視窗
Name[zh_TW]=Kopete 電子郵件視窗
Comment=The Kopete email window
Comment[be]=Вакно электроннай пошты Kopete
Comment[bg]=Прозорец за изпращане на е-поща
Comment[bn]=কপেট ই-মেইল উইন্ডো
Comment[br]=Prenestr postel Kopete
Comment[bs]=Kopete e-mail prozor
Comment[ca]=La finestra de correu-e del Kopete
Comment[cs]=Emailové okno Kopete
Comment[da]=Kopete's e-mail-vindue
Comment[de]=Das E-Mail-Fenster für Kopete
Comment[el]=Το παράθυρο email του Kopete
Comment[es]=La ventana de correo de Kopete
Comment[et]=Kopete e-posti aken
Comment[eu]=Kopete elkarrizketa leiho lehenetsia
Comment[fa]=پنجرۀ رایانامۀ Kopete
Comment[fi]=Kopeten sähköposti-ikkuna
Comment[fr]=La fenêtre de courrier électronique de Kopete
Comment[ga]=An fhuinneog r-phoist Kopete
Comment[gl]=A fiestra de correo-e de Kopete
Comment[he]=ברירת מחדל עבור חלון הדוא"ל של Kopete
Comment[hu]=A Kopete levelezési ablaka
Comment[is]=Póstgluggi Kopete
Comment[it]=La finestra dei messaggi di Kopete
Comment[ja]=Kopete Eメールウィンドウ
Comment[ka]=Kopeteს ელფოსტის ფანჯარა
Comment[kk]=Kopete эл.пошта терезесі
Comment[km]=បង្អួច​អ៊ីមែល​របស់ Kopete
Comment[lt]=Kopete el. pašto langas
Comment[nb]=Kopetes e-postvindu
Comment[nds]=Dat Kopete-Nettpostfinster
Comment[ne]=कोपेट इमेल सञ्झ्याल
Comment[nl]=Het standaard Kopete gespreksvenster
Comment[nn]=E-postvindauget i Kopete
Comment[pl]=Okno e-maila w Kopete
Comment[pt]=A janela de e-mail do Kopete
Comment[pt_BR]=A janela de mensagens do Kopete
Comment[ro]=Fereastra de e-mail Kopete
Comment[ru]=Отдельные сообщения
Comment[sk]=Okno pošty pre Kopete
Comment[sl]=Okno za e-pošto v Kopete
Comment[sr]=Подразумевани Kopete-ов прозор за е-пошту
Comment[sr@Latn]=Podrazumevani Kopete-ov prozor za e-poštu
Comment[sv]=Kopetes e-postfönster
Comment[tr]=Kopete e-posta Penceresi
Comment[uk]=Вікно ел. пошти Kopete
Comment[zh_CN]=Kopete 电子邮件窗口
Comment[zh_HK]=Kopete 電郵視窗
Comment[zh_TW]=Kopete 電子郵件視窗
