<!DOCTYPE kpartgui>
<kpartgui name="krichtexteditpart" version="15">
<MenuBar>
  <Menu name="format"><text>F&amp;ormat</text>
    <Action name="format_bold"/>
    <Action name="format_italic"/>
    <Action name="format_underline"/>
    <Action name="format_textcolor"/>
    <Separator/>
    <Menu name="alignment"><text>&amp;Alignment</text>
       <Action name="format_align_left"/>
       <Action name="format_align_center"/>
       <Action name="format_align_right"/>
       <Action name="format_align_justify"/>
    </Menu>
    <Separator/>
    <Action name="format_font_size"/>
    <Action name="format_font"/>
    <Action name="enable_richtext"/>
    <Action name="enable_autoresize"/>
  </Menu>
  <Merge />
</MenuBar>

<ToolBar name="mainToolBar"><text>Main Toolbar</text>
  <Separator weakSeparator="true" lineSeparator="true"/>
  <Action name="enable_richtext"/>
  <Action name="check_spelling"/>
  <Action name="format_font_and_color_reset"/>
  <Separator weakSeparator="true" lineSeparator="true"/>
</ToolBar>

<ToolBar name="formatToolBar"><text>Format Toolbar</text>
  <Action name="format_text_foreground_color"/>
  <Action name="format_text_background_color"/>
  <Action name="format_font_family"/>
  <Action name="format_font_size"/>
  <Action name="format_text_bold"/>
  <Action name="format_text_italic"/>
  <Action name="format_text_underline"/>
  <Action name="format_text_strikeout"/>
  <Action name="format_align_left"/>
  <Action name="format_align_center"/>
  <Action name="format_align_right"/>
  <Action name="format_align_justify"/>
  <Action name="format_list_style"/>
  <Action name="format_list_indent_more"/>
  <Action name="format_list_indent_less"/>
  <Action name="insert_horizontal_rule"/>
  <Action name="manage_link"/>
  <Action name="format_painter"/>
  <Action name="action_to_plain_text"/>
  <Action name="format_text_subscript"/>
  <Action name="format_text_superscript"/>
</ToolBar>
</kpartgui>


