<!DOCTYPE kpartgui>
<kpartgui name="krichtexteditpart" version="2">
<MenuBar>
  <Menu name="file"><text>&amp;File</text>
    <Action name="file_open" append="new_merge"/>
    <Action name="file_open_recent" append="new_merge"/>
    <Separator/>
    <Action name="file_save" append="save_merge"/>
    <Action name="file_save_as" append="save_merge"/>
    <Separator/>
    <Action name="file_print" append="save_merge"/>
    <Separator/>
  </Menu>
  <Menu name="edit"><text>&amp;Edit</text>
    <Action name="edit_undo" append="edit_undo_merge"/>
    <Action name="edit_redo" append="edit_undo_merge"/>
    <Separator/>
    <Action name="edit_cut" append="edit_paste_merge"/>
    <Action name="edit_copy" append="edit_paste_merge"/>
    <Action name="edit_paste" append="edit_paste_merge"/>
    <Action name="edit_clear" append="edit_paste_merge"/>
    <Separator/>
    <Action name="edit_select_all"  append="edit_select_merge"/>
  </Menu>
  <Menu name="view"><text>&amp;View</text>
    <Action name="view_zoom_in" />
    <Action name="view_zoom_out" />
    <DefineGroup name="view_zoom_group" />
  </Menu>
  <Menu name="format"><text>F&amp;ormat</text>
    <Action name="format_bold"/>
    <Action name="format_italic"/>
    <Action name="format_underline"/>
    <Action name="format_color"/>
    <Action name="format_bgcolor"/>
    <DefineGroup name="format_chars_group" />
    <Separator/>
    <Menu name="alignment"><text>&amp;Alignment</text>
       <Action name="format_align_left"/>
       <Action name="format_align_center"/>
       <Action name="format_align_right"/>
       <Action name="format_align_justify"/>
       <DefineGroup name="format_align_group" />
    </Menu>
    <Separator/>
    <Action name="format_font"/>
    <Action name="format_font_size"/>
    <DefineGroup name="format_font_group" />
  </Menu>
  <Menu name="tools"><text>&amp;Tools</text>
    <Action name="tools_spelling"/>
  </Menu>
  <Merge />
  <Menu name="help"><text>&amp;Help</text>
  </Menu>
</MenuBar>
<ToolBar name="mainToolBar"><text>Main Toolbar</text>
  <Action name="file_open"/>
  <Action name="file_save"/>
  <Action name="file_save_as"/>
  <Action name="file_print"/>
  <Separator lineSeparator="true"/>
  <Action name="edit_undo"/>
  <Action name="edit_redo"/>
  <Separator lineSeparator="true"/>
  <Action name="edit_cut"/>
  <Action name="edit_copy"/>
  <Action name="edit_paste"/>
  <Separator lineSeparator="true"/>
  <Action name="view_zoom_in" />
  <Action name="view_zoom_out" />
</ToolBar>
<ToolBar name="formatToolBar"><text>Format Toolbar</text>
  <Action name="format_bold"/>
  <Action name="format_italic"/>
  <Action name="format_underline"/>
  <Action name="format_color"/>
  <DefineGroup name="format_chars_group" />
  <Separator lineSeparator="true"/>
  <Action name="format_font"/>
  <Action name="format_font_size"/>
  <DefineGroup name="format_font_group" />
  <Separator lineSeparator="true"/>
  <Action name="format_align_left"/>
  <Action name="format_align_center"/>
  <Action name="format_align_right"/>
  <Action name="format_align_justify"/>
  <DefineGroup name="format_align_group" />
</ToolBar>

<Menu name="editor_popup">
  <Action name="edit_undo"/>
  <Action name="edit_redo"/>
  <Separator/>
  <Action name="edit_cut"/>
  <Action name="edit_copy"/>
  <Action name="edit_paste"/>
  <Action name="edit_clear"/>
  <Separator/>
  <Action name="edit_select_all"/>
</Menu>

</kpartgui>


