[Desktop Entry]
Type=Service
Name=Bookmarks
Name[ar]=علامات المواقع
Name[ast]=Marcadores
Name[bg]=Отметки
Name[bn]=বুকমার্ক
Name[br]=Sinedoù
Name[bs]=Zabilješke
Name[ca]=Punts
Name[ca@valencia]=Punts
Name[cs]=Záložky
Name[cy]=Nodau Tudalen
Name[da]=Bogmærker
Name[de]=Lesezeichen
Name[el]=Σελιδοδείκτες
Name[en_GB]=Bookmarks
Name[eo]=Legosignoj
Name[es]=Marcadores
Name[et]=Järjehoidjad
Name[eu]=Laster-markak
Name[fa]=چوب الفها
Name[fi]=Kirjanmerkit
Name[fr]=Signets
Name[ga]=Leabharmharcanna
Name[gl]=Marcadores
Name[he]=סימניות
Name[hi]= पसंदीदा 
Name[hne]= निसानी 
Name[hr]=Oznake
Name[hsb]=Lubuški
Name[hu]=Könyvjelzők
Name[ia]=Marcatores de libro
Name[is]=Bókamerki
Name[it]=Segnalibri
Name[ja]=ブックマーク
Name[kk]=Бетбелгілер
Name[km]=ចំណាំ
Name[ko]=책갈피
Name[lt]=Žymelės
Name[lv]=Grāmatzīmes
Name[mai]=पुस्तकचिह्न
Name[mk]=Обележувачи
Name[ml]=ഓര്‍മ്മക്കുറിപ്പുകള്‍
Name[mr]=ओळखचिन्हे
Name[nb]=Bokmerker
Name[nds]=Leestekens
Name[ne]=पुस्तकचिनो
Name[nl]=Bladwijzers
Name[nn]=Bokmerke
Name[oc]=Marca-paginas
Name[pa]=ਬੁੱਕਮਾਰਕ
Name[pl]=Zakładki
Name[pt]=Favoritos
Name[pt_BR]=Favoritos
Name[ro]=Semne de carte
Name[ru]=Закладки
Name[si]=පිටුසලකුණු
Name[sk]=Záložky
Name[sl]=Zaznamki
Name[sq]=Libërshënues
Name[sr]=Обележивачи
Name[sr@ijekavian]=Обиљеживачи
Name[sr@ijekavianlatin]=Obilježivači
Name[sr@latin]=Obeleživači
Name[sv]=Bokmärken
Name[ta]=புத்தகக்குறிகள்
Name[th]=ที่คั่นหน้า
Name[tr]=Yer imleri
Name[ug]=خەتكۈشلەر
Name[uk]=Закладки
Name[uz]=Xatchoʻplar
Name[uz@cyrillic]=Хатчўплар
Name[vi]=Dấu hiệu
Name[xh]=Amanqaku encwadi
Name[x-test]=xxBookmarksxx
Name[zh_CN]=书签
Name[zh_HK]=書籤
Name[zh_TW]=書籤
Comment=Automatically bookmark links in incoming messages
Comment[ar]=علم المواقع تلقائيا في الرسائل القادمة
Comment[ast]=Anota automáticamente los enllaces de los mensaxes entrantes
Comment[bg]=Автоматично добавяне на връзките във входящите съобщения към отметките
Comment[bn]=অন্তর্মুখী বার্তামধ্যস্থ লিঙ্কগুলো স্বয়ংক্রীয়ভাবে বুকমার্ক করে
Comment[bs]=Automatske zabilješke veze u dolaznim porukama
Comment[ca]=Apunta automàticament els enllaços en els missatges entrants
Comment[ca@valencia]=Apunta automàticament els enllaços en els missatges entrants
Comment[cs]=Automaticky přidat do záložek odkazy z příchozích zpráv
Comment[da]=Sæt link til indkommende breve automatisk
Comment[de]=Verknüpfungen in eingehenden Nachrichten automatisch als Lesezeichen ablegen
Comment[el]=Αυτόματη τοποθέτηση σελιδοδεικτών στα εισερχόμενα μηνύματα
Comment[en_GB]=Automatically bookmark links in incoming messages
Comment[eo]=Aŭtomate legosigni ligojn en la enirantaj mesaĝoj
Comment[es]=Anota automáticamente los enlaces de los mensajes entrantes
Comment[et]=Sissetulevates sõnumites olevate viitade automaatne lisamine järjehoidjatesse
Comment[eu]=Sortu sarrerako mezuetako esteken laster-marka automatikoki
Comment[fa]=چوب الف به طور خودکار به پیامهای واردشده پیوند می‌خورد
Comment[fi]=Lisää saapuvien viestien sisältämät linkit automaattisesti kirjanmerkkeihin
Comment[fr]=Ajouter automatiquement un signet pour les liens présents dans les messages rentrants
Comment[ga]=Cruthaigh leabharmharcanna do naisc i dteachtaireachtaí isteach go huathoibríoch
Comment[gl]=Marca automaticamente as ligazóns nas mensaxes entrantes
Comment[he]=שמור קישורים מהמסרים הנכנסים ברשימת הסימניות באופן אוטומטי
Comment[hi]=आनेवाले संदेशों में कड़ियों को स्वचालित पसंदीदा बनाएँ
Comment[hne]=आनेवाले संदेस मन मं संकली ल अपने अपन निसानी बनाव
Comment[hr]=Automatski označi poveznice iz dolazećih poruka
Comment[hu]=Könyvjelző létrehozása a bejövő üzenetekben található linkekhez
Comment[ia]=Automaticamente pone in marcatores de libro ligamines in messages in arrivata
Comment[is]=Setja sjálfkrafa bókamerki á tengla í skilaboðum
Comment[it]=Aggiunge automaticamente ai segnalibri i collegamenti nei messaggi in arrivo
Comment[ja]=受信メッセージ中のリンクを自動的にブックマークに追加
Comment[kk]=Келген хабарламалардағы сілтемелерді автоматты түрде бетбелгілеу
Comment[km]=ចំណាំ​តំណ​នៅ​ក្នុង​សារ​ចូល ដោយ​ស្វ័យប្រវត្តិ
Comment[ko]=들어오는 메시지의 링크를 자동으로 책갈피에 추가
Comment[lt]=Gautose žinutėse esančias nuorodas automatiškai įtraukti į žymeles
Comment[lv]=Automātiski pielikt grāmatzīmēm ienākošajos ziņojumos esošas saites 
Comment[mk]=Ги обележува автоматски врските во дојдовните пораки
Comment[ml]=ആഗമസന്ദേശങ്ങളിലെ കണ്ണികള്‍ യാന്ത്രികമായി ഓര്‍മ്മക്കുറിപ്പില്‍ ചേര്‍ക്കുന്നു
Comment[nb]=Sett automatisk bokmerke for lenker i innkommende meldinger
Comment[nds]=Links in rinkamen Narichten automaatsch de Leestekens tofögen
Comment[ne]=आगमन सन्देशमा स्वचालित पुस्तकचिनो लिङ्क
Comment[nl]=Koppelingen in inkomende berichten automatisch als bladwijzer opslaan
Comment[nn]=Lag automatisk bokmerke til lenkjer i innkommande meldingar
Comment[pa]=ਆ ਰਹੇ ਸੁਨੇਹਿਆਂ ਵਿੱਚੋਂ ਲਿੰਕ ਆਟੋਮੈਟਿਕ ਹੀ ਬੁੱਕਮਾਰਕ ਕਰੋ
Comment[pl]=Samoczynnie twórz zakładki dla odnośników w nadchodzących wiadomościach
Comment[pt]=Adicionar automaticamente aos favoritos as ligações em mensagens recebidas
Comment[pt_BR]=Adiciona automaticamente aos favoritos os links em mensagens recebidas
Comment[ro]=Pune automat semn de carte la legăturile din mesajele de intrare
Comment[ru]=Автоматическое добавление ссылок из входных сообщений в закладки
Comment[si]=පැමිණෙන පණිවුඩ වල සබැඳි ස්වයංක්‍රීයව පිටුසලකුණු කරන්න
Comment[sk]=Automaticky pridá do záložiek odkazy z prichádzajúcich správ
Comment[sl]=Samodejno doda povezave iz dohodnih sporočil med zaznamke
Comment[sr]=Аутоматски обележи везе у долазним порукама
Comment[sr@ijekavian]=Аутоматски обиљежи везе у долазним порукама
Comment[sr@ijekavianlatin]=Automatski obilježi veze u dolaznim porukama
Comment[sr@latin]=Automatski obeleži veze u dolaznim porukama
Comment[sv]=Bokmärk automatiskt länkar i inkommande meddelande.
Comment[ta]=உள்வரும் செய்திகளில் தானாகவே புத்தகக்குறி இணைப்புகள்
Comment[th]=ทำคั่นหน้าส่วนเชื่อมโยงต่าง ๆ ที่อยู่ในข้อความที่ได้รับเข้ามาให้โดยอัตโนมัติ
Comment[tr]=Otomatik olarak gelen mesajları yer imine bağlar
Comment[uk]=Автоматично робити закладки посилань з вхідних повідомлень
Comment[vi]=Tự động thêm dấu hiệu từ các liên kết trong tin nhận gửi đến
Comment[x-test]=xxAutomatically bookmark links in incoming messagesxx
Comment[zh_CN]=自动将收到消息中的链接加入书签
Comment[zh_HK]=自動將收到的訊息內的連結加到書籤
Comment[zh_TW]=自動將接收訊息中的連結加入書籤
Icon=bookmark-new
X-KDE-ServiceTypes=Kopete/Plugin
X-Kopete-Version=1000900
X-KDE-Library=kopete_addbookmarks
X-KDE-PluginInfo-Author=Roie Kerstein
X-KDE-PluginInfo-Email=sf_kersteinroie@bezeqint.net
X-KDE-PluginInfo-Name=kopete_addbookmarks
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
