[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Bookmarks
Name[fr]=Signets
Name[x-test]=xxBookmarksxx
Comment=Automatically bookmark links in incoming messages
Comment[fr]=Ajouter automatiquement un signet pour les liens présents dans les messages rentrants
Comment[x-test]=xxAutomatically bookmark links in incoming messagesxx
Icon=konqueror
ServiceTypes=KCModule

X-KDE-Library=kopete_addbookmarks
X-KDE-FactoryName=kcm_kopete_addbookmarks
X-KDE-ParentApp=kopete_addbookmarks
X-KDE-ParentComponents=kopete_addbookmarks
