[Desktop Entry]
Type=Service
Name=Bookmarks
Comment=Automatically bookmark links in incoming messages
Icon=konqueror
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_addbookmarks
X-KDE-FactoryName=kcm_kopete_addbookmarks
X-KDE-ParentApp=kopete_addbookmarks
X-KDE-ParentComponents=kopete_addbookmarks
