[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=AIM
Icon=aim_protocol
ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_aim
X-Kopete-Plugin-Id=aim
X-Kopete-Messaging-Protocol=messaging/aim
X-Kopete-Author=Tom Linsky
X-Kopete-Site=http://kopete.kde.org
X-Kopete-Email=twl6@po.cwru.edu
X-Kopete-License=GPL
Comment=Protocol to connect to AIM via Oscar
