[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=aim_protocol
X-KDE-ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_aim
X-Kopete-Messaging-Protocol=messaging/aim
X-KDE-PluginInfo-Author=Kopete Developers
X-KDE-PluginInfo-Email=kopete-devel@kde.org
X-KDE-PluginInfo-Name=kopete_aim
X-KDE-PluginInfo-Version=0.10.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=AIM
Name[ar]=AIM
Name[ast]=AIM
Name[bg]=AIM
Name[bn]=এ-আই-এম
Name[br]=AIM
Name[bs]=AIM
Name[ca]=AIM
Name[ca@valencia]=AIM
Name[cs]=AIM
Name[cy]=AIM
Name[da]=AIM
Name[de]=AIM
Name[el]=AIM
Name[en_GB]=AIM
Name[eo]=AIM
Name[es]=AIM
Name[et]=AIM
Name[eu]=AIM
Name[fi]=AIM
Name[fr]=AIM
Name[ga]=AIM
Name[gl]=AIM
Name[he]=AIM
Name[hi]=एआईएम
Name[hne]=एआईएम
Name[hr]=AIM
Name[hu]=AIM
Name[ia]=AIM
Name[is]=AIM
Name[it]=AIM
Name[ja]=AIM
Name[kk]=AIM
Name[km]=AIM
Name[ko]=AIM
Name[lt]=AIM
Name[lv]=AIM
Name[mk]=AIM
Name[ml]=ഏഐഎം
Name[nb]=AIM
Name[nds]=AIM
Name[ne]=एआईएम
Name[nl]=AIM
Name[nn]=AIM
Name[oc]=AIM
Name[pa]=AIM
Name[pl]=AIM
Name[pt]=AIM
Name[pt_BR]=AIM
Name[ro]=AIM
Name[ru]=AIM
Name[se]=AIM
Name[si]=AIM
Name[sk]=AIM
Name[sl]=AIM
Name[sq]=AIM
Name[sr]=АИМ
Name[sr@ijekavian]=АИМ
Name[sr@ijekavianlatin]=AIM
Name[sr@latin]=AIM
Name[sv]=AIM
Name[ta]=AIM
Name[tg]=AIM
Name[tr]=AIM
Name[ug]=AIM
Name[uk]=AIM
Name[uz]=AIM
Name[uz@cyrillic]=AIM
Name[vi]=AIM
Name[wa]=AIM
Name[x-test]=xxAIMxx
Name[zh_CN]=AIM
Name[zh_HK]=AIM
Name[zh_TW]=AIM
Comment=An Instant Messenger
Comment[ar]=مراسل فوري
Comment[ast]=Un programa de mensaxería nel intre
Comment[bg]=Моментни съобщения AIM
Comment[bs]=Trenutna Poruka
Comment[ca]=Missatger a l'instant
Comment[ca@valencia]=Missatger a l'instant
Comment[cs]=Komunikátor
Comment[da]=En instant messenger
Comment[de]=Ein Instant Messenger
Comment[el]=Ένας στιγμιαίος αποστολέας μηνυμάτων
Comment[en_GB]=An Instant Messenger
Comment[eo]=Tujmesaĝilo
Comment[es]=Un programa de mensajería instantánea
Comment[et]=Kiirsuhtlusrakendus
Comment[eu]=Berehalako mezularitza
Comment[fi]=Pikaviestinohjelma
Comment[fr]=An Instant Messenger
Comment[ga]=Clár teachtaireachtaí meandaracha
Comment[gl]=Un mensaxeiro instantáneo
Comment[hne]=एक इंसटैंट मैसेंजर
Comment[hr]=Aplikacija za čavrljanje
Comment[hu]=Azonnali üzenetküldő
Comment[ia]=Un messagero Instantanee
Comment[it]=Messaggistica istantanea
Comment[ja]=インスタントメッセンジャー
Comment[kk]=Лезде хабарласу бағдарламасы
Comment[km]=កម្មវិធី​ផ្ញើ​សារ​បន្ទាន់
Comment[ko]=인스턴트 메신저
Comment[lt]=Momentinių žinučių klientas (AIM)
Comment[lv]=An Instant Messenger
Comment[ml]=ഒരു അതിവേഗ ദൂതന്‍
Comment[nb]=Et lynmeldingssystem («An Instant Messenger»)
Comment[nds]=En Kortnarichtenprogramm
Comment[nl]=Een instant messenger
Comment[nn]=Ei lynmeldingsteneste
Comment[pa]=ਇੱਕ ਤੁਰੰਤ ਮੈਸੈਂਜਰ
Comment[pl]=Komunikator
Comment[pt]=Um Mensageiro Instantâneo
Comment[pt_BR]=Um mensageiro instantâneo
Comment[ro]=Un Mesager Instant
Comment[ru]=Обмен мгновенными сообщениями
Comment[si]=ක්‍ෂණික පණිවිඩකරුවෙක්
Comment[sk]=Instant Messenger
Comment[sl]=An Instant Messenger
Comment[sr]=Брзи гласник
Comment[sr@ijekavian]=Брзи гласник
Comment[sr@ijekavianlatin]=Brzi glasnik
Comment[sr@latin]=Brzi glasnik
Comment[sv]=En direktmeddelandeklient
Comment[tr]=Bir Anında Haberleşme Hizmeti
Comment[uk]=Кур’єр миттєвого зв'язку
Comment[x-test]=xxAn Instant Messengerxx
Comment[zh_CN]=一种即时通讯协议
Comment[zh_TW]=即時訊息程式
