Source: kopete
Section: kde
Priority: optional
Maintainer: Matias Fernandez <radix@creativa.cl>
Standards-Version: 3.5.8
Build-Depends: debmake, debhelper (>> 4.0.0), kdelibs4-dev, libqt3-mt-dev, libqt3-compat-headers, libxslt1-dev (>= 1.0.16), libgadu-dev, xmms-dev (>= 1.2.7-1)

Package: kopete
Architecture: any
Depends: konqueror (>= 4:3.1.2), ${shlibs:Depends}
Suggests: kicker
Description: Instant messenger program
 Kopete is an instant messenger program which can communicate with
 a variety of IM systems, such as ICQ, MSN, IRC and Jabber.
 .
 Support for more IM protocols can be added through a plugin system.
 .
  Homepage: http://kopete.kde.org/
