[Desktop Entry]
Icon=preferences-desktop-locale
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_translator
X-KDE-FactoryName=kcm_kopete_translator
X-KDE-ParentApp=kopete_translator
X-KDE-ParentComponents=kopete_translator

Name=Translator
Name[ar]=مترجم
Name[ast]=Tornador
Name[bg]=Автоматичен превод
Name[bn]=অনুবাদক
Name[br]=Troer
Name[bs]=Prevodilac
Name[ca]=Traductor
Name[ca@valencia]=Traductor
Name[cs]=Překladatel
Name[cy]=Cyfieithydd
Name[da]=Oversætter
Name[de]=Übersetzer
Name[el]=Μεταφραστής
Name[en_GB]=Translator
Name[eo]=Tradukilo
Name[es]=Traductor
Name[et]=Tõlketeenus
Name[eu]=Itzultzailea
Name[fa]=مترجم
Name[fi]=Kääntäjä
Name[fr]=Traducteur
Name[ga]=Aistritheoir
Name[gl]=Tradutor
Name[he]=מתרגם
Name[hi]=अनुवादक
Name[hne]=अनुवादक
Name[hr]=Prevoditelj
Name[hu]=Tolmács
Name[ia]=Traductor
Name[is]=Þýðandi
Name[it]=Traduttore
Name[ja]=翻訳ソフト
Name[kk]=Тілмаш
Name[km]=កម្មវិធី​បកប្រែ
Name[ko]=번역기
Name[ku]=Wergêr
Name[lt]=Vertėjas
Name[lv]=Tulkotājs
Name[mai]=अनुवादक
Name[mk]=Преведувач
Name[ml]=പരിഭാഷകന്‍
Name[nb]=Oversetter
Name[nds]=Översetter
Name[ne]=अनुवादक
Name[nl]=Vertaler
Name[nn]=Omsetjar
Name[oc]=Traductor
Name[pa]=ਅਨੁਵਾਦਕ
Name[pl]=Tłumacz
Name[pt]=Tradutor
Name[pt_BR]=Tradutor
Name[ro]=Traducător
Name[ru]=Переводчик
Name[se]=Jorgaleaddji
Name[si]=පරිවර්‍තකය
Name[sk]=Prekladač
Name[sl]=Prevajalnik
Name[sq]=Përkthyesi
Name[sr]=Преводилац
Name[sr@ijekavian]=Преводилац
Name[sr@ijekavianlatin]=Prevodilac
Name[sr@latin]=Prevodilac
Name[sv]=Översättning
Name[ta]=மொழிமாற்றி
Name[tg]=Тарҷумон
Name[th]=ตัวแปลภาษา
Name[tr]=Çevirmen
Name[ug]=تەرجىمان
Name[uk]=Перекладач
Name[uz]=Tarjimon
Name[uz@cyrillic]=Таржимон
Name[vi]=Trình dịch thuật
Name[wa]=Ratournaedje
Name[x-test]=xxTranslatorxx
Name[zh_CN]=翻译家
Name[zh_HK]=翻譯者
Name[zh_TW]=翻譯器
Comment=Translates messages from your native language to another language
Comment[ar]=ترجم الرسائل من لغتك الأم إلى لغة أخرى
Comment[ast]=Torna mensaxes de la to llingua a otra
Comment[bg]=Приставка за превод от един език на друг в реално време
Comment[bn]=আপনার স্থানীয় ভাষা থেকে অন্য একটি ভাষাতে বার্তা অনুবাদ করে
Comment[bs]=Prevodi poruke iz vašeg matenjeg jezika u drugi jezik
Comment[ca]=Tradueix els missatges des del vostre idioma natiu cap a un altre
Comment[ca@valencia]=Tradueix els missatges des del vostre idioma natiu cap a un altre
Comment[cs]=Překládá zprávy z vašeho rodného jazyka do jiného
Comment[cy]=Cyfieithu negeseuon o'ch iaith gyntaf i iaith arall
Comment[da]=Oversætter beskeder fra dit indfødte sprog til et andet sprog
Comment[de]=Übersetzt Nachrichten von der eigenen in eine fremde Sprache
Comment[el]=Μεταφράζει μηνύματα από τη μητρική σας γλώσσα σε μια άλλη
Comment[en_GB]=Translates messages from your native language to another language
Comment[eo]=Tradukadas mesaĝojn el via denaska lingvo al alia
Comment[es]=Traduce mensajes de su idioma materno a otro idioma
Comment[et]=Tõlgib sõnumid sinu emakeelest mingisse muusse keelde
Comment[eu]=Mezuak zure ama-hizkuntzatik beste hizkuntzara itzultzen ditu
Comment[fa]=ترجمه پیامهایی با زبان مادری شما به زبانهای دیگر
Comment[fi]=Kääntää viestit omasta kielestä toiseen kieleen
Comment[fr]=Traduit les messages de votre langue natale en une autre langue
Comment[ga]=Aistríonn seo teachtaireachtaí ó do theanga dhúchais go teanga eile
Comment[gl]=Traduce as súas mensaxes da súa lingua nai a outra
Comment[he]=מתרגם את מסריך משפת האם שלך לשפה אחרת
Comment[hi]=आपकी मातृ भाषा के संदेशों को अन्य भाषा में अनुवाद करता है
Comment[hne]=आप मन के मातृ भाखा के संदेस मन ल अउ भाखा मं अनुवाद करथे 
Comment[hr]=Prevodi poruke s vašeg maternjeg jezika na neki drugi
Comment[hu]=Az üzenetek lefordítása a saját nyelvről egy idegen nyelvre
Comment[ia]=Traduce message ex tu linguage native a un altere linguage
Comment[is]=Þýðir skeyti úr þinni tungu yfir í annað
Comment[it]=Traduce i messaggi dalla tua lingua in un'altra
Comment[ja]=母国語から他の言語にメッセージを翻訳する
Comment[kk]=Хабарламаларыңызды тіліңізден басқа тілге аудару
Comment[km]=បកប្រែ​សារ​ពី​ភាសា​កំណើត​របស់​អ្នក​ទៅ​ជា​ភាសា​មួយ​ទៀត
Comment[ko]=모국어에서 다른 언어로 메시지를 번역합니다
Comment[lt]=Verčia žinutes iš gimtosios kalbos į užsienio kalbas
Comment[lv]=Tulko ziņojumus no dzimtās valodas uz citu valodu
Comment[mk]=Ги преведува пораките од вашиот мајчин јазик на друг јазик
Comment[ml]=നിങ്ങളുടെ സ്വന്ത ഭാഷയിലെ സന്ദേശങ്ങളെ അന്യ ഭാഷയിലേക്ക് പരിഭാഷപ്പെടുത്തുന്നു
Comment[nb]=Oversetter meldinger fra ditt eget språk til et annet
Comment[nds]=Översett Narichten vun Dien Moderspraak na anner Spraken
Comment[ne]=तपाईँ मातृ भाषाबाट अर्को भाषामा सन्देश अनुवाद गर्दछ
Comment[nl]=Vertaalt berichten van uw eigen taal naar een andere taal
Comment[nn]=Set om meldingar frå ditt eige språk til eit anna
Comment[pa]=ਤੁਹਾਡੀ ਮਾਂ-ਬੋਲੀ ਭਾਸ਼ਾ ਤੋਂ ਹੋਰ ਭਾਸ਼ਾ ਵਿੱਚ ਸੁਨੇਹੇ ਅਨੁਵਾਦ ਕਰੋ
Comment[pl]=Tłumaczy wiadomości z twojego języka na inny
Comment[pt]=Traduz as mensagens da sua língua nativa para outra língua
Comment[pt_BR]=Traduz mensagens do seu idioma nativo para outro idioma
Comment[ro]=Traduce mesajele din limba dumneavoastră în altă limbă
Comment[ru]=Переводит сообщение с вашего родного языка на язык вашего собеседника
Comment[se]=Jorgala dieđáhusaid du gielas muhton eará gillii
Comment[si]=ඔබේ භාශාවෙන් වෙනත් භාශාවකට පණිවුඩ හරවන්න
Comment[sk]=Preloží správy z vašeho rodného jazyka do iného
Comment[sl]=Prevede sporočila iz vašega domačega jezika v drugi jezik
Comment[sr]=Преводи поруке са вашег матерњег језика на неки други
Comment[sr@ijekavian]=Преводи поруке са вашег матерњег језика на неки други
Comment[sr@ijekavianlatin]=Prevodi poruke sa vašeg maternjeg jezika na neki drugi
Comment[sr@latin]=Prevodi poruke sa vašeg maternjeg jezika na neki drugi
Comment[sv]=Översätt meddelanden från ditt modersmål till ett annat språk
Comment[ta]=உங்கள் மொழியிலிருந்து வேறு மொழிக்கு மொழிபெயர்
Comment[tg]=Пайёмҳоро аз забони модарии шумо ба дигар забонҳо тарҷума мекунад
Comment[tr]=Diğer dillerden ana dilinize çevrilen mesajlar
Comment[uk]=Перекладає повідомлення з вашої рідної мови на якусь іншу мову
Comment[vi]=Dịch các tin nhắn từ ngôn ngữ mẹ đẻ sang ngôn ngữ khác
Comment[x-test]=xxTranslates messages from your native language to another languagexx
Comment[zh_CN]=将消息从您的母语翻译成其它语言
Comment[zh_HK]=將您母語的訊息翻譯為另一種語言
Comment[zh_TW]=將訊息從您的母語翻成其他語言


