[Desktop Entry]
Encoding=UTF-8
Icon=locale
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_translator
X-KDE-FactoryName=TranslatorConfigFactory
X-KDE-ParentApp=kopete_translator
X-KDE-ParentComponents=kopete_translator

Name=Translator
Name[be]=Перакладчык
Name[bg]=Преводач
Name[ca]=Traductor
Name[cs]=Překladač
Name[cy]=Cyfieithydd
Name[da]=Oversætter
Name[de]=Übersetzer
Name[el]=Μεταφραστής
Name[es]=Traductor
Name[et]=Tõlketeenus
Name[fi]=Kääntäjä
Name[fr]=Traducteur
Name[gl]=Traductor
Name[he]=מתרגם
Name[hu]=Tolmács
Name[it]=Traduttore
Name[nb]=Oversetter
Name[nl]=Vertaler
Name[pt]=Tradutor
Name[pt_BR]=Tradutor
Name[ru]=Переводчик
Name[sk]=Preklad
Name[sl]=Prevajalec
Name[sr]=Преводилац
Name[sv]=Översättning
Name[tr]=Çevirmen
Name[uz]=Таржимон
Name[wa]=Ratournaedje
Name[xx]=xxTranslatorxx
Comment=Translates messages from your native language to another language
Comment[bg]=Приставка за превод от един език на друг в реално време
Comment[ca]=Trandueix els missatges des del vostre idioma natiu cap a un altre
Comment[cy]=Cyfieithu negeseuon o'ch iaith gyntaf i iaith arall
Comment[da]=Oversætter beskeder fra dit indfødte sprog til et andet sprog
Comment[de]=Übersetzt Nachrichten von der eigenen in eine fremde Sprache
Comment[el]=Μεταφράζει μηνύματα από τη μητρική σας γλώσσα σε μια άλλη
Comment[es]=Traduce mensajes de su lengua a otra
Comment[et]=Tõlgib sõnumid sinu emakeelest mingisse muusse keelde
Comment[fr]=Traduit les messages de votre langue natale en une autre langue
Comment[gl]=Traduce as túas mensaxes da túa lingua nativa a outra
Comment[he]=מתרגם את מסריך משפת האם שלך לשפה אחרת
Comment[hu]=Az üzenetek lefordítása a saját nyelvről egy idegen nyelvre
Comment[it]=Traduci messaggi dalla tua lingua in un'altra
Comment[nb]=Oversetter meldinger fra ditt eget språk til et annet
Comment[nl]=Vertaalt berichten van uw eigen taal naar een andere taal
Comment[pt]=Traduz as mensagens da sua língua nativa para outra língua
Comment[pt_BR]=Traduz mensagens de seu idioma nativo para outro idioma
Comment[sk]=Prekladá správy z jedného jazyka do iného
Comment[sl]=Prevede sporočila iz vašega domačega jezika v drugi jezik
Comment[sr]=Преводи поруке са вашег матерњег језика на неки други
Comment[sv]=Översätt meddelanden från ditt modersmål till ett annat språk
Comment[xx]=xxTranslates messages from your native language to another languagexx


