[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000900
Icon=locale
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_translator
X-KDE-PluginInfo-Author=Duncan Mac-Vicar Prett
X-KDE-PluginInfo-Email=duncan@kde.org
X-KDE-PluginInfo-Name=kopete_translator
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Translator
Name[ar]=المترجم
Name[be]=Перакладчык
Name[bg]=Автоматичен превод
Name[br]=Troer
Name[bs]=Prevodilac
Name[ca]=Traductor
Name[cs]=Překladač
Name[cy]=Cyfieithydd
Name[da]=Oversætter
Name[de]=Übersetzer
Name[el]=Μεταφραστής
Name[es]=Traductor
Name[et]=Tõlketeenus
Name[eu]=Itzultzailea
Name[fi]=Kääntäjä
Name[fr]=Traducteur
Name[ga]=Aistritheoir
Name[gl]=Traductor
Name[he]=מתרגם
Name[hi]=अनुवादक
Name[hr]=Prevoditelj
Name[hu]=Tolmács
Name[is]=Þýðandi
Name[it]=Traduttore
Name[ja]=翻訳ソフト
Name[lt]=Vertėjas
Name[mk]=Преведувач
Name[nb]=Oversetter
Name[nl]=Vertaler
Name[nn]=Omsetjar
Name[pl]=Tłumacz
Name[pt]=Tradutor
Name[pt_BR]=Tradutor
Name[ro]=Traducător
Name[ru]=Переводчик
Name[se]=Jorgaleaddji
Name[sk]=Preklad
Name[sl]=Prevajalec
Name[sr]=Преводилац
Name[sr@Latn]=Prevodilac
Name[sv]=Översättning
Name[ta]=மொழிமாற்றி
Name[tg]=Тарҷумон
Name[tr]=Çevirmen
Name[uk]=Перекладач
Name[uz]=Таржимон
Name[wa]=Ratournaedje
Name[zh_CN]=翻译家
Comment=Chat with foreign buddies in your native language
Comment[ar]=تحدث مع أصدقائك اﻷجانب بلغتك اﻷم
Comment[be]=Гутарка з замежнымі таварышамі на Вашай роднай мове
Comment[bg]=Приставка за превод от един език на друг в реално време
Comment[bs]=Razgovarajte sa prijateljima iz inostranstva u vašem jeziku
Comment[ca]=Feu un xat amb els vostres amics en la vostra llengua nativa
Comment[cs]=Pokecejte si s cizinci ve svém rodném jazyku
Comment[cy]=Sgwrsio â chyfeillion tramor yn eich iaith gyntaf
Comment[da]=Chat med udenlandske venner på dit eget sprog
Comment[de]=Chatten mit fremdsprachigen Freunden in der eigenen Muttersprache
Comment[el]=Συνομιλήστε με ξένους φίλους στη μητρική σας γλώσσα
Comment[es]=Charle con compañeros extranjeros en su lengua
Comment[et]=Vestlemine välismaiste semudega enda emakeeles
Comment[eu]=Atzerriko lagunekin zure ama-hizkuntzan hitz egin
Comment[fi]=Juttele ulkomaisten kaveriesi kanssa omalla kielelläsi
Comment[fr]=Discutez avec des étrangers dans votre langue natale
Comment[gl]=Fala con amigos extranxeiros na túa lingua nativa
Comment[he]=שוחח עם חברים מחו"ל בשפת האם שלך
Comment[hi]=आपकी मातृ भाषा में विदेशी बड्डीस से गपशप करें
Comment[hr]=Razgovo sa stranim prijateljima na vašem materinjem jeziku
Comment[hu]=Csevegés más nyelvet beszélőkkel a saját nyelven
Comment[is]=rabbaðu við útlenda félaga á þínu máli
Comment[it]=Parla con un tuo amico straniero nella tua lingua
Comment[ja]=母国語のままで他国の人とチャットする
Comment[lt]=Bendraukite su bičiuliais iš užsieno gimtąja kalba
Comment[mk]=Разговарајте со странски пријатели на вашиот мајчин јазик
Comment[nb]=Snakk med utenlandske venner på ditt eget språk
Comment[nl]=Praat met vrienden uit andere landen in uw eigen taal
Comment[nn]=Prat med utanlandske venner på ditt eige språk
Comment[pl]=Umożliwia rozmowę z zagranicznymi znajomymi w Twoim macierzystym języku
Comment[pt]=Converse com amigos estrangeiros na sua língua nativa
Comment[pt_BR]=Conversa com colegas estrangeiros em seu idioma nativo
Comment[ru]=Позволяет говорить с иностранцами на вашем родном языке
Comment[se]=Čátte olgoriikkalaš ustibiiguin iežat gillii
Comment[sk]=Rozprávajte sa s vašimi priateľmi v cudzine v inom jazyku
Comment[sl]=Klepetajte s prijatelji iz tujine v svojem domačem jeziku
Comment[sr]=Ћаскајте са вашим другарима странцима на вашем матерњем језику
Comment[sr@Latn]=Ćaskajte sa vašim drugarima strancima na vašem maternjem jeziku
Comment[sv]=Chatta med utländska kompisar på ditt modersmål
Comment[ta]=வெளிநாட்டு நபருடன் உங்கள் சொந்த மொழியில் அரட்டை அடிக்க முடியும்
Comment[tg]=Чат бо дӯстони хориҷӣ дар забони модарии шумо
Comment[tr]=Anadilinizdeki arkadaşlarla sohbet edin
Comment[uk]=Розмова з іноземними друзями на Вашій рідній мові
Comment[zh_CN]=以您的母语与外国朋友聊天
