[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=preferences-desktop-locale
X-KDE-ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_translator
X-KDE-PluginInfo-Author=Duncan Mac-Vicar Prett
X-KDE-PluginInfo-Email=duncan@kde.org
X-KDE-PluginInfo-Name=kopete_translator
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Translator
Name[ar]=مترجم
Name[ast]=Tornador
Name[bg]=Автоматичен превод
Name[bn]=অনুবাদক
Name[br]=Troer
Name[bs]=Prevodilac
Name[ca]=Traductor
Name[ca@valencia]=Traductor
Name[cs]=Překladatel
Name[cy]=Cyfieithydd
Name[da]=Oversætter
Name[de]=Übersetzer
Name[el]=Μεταφραστής
Name[en_GB]=Translator
Name[eo]=Tradukilo
Name[es]=Traductor
Name[et]=Tõlketeenus
Name[eu]=Itzultzailea
Name[fa]=مترجم
Name[fi]=Kääntäjä
Name[fr]=Traducteur
Name[ga]=Aistritheoir
Name[gl]=Tradutor
Name[he]=מתרגם
Name[hi]=अनुवादक
Name[hne]=अनुवादक
Name[hr]=Prevoditelj
Name[hu]=Tolmács
Name[ia]=Traductor
Name[is]=Þýðandi
Name[it]=Traduttore
Name[ja]=翻訳ソフト
Name[kk]=Тілмаш
Name[km]=កម្មវិធី​បកប្រែ
Name[ko]=번역기
Name[ku]=Wergêr
Name[lt]=Vertėjas
Name[lv]=Tulkotājs
Name[mai]=अनुवादक
Name[mk]=Преведувач
Name[ml]=പരിഭാഷകന്‍
Name[nb]=Oversetter
Name[nds]=Översetter
Name[ne]=अनुवादक
Name[nl]=Vertaler
Name[nn]=Omsetjar
Name[oc]=Traductor
Name[pa]=ਅਨੁਵਾਦਕ
Name[pl]=Tłumacz
Name[pt]=Tradutor
Name[pt_BR]=Tradutor
Name[ro]=Traducător
Name[ru]=Переводчик
Name[se]=Jorgaleaddji
Name[si]=පරිවර්‍තකය
Name[sk]=Prekladač
Name[sl]=Prevajalnik
Name[sq]=Përkthyesi
Name[sr]=Преводилац
Name[sr@ijekavian]=Преводилац
Name[sr@ijekavianlatin]=Prevodilac
Name[sr@latin]=Prevodilac
Name[sv]=Översättning
Name[ta]=மொழிமாற்றி
Name[tg]=Тарҷумон
Name[th]=ตัวแปลภาษา
Name[tr]=Çevirmen
Name[ug]=تەرجىمان
Name[uk]=Перекладач
Name[uz]=Tarjimon
Name[uz@cyrillic]=Таржимон
Name[vi]=Trình dịch thuật
Name[wa]=Ratournaedje
Name[x-test]=xxTranslatorxx
Name[zh_CN]=翻译家
Name[zh_HK]=翻譯者
Name[zh_TW]=翻譯器
Comment=Chat with foreign buddies in your native language
Comment[ar]=دردش مع أصدقاء خارجيين بلغتك الأم
Comment[ast]=Charra con collacios foriatos na so llingua
Comment[bg]=Приставка за превод от един език на друг в реално време
Comment[bn]=আপনার স্থানীয় ভাষাতে বিদেশী বন্ধুর সঙ্গে চ্যাট করুন
Comment[bs]=Časkaj sa stranim prijateljima na maternjem jeziku
Comment[ca]=Feu un xat amb els vostres amics en la vostra llengua nativa
Comment[ca@valencia]=Feu un xat amb els vostres amics en la vostra llengua nativa
Comment[cs]=Pokecejte si s cizinci ve svém rodném jazyku
Comment[cy]=Sgwrsio â chyfeillion tramor yn eich iaith gyntaf
Comment[da]=Chat med udenlandske venner på dit eget sprog
Comment[de]=Chatten mit fremdsprachigen Freunden in der eigenen Muttersprache
Comment[el]=Συνομιλήστε με ξένους φίλους στη μητρική σας γλώσσα
Comment[en_GB]=Chat with foreign buddies in your native language
Comment[eo]=Babili kun eksterlandaj amikoj per via denaska lingvo
Comment[es]=Charle con amigos extranjeros en su idioma
Comment[et]=Vestlemine välismaiste semudega enda emakeeles
Comment[eu]=Atzerriko lagunekin zure ama-hizkuntzan hitz egin
Comment[fa]=گپ زدن با دوستان خارجی با زبان مادریتان
Comment[fi]=Juttele ulkomaisten kaveriesi kanssa omalla kielelläsi
Comment[fr]=Discutez avec des étrangers dans votre langue natale
Comment[ga]=Déan comhrá le cairde iasachta i do theanga dhúchais
Comment[gl]=Fale con amigos estranxeiros na súa lingua nai
Comment[he]=שוחח עם חברים מחו"ל בשפת האם שלך
Comment[hi]=अपनी मातृ भाषा में विदेशी दोस्तों से गपशप करें
Comment[hne]=अपन मातृ भाखा मं विदेसी दोस्तों से गपसप करव
Comment[hr]=Razgovo sa stranim prijateljima na vašem materinjem jeziku
Comment[hu]=Csevegés más nyelvet beszélőkkel a saját nyelven
Comment[ia]=Conversa con amicos estranie in tu linguage native
Comment[is]=rabbaðu við útlenda félaga á þínu máli
Comment[it]=Parla con gli amici stranieri nella tua lingua
Comment[ja]=母国語のままで他国の人とチャットする
Comment[kk]=Шетел достарымен өз тіліңізде әңгімелесу
Comment[km]=ជជែក​កំសាន្ត​ជាមួយ​សម្លាញ់​ជនជាតិ​បរទេស ដោយ​ប្រើ​ភាសា​កំណើត​របស់​អ្នក
Comment[ko]=외국 친구들과 모국어로 대화하십시오
Comment[lt]=Bendraukite su bičiuliais iš užsieno gimtąja kalba
Comment[lv]=Ļauj sarunāties ar svešzemju draugiem dzimtajā valodā
Comment[mk]=Разговарајте со странски пријатели на вашиот мајчин јазик
Comment[ml]=അന്യ‌നാട്ടിലെ ചങ്ങാതിമാരുമായി സ്വന്ത ഭാഷയില്‍ സംവദിക്കാം 
Comment[nb]=Snakk med utenlandske venner på ditt eget språk
Comment[nds]=Klöön in Dien Moderspraak mit frömdspreken Frünnen
Comment[ne]=तपाईँको मातृ भाषामा विदेशी साथीसँग कुराकानी गर्नुहोस्
Comment[nl]=Praat met vrienden uit andere landen in uw eigen taal
Comment[nn]=Prat med utanlandske venner på ditt eige språk
Comment[pa]=ਆਪਣੇ ਪਰਦੇਸੀ ਦੋਸਤ ਨਾਲ ਆਪਣੀ ਮਾਂ-ਬੋਲੀ ਵਿੱਚ ਗੱਲਾਂ ਕਰੋ
Comment[pl]=Umożliwia rozmowę z zagranicznymi znajomymi w twoim macierzystym języku
Comment[pt]=Converse com amigos estrangeiros na sua língua nativa
Comment[pt_BR]=Converse com colegas estrangeiros em seu idioma nativo
Comment[ro]=Conversați cu amici străini în limba dumneavoastră maternă
Comment[ru]=Позволяет говорить с иностранцами на вашем родном языке
Comment[se]=Čátte olgoriikkalaš ustibiiguin iežat gillii
Comment[si]=විදේශීය යහළුවන් සමඟ ඔබේ බසින් සංවාදයේ යෙදෙන්න
Comment[sk]=Rozprávajte sa s cudzincami vo svojom rodnom jazyku
Comment[sl]=Klepetajte s prijatelji iz tujine v svojem domačem jeziku
Comment[sr]=Ћаскајте са другарима странцима на свом матерњем језику
Comment[sr@ijekavian]=Ћаскајте са другарима странцима на свом матерњем језику
Comment[sr@ijekavianlatin]=Ćaskajte sa drugarima strancima na svom maternjem jeziku
Comment[sr@latin]=Ćaskajte sa drugarima strancima na svom maternjem jeziku
Comment[sv]=Chatta med utländska kompisar på ditt modersmål
Comment[ta]=வெளிநாட்டு நபருடன் உங்கள் சொந்த மொழியில் அரட்டை அடிக்க முடியும்
Comment[tg]=Чат бо дӯстони хориҷӣ дар забони модарии шумо
Comment[tr]=Anadilinizdeki arkadaşlarla sohbet edin
Comment[uk]=Розмова з іноземними друзями вашою рідною мовою
Comment[vi]=Trò chuyện với bạn nước ngoài sử dụng ngôn ngữ mẹ đẻ
Comment[x-test]=xxChat with foreign buddies in your native languagexx
Comment[zh_CN]=以您的母语和外国朋友聊天
Comment[zh_HK]=以您的母語和外地的伙伴聊天
Comment[zh_TW]=用您的母語跟外國朋友聊天
