[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=translator_plugin
Name=Translator
Name[fr]=Traducteur
Name[ja]=翻訳
Name[pt]=Tradutor
Name[pt_BR]=Tradutor
Name[ru]=Переводчик
Name[sv]=Översättning
Name[xh]=Umguquleli kolunye ulwimi
Name[zh_CN]=翻译机
Name[zh_TW]=翻譯機
Name[zu]=Umguquleli kolunye ulimi
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_translator
X-Kopete-Plugin-Id=translator
X-Kopete-Author=Duncan Mac-Vicar P.
X-Kopete-Site=http://kopete.kde.org
X-Kopete-Email=duncan@kde.org
X-Kopete-License=GPL
Comment=Chat with foreign buddies in your native language
Comment[es]=Charle con amigos extranjeros en su idioma nativo
Comment[fr]=Discuter avec des amis étrangers dans votre langue maternelle
Comment[ja]=母国語で外国の友人とチャット
Comment[pt]=Fale com os seus amigos estrangeiros na sua língua nativa
Comment[pt_BR]=Converse com colegas estrangeiros na sua língua nativa
Comment[ru]=Чат с зарубежными пользователями на вашем родном языке
Comment[sv]=Chatta med utländska kompisar på ditt modersmål
Comment[zh_CN]=以您的母语跟外国的好友聊天
Comment[zh_TW]=以您的母語跟外國的好友聊天
