[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=locale
Name=Translator
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_translator
X-Kopete-Plugin-Id=translator
X-Kopete-Author=Duncan Mac-Vicar P.
X-Kopete-Site=http://kopete.kde.org
X-Kopete-Email=duncan@kde.org
X-Kopete-License=GPL
Comment=Chat with foreign buddies in your native language
