[Desktop Entry]
Encoding=UTF-8
Icon=smpppdcs
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_smpppdcs
X-KDE-FactoryName=SMPPPDCSConfigFactory
X-KDE-ParentApp=kopete_smpppdcs
X-KDE-ParentComponents=kopete_smpppdcs

X-Kopete-Version=1000900

Name=SUSE SMPPPD Connection Status
Name[et]=SUSE SMPPPD ühenduse staatus
Name[ga]=Stádas Ceangail SUSE SMPPPD
Name[pt]=Estado da Ligação SUSE SMPPPD
Name[pt_BR]=Estado da Ligação SUSE SMPPPD
Comment=SMPPPDCS Plugin
Comment[et]=SMPPPDCS plugin
Comment[ga]=Breiseán SMPPPDCS
Comment[pt]='Plugin' SMPPPDCS
Comment[pt_BR]='Plugin' SMPPPDCS
