[Desktop Entry]
Encoding=UTF-8
Icon=smpppdcs
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_smpppdcs
X-KDE-FactoryName=SMPPPDCSConfigFactory
X-KDE-ParentApp=kopete_smpppdcs
X-KDE-ParentComponents=kopete_smpppdcs

X-Kopete-Version=1000900

Name=SUSE SMPPPD Connection Status
Name[ca]=Estatus de la connexió SUSE SMPPPD 
Name[cs]=Stav spojení SUSE SMPPPD
Name[da]=SUSE SMPPD Forbindelsesstatus
Name[de]=SuSE SMPPPD-Verbindungsstatus
Name[el]=Κατάσταση Σύνδεσης του SuSE SMPPPD
Name[es]=Estado de conexión de SUSE SMPPPD
Name[et]=SUSE SMPPPD ühenduse staatus
Name[ga]=Stádas Ceangail SUSE SMPPPD
Name[he]=מצב החיבור של SUSE SMPPPD
Name[hu]=SUSE SMPPPD kapcsolati állapot
Name[is]=SUSE SMPPPD tengingarstaða
Name[it]=Stato della connessione di SUSE SMPPPD
Name[nl]=SUSE SMPPPD-verbindingsstatus
Name[pl]=Status połączenia SUSE SMPPPD
Name[pt]=Estado da Ligação SUSE SMPPPD
Name[pt_BR]=Status da Conexão SUSE SMPPPD
Name[ru]=Статус соединения SUSE SMPPPD
Name[sl]=Stanje povezave z uporabo SuSE SMPPPD
Name[sr]=Статус SUSE-ове SMPPPD везе
Name[sr@Latn]=Status SUSE-ove SMPPPD veze
Name[sv]=SUSE SMPPPD anslutningsstatus
Name[tr]=SUSE SMPPPD bağlantı durumu
Name[zh_CN]=SUSE SMPPPD 连接状态
Comment=SMPPPDCS Plugin
Comment[br]=Lugant SMPPPDCS
Comment[ca]=Connector SMPPPDCS
Comment[cs]=SMPPPDCS modul
Comment[da]=SMPPPDCS-Plugin
Comment[de]=SMPPPDCS-Modul
Comment[el]=Πρόσθετο SMPPPDCS
Comment[es]=Extensión SMPPPDCS
Comment[et]=SMPPPDCS plugin
Comment[ga]=Breiseán SMPPPDCS
Comment[he]=תוסף SMPPPDCS
Comment[hu]=SMPPPDCS bővítőmodul
Comment[is]=SMPPPDCS íforrit
Comment[it]=Plugin SMPPPDCS
Comment[nl]=SMPPPDCS-plugin
Comment[pl]=Wtyczka SMPPPDCS
Comment[pt]='Plugin' SMPPPDCS
Comment[pt_BR]=Plugin SMPPPDCS
Comment[ro]=Modul SMPPPDCS
Comment[ru]=Модуль SMPPPDCS
Comment[sl]=Vstavek SMPPPDCS
Comment[sr]=Прикључак SMPPPDCS
Comment[sr@Latn]=Priključak SMPPPDCS
Comment[sv]=SMPPPDCS-insticksprogram
Comment[tr]=SMPPPDCS Eklentisi
Comment[zh_CN]=SMPPPDCS 插件
