[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_privacy
X-KDE-FactoryName=kcm_kopete_privacy
X-KDE-ParentApp=kopete_privacy
X-KDE-ParentComponents=kopete_privacy

Name=Privacy
Name[ar]=الخصوصية
Name[ast]=Privacidá
Name[bg]=Поверителност
Name[bs]=Privatnost
Name[ca]=Privadesa
Name[ca@valencia]=Privadesa
Name[cs]=Soukromí
Name[da]=Privatliv
Name[de]=Privatsphäre
Name[el]=Ιδιωτικό απόρρητο
Name[en_GB]=Privacy
Name[eo]=Privateco
Name[es]=Privacidad
Name[et]=Privaatsus
Name[eu]=Pribatutasuna
Name[fa]=محرمانگی
Name[fi]=Tietosuoja
Name[fr]=Vie privée
Name[ga]=Príobháideachas
Name[gl]=Intimidade
Name[hi]=गोपनीयता
Name[hne]=गोपनीयता
Name[hr]=Privatnost
Name[hu]=Adatvédelem
Name[ia]=confidentialitate
Name[it]=Riservatezza
Name[ja]=プライバシー
Name[kk]=Дербестік
Name[km]=ភាព​ឯកជន
Name[ko]=사생활
Name[lt]=Privatumas
Name[lv]=Privātums
Name[mai]=गुप्तता
Name[ml]=സ്വകാര്യ‌ത
Name[mr]=गुप्तता
Name[nb]=Personvern
Name[nds]=Privaatrebeet
Name[ne]=गोपनीयता
Name[nl]=Privacy
Name[nn]=Personvern
Name[pa]=ਪਰਾਈਵੇਸੀ
Name[pl]=Prywatność
Name[pt]=Privacidade
Name[pt_BR]=Privacidade
Name[ro]=Intimitate
Name[ru]=Фильтр сообщений
Name[si]=පුද්ගලිකත්වය
Name[sk]=Súkromie
Name[sl]=Zasebnost
Name[sq]=Private
Name[sr]=Приватност
Name[sr@ijekavian]=Приватност
Name[sr@ijekavianlatin]=Privatnost
Name[sr@latin]=Privatnost
Name[sv]=Integritet
Name[th]=ความเป็นส่วนตัว
Name[tr]=Gizlilik
Name[ug]=شەخسىيەت
Name[uk]=Конфіденційність
Name[vi]=Riêng tư
Name[x-test]=xxPrivacyxx
Name[zh_CN]=隐私
Name[zh_TW]=隱私
Comment=Privacy Plugin
Comment[ar]=ملحق الخصوصية
Comment[ast]=Complementu de privacidá
Comment[bg]=Приставка за поверителност
Comment[bs]=Dodatak za privatnost
Comment[ca]=Connector de privadesa
Comment[ca@valencia]=Connector de privadesa
Comment[cs]=Modul soukromí
Comment[da]=Privatlivs-plugin
Comment[de]=Privatsphäre-Modul
Comment[el]=Πρόσθετο ιδιωτικού απορρήτου
Comment[en_GB]=Privacy Plugin
Comment[eo]=Privateca kromaĵo
Comment[es]=Complemento de privacidad
Comment[et]=Privaatsusplugin
Comment[eu]=Pribatutasunaren plugina
Comment[fa]=وصله محرمانگی
Comment[fi]=Tietosuojaliitännäinen
Comment[fr]=Module de vie privée
Comment[ga]=Breiseán Príobháideachta
Comment[gl]=Engadido de intimidade
Comment[hi]=प्राइवेसी प्लगइन
Comment[hne]=प्राइवेसी प्लगइन
Comment[hr]=Priključak za privatnost
Comment[hu]=Adatvédelem modul
Comment[ia]=Plug-in de confidentialitate
Comment[it]=Estensione di riservatezza
Comment[ja]=プライバシープラグイン
Comment[kk]=Дербестік плагині
Comment[km]=កម្មវិធី​ជំនួយ​ភាព​ឯកជន
Comment[ko]=사생활 플러그인
Comment[lt]=Privatumo įskiepis
Comment[lv]=Privātuma spraudnis
Comment[ml]=സ്വകാര്യ‌താ സംയോജകം
Comment[nb]=Programtillegg for personvern
Comment[nds]=Privaatrebeet-Moduul
Comment[ne]=गोपनीयता प्लगइन
Comment[nl]=Privacy-plugin
Comment[nn]=Programtillegg for personvern
Comment[pa]=ਪਰਾਈਵੇਸੀ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka ochrony prywatności
Comment[pt]='Plugin' de Privacidade
Comment[pt_BR]=Plugin de privacidade
Comment[ro]=Modul Intimitate
Comment[ru]=Модуль фильтрации сообщений
Comment[si]=පුද්ගලිකත්ව ප්ලගිනය
Comment[sk]=Modul súkromia
Comment[sl]=Vstavek za zasebnost
Comment[sr]=Прикључак за приватност
Comment[sr@ijekavian]=Прикључак за приватност
Comment[sr@ijekavianlatin]=Priključak za privatnost
Comment[sr@latin]=Priključak za privatnost
Comment[sv]=Integritetsinsticksprogram
Comment[th]=ส่วนเสริมความเป็นส่วนตัว
Comment[tr]=Gizlilik Eklentisi
Comment[uk]=Додаток конфіденційності
Comment[vi]=Phần bổ sung riêng tư
Comment[x-test]=xxPrivacy Pluginxx
Comment[zh_CN]=隐私插件
Comment[zh_TW]=隱私外掛程式
