[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000900
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_privacy
X-KDE-PluginInfo-Author=Andre Duffeck
X-KDE-PluginInfo-Email=andre@duffeck.de
X-KDE-PluginInfo-Name=kopete_privacy
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Privacy
Name[bg]=Поверителност
Name[de]=Privatsphäre
Name[el]=Ιδιωτικό απόρρητο
Name[es]=Privacidad
Name[fa]=محرمانگی
Name[ga]=Príobháideachas
Name[ja]=プライバシー
Name[ne]=गोपनीयता
Name[pt]=Privacidade
Name[pt_BR]=Privacidade
Name[sv]=Integritet
Name[uk]=Конфіденційність
Name[vi]=Riêng tư
Name[x-test]=xxPrivacyxx
Name[zh_CN]=隐私
Name[zh_TW]=隱私
Comment=Filters incoming messages
Comment[bg]=Филтриране на входящите съобщения
Comment[de]=Filtert eingehende Nachrichten
Comment[el]=Φιλτράρισμα εισερχόμενων μηνυμάτων
Comment[es]=Filtra los mensajes entrantes
Comment[fa]=پیامهای واردشده را پالایه می‌کند
Comment[ja]=受信メッセージをフィルタします
Comment[kk]=Хабарларды бояулау
Comment[ne]=आगमन सन्देश फिल्टर गर्दछ
Comment[nl]=Filtert inkomende berichten
Comment[pt]=Realçar as mensagens
Comment[pt_BR]=Realçar as mensagens
Comment[sv]=Filtrerar inkommande meddelanden
Comment[uk]=Фільтрує вхідні повідомлення
Comment[vi]=Lọc các tin nhắn gửi đến
Comment[x-test]=xxFilters incoming messagesxx
Comment[zh_CN]=过滤收到的消息
Comment[zh_TW]=過濾進來的訊息
