[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=view-filter
X-KDE-ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_privacy
X-KDE-PluginInfo-Author=Andre Duffeck
X-KDE-PluginInfo-Email=duffeck@kde.org
X-KDE-PluginInfo-Name=kopete_privacy
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Category[ca]=Connectors
X-KDE-PluginInfo-Category[cs]=Moduly
X-KDE-PluginInfo-Category[de]=Module
X-KDE-PluginInfo-Category[el]=Πρόσθετα
X-KDE-PluginInfo-Category[et]=Pluginad
X-KDE-PluginInfo-Category[fi]=Liitännäiset
X-KDE-PluginInfo-Category[ga]=Breiseáin
X-KDE-PluginInfo-Category[is]=Íforrit
X-KDE-PluginInfo-Category[ja]=プラグイン
X-KDE-PluginInfo-Category[km]=កម្មវិធី​ជំនួយ
X-KDE-PluginInfo-Category[nds]=Modulen
X-KDE-PluginInfo-Category[pl]=Wtyczki
X-KDE-PluginInfo-Category[pt]='Plugins'
X-KDE-PluginInfo-Category[pt_BR]='Plugins'
X-KDE-PluginInfo-Category[sv]=Insticksprogram
X-KDE-PluginInfo-Category[x-test]=xxPluginsxx
X-KDE-PluginInfo-Category[zh_CN]=插件
X-KDE-PluginInfo-Category[zh_TW]=外掛程式
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Privacy
Name[bg]=Поверителност
Name[ca]=Privadesa
Name[cs]=Soukromí
Name[de]=Privatsphäre
Name[el]=Ιδιωτικό απόρρητο
Name[eo]=Privateco
Name[es]=Privacidad
Name[et]=Privaatsus
Name[fa]=محرمانگی
Name[fi]=Tietosuoja
Name[ga]=Príobháideachas
Name[gl]=Intimidade
Name[ja]=プライバシー
Name[km]=ភាព​ឯកជន
Name[ko]=사생활
Name[lt]=Privatumas
Name[nb]=Personvern
Name[nds]=Privaatrebeet
Name[ne]=गोपनीयता
Name[pl]=Prywatność
Name[pt]=Privacidade
Name[pt_BR]=Privacidade
Name[sv]=Integritet
Name[tr]=Gizlilik
Name[uk]=Конфіденційність
Name[vi]=Riêng tư
Name[x-test]=xxPrivacyxx
Name[zh_CN]=隐私
Name[zh_TW]=隱私
Comment=Filters incoming messages
Comment[bg]=Филтриране на входящите съобщения
Comment[ca]=Filtra els missatges entrants
Comment[cs]=Filtruje příchozí zprávy
Comment[de]=Filtert eingehende Nachrichten
Comment[el]=Φιλτράρισμα εισερχόμενων μηνυμάτων
Comment[eo]=Filtras enirantajn mesaĝojn
Comment[es]=Filtra los mensajes entrantes
Comment[et]=Sisenevate sõnumite filtreerimine
Comment[fa]=پیامهای واردشده را پالایه می‌کند
Comment[fi]=Suodattaa saapuvat viestit
Comment[gl]=Filtra as mensaxes entrantes
Comment[ja]=受信メッセージをフィルタします
Comment[kk]=Хабарларды бояулау
Comment[km]=ត្រង​សារ​ចូល
Comment[ko]=들어오는 메시지를 걸러냅니다
Comment[nb]=Filtrerer innkommende meldinger
Comment[nds]=Schutert ankamen Narichten rut
Comment[ne]=आगमन सन्देश फिल्टर गर्दछ
Comment[nl]=Filtert inkomende berichten
Comment[pl]=Filtrowanie wiadomości przychodzących
Comment[pt]=Realçar as mensagens
Comment[pt_BR]=Realçar as mensagens
Comment[sv]=Filtrerar inkommande meddelanden
Comment[uk]=Фільтрує вхідні повідомлення
Comment[vi]=Lọc các tin nhắn gửi đến
Comment[x-test]=xxFilters incoming messagesxx
Comment[zh_CN]=过滤收到的消息
Comment[zh_TW]=過濾進來的訊息
