[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KCModule

X-KDE-Library=kopete_privacy
X-KDE-FactoryName=kcm_kopete_privacy
X-KDE-ParentApp=kopete_privacy
X-KDE-ParentComponents=kopete_privacy

Name=Privacy
Name[uk]=Конфіденційність
Name[x-test]=xxPrivacyxx
Comment=Privacy Plugin
Comment[uk]=Втулок конфіденційності
Comment[x-test]=xxPrivacy Pluginxx
