[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KCModule

X-KDE-Library=kopete_privacy
X-KDE-FactoryName=kcm_kopete_privacy
X-KDE-ParentApp=kopete_privacy
X-KDE-ParentComponents=kopete_privacy

Name=Privacy
Name[de]=Privatsphäre
Name[el]=Ιδιωτικό απόρρητο
Name[es]=Privacidad
Name[ja]=プライバシー
Name[sv]=Integritet
Name[uk]=Конфіденційність
Name[x-test]=xxPrivacyxx
Name[zh_TW]=隱私
Comment=Privacy Plugin
Comment[de]=Privatsphäre-Modul
Comment[el]=Πρόσθετο ιδιωτικού απορρήτου
Comment[es]=Complemento de privacidad
Comment[fa]=وصلۀ محرمانگی
Comment[ja]=プライバシープラグイン
Comment[sv]=Integritetsinsticksprogram
Comment[uk]=Втулок конфіденційності
Comment[x-test]=xxPrivacy Pluginxx
Comment[zh_TW]=隱私外掛程式
