[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=view-filter
X-KDE-ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_privacy
X-KDE-PluginInfo-Author=Andre Duffeck
X-KDE-PluginInfo-Email=duffeck@kde.org
X-KDE-PluginInfo-Name=kopete_privacy
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Privacy
Name[ar]=الخصوصية
Name[ast]=Privacidá
Name[bg]=Поверителност
Name[bs]=Privatnost
Name[ca]=Privadesa
Name[ca@valencia]=Privadesa
Name[cs]=Soukromí
Name[da]=Privatliv
Name[de]=Privatsphäre
Name[el]=Ιδιωτικό απόρρητο
Name[en_GB]=Privacy
Name[eo]=Privateco
Name[es]=Privacidad
Name[et]=Privaatsus
Name[eu]=Pribatutasuna
Name[fa]=محرمانگی
Name[fi]=Tietosuoja
Name[fr]=Vie privée
Name[ga]=Príobháideachas
Name[gl]=Intimidade
Name[hi]=गोपनीयता
Name[hne]=गोपनीयता
Name[hr]=Privatnost
Name[hu]=Adatvédelem
Name[ia]=confidentialitate
Name[it]=Riservatezza
Name[ja]=プライバシー
Name[kk]=Дербестік
Name[km]=ភាព​ឯកជន
Name[ko]=사생활
Name[lt]=Privatumas
Name[lv]=Privātums
Name[mai]=गुप्तता
Name[ml]=സ്വകാര്യ‌ത
Name[mr]=गुप्तता
Name[nb]=Personvern
Name[nds]=Privaatrebeet
Name[ne]=गोपनीयता
Name[nl]=Privacy
Name[nn]=Personvern
Name[pa]=ਪਰਾਈਵੇਸੀ
Name[pl]=Prywatność
Name[pt]=Privacidade
Name[pt_BR]=Privacidade
Name[ro]=Intimitate
Name[ru]=Фильтр сообщений
Name[si]=පුද්ගලිකත්වය
Name[sk]=Súkromie
Name[sl]=Zasebnost
Name[sq]=Private
Name[sr]=Приватност
Name[sr@ijekavian]=Приватност
Name[sr@ijekavianlatin]=Privatnost
Name[sr@latin]=Privatnost
Name[sv]=Integritet
Name[th]=ความเป็นส่วนตัว
Name[tr]=Gizlilik
Name[ug]=شەخسىيەت
Name[uk]=Конфіденційність
Name[vi]=Riêng tư
Name[x-test]=xxPrivacyxx
Name[zh_CN]=隐私
Name[zh_TW]=隱私
Comment=Filters incoming messages
Comment[ar]=رشح الرسائل الواردة
Comment[ast]=Filtra los mensaxes entrantes
Comment[bg]=Филтриране на входящите съобщения
Comment[bs]=Filtrirane dolazne poruke
Comment[ca]=Filtra els missatges entrants
Comment[ca@valencia]=Filtra els missatges entrants
Comment[cs]=Filtruje příchozí zprávy
Comment[da]=Filtrerer indkommende beskeder
Comment[de]=Filtert eingehende Nachrichten
Comment[el]=Φιλτράρισμα εισερχόμενων μηνυμάτων
Comment[en_GB]=Filters incoming messages
Comment[eo]=Filtras enirantajn mesaĝojn
Comment[es]=Filtra los mensajes entrantes
Comment[et]=Sisenevate sõnumite filtreerimine
Comment[eu]=Iragazi sarrerako mezuak
Comment[fa]=پیامهای واردشده را پالایه می‌کند
Comment[fi]=Suodattaa saapuvat viestit
Comment[fr]=Filtre les messages entrants
Comment[ga]=Teachtaireachtaí isteach a scagadh
Comment[gl]=Filtra as mensaxes entrantes
Comment[hi]=आवक संदेशों को फिल्टर करता है
Comment[hne]=आवक संदेस मन ल छनइया करथे 
Comment[hr]=Filtrira dolazne poruke
Comment[hu]=Szűrés a bejövő üzenetekre
Comment[ia]=Filtra messages in arrivata
Comment[it]=Filtra i messaggi in arrivo
Comment[ja]=受信メッセージをフィルタします
Comment[kk]=Келген хабарламаларды сүзгілеу
Comment[km]=ត្រង​សារ​ចូល
Comment[ko]=들어오는 메시지를 걸러냅니다
Comment[lt]=Filtruoti gaunamas žinutes
Comment[lv]=Filtrē ienākošos ziņojumus
Comment[ml]=ആഗമ സന്ദേശങ്ങള്‍ അരിക്കുന്നു
Comment[nb]=Filtrerer innkommende meldinger
Comment[nds]=Schutert ankamen Narichten rut
Comment[ne]=आगमन सन्देश फिल्टर गर्दछ
Comment[nl]=Filtert inkomende berichten
Comment[nn]=Filtrerer innkommande meldingar
Comment[pa]=ਆ ਰਹੇ ਸੁਨੇਹੇ ਫਿਲਟਰ ਕਰੋ
Comment[pl]=Filtrowanie wiadomości przychodzących
Comment[pt]=Realçar as mensagens
Comment[pt_BR]=Filtra as mensagens recebidas
Comment[ro]=Filtreză mesajele de intrare
Comment[ru]=Фильтрация входящих сообщений
Comment[si]=පැමිණෙන පණිවුඩ පෙරයි
Comment[sk]=Filtruje prichádzajúce správy
Comment[sl]=Filtrira dohodna sporočila
Comment[sr]=Филтрира долазне поруке
Comment[sr@ijekavian]=Филтрира долазне поруке
Comment[sr@ijekavianlatin]=Filtrira dolazne poruke
Comment[sr@latin]=Filtrira dolazne poruke
Comment[sv]=Filtrerar inkommande meddelanden
Comment[th]=ตัวกรองข้อความต่าง ๆ ที่ได้รับเข้ามา
Comment[tr]=Gelen iletileri filtreler
Comment[uk]=Фільтрує вхідні повідомлення
Comment[vi]=Lọc các tin nhắn gửi đến
Comment[x-test]=xxFilters incoming messagesxx
Comment[zh_CN]=过滤收到的消息
Comment[zh_TW]=過濾進來的訊息
