<!DOCTYPE kpartgui>
<kpartgui name="kopete_privacy" version="1">
	<Menu name="contact_popup">
		<Menu name="privacyMenu"><Text>Privacy</Text>
			<Action name="addToWhiteList" />
			<Action name="addToBlackList" />
		</Menu>
	</Menu>
</kpartgui>
