[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000900
Icon=kopete_otr
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_otr
X-KDE-PluginInfo-Author=Michael Zanetti
X-KDE-PluginInfo-Email=michael_zanetti@gmx.net
X-KDE-PluginInfo-Name=kopete_otr
X-KDE-PluginInfo-Version=0.6
X-KDE-PluginInfo-Website=http://kopete-otr.follefuder.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Comment=Encrypt chat sessions with Off-The-Record encryption
Comment[pt]=Encriptar as mensagens de conversação com encriptação Fora-de-Banda
Comment[sv]=Kryptera chattsessioner med Off-The-Record kryptering
Name=OTR
