<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kopete_otr" version="1">
	
	
	<MenuBar>
		<Menu name="tools"><text>&amp;Tools</text>
			<Menu name="otr_menu"><text>OTR Encryption</text>
				<Action name="enable_otr" />
				<Action name="disable_otr" />
				<Action name="verify_fingerprint"/>
			</Menu>
		</Menu>
	</MenuBar>
		
	<ToolBar name="mainToolBar">
		<text>OTR Encryption</text>
		<Separator name="separator_0" />
		<Action name="otr_settings" />
		<Separator name="separator_0" />
	</ToolBar>
</kpartgui>
