<!DOCTYPE kpartgui>
<kpartgui version="1" name="kopetecryptographychat">
	<MenuBar>
		<Menu name="tools" >
			<text>&amp;Tools</text>
			<Action name="cryptographyToggle" />
		</Menu>
	</MenuBar>
</kpartgui>
