<!DOCTYPE kpartgui>
<kpartgui name="kopete_cryptography" version="1.2">
	<MenuBar>
		<Menu name="edit">
			<text>&amp;Edit</text>
			<Action name="contactSelectKey" />
			<Action name="exportKey" />
		</Menu>
	</MenuBar>
	<Menu name="contact_popup">
		<Action name="contactSelectKey" />
		<Action name="exportKey" />
  	</Menu>
</kpartgui>
