[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=kpgp
Name=Cryptography
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_cryptography
X-Kopete-Plugin-Id=cryptography
X-Kopete-Author=Olivier Goffart
X-Kopete-Site=http://kopete.kde.org
X-Kopete-Email=ogoffart@tiscalinet.be
X-Kopete-License=GPL
Comment=Encrypt and decrypt messages with GPG
