<!DOCTYPE kpartgui>
<kpartgui version="1" name="kopetecryptographychat">
	<MenuBar>
		<Menu name="tools" >
			<text>&amp;Tools</text>
			<Action name="encryptionToggle" />
			<Action name="signToggle" />
		</Menu>
		<ToolBar name="cryptographyToolBar" fullWidth="false">
			<text>Cryptography Toolbar</text>
			<Action name="encryptionToggle" />
			<Action name="signToggle" />
		</ToolBar>
	</MenuBar>
</kpartgui>
