[Desktop Entry]
Icon=encrypted
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_cryptography
X-KDE-FactoryName=CryptographyConfigFactory
X-KDE-ParentApp=kopete_cryptography
X-KDE-ParentComponents=kopete_cryptography

Name=Cryptography
Name[ar]=التشفير
Name[be]=Крыптаграфія
Name[bg]=Шифроване
Name[bn]=ক্রিপ্টোগ্রাফি
Name[bs]=Kriptografija
Name[ca]=Xifrat
Name[cs]=Šifrování
Name[cy]=Cêl-ysgrifennaeth
Name[da]=Kryptografi
Name[de]=Kryptographie
Name[el]=Κρυπτογραφία
Name[eo]=Ĉifrado
Name[es]=Criptografí­a
Name[et]=Krüpto
Name[eu]=Kriptografia
Name[fa]=رمزنگاری
Name[fi]=Salaus
Name[fr]=Cryptographie
Name[ga]=Criptiúchán
Name[gl]=Criptografía
Name[he]=קריפטוגרפיה
Name[hi]=क्रिप्टोग्राफी
Name[hr]=Kriptografija
Name[hu]=Titkosítás
Name[is]=Dulritun
Name[it]=Crittografia
Name[ja]=暗号化
Name[ka]=კრიპტოგრაფია
Name[kk]=Шифрлау
Name[km]=ការ​គ្រីប
Name[lt]=Šifravimas
Name[mk]=Криптографија
Name[nb]=Kryptografi
Name[nds]=Verslöteln
Name[ne]=क्रिप्टोग्राफी
Name[nl]=Cryptografie
Name[nn]=Kryptografi
Name[pl]=Szyfrowanie
Name[pt]=Encriptação
Name[pt_BR]=Criptografia
Name[ro]=Criptografie
Name[ru]=Шифрование
Name[se]=Kryptográfiija
Name[sk]=Šifrovanie
Name[sl]=Šifriranje
Name[sr]=Криптографија
Name[sr@Latn]=Kriptografija
Name[sv]=Kryptering
Name[ta]=மறைக்குறியியல்
Name[tg]=Рамзгузорӣ
Name[tr]=Şifreleme
Name[uk]=Криптографія
Name[uz]=Kriptografiya
Name[uz@cyrillic]=Криптография
Name[wa]=Criptografeye
Name[zh_CN]=加密
Name[zh_HK]=密碼學
Name[zh_TW]=加密
Comment=Encrypts messages using PGP
Comment[ar]=يشفر الرسائل باستخدام PGP
Comment[be]=Шыфруе паведамленні ў PGP
Comment[bg]=Шифроване на съобщения с GPG
Comment[bn]=পিজিপি ব্যবহার করে বার্তা এনক্রিপ্ট করে
Comment[bs]=Šifruje poruke koristeći GPG
Comment[ca]=Xifra missatges emprant PGP
Comment[cs]=Šifrování zpráv pomocí GPG
Comment[cy]=Celu negeseuon gan ddefnyddio PGP
Comment[da]=Krypterer beskeder ved brug af PGP
Comment[de]=Verschlüsselt Nachrichten mit PGP
Comment[el]=Κρυπτογραφεί τα μηνύματα χρησιμοποιώντας το PGP
Comment[es]=Cifra mensajes usando PGP
Comment[et]=Sõnumite krüptimine PGP abil
Comment[eu]=Enkriptatu mezuak PGP-rekin
Comment[fa]=پیامها را با استفاده از GPG رمزبندی می‌کند
Comment[fi]=Salaa viestit käyttäen PGP-ohjelmaa
Comment[fr]=Chiffrer les messages avec PGP
Comment[gl]=Encripta mensaxes con PGP
Comment[he]=מצפין הודעות בעזרת PGP
Comment[hi]=जीपीजी के द्वारा संदेश एनक्रिप्ट करे
Comment[hr]=Kriptiranje i dekriptiranej poruka PGP-om
Comment[hu]=Üzenetek titkosítása PGP-vel
Comment[is]=Dulritar skeyti með PGP
Comment[it]=Cifra i messaggi con PGP
Comment[ja]=PGP を使ってメッセージを暗号化
Comment[ka]=PGP შეტყობინებების დაშიფვრვა
Comment[kk]=PGP көмегімен хабарларды шифрлау
Comment[km]=អ៊ិនគ្រីប​សារ​ដោយ​ប្រើ PGP
Comment[lt]=Užšifruoti žinutes PGP būdu
Comment[mk]=Криптирајте пораки употребувајќи PGP
Comment[nb]=Krypterer meldinger med PGP
Comment[nds]=Verslötelt Narichten mit PGP
Comment[ne]=पीजीपी प्रयोग गरेर सन्देश गुप्तिकरण गर्दछ
Comment[nl]=Versleutelt berichten met PGP
Comment[nn]=Krypterer meldingar med PGP
Comment[pl]=Szyfruje wiadomości za pomocą PGP
Comment[pt]=Cifra as mensagens usando o PGP
Comment[pt_BR]=Criptografa mensagens usando o PGP
Comment[ro]=Criptează mesajele cu PGP
Comment[ru]=Шифрует сообщение с помощью PGP
Comment[se]=Kryptere dieđáhusaid PGP:ain
Comment[sk]=Šifruje správy pomocou PGP
Comment[sl]=Šifriranje sporočil s PGP
Comment[sr]=Шифровање и дешифровање порука помоћу PGP-а
Comment[sr@Latn]=Šifrovanje i dešifrovanje poruka pomoću PGP-a
Comment[sv]=Krypterar meddelanden med PGP
Comment[ta]=PGP யை பயன்படுத்தி செய்திகளை சங்கேதங்களாக்கு
Comment[tg]=Рамзгузории пайёмҳо ба воситаи PGP
Comment[tr]=PGP kullanan mesajları şifreler
Comment[uk]=Шифрує повідомлення за допомогою PGP
Comment[wa]=Ecripter les messaedjes avou PGP
Comment[zh_CN]=用 PGP 加密消息
Comment[zh_HK]=將訊息以 PGP 加密
Comment[zh_TW]=用 PGP 加密訊息

