[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=encrypted
X-KDE-ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_cryptography
X-KDE-PluginInfo-Author=Olivier Goffart, Charles Connell, with thanks to Felix Tiede
X-KDE-PluginInfo-Email=ogoffart@tiscalinet.be, charles@connells.org
X-KDE-PluginInfo-Name=kopete_cryptography
X-KDE-PluginInfo-Version=1.3.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Cryptography
Name[be]=Крыптаграфія
Name[cs]=Šifrování
Name[de]=Kryptografie
Name[el]=Κρυπτογραφία
Name[es]=Criptografía
Name[et]=Krüpto
Name[fr]=Chiffrement
Name[ga]=Cripteagrafaíocht
Name[gl]=Cifraxe
Name[hi]=क्रिप्टोग्राफी
Name[hne]=क्रिप्टोग्राफी
Name[it]=Cifratura
Name[ja]=暗号化
Name[km]=ការ​គ្រីប
Name[lt]=Šifravimas
Name[lv]=Kriptogrāfija
Name[ms]=Kriptografi
Name[nb]=Kryptografi
Name[nds]=Verslöteln
Name[nl]=Cryptografie
Name[pa]=ਕ੍ਰਿਪਟੂਗਰਾਫ਼ੀ
Name[pt]=Criptografia
Name[pt_BR]=Criptografia
Name[ro]=Criptografie
Name[ru]=Шифрование
Name[sv]=Kryptering
Name[tr]=Şifreleme
Name[uk]=Криптографія
Name[x-test]=xxCryptographyxx
Name[zh_CN]=密码术
Name[zh_TW]=加密
Comment=Encrypts and signs messages using OpenPGP
Comment[cs]=Šifruje a podepisuje zprávy pomocí OpenPGP
Comment[de]=Verschlüsselt und signiert Nachrichten mit OpenPGP
Comment[el]=Κρυπτογραφεί και υπογράφει μηνύματα με χρήση του OpenPGP
Comment[es]=Cifra y firma mensajes usando OpenPGP
Comment[et]=Sõnumite krüptimine ja allkirjastamine OpenPGP abil
Comment[fr]=Chiffre et signe des messages avec OpenPGP
Comment[ga]=Criptigh agus sínigh teachtaireachtaí le hOpenPGP
Comment[gl]=Cifra e asina as mensaxes mediante OpenGPG
Comment[hi]=संदेश को ओपनपीजीपी के जरिए एनक्रिप्ट करता है व हस्ताक्षरित करता है
Comment[hne]=संदेस ल ओपनपीजीपी के साथ एनक्रिप्ट करथे  अउ दसखत करथे 
Comment[it]=Cifra e firma messaggi con OpenPGP
Comment[ja]=OpenPGP によるメッセージの暗号化と署名
Comment[km]=អ៊ីនគ្រិប និង​ចុះហត្ថលេខា​សារ​ដោយ​ប្រើ OpenPGP
Comment[lt]=Užšifruoti ir pasirašyti žinutes su OpenPGP
Comment[lv]=Šifrā un paraksta ziņojumus, izmantojot OpenPGP
Comment[ms]=Enkrip dan tandatangan mesej menggunakan OpenPGP
Comment[nb]=Krypterer og signerer meldinger ved bruk av OpenPGP
Comment[nds]=Verslötelt un ünnerschrifft Narichten mit OpenPGP
Comment[nl]=Versleutelt en ondertekent berichten met behulp van OpenPGP
Comment[pa]=OpenPGP ਦੀ ਵਰਤੋਂ ਰਕੇ ਸੁਨੇਹੇ ਇੰਕ੍ਰਿਪਟ ਅਤੇ ਸਾਈਨ ਕਰੋ
Comment[pt]=Encripta e assina mensagens com o OpenPGP
Comment[pt_BR]=Criptografa e assina as mensagens usando o OpenPGP
Comment[ro]=Criptează și semnează mesaje folosind OpenPGP
Comment[ru]=Шифрует и подписыает сообщения с помощью PGP
Comment[sv]=Krypterar och signerar meddelanden med användning av OpenPGP
Comment[tr]=İletilerinizi OpenPGP kullanarak imzalar ve şifreler
Comment[uk]=Зашифровує і підписує повідомлення через OpenPGP
Comment[x-test]=xxEncrypts and signs messages using OpenPGPxx
Comment[zh_CN]=使用 OpenPGP 对消息进行加密和签名
Comment[zh_TW]=使用 OpenPGP 加密與簽署訊息
X-DocPath=kopete/plugins/cryptography/index.html#cryptography-summary
