[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000800
Icon=kpgp
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_cryptography
X-KDE-PluginInfo-Author=Olivier Goffart
X-KDE-PluginInfo-Email=ogoffart@tiscalinet.be
X-KDE-PluginInfo-Name=kopete_cryptography
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Cryptography
Name[be]=Крыптаграфія
Name[bg]=Криптография
Name[bs]=Kriptografija
Name[ca]=Xifrat
Name[cs]=Šifrování
Name[cy]=Cêl-ysgrifennaeth
Name[da]=Kryptografi
Name[de]=Kryptographie
Name[el]=Κρυπτογραφία
Name[es]=Criptografía
Name[et]=Krüpto
Name[fi]=Salaus
Name[fr]=Cryptographie
Name[ga]=Rúnscríobh
Name[gl]=Criptografía
Name[he]=קריפטוגרפיה
Name[hi]=क्रिप्टोग्राफी
Name[hu]=Titkosítás
Name[is]=Dulritun
Name[it]=Crittografia
Name[ja]=暗号化
Name[nb]=Kryptografi
Name[nl]=Cryptografie
Name[nn]=Kryptografi
Name[pl]=Szyfrowanie
Name[pt]=Cifragem
Name[pt_BR]=Criptografia
Name[ru]=Криптография
Name[sk]=Šifrovanie
Name[sl]=Šifriranje
Name[sr]=Криптографија
Name[sr@Latn]=Kriptografija
Name[sv]=Kryptering
Name[ta]=மறைக்குறியியல்
Name[uk]=Криптографія
Name[uz]=Криптография
Name[wa]=Criptografeye
Name[xx]=xxCryptographyxx
Name[zh_CN]=加密
Comment=Encrypt and decrypt messages with GPG
Comment[bg]=Шифроване на съобщения с GPG
Comment[bs]=Šifrujte poruke koristeći GPG
Comment[ca]=Xifra i desxifra missatges amb GPG
Comment[cs]=Šifrování a dešifrování zpráv pomocí GPG
Comment[cy]=Celu a datgelu negeseuon efo GPG
Comment[da]=Kryptér og dekryptér beskeder med GPG
Comment[de]=Verschlüsselt und entschlüsselt Nachrichten mit GPG
Comment[el]=Κρυπτογραφήστε και αποκρυπτογραφήστε μηνύματα με το GPG
Comment[es]=Cifra y descifra mensajes con GPG
Comment[et]=Sõnumite krüptimine ja lahtikrüptimine GPG abil
Comment[fi]=Salaa ja pura salaus viesteistä GPG-ohjelmalla
Comment[fr]=Crypter et décrypter les messages avec GPG
Comment[gl]=Encriptar e desencriptar mensaxes con GPG
Comment[he]=הצפנה ופענוח של הודעות בעזרת GPG
Comment[hi]=जीपीजी के द्वारा संदेश एनक्रिप्ट तथा डिक्रिप्ट करे
Comment[hu]=Titkosítás/dekódolás GPG-vel
Comment[is]=Dulrita og afkóða skeyti með GPG
Comment[it]=Cifra e decifra i messaggi con GPG
Comment[ja]=GPGを使ってメッセージを暗号化/暗号化解除
Comment[nb]=Krypter / dekrypter meldinger med GPG
Comment[nl]=Versleutel en ontsleutel berichten met GPG
Comment[nn]=Krypter og dekrypter meldingar med GPG
Comment[pl]=Szyfruje i odszyfrowuje wiadomości za pomocą GPG
Comment[pt]=Cifra e decifra as mensagens com o GPG
Comment[pt_BR]=Criptografa e descriptografa mensagens com o GPG
Comment[ru]=Шифрование сообщений при помощи GPG
Comment[sk]=Šifruje a dešifruje správy pomocou GPG
Comment[sl]=Šifrirajte in dešifrirajte sporočila z GPG
Comment[sr]=Шифровање и дешифровање порука помоћу GPG-а
Comment[sr@Latn]=Šifrovanje i dešifrovanje poruka pomoću GPG-a
Comment[sv]=Kryptera och avkoda meddelanden med GPG
Comment[ta]=GPG உடன் மறையாக்கம் மற்றும் மறைவிலக்கம்
Comment[uk]=Шифрування та розшифрування повідомлень з GPG
Comment[wa]=Ecripter eyet discripter les messaedjes avou GPG
Comment[xx]=xxEncrypt and decrypt messages with GPGxx
