[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000900
Icon=encrypted
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_cryptography
X-KDE-PluginInfo-Author=Olivier Goffart
X-KDE-PluginInfo-Email=ogoffart@tiscalinet.be
X-KDE-PluginInfo-Name=kopete_cryptography
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Cryptography
Name[fr]=Cryptographie
Name[x-test]=xxCryptographyxx
Comment=Encrypt and decrypt messages with GPG
Comment[fr]=Crypter et décrypter les messages avec GPG
Comment[x-test]=xxEncrypt and decrypt messages with GPGxx
