[Desktop Entry]
Icon=edit-rename
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_alias
X-KDE-FactoryName=kcm_kopete_alias
X-KDE-ParentApp=kopete_alias
X-KDE-ParentComponents=kopete_alias

Name=Alias
Comment=Adds custom aliases for commands

