[Desktop Entry]
Encoding=UTF-8
Icon=color
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_alias
X-KDE-FactoryName=AliasConfigFactory
X-KDE-ParentApp=kopete_alias
X-KDE-ParentComponents=kopete_alias

Name=Alias
Name[ar]=اسم مستعار
Name[be]=Псэўданім
Name[bg]=Запазени думи
Name[ca]=Àlies
Name[cy]=Ffugenw
Name[el]=Αντιστοίχηση
Name[eu]=Aliasa
Name[fi]=Uusi nimi
Name[ga]=Ailias
Name[he]=כינוי
Name[hi]=अलाएस
Name[hu]=Alias nevek
Name[is]=Samheiti
Name[ja]=エイリアス
Name[mk]=Други имиња
Name[pt]=Nome Alternativo
Name[pt_BR]=Apelidos
Name[ru]=Псевдоним
Name[sl]=Nadimek
Name[sr]=Алијас
Name[sr@Latn]=Alijas
Name[ta]=மாற்றுப்பெயர்
Name[tg]=Тахаллус
Name[tr]=Takma İsim
Name[uk]=Псевдонім
Name[xx]=xxAliasxx
Name[zh_CN]=别名
Comment=Adds custom aliases for commands
Comment[ar]=يضيف أسماء مستعارة للأوامر
Comment[bg]=Приставка за добавяне на запазени думи, при въвеждането на които ще се изпълняват зададени команди
Comment[bs]=Dodajte vlastite aliase naredbama
Comment[ca]=Afegeix àlies personalitzats als vostres comandaments
Comment[cs]=Přidává vlastní přezdívky pro příkazy
Comment[cy]=Ychwanegu ffugenwau addasiedig ar gyfer gorchmynion
Comment[da]=Tilføj personlig alias for kommandoer
Comment[de]=Fügt benutzerdefinierte Aliase für Befehle hinzu
Comment[el]=Προσθέτει προσαρμοσμένες αντιστοιχίσεις για εντολές
Comment[es]=Añade alias personales a los comandos
Comment[et]=Lisab käskudele kohandatud aliase
Comment[eu]=Alias pertsonalizatuak gehitzen ditu aginduentzat
Comment[fi]=Lisää uusia nimiä komennoille
Comment[fr]=Ajoute des alias personnalisés à des commandes
Comment[gl]=Engadir alias persoáis para comandos
Comment[he]=הוספת כינוים מותאמים אישית עבור פקודות
Comment[hi]=कमांड्स के लिए मनपसंद अलाएस जोड़े
Comment[hr]=Dodaje posebne aliase za naredbe
Comment[hu]=Egyéni másodlagos (alias) nevek megadása parancsokhoz
Comment[is]=Bætir við samheitum á skipanir
Comment[it]=Aggiungi alias personalizzati per i comandi
Comment[ja]=コマンドのカスタムエイリアスを追加
Comment[mk]=Додава сопствени алтернативни имиња на командите
Comment[nb]=Legg til egne alias for kommandoer
Comment[nl]=Toevoegen van eigen aliassen voor commando's
Comment[nn]=Legg til eigne alias for kommandoar
Comment[pl]=Dodawanie własnych aliasów dla poleceń
Comment[pt]=Adiciona novos nomes para os comandos
Comment[pt_BR]=Adiciona notas pessoais em seus contatos
Comment[ru]=Добавляет псевдонимы для команд
Comment[se]=Lasit iežat aliasaid gohččumiid várás
Comment[sk]=Pridá vlastné aliasy pre príkazy
Comment[sl]=Doda prilagojene nadimke za ukaze
Comment[sr]=Додаје посебне алијасе за наредбе
Comment[sr@Latn]=Dodaje posebne alijase za naredbe
Comment[sv]=Lägger till egna alias för kommandon
Comment[ta]=கட்டளைகள் தன் விருப்பப் பெயரை சேர்க்கும்
Comment[tg]=Барои фармонҳо тахаллусҳои дигарро илова мекунад
Comment[tr]=Komutlar için özel takma isimler ekler
Comment[uk]=Додає псевдоніми для команд
Comment[xx]=xxAdds custom aliases for commandsxx
Comment[zh_CN]=添加命令的自定义别名

