[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=alias
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_alias
X-KDE-PluginInfo-Author=Jason Keirstead
X-KDE-PluginInfo-Email=jason@keirstead.org
X-KDE-PluginInfo-Name=kopete_alias
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Alias
Name[ar]=اسم مستعار
Name[be]=Псеўданім
Name[bg]=Запазени думи
Name[bn]=ছদ্মনাম
Name[br]=Lesanv
Name[ca]=Àlies
Name[cy]=Ffugenw
Name[el]=Αντιστοιχία
Name[eo]=Alinomo
Name[eu]=Aliasa
Name[fa]=نام‌گردان
Name[fi]=Uusi nimi
Name[ga]=Ailias
Name[he]=כינוי
Name[hi]=अलाएस
Name[hu]=Alias nevek
Name[is]=Samheiti
Name[ja]=エイリアス
Name[ka]=ფსევდონიმი
Name[kk]=Бүркеншік атаулар
Name[km]=ឈ្មោះ​ក្លែងក្លាយ
Name[lt]=Kitas vardas
Name[mk]=Други имиња
Name[ne]=उपनाम
Name[pa]=ਉਪ-ਨਾਂ
Name[pt]=Nome Alternativo
Name[pt_BR]=Apelidos
Name[ru]=Псевдоним
Name[sl]=Drugo ime
Name[sr]=Алијас
Name[sr@Latn]=Alijas
Name[ta]=மாற்றுப்பெயர்
Name[tg]=Тахаллус
Name[tr]=Takma İsim
Name[uk]=Псевдонім
Name[zh_CN]=别名
Name[zh_HK]=別名
Name[zh_TW]=別名
Comment=Adds custom aliases for commands
Comment[ar]=يضيف أسماء مستعارة للأوامر
Comment[be]=Дадаць адмысловыя псеўданімы для загадаў
Comment[bg]=Приставка за добавяне на запазени думи, при въвеждането на които ще се изпълняват зададени команди
Comment[bn]=কম্যান্ডের জন্য স্বনির্বাচিত ছদ্মনাম যোগ করে
Comment[bs]=Dodajte vlastite aliase naredbama
Comment[ca]=Afegeix àlies personalitzats als vostres comandaments
Comment[cs]=Přidává vlastní přezdívky pro příkazy
Comment[cy]=Ychwanegu ffugenwau addasiedig ar gyfer gorchmynion
Comment[da]=Tilføj personligt alias for kommandoer
Comment[de]=Fügt benutzerdefinierte Aliase für Befehle hinzu
Comment[el]=Προσθέτει προσαρμοσμένες αντιστοιχίες για εντολές
Comment[es]=Añade alias personales a las órdenes
Comment[et]=Lisab käskudele kohandatud aliase
Comment[eu]=Alias pertsonalizatuak gehitzen ditu aginduentzat
Comment[fa]=نام‌گردانهای سفارشی را برای فرمانها می‌افزاید
Comment[fi]=Lisää uusia nimiä komennoille
Comment[fr]=Ajoute des alias personnalisés à des commandes
Comment[gl]=Engadir alias persoáis para comandos
Comment[he]=הוספת כינוים מותאמים אישית עבור פקודות
Comment[hi]=कमांड्स के लिए मनपसंद अलाएस जोड़े
Comment[hr]=Dodaje posebne aliase za naredbe
Comment[hu]=Egyéni másodlagos (alias) nevek megadása parancsokhoz
Comment[is]=Bætir við samheitum á skipanir
Comment[it]=Aggiungi alias personalizzati per i comandi
Comment[ja]=コマンドのカスタムエイリアスを追加
Comment[ka]=ბრძანებებს ანიჭებს სხვადასხვა ფსევდონიმებს
Comment[kk]=Командаларға бүркеншік атауларды беру
Comment[km]=បន្ថែម​ឈ្មោះ​ក្លែងក្លាយ​ផ្ទាល់​ខ្លួន​សម្រាប់​ពាក្យ​បញ្ជា
Comment[lt]=Komandoms suteikiami papildomi vardai
Comment[mk]=Додава сопствени алтернативни имиња на командите
Comment[nb]=Legg til egne alias for kommandoer
Comment[nds]=Föögt egen Aliases för Befehlen to
Comment[ne]=आदेशका लागि अनुकूल उपनामहरू थप्दछ
Comment[nl]=Toevoegen van eigen aliassen voor commando's
Comment[nn]=Legg til eigne alias for kommandoar
Comment[pl]=Dodawanie własnych aliasów dla poleceń
Comment[pt]=Adiciona novos nomes para os comandos
Comment[pt_BR]=Adiciona notas pessoais em seus contatos
Comment[ru]=Добавляет псевдонимы для команд
Comment[se]=Lasit iežat aliasaid gohččumiid várás
Comment[sk]=Pridá vlastné aliasy pre príkazy
Comment[sl]=Dodajanje drugih imen za ukaze
Comment[sr]=Додаје посебне алијасе за наредбе
Comment[sr@Latn]=Dodaje posebne alijase za naredbe
Comment[sv]=Lägger till egna alias för kommandon
Comment[ta]=கட்டளைகள் தன் விருப்பப் பெயரை சேர்க்கும்
Comment[tg]=Барои фармонҳо тахаллусҳои дигарро илова мекунад
Comment[tr]=Komutlar için özel takma isimler ekler
Comment[uk]=Додає псевдоніми для команд
Comment[zh_CN]=添加命令的自定义别名
Comment[zh_HK]=為命令加上自訂別名
Comment[zh_TW]=新增命令的別名

