[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=edit-rename
X-KDE-ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_alias
X-KDE-PluginInfo-Author=Jason Keirstead
X-KDE-PluginInfo-Email=jason@keirstead.org
X-KDE-PluginInfo-Name=kopete_alias
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Alias
Name[ar]=الكنية
Name[ast]=Nomatos
Name[bg]=Запазени думи
Name[bn]=ছদ্মনাম
Name[br]=Lesanv
Name[bs]=Alijas
Name[ca]=Àlies
Name[ca@valencia]=Àlies
Name[cs]=Alias
Name[cy]=Ffugenw
Name[da]=Alias
Name[de]=Alias
Name[el]=Αντιστοιχία
Name[en_GB]=Alias
Name[eo]=Alinomo
Name[es]=Alias
Name[et]=Alias
Name[eu]=Aliasa
Name[fa]=نام‌گردان
Name[fi]=Uusi nimi
Name[fr]=Alias
Name[ga]=Ailias
Name[gl]=Alcume
Name[he]=כינוי
Name[hi]=अलियास
Name[hne]=अलियास
Name[hr]=Alias
Name[hu]=Alias nevek
Name[ia]=Alias
Name[is]=Samheiti
Name[it]=Alias
Name[ja]=エイリアス
Name[kk]=Бүркеншік атаулар
Name[km]=ឈ្មោះ​ក្លែងក្លាយ
Name[ko]=별명
Name[lt]=Kitas vardas
Name[lv]=Īsceļi
Name[mai]=उपनाम
Name[mk]=Други имиња
Name[ml]=ചെല്ലപ്പേര്
Name[nb]=Alias
Name[nds]=Alias
Name[ne]=उपनाम
Name[nl]=Alias
Name[nn]=Alias
Name[oc]=Aliàs
Name[pa]=ਏਲੀਆਸ
Name[pl]=Alias
Name[pt]=Nome Alternativo
Name[pt_BR]=Apelido
Name[ro]=Alias
Name[ru]=Псевдоним
Name[se]=Alias
Name[si]=අන්වර්ථය
Name[sk]=Alias
Name[sl]=Vzdevek
Name[sq]=Alias
Name[sr]=Алијас
Name[sr@ijekavian]=Алијас
Name[sr@ijekavianlatin]=Alijas
Name[sr@latin]=Alijas
Name[sv]=Alias
Name[ta]=மாற்றுப்பெயர்
Name[tg]=Тахаллус
Name[th]=ชื่อที่ใช้แทน
Name[tr]=Takma İsim
Name[ug]=تەخەللۇس
Name[uk]=Псевдонім
Name[vi]=Bí danh
Name[x-test]=xxAliasxx
Name[zh_CN]=别名
Name[zh_HK]=別名
Name[zh_TW]=別名
Comment=Adds custom aliases for commands
Comment[ar]=أضف كنيات مخصصة للأوامر
Comment[ast]=Amesta nomatos personales a les órdenes
Comment[bg]=Приставка за добавяне на запазени думи, при въвеждането на които ще се изпълняват зададени команди
Comment[bn]=কম্যান্ডের জন্য স্বনির্বাচিত ছদ্মনাম যোগ করে
Comment[bs]=Dodaje posebne alijase za naredbe
Comment[ca]=Afegeix àlies personalitzats a les vostres ordres
Comment[ca@valencia]=Afig àlies personalitzats a les vostres ordes
Comment[cs]=Přidává vlastní přezdívky pro příkazy
Comment[cy]=Ychwanegu ffugenwau addasiedig ar gyfer gorchmynion
Comment[da]=Tilføj personligt alias for kommandoer
Comment[de]=Fügt benutzerdefinierte Aliase für Befehle hinzu
Comment[el]=Προσθέτει προσαρμοσμένες αντιστοιχίες για εντολές
Comment[en_GB]=Adds custom aliases for commands
Comment[eo]=Aldoni proprajn kromnomojn por la komandoj
Comment[es]=Añade alias personales a las órdenes
Comment[et]=Lisab käskudele kohandatud aliase
Comment[eu]=Alias pertsonalizatuak gehitzen ditu komandoentzat
Comment[fa]=نام‌گردانهای سفارشی را برای فرمانها می‌افزاید
Comment[fi]=Lisää uusia nimiä komennoille
Comment[fr]=Ajoute des alias personnalisés à des commandes
Comment[ga]=Cruthaigh ailiasanna saincheaptha ar orduithe
Comment[gl]=Engade alcumes personalizados para os comandos
Comment[he]=הוספת כינוים מותאמים אישית עבור פקודות
Comment[hi]=कमांड्स के लिए मनपसंद अलाएस जोड़े
Comment[hne]=कमांड बर मनमाफिक अलियास जोड़थे
Comment[hr]=Dodaje posebne aliase za naredbe
Comment[hu]=Egyéni másodlagos (alias) nevek megadása parancsokhoz
Comment[ia]=Il adde aliases personalisate pro commandos
Comment[is]=Bætir við samheitum á skipanir
Comment[it]=Aggiunge alias personalizzati per i comandi
Comment[ja]=コマンドのカスタムエイリアスを追加
Comment[kk]=Командаларға бүркеншік атауларды беру
Comment[km]=បន្ថែម​ឈ្មោះ​ក្លែងក្លាយ​ផ្ទាល់​ខ្លួន​សម្រាប់​ពាក្យ​បញ្ជា
Comment[ko]=명령에 별명을 추가합니다
Comment[lt]=Komandoms suteikiami papildomi vardai
Comment[lv]=Pievieno komandām pielāgotus īsceļus
Comment[mk]=Додава сопствени алтернативни имиња на командите
Comment[ml]=ഇഷ്ടപ്പെട്ട ഒരു ചെല്ലപ്പേര് ആജ്ഞകള്‍ക്ക് ചേര്‍ക്കുന്നു
Comment[nb]=Legg til egne alias for kommandoer
Comment[nds]=Föögt egen Aliasen för Befehlen to
Comment[ne]=आदेशका लागि अनुकूल उपनामहरू थप्दछ
Comment[nl]=Toevoegen van eigen aliassen voor commando's
Comment[nn]=Legg til eigne alias for kommandoar
Comment[pa]=ਕਮਾਂਡ ਲਈ ਪਸੰਦੀਦਾ ਏਲੀਆਸ ਸ਼ਾਮਲ
Comment[pl]=Dodaje własnych aliasy dla poleceń
Comment[pt]=Adiciona novos nomes alternativos para os comandos
Comment[pt_BR]=Adiciona nomes alternativos para os comandos
Comment[ro]=Adaugă aliasuri personalizate pentru comenzi
Comment[ru]=Добавляет псевдонимы для команд
Comment[se]=Lasit iežat aliasaid gohččumiid várás
Comment[si]=විධාන සඳහා රුචි අන්වර්ථ යොදයි
Comment[sk]=Pridá vlastné aliasy pre príkazy
Comment[sl]=Doda vzdevke po meri za ukaze
Comment[sr]=Додаје посебне алијасе за наредбе
Comment[sr@ijekavian]=Додаје посебне алијасе за наредбе
Comment[sr@ijekavianlatin]=Dodaje posebne alijase za naredbe
Comment[sr@latin]=Dodaje posebne alijase za naredbe
Comment[sv]=Lägger till egna alias för kommandon
Comment[ta]=கட்டளைகள் தன் விருப்பப் பெயரை சேர்க்கும்
Comment[tg]=Барои фармонҳо тахаллусҳои дигарро илова мекунад
Comment[th]=เพิ่มชื่อแทนที่กำหนดเองให้กับคำสั่งต่าง ๆ
Comment[tr]=Komutlar için özel takma isimler ekler
Comment[uk]=Додає псевдоніми для команд
Comment[vi]=Thêm bí danh riêng cho câu lệnh
Comment[x-test]=xxAdds custom aliases for commandsxx
Comment[zh_CN]=添加命令的自定义别名
Comment[zh_HK]=為命令加上自訂別名
Comment[zh_TW]=新增命令的別名

