[Desktop Entry]
Encoding=UTF-8
Icon=color
Type=Service
ServiceTypes=KCModule

X-KDE-Library=kopete_alias
X-KDE-FactoryName=kcm_kopete_alias
X-KDE-ParentApp=kopete_alias
X-KDE-ParentComponents=kopete_alias

Name=Alias
Name[x-test]=xxAliasxx
Comment=Adds custom aliases for commands
Comment[fr]=Ajoute des alias personnalisés à des commandes
Comment[x-test]=xxAdds custom aliases for commandsxx

