[Desktop Entry]
Exec=icq_webhandler
InitialPreference=2
MimeType=application/x-icq
Name=icq_webhandler
Name[fr]=gestionnaire_web_icq
Name[hi]=आईसीक्यू_वेबहैंडलर
Name[hu]=ICQ-webkezelő
Name[nb]=icq_netthåndterer
Name[pt_BR]=manipulador web do icq
Name[sv]=ICQ-webbhantering
Name[xx]=xxicq_webhandlerxx
Name[zh_CN]=ICQ Web 处理器
Terminal=false
Type=Application
