[Desktop Entry]
Exec=icq_webhandler
InitialPreference=2
MimeType=application/x-icq
Name=icq_webhandler
Name[fr]=gestionnaire_web_icq
Name[hu]=ICQ-webkezelő
Name[nb]=icq_netthåndterer
Name[pt_BR]=manipulador web do icq
Name[sv]=ICQ-webbhantering
Name[xx]=xxicq_webhandlerxx
Terminal=false
Type=Application
