[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000800
Icon=msginfo_plugin
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_msginfo
X-KDE-PluginInfo-Author=Zack Rusin
X-KDE-PluginInfo-Email=zack@kde.org
X-KDE-PluginInfo-Name=kopete_msginfo
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=MsgInfo
Name[be]=Інфармацыя аб паведамленьні
Name[bg]=Информация за съобщение
Name[cy]=GwyboNeges
Name[es]=Información de mensaje
Name[gl]=Información da mensaxe
Name[hi]=एमएसजी-इन्फो
Name[hu]=Üzenetjellemzők
Name[ja]=Msg情報
Name[nb]=Msg-info
Name[nl]=Berichtinfo
Name[nn]=Msg-info
Name[pt]=Inf. da Mensagem
Name[pt_BR]=Informações da msg
Name[sv]=Meddelandeinformation
Name[ta]=செய்தி தகவல்
Name[uk]=Інформація по повідомлення
Name[xx]=xxMsgInfoxx
Name[zh_CN]=信息
Comment=Plugin written for 'Writing Kopete Plugins' tutorial
Comment[bg]=Приставка, демонстрираща как се правят приставки за Kopete
Comment[bs]=Dodatak pravljen za priručnik 'Pisanje Kopete dodataka'
Comment[ca]=Connector escrit a partir del tutorial 'Writing Kopete Plugins'
Comment[cy]=Ategyn a ysgrifennwyd ar gyfer yr hyfforddiad 'Ysgrifennu Ategynion Kopete'
Comment[da]=Plugin skrevet for 'Skrivning af Kopete-plugin'-gennemgangen
Comment[de]=Beispielmodul für das 'Writing Kopete Plugins'-Tutorial
Comment[es]=Plugin esctito para el tutorial 'Escribiendo plugins para Kopete'
Comment[et]=Plugin, mis on kirjutatud õppevahendi 'Kopete pluginate kirjutamine' jaoks
Comment[fi]=Esimerkkiliitännäinen 'Writing Kopete Plugins' ohjeeseen
Comment[fr]=Module écrit pour le didacticiel « écrire des modules pour Kopete »
Comment[gl]=Un plugin escrito para o tutorial "Escribindo plugins para Kopete"
Comment[he]=תוסף לדוגמה לכתיבת תוספי Kopete
Comment[hi]=के-ऑप्टी प्लगइन्स लिखने के बारे में शिक्षण पाठ हेतु लिखा गया प्लगइन
Comment[hu]=Mintaprogram a 'Hogyan írjunk Kopete bővítőmodult?' leíráshoz
Comment[is]=Íforrit fyrir 'Hvernig skrifa skal Kopete íforrit' handbókina
Comment[it]=Plugin scritto per il tutorial 'Writing Kopete Plugins'
Comment[ja]=Kopeteプラグインのチュートリアルを書くためのプラグイン
Comment[nb]=Programtillegg skrevet for veiledningen «Hvordan lage Kopete programtillegg»
Comment[nl]=Plugin geschreven voor de 'Plug-ins voor Kopete schrijven' tutorial
Comment[nn]=Programtillegg skrive for rettleiinga «Korleis laga Kopete-programtillegg»
Comment[pl]=Wtyczka napisana do samouczka 'Pisanie wtyczek dla Kopete'
Comment[pt]=Um 'plugin' criado para o tutorial de 'Criar Plugins do Kopete'
Comment[pt_BR]=Plugin escrito para o tutorial 'Escrevendo Plug-ins do Kopete'
Comment[ru]=Модуль, написанный для учебника 'Пишем модули Kopete'
Comment[sk]=Modul vytvorený pre výukový text 'Vytváranie modulov Kopete'
Comment[sl]=Dodatek za navodila o pisanju vstavkov za Kopete
Comment[sr]=Прикључак написан за приручник „Писање Kopete прикључака“
Comment[sr@Latn]=Priključak napisan za priručnik „Pisanje Kopete priključaka“
Comment[sv]=Insticksprogram skrivet för handledningen "Att skriva insticksprogram för Kopete"
Comment[ta]=செருகல் 'Writing Kopete Plugins' பயிற்ச்சிக்காக எழுதப்பட்டுள்ளது
Comment[uk]=Втулок написаний для статті "Як писати втулки для Kopete"
Comment[xx]=xxPlugin written for 'Writing Kopete Plugins' tutorialxx
Comment[zh_CN]=“编写 Kopete 插件”教程所用的插件
