[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=msginfo_plugin
Name=MsgInfo
Name[ja]=メッセージ情報
Name[pt_BR]=Informações da Msg
Name[ru]=Информация о сообщении
Name[sv]=Meddelandeinformation
Name[zh_CN]=讯息信息
Name[zh_TW]=訊息資訊
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_msginfo
X-Kopete-Plugin-Id=msginfo
X-Kopete-Author=Zack Rusin
X-Kopete-Site=http://kopete.kde.org
X-Kopete-Email=zack@kde.org
X-Kopete-License=GPL
Comment=Plugin written for 'Writting Kopete Plugins' tutorial
Comment[es]=Plugin escrito para el tutorial 'Creación de plugins de Kopete'
Comment[fr]=Module écrit pour le tutoriel « Écrire des modules pour Kopete »
Comment[ja]='Kopete プラグインプログラミング' のために書かれたプラグイン
Comment[pt]='Plugin' escrito para o tutorial 'Como Escrever Plugins do Kopete'
Comment[pt_BR]=Plug-in escrito para o tutorial 'Escrevendo Plug-ins para o Kopete'
Comment[ru]=Модуль написан для раздела обучения 'Пишем модули Kopete'
Comment[sv]=Insticksprogram skrivet för handledningen 'Skriva Kopete insticksprogram'
Comment[uk]=Втулок для діалогу властивостей
Comment[zh_CN]=为“编写 Kopete 插件”指导而写的插件
Comment[zh_TW]=為“撰寫 Kopete 外掛程式”教學而寫的外掛程式
Comment[zu]=I-plugin ibhalelwe ukubuyekezwa kokufunda kwe' kwama-plugin Okubhala i-Kopete'
