[Desktop Entry]
Encoding=UTF-8
Type=Service
Version=1000792
Icon=msginfo_plugin
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_msginfo
X-KDE-PluginInfo-Author=Zack Rusin
X-KDE-PluginInfo-Email=zack@kde.org
X-KDE-PluginInfo-Name=kopete_msginfo
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=MsgInfo
Name[be]=Інфармацыя аб паведамленьні
Name[es]=Información de mensaje
Name[hu]=Üzenetjellemzők
Name[nl]=Berichtinfo
Name[pt_BR]=Informações da msg
Name[sv]=Meddelandeinformation
Name[xx]=xxMsgInfoxx
Comment=Plugin written for 'Writing Kopete Plugins' tutorial
Comment[ca]=Connector escrit a partir del tutorial 'Writing Kopete Plugins'
Comment[da]=Plugin skrevet for 'Skrivning af Kopete-plugin'-gennemgangen
Comment[de]=Beispielmodul für das 'Writing Kopete Plugins'-Tutorial
Comment[es]=Plugin esctito para el tutorial 'Escribiendo plugins para Kopete'
Comment[et]=Plugin, mis on kirjutatud õppevahendi 'Kopete pluginate kirjutamine' jaoks
Comment[hu]=Mintaprogram a 'Hogyan írjunk Kopete bővítőmodult?' leíráshoz
Comment[it]=Plugin scritto per il tutorial 'Writing Kopete Plugins'
Comment[nl]=Plugin geschreven voor de 'Plug-ins voor Kopete schrijven' tutorial
Comment[pt_BR]=Plugin escrito para o tutorial 'Escrevendo Plug-ins do Kopete'
Comment[sr]=Додатак написан за „Писање Kopete додатака“ приручник
Comment[sv]=Insticksprogram skrivet för handledningen 'Att skriva insticksprogram för Kopete'
Comment[xx]=xxPlugin written for 'Writing Kopete Plugins' tutorialxx
