[Desktop Entry]
Encoding=UTF-8
Icon=identity
Type=Service
ServiceTypes=KCModule

X-KDE-Library=kopete_identityconfig
X-KDE-FactoryName=kcm_kopete_identityconfig
X-KDE-ParentApp=kopete
X-KDE-ParentComponents=kopete

Name=Identities
Comment=Manage Your Identities

DocPath=kopete/configure-dialog.html#configuring-identity
