[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=icq_protocol
ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_icq
X-Kopete-Messaging-Protocol=messaging/icq
X-KDE-PluginInfo-Author=Kopete Developers
X-KDE-PluginInfo-Email=kopete-devel@kde.org
X-KDE-PluginInfo-Name=kopete_icq
X-KDE-PluginInfo-Version=0.10.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=ICQ
Name[bn]=আই-সি-কিউ
Name[hi]=आईसीक्यू
Name[ne]=आईसीक्यू
Comment=Protocol to connect to ICQ
Comment[ar]=البرتوكول سيتصل بـ ICQ
Comment[be]=Пратакол ICQ
Comment[bg]=Протокол за връзка с ICQ
Comment[bn]=আই-সি-কিউতে সংযোগ করতে প্রোটোকল
Comment[br]=Komenad kevreañ ouzh AIM
Comment[bs]=ICQ protokol
Comment[ca]=Protocol per a connectar-se a ICQ
Comment[cs]=Protokol k připojení k ICQ
Comment[cy]=Protocol i gysylltu ag ICQ
Comment[da]=Protokol til at forbinde til ICQ
Comment[de]=Protokoll zur Verbindung mit ICQ
Comment[el]=Πρωτόκολλο για σύνδεση στο ICQ
Comment[es]=Protocolo de conexión de ICQ
Comment[et]=Protokoll ühendumiseks ICQ-ga
Comment[eu]=ICQ-ra konektatzeko protokoloa
Comment[fa]=قرارداد برای اتصال به ICQ
Comment[fi]=Yhteyskäytäntö ICQ-verkkoon kytkeytymiseen
Comment[fr]=Protocole pour se connecter sur ICQ
Comment[ga]=Prótacal chun ceangal le ICQ
Comment[gl]=Protocolo para se conectar á rede ICQ
Comment[he]=פרוטוקול התחברות ל- ICQ
Comment[hi]=आईसीक्यू से जुड़ने का प्रोटोकॉल
Comment[hr]=Protokol za povezivanje na ICQ
Comment[hu]=Protokoll az ICQ használatához
Comment[is]=Samskiptamáti til að tengjast ICQ
Comment[it]=Protocollo per connessione a ICQ
Comment[ja]=ICQ に接続するプロトコル
Comment[ka]=ICQ დაკავშირების ოქმი
Comment[kk]=ICQ-ге қосылу протоколы
Comment[km]=ពិធីការភ្ជាប់​ទៅ ICQ
Comment[lt]=Protokolas prisijungimui prie ICQ
Comment[mk]=Протокол за поврзување на ICQ
Comment[nb]=Protokoll for å koble til ICQ
Comment[nds]=Protokoll för't Tokoppeln na ICQ
Comment[ne]=आईसीक्यू मा जडान गर्नुपर्ने प्रोटोकल
Comment[nl]=Protocol voor ICQ
Comment[nn]=Protokoll for å kopla til ICQ
Comment[pl]=Protokół połączenia z serwerem ICQ
Comment[pt]=Um protocolo para se ligar ao ICQ
Comment[pt_BR]=Protocolo de conexão ao ICQ
Comment[ro]=Protocol de conectare la ICQ
Comment[ru]=Протокол для подключения к ICQ
Comment[sk]=Protokol pre pripojenie k ICQ
Comment[sl]=Protokol za povezavo na ICQ
Comment[sr]=Протокол за повезивање на ICQ
Comment[sr@Latn]=Protokol za povezivanje na ICQ
Comment[sv]=Protokoll för att ansluta till ICQ
Comment[ta]=ICQ உடன் இணைக்க விதிமுறை
Comment[tg]=Қарордоди пайвастшавӣ ба ICQ
Comment[tr]=ICQ'a bağlantı iletişim kuralı
Comment[uk]=Протокол для з'єднання з ICQ
Comment[uz]=ICQ bilan aloqa oʻrnatish uchun protokol
Comment[uz@cyrillic]=ICQ билан алоқа ўрнатиш учун протокол
Comment[zh_CN]=连接到 ICQ 协议
Comment[zh_HK]=用來連接至 ICQ 的通訊協定
Comment[zh_TW]=連線到 ICQ 的協定

