[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=icq_protocol
X-KDE-ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_icq
X-Kopete-Messaging-Protocol=messaging/icq
X-KDE-PluginInfo-Author=Kopete Developers
X-KDE-PluginInfo-Email=kopete-devel@kde.org
X-KDE-PluginInfo-Name=kopete_icq
X-KDE-PluginInfo-Version=0.10.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=ICQ
Comment=Seek and Chat with ICQ

