[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=icq_protocol
X-KDE-ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_icq
X-Kopete-Messaging-Protocol=messaging/icq
X-KDE-PluginInfo-Author=Kopete Developers
X-KDE-PluginInfo-Email=kopete-devel@kde.org
X-KDE-PluginInfo-Name=kopete_icq
X-KDE-PluginInfo-Version=0.10.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=ICQ
Name[ar]=ICQ
Name[ast]=ICQ
Name[bg]=ICQ
Name[bn]=আই-সি-কিউ
Name[br]=ICQ
Name[bs]=ICQ
Name[ca]=ICQ
Name[ca@valencia]=ICQ
Name[cs]=ICQ
Name[cy]=ICQ
Name[da]=ICQ
Name[de]=ICQ
Name[el]=ICQ
Name[en_GB]=ICQ
Name[eo]=ICQ
Name[es]=ICQ
Name[et]=ICQ
Name[eu]=ICQ
Name[fi]=ICQ
Name[fr]=ICQ
Name[ga]=ICQ
Name[gl]=ICQ
Name[he]=ICQ
Name[hi]=आईसीक्यू
Name[hne]=आईसीक्यू
Name[hr]=ICQ
Name[hu]=ICQ
Name[ia]=ICQ
Name[is]=ICQ
Name[it]=ICQ
Name[ja]=ICQ
Name[kk]=ICQ
Name[km]=ICQ
Name[ko]=ICQ
Name[lt]=ICQ
Name[lv]=ICQ
Name[mk]=ICQ
Name[ml]=ഐസിക്യു
Name[nb]=ICQ
Name[nds]=ICQ
Name[ne]=आईसीक्यू
Name[nl]=ICQ
Name[nn]=ICQ
Name[oc]=ICQ
Name[pa]=ICQ
Name[pl]=ICQ
Name[pt]=ICQ
Name[pt_BR]=ICQ
Name[ro]=ICQ
Name[ru]=ICQ
Name[se]=ICQ
Name[si]=ICQ
Name[sk]=ICQ
Name[sl]=ICQ
Name[sq]=ICQ
Name[sr]=Ајсикју
Name[sr@ijekavian]=Ајсикју
Name[sr@ijekavianlatin]=ICQ
Name[sr@latin]=ICQ
Name[sv]=ICQ
Name[ta]=ICQ
Name[tg]=ICQ
Name[tr]=ICQ
Name[ug]=ICQ
Name[uk]=ICQ
Name[uz]=ICQ
Name[uz@cyrillic]=ICQ
Name[vi]=ICQ
Name[wa]=ICQ
Name[x-test]=xxICQxx
Name[zh_CN]=ICQ
Name[zh_HK]=ICQ
Name[zh_TW]=ICQ
Comment=Seek and Chat with ICQ
Comment[ar]=انتقل ودردش مع ICQ
Comment[ast]=Gueta y charra con ICQ
Comment[bg]=Моментни съобщения ICQ
Comment[bs]=Tražite i časkajte sa ICQ
Comment[ca]=Cerqueu i xerreu amb l'ICQ
Comment[ca@valencia]=Cerqueu i xerreu amb l'ICQ
Comment[cs]=Hledejte a bavte se s ICQ
Comment[da]=Søg og chat med ICQ
Comment[de]=Suchen und Chatten mit ICQ
Comment[el]=Αναζητήστε και συνομιλήστε με το ICQ
Comment[en_GB]=Seek and Chat with ICQ
Comment[eo]=Serĉi kaj babili per ICQ
Comment[es]=Busca y charla con ICQ
Comment[et]=Otsimine ja vestlemine ICQ vahendusel
Comment[eu]=Bilatu eta berriketan egin ICQrekin
Comment[fi]=Etsi ja juttele ICQ:n avulla
Comment[fr]=Chercher et discuter avec ICQ
Comment[ga]=Cuardach agus Comhrá ICQ
Comment[gl]=Conversas con ICQ
Comment[hne]=आईसीक्यू के साथ गपसप करव
Comment[hr]=Pronalazi i dopisuj se uz ICQ
Comment[hu]=ICQ csevegő
Comment[ia]=Cerca e conversa con ICQ
Comment[it]=Cerca e parla con ICQ
Comment[ja]=ICQ で人を探してチャットします
Comment[kk]=ICQ арқылы іздеу және әңгімелесу
Comment[km]=ស្វែងរក និង​ជជែក​ជាមួយ ICQ
Comment[ko]=ICQ에서 찾고 대화합니다
Comment[lt]=Ieškokite ir plepėkite naudodami ICQ
Comment[lv]=Meklē un tērzē ar ICQ
Comment[ml]=ഐസിക്യുകൊണ്ട് കണ്ടെത്തി സല്ലാപം നടത്താം
Comment[nb]=Søk og prat med ICQ
Comment[nds]=Söken un Klönen över ICQ
Comment[nl]=Zoeken en converseren met ICQ
Comment[nn]=Leit og prat med ICQ
Comment[pl]=Szukaj i rozmawiaj za pomocą ICQ
Comment[pt]=Procurar e Conversar com o ICQ
Comment[pt_BR]=Procurar e bater-papo com o ICQ
Comment[ro]=Căutați și discutați cu ICQ
Comment[ru]=Поиск друзей и разговор в ICQ
Comment[si]=ICQ සමඟ සොයා සංවාද කරන්න
Comment[sk]=Hľadajte a rozprávajte sa pomocou ICQ
Comment[sl]=Iščite in klepetajte z ICQ
Comment[sr]=Тражите и ћаскајте ајсикјуом
Comment[sr@ijekavian]=Тражите и ћаскајте ајсикјуом
Comment[sr@ijekavianlatin]=Tražite i ćaskajte ICQ‑om
Comment[sr@latin]=Tražite i ćaskajte ICQ‑om
Comment[sv]=Sök och chatta med ICQ
Comment[th]=ค้นหาและพูดคุยผ่านบริการ ICQ
Comment[tr]=ICQ ile Ara ve Sohbet et
Comment[uk]=Пошук і балачка в ICQ
Comment[x-test]=xxSeek and Chat with ICQxx
Comment[zh_CN]=在 ICQ 上漫游聊天
Comment[zh_TW]=用 ICQ 搜尋與聊天

