[Desktop Entry]
Encoding=UTF-8
Comment=ICQ Contact
Comment[ar]=جهة اتصال على ICQ
Comment[be]=Кантакт ICQ
Comment[bg]=Връзка с ICQ Contact
Comment[br]=Darempred ICQ
Comment[bs]=ICQ kontakt
Comment[ca]=Contacte ICQ
Comment[cs]=ICQ kontakt
Comment[cy]=Cysylltiad ICQ
Comment[da]=ICQ-Kontakt
Comment[de]=ICQ-Kontakt
Comment[el]=Επαφή ICQ
Comment[es]=Contacto de ICQ
Comment[et]=ICQ kontakt
Comment[eu]=ICQ kontaktua
Comment[fi]=ICQ-kontakti
Comment[fr]=Contact ICQ
Comment[gl]=Contacto ICQ
Comment[he]=איש-קשר ICQ
Comment[hi]=आईसीक्यू सम्पर्क
Comment[hr]=ICQ kontakt
Comment[hu]=ICQ-kapcsolat
Comment[is]=ICQ tengiliður
Comment[it]=Contatto ICQ
Comment[ja]=ICQコンタクト
Comment[mk]=Контакт на ICQ 
Comment[nb]=ICQ kontakt
Comment[nl]=ICQ contact
Comment[nn]=ICQ-kontakt
Comment[pl]=Kontakt ICQ
Comment[pt]=Contacto de ICQ
Comment[pt_BR]=Contato ICQ
Comment[ru]=Контакт ICQ
Comment[se]=ICQ-oktavuohta
Comment[sk]=Kontakt ICQ
Comment[sl]=Stik ICQ
Comment[sr]=ICQ контакт
Comment[sr@Latn]=ICQ kontakt
Comment[sv]=ICQ-kontakt
Comment[ta]=ICQ தொடர்பு
Comment[tg]=Пайвастшавии ICQ 
Comment[uk]=Контакт ICQ
Comment[xx]=xxICQ Contactxx
Comment[zh_CN]=ICQ 联系人
Type=MimeType
MimeType=application/x-icq
Patterns=*.uin;*.icq
Icon=licq
