[Desktop Entry]
Encoding=UTF-8
Comment=ICQ Contact
Comment[x-test]=xxICQ Contactxx
Type=MimeType
MimeType=application/x-icq
Patterns=*.uin;*.icq
Icon=licq
