[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=irc_protocol
X-KDE-ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_irc
X-Kopete-Messaging-Protocol=messaging/irc
X-KDE-PluginInfo-Author=Kopete Developers
X-KDE-PluginInfo-Email=kopete-devel@kde.org
X-KDE-PluginInfo-Name=kopete_irc
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=IRC
Name[ar]=IRC
Name[ast]=IRC
Name[bg]=IRC
Name[bn]=আই-আর-সি
Name[br]=IRC
Name[bs]=IRC
Name[ca]=IRC
Name[ca@valencia]=IRC
Name[cs]=IRC
Name[cy]=IRC
Name[da]=IRC
Name[de]=IRC
Name[el]=IRC
Name[en_GB]=IRC
Name[eo]=IRC
Name[es]=IRC
Name[et]=IRC
Name[eu]=IRC
Name[fi]=IRC
Name[fr]=IRC
Name[ga]=IRC
Name[gl]=IRC
Name[he]=IRC
Name[hi]=आईआरसी
Name[hne]=आईआरसी
Name[hr]=IRC
Name[hu]=IRC
Name[ia]=IRC
Name[is]=IRC
Name[it]=IRC
Name[ja]=IRC
Name[kk]=IRC
Name[km]=IRC
Name[ko]=IRC
Name[lt]=IRC
Name[lv]=IRC
Name[mk]=IRC
Name[ml]=ഐആര്‍സി
Name[nb]=IRC
Name[nds]=IRC
Name[ne]=आईआरसी
Name[nl]=IRC
Name[nn]=IRC
Name[pa]=IRC
Name[pl]=IRC
Name[pt]=IRC
Name[pt_BR]=IRC
Name[ro]=IRC
Name[ru]=IRC
Name[se]=IRC
Name[si]=IRC
Name[sk]=IRC
Name[sl]=IRC
Name[sq]=IRC
Name[sr]=ИРЦ
Name[sr@ijekavian]=ИРЦ
Name[sr@ijekavianlatin]=IRC
Name[sr@latin]=IRC
Name[sv]=IRC
Name[ta]=IRC
Name[tg]=IRC
Name[tr]=IRC
Name[ug]=IRC
Name[uk]=IRC
Name[uz]=IRC
Name[uz@cyrillic]=IRC
Name[vi]=IRC
Name[wa]=IRC
Name[x-test]=xxIRCxx
Name[zh_CN]=IRC
Name[zh_HK]=IRC
Name[zh_TW]=IRC
Comment=Internet Relay Chat
Comment[ar]=دردشة منقال الإنترنت
Comment[ast]=Internet Relay Chat
Comment[bg]=Интернет-чат (IRC)
Comment[bs]=Ćaskanje putem Interneta
Comment[ca]=Internet Relay Chat
Comment[ca@valencia]=Internet Relay Chat
Comment[cs]=Internet Relay Chat
Comment[da]=Internet Relay Chat
Comment[de]=Internet Relay Chat
Comment[el]=Internet Relay Chat
Comment[en_GB]=Internet Relay Chat
Comment[eo]=Interreta plusenda babilado
Comment[es]=Internet Relay Chat
Comment[et]=Rühmadiskussioon internetis
Comment[eu]=Internet Relay Chat
Comment[fi]=Internet Relay Chat
Comment[fr]=Relai Internet de discussion
Comment[ga]=Internet Relay Chat
Comment[gl]=Conversas por Internet
Comment[hne]=इन्टरनेट रिले चैट
Comment[hr]=Internetski relejni razgovor
Comment[hu]=IRC
Comment[ia]=Internet Relay Chat (IRC)
Comment[it]=Internet Relay Chat
Comment[ja]=インターネットリレーチャット
Comment[kk]=Internet Relay Chat
Comment[km]=ជជែក​កំសាន្ត​តាម​អ៊ីនធឺណិត
Comment[ko]=인터넷 릴레이 채팅
Comment[lt]=Internetu vykstantys pokalbiai (IRC)
Comment[lv]=Internet Relay Chat
Comment[ml]=ഇന്റെര്‍നെറ്റ് റിലെ ചാറ്റ്
Comment[nb]=Internet Relay Chat
Comment[nds]=Internet Relay Chat
Comment[nl]=Internet Relay Chat
Comment[nn]=Internet Relay Chat
Comment[pa]=ਇੰਟਰਨੈੱਟ ਰਿਲੇਅ ਚੈੱਟ
Comment[pl]=IRC (Internet Relay Chat)
Comment[pt]=Internet Relay Chat
Comment[pt_BR]=Bate-papo via Internet (IRC)
Comment[ro]=Internet Relay Chat
Comment[ru]=Internet Relay Chat
Comment[si]=ජාල පිළියවන සංවාදය
Comment[sk]=Internet Relay Chat
Comment[sl]=Internet Relay Chat
Comment[sq]=Internet Relay Chat
Comment[sr]=Ћаскање путем Интернета
Comment[sr@ijekavian]=Ћаскање путем Интернета
Comment[sr@ijekavianlatin]=Ćaskanje putem Interneta
Comment[sr@latin]=Ćaskanje putem Interneta
Comment[sv]=Internet Relay Chat
Comment[tr]=İnternet Üzerinden Sohbet
Comment[ug]=ئىنتېرنېت ئۇلاپ تارقىتىش سۆھبىتى(IRC)
Comment[uk]=Internet Relay Chat
Comment[x-test]=xxInternet Relay Chatxx
Comment[zh_CN]=互联网中继聊天
Comment[zh_TW]=IRC

