[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000800
Icon=wp_protocol
ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_wp
X-Kopete-Messaging-Protocol=messaging/winpopup
X-KDE-PluginInfo-Author=Gav Wood
X-KDE-PluginInfo-Email=gav@kde.org
X-KDE-PluginInfo-Name=kopete_wp
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=WinPopup
Name[ca]=Finestres emergents
Name[hi]=विन-पॉपअप
Name[nn]=Vindaugsmeldingar
Name[pt_BR]=Janela de Contexto
Name[xx]=xxWinPopupxx
Name[zh_CN]=WinPoup
Comment=Protocol to send Windows WinPopup messages
Comment[bg]=Протокол за изпращане на съобщения Windows WinPopup
Comment[bs]=Protokol za slanje Windows WinPopup poruka
Comment[ca]=Protocol per a enviar missatges de finestres emergents de Windows
Comment[cs]=Protokol k odesílání WinPopup zpráv
Comment[cy]=Protocol i anfon negeseuon WinPopup
Comment[da]=Protokol til at sende Windows WinPopup-beskeder
Comment[de]=Protokoll zur Versendung von Windows WinPopup-Nachrichten
Comment[el]=Πρωτόκολλο για αποστολή μηνυμάτων Windows WinPopup
Comment[es]=Protocolo para enviar un mensaje emergente de windows
Comment[et]=Protokoll Windowsi WinPopup sõnumite saatmiseks
Comment[fi]=Protokolla Windows WinPopup-viestien lähettämiseen
Comment[fr]=Protocole pour envoyer des messages WinPopup
Comment[ga]=Prótacal chun teachtaireachtaí Windows WinPopup a sheoladh
Comment[gl]=Protocolo para enviar mensaxes a máquinas Windows mediante o protocolo Winpopup
Comment[he]=תוסף לשליחת מסרי WinPopup
Comment[hi]=विंडोस विन-पॉपअप मैसेंजर भेजने का प्रोटोकॉल
Comment[hr]=Protokol za slanje Windows WinPopup poruka
Comment[hu]=Protokoll Windows felbukkanó üzenetek küldéséhez
Comment[is]=Protocol til að senda Windows WinPopup skeyti
Comment[it]=Protocollo per inviare messaggi Windows WinPopup
Comment[ja]=WindowsのWinPopupメッセージを送るプロトコル
Comment[nb]=Protokoll for å sende Windows WinPopup -meldinger
Comment[nl]=Protocol om WinPopup berichten te versturen
Comment[nn]=Protokoll for å senda Windows-vindaugsmeldingar
Comment[pl]=Protokół wysyłania komunikatów Windows WinPopup
Comment[pt]=Um protocolo para enviar mensagens de WinPopup do Windows
Comment[pt_BR]=Protocolo para o envio de mensagens de janela do Windows
Comment[ru]=Протокол для отправки сообщений Windows WinPopup
Comment[sk]=Protokol pre posielanie správ Windows WinPopup
Comment[sl]=Protokol za pošiljanje sporočil za Windows WinPopup
Comment[sr]=Протокол за слање Windows WinPopup порука
Comment[sr@Latn]=Protokol za slanje Windows WinPopup poruka
Comment[sv]=Protokoll för att skicka Windows WinPopup-meddelanden
Comment[ta]=ஜாபருடன் இணைக்க விதிமுறை
Comment[uk]=Протокол для відсилання повідомлень WinPopup
Comment[uz]=Windows WinPopup хабарларни жўнатиш учун протокол
Comment[wa]=Protocole po les messaedjes WinPopup di Windows
Comment[xx]=xxProtocol to send Windows WinPopup messagesxx
Comment[zh_CN]=发送 Windows WinPopup 信息的协议
