[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=wp_protocol
ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_wp
X-Kopete-Messaging-Protocol=messaging/winpopup
X-KDE-PluginInfo-Author=Gav Wood
X-KDE-PluginInfo-Email=gav@kde.org
X-KDE-PluginInfo-Name=kopete_wp
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=WinPopup
Name[ar]=منبثقWin
Name[bn]=উইন পপ-আপ
Name[ca]=Finestres emergents
Name[eu]=WinPopup plugina
Name[hi]=विन-पॉपअप
Name[lt]=Windows iššokančios žinutės
Name[ne]=विन पपअप
Name[nn]=Vindaugsmeldingar
Name[pt_BR]=Janela de Contexto
Name[zh_CN]=WinPoup
Comment=Protocol to send Windows WinPopup messages
Comment[ar]=البرتوكول سيصدر رسائل Windows المنبثقة
Comment[be]=Пратакол Windows WinPopup
Comment[bg]=Протокол за изпращане на съобщения Windows WinPopup
Comment[bn]=উইন্ডোজ উইন পপ-আপ বার্তা পাঠাতে প্রোটোকল
Comment[br]=Komenad evit kas kemennadoù Windows WinPopup
Comment[bs]=Protokol za slanje Windows WinPopup poruka
Comment[ca]=Protocol per a enviar missatges de finestres emergents de Windows
Comment[cs]=Protokol k odesílání WinPopup zpráv
Comment[cy]=Protocol i anfon negeseuon WinPopup
Comment[da]=Protokol til at sende Windows WinPopup-beskeder
Comment[de]=Protokoll zur Versendung von Windows WinPopup-Nachrichten
Comment[el]=Πρωτόκολλο για αποστολή μηνυμάτων Windows WinPopup
Comment[es]=Protocolo para enviar un mensaje emergente de windows
Comment[et]=Protokoll Windowsi WinPopup sõnumite saatmiseks
Comment[eu]=Windows WinPopup mezuak bidaltzeko protokoloa
Comment[fa]=قرارداد ارسال پیامهای WinPopup ویندوز
Comment[fi]=Yhteyskäytäntö Windows WinPopup-viestien lähettämiseen
Comment[fr]=Protocole pour envoyer des messages WinPopup
Comment[ga]=Prótacal chun teachtaireachtaí Windows WinPopup a sheoladh
Comment[gl]=Protocolo para enviar mensaxes a máquinas Windows mediante o protocolo Winpopup
Comment[he]=תוסף לשליחת מסרי WinPopup
Comment[hi]=विंडोज़ विन-पॉपअप मैसेंजर भेजने का प्रोटोकॉल
Comment[hr]=Protokol za slanje Windows WinPopup poruka
Comment[hu]=Protokoll Windows felbukkanó üzenetek küldéséhez
Comment[is]=Samskiptamáti til að senda Windows WinPopup skeyti
Comment[it]=Protocollo per inviare messaggi Windows WinPopup
Comment[ja]=Windows の WinPopup メッセージを送るプロトコル
Comment[ka]=Windows WinPopup შეტყობინებების გაგზავნის ოქმი
Comment[kk]=Windows WinPopup хабарларды жіберу протоколы
Comment[km]=ពិធីការ​ដើម្បី​ផ្ញើ​សារ WinPopup របស់​វ៉ីនដូ
Comment[lt]=Protokolas Windows iššokančių žinučių siuntimui
Comment[mk]=Протокол за испраќање на пораки со Windows WinPopup 
Comment[nb]=Protokoll for å sende Windows WinPopup -meldinger
Comment[nds]=Protokoll för't Sennen vun Windows-WinPopup-Narichten
Comment[ne]=विन्डोज विन पपअप सन्देश पठाउनुपर्ने प्रोटोकल
Comment[nl]=Protocol voor verzenden van WinPopup-berichten
Comment[nn]=Protokoll for å senda Windows-vindaugsmeldingar
Comment[pl]=Protokół wysyłania komunikatów Windows WinPopup
Comment[pt]=Um protocolo para enviar mensagens de WinPopup do Windows
Comment[pt_BR]=Protocolo para o envio de mensagens de janela do Windows
Comment[ro]=Protocol de trimis mesaje Windows WinPopup
Comment[ru]=Протокол для отправки сообщений Windows WinPopup
Comment[sk]=Protokol pre posielanie správ Windows WinPopup
Comment[sl]=Protokol za pošiljanje sporočil za Windows WinPopup
Comment[sr]=Протокол за слање Windows WinPopup порука
Comment[sr@Latn]=Protokol za slanje Windows WinPopup poruka
Comment[sv]=Protokoll för att skicka Windows WinPopup-meddelanden
Comment[ta]=விண்டோஸ் தோன்றும் சாளர செய்தியை அனுப்புவதற்கான நெறிமுறை
Comment[tg]=Қарордод барои фиристодани Windows WinPopup пайёмҳо 
Comment[tr]=Windows WinPopup mesajları gönderme iletişim kuralı
Comment[uk]=Протокол для відсилання повідомлень WinPopup
Comment[uz]=Windows WinPopup xabarlarni joʻnatish uchun protokol
Comment[uz@cyrillic]=Windows WinPopup хабарларни жўнатиш учун протокол
Comment[wa]=Protocole po les messaedjes WinPopup di Windows
Comment[zh_CN]=发送 Windows WinPopup 信息的协议
Comment[zh_HK]=用來發送 Windows WinPopup 訊息的通訊協定
Comment[zh_TW]=送出 WinPopup 訊息的協定
