[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=wp_protocol
ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_wp
X-Kopete-Messaging-Protocol=messaging/winpopup
X-KDE-PluginInfo-Author=Gav Wood
X-KDE-PluginInfo-Email=gav@kde.org
X-KDE-PluginInfo-Name=kopete_wp
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=WinPopup
Comment=Protocol to send Windows WinPopup messages
Comment[da]=Protokol til at bruge Windows WinPopup-beskeder
Comment[hu]=Protokoll a Windows felbukkanó üzeneteinek használatához
Comment[sr]=Протокол за коришћење Windows WinPopup порука
