[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KCModule
Name=KDE Control Module
Name[be]=Модуль кіраваньня KDE
Name[bg]=Контролен модул
Name[bn]=কে.ডি.ই. নিয়ন্ত্রণ মডিউল
Name[bs]=KDE kontrolni modul
Name[ca]=Mòdul de control de KDE
Name[cs]=Ovládací modul KDE
Name[cy]=Modiwl Rheoli KDE
Name[da]=KDE kontrolmodul
Name[de]=KDE-Kontrollmodul
Name[el]=Άρθρωμα ελέγχου KDE
Name[es]=Módulo de control de KDE
Name[et]=KDE juhtimismoodul
Name[fa]=بخش کنترل KDE
Name[fi]=KDE:n hallintamoduuli
Name[fr]=Module de configuration de KDE
Name[ga]=Modúl Rialaithe KDE
Name[gl]=Centro de Control de KDE
Name[he]=מודול בקרה של KDE
Name[hi]=केडीई नियंत्रण घटक
Name[hr]=KDE kontrolni modul
Name[hu]=KDE beállítómodul
Name[is]=KDE stjórneining
Name[it]=Modulo di controllo di KDE
Name[ja]=KDEコントロールモジュール
Name[nb]=KDE kontrollmodul
Name[nds]=KDE Kuntrullmodul
Name[nl]=KDE Configuratiemodule
Name[nn]=KDE-kontrollmodul
Name[pl]=Moduł kontroli KDE
Name[pt]=Módulo de Controlo do KDE
Name[pt_BR]=Módulo de Controle do KDE
Name[ru]=Модуль управления KDE
Name[sk]=Modul ovládacieho centra KDE
Name[sl]=Nadzorni modul KDE
Name[sr]=KDE-ов контролни модул
Name[sr@Latn]=KDE-ov kontrolni modul
Name[ss]=Sahluko sekulawula se KDE 
Name[sv]=KDE-inställningsmodul
Name[ta]=அச்சுபொறிக் கட்டுபாட்டுப் பலகம்
Name[uk]=Модуль центру керування KDE
Name[uz]=KDE бошқарув модули
Name[wa]=Module di contrôle KDE
Name[xx]=xxKDE Control Modulexx
Name[zh_CN]=KDE 控制模块

[PropertyDef::X-KDE-FactoryName]
Type=QString

[PropertyDef::X-KDE-RootOnly]
Type=bool

[PropertyDef::X-KDE-ParentComponents]
Type=QStringList

