[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KCModule
Name=KDE Control Module
Name[ca]=Mòdul de control de KDE
Name[cs]=Ovládací modul KDE
Name[da]=KDE kontrolmodul
Name[de]=KDE-Kontrollmodul
Name[es]=Módulo de control de KDE
Name[et]=KDE juhtimismoodul
Name[fa]=بخش کنترل KDE
Name[ga]=Modúl Rialaithe KDE
Name[hu]=KDE beállítómodul
Name[it]=Modulo di controllo di KDE
Name[nl]=KDE Configuratiemodule
Name[pt_BR]=Módulo de Controle do KDE
Name[ru]=Модуль управления KDE
Name[sr]=KDE-ов контролни модул
Name[ss]=Sahluko sekulawula se KDE 
Name[sv]=KDE-inställningsmodul
Name[uz]=KDE бошқариш модули
Name[wa]=Module di contrôle KDE
Name[xx]=xxKDE Control Modulexx

[PropertyDef::X-KDE-FactoryName]
Type=QString

[PropertyDef::X-KDE-RootOnly]
Type=bool

[PropertyDef::X-KDE-ParentComponents]
Type=QStringList

