[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KCModule
Name=KDE Control Module
Name[bg]=Контролен модул
Name[ca]=Mòdul de control de KDE
Name[cs]=Ovládací modul KDE
Name[cy]=Modiwl Rheoli KDE
Name[da]=KDE kontrolmodul
Name[de]=KDE-Kontrollmodul
Name[el]=Άρθρωμα ελέγχου KDE
Name[es]=Módulo de control de KDE
Name[et]=KDE juhtimismoodul
Name[fa]=بخش کنترل KDE
Name[fi]=KDE:n hallintamoduuli
Name[fr]=Module de configuration de KDE
Name[ga]=Modúl Rialaithe KDE
Name[gl]=Centro de Control de KDE
Name[he]=מודול בקרה של KDE
Name[hi]=केडीई नियंत्रण घटक
Name[hu]=KDE beállítómodul
Name[it]=Modulo di controllo di KDE
Name[nb]=KDE kontrollmodul
Name[nl]=KDE Configuratiemodule
Name[pt]=Módulo de Controlo do KDE
Name[pt_BR]=Módulo de Controle do KDE
Name[ru]=Модуль управления KDE
Name[sk]=Modul ovládacieho centra KDE
Name[sl]=Nadzorni modul KDE
Name[sr]=KDE-ов контролни модул
Name[ss]=Sahluko sekulawula se KDE 
Name[sv]=KDE-inställningsmodul
Name[tg]=Модулӣ KDE Control
Name[uz]=KDE бошқарув модули
Name[wa]=Module di contrôle KDE
Name[xx]=xxKDE Control Modulexx

[PropertyDef::X-KDE-FactoryName]
Type=QString

[PropertyDef::X-KDE-RootOnly]
Type=bool

[PropertyDef::X-KDE-ParentComponents]
Type=QStringList

