[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KPluginInfo
Name=KDE Plugin Information
Name[bg]=Информация за приставките в КДЕ
Name[ca]=Connector informatiu de KDE
Name[cs]=Informace o pluginu KDE
Name[da]=KDE's plugin-information
Name[es]=Información de los plugin de KDE
Name[et]=KDE plugina info
Name[fi]=KDE:n lisäosatiedot
Name[he]=מידע על תוספים של KDE
Name[hu]=A KDE bővítőmodulok áttekintése
Name[nl]=KDE-plugininformatie
Name[pt]=Informação do 'Plugin' do KDE
Name[pt_BR]=Informações do Plug-in do KDE
Name[sr]=Информација о KDE dodatku
Name[sv]=KDE insticksinformation
Name[uk]=Інформація про втулок KDE
Name[uz]=KDE плагин ҳақида маълумот
Name[wa]=Informåcion sol tchôke-divins di KDE
Name[xx]=xxKDE Plugin Informationxx

[PropertyDef::X-KDE-PluginInfo-Author]
Type=QString

[PropertyDef::X-KDE-PluginInfo-Email]
Type=QString

[PropertyDef::X-KDE-PluginInfo-Name]
Type=QString

[PropertyDef::X-KDE-PluginInfo-Version]
Type=QString

[PropertyDef::X-KDE-PluginInfo-Website]
Type=QString

[PropertyDef::X-KDE-PluginInfo-Category]
Type=QString

[PropertyDef::X-KDE-PluginInfo-Depends]
Type=QStringList

[PropertyDef::X-KDE-PluginInfo-License]
Type=QString

[PropertyDef::X-KDE-PluginInfo-EnabledByDefault]
Type=bool
