[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KPluginInfo
Name=KDE Plugin Information
Name[bg]=Информация за приставки
Name[bn]=কে.ডি.ই. প্লাগ-ইন তথ্য
Name[bs]=KDE informacije o dodatku
Name[ca]=Informació dels connectors de KDE
Name[cs]=Informace o KDE modulu
Name[cy]=Gwybodaeth Ategyn KDE
Name[da]=Information om KDE's plugin
Name[de]=KDE Modul-Information
Name[el]=Πληροφορίες προσθέτου KDE
Name[es]=Información de plugins de KDE
Name[et]=KDE plugina info
Name[fa]=اطلاعات متصل‌کننده‌ی KDE
Name[fi]=KDE:n liitännäistiedot
Name[fr]=Information sur le module KDE
Name[ga]=Eolas Bhreiseán KDE
Name[gl]=Información sobre plugins de KDE
Name[he]=מידע תוסף KDE
Name[hi]=केडीई प्लगिन जानकारी
Name[hu]=KDE bővítőmodulok
Name[is]=KDE Íforritaupplýsingar
Name[it]=Informazioni plugin di KDE
Name[ja]=KDEプラグイン情報
Name[nb]=Informasjon om KDE programtillegg
Name[nl]=KDE Plug-in informatie
Name[nn]=Informasjon om KDE-programtillegg
Name[pl]=Informacja o wtyczkach KDE
Name[pt]=Informação do 'Plugin' do KDE
Name[pt_BR]=Informações sobre o plugin do KDE
Name[ru]=Сведения о модуле KDE
Name[sk]=Informácie o module KDE
Name[sl]=Informacije o dodatkih v KDE
Name[sr]=Информације о KDE-овом додатку
Name[sr@Latn]=Informacije o KDE-ovom dodatku
Name[sv]=Information om KDE-insticksprogram
Name[ta]=KDE செருகல் தகவல்
Name[tg]=KDE барномаҳои чоп кунӣ
Name[tr]=KDE Eklenti Bilgisi
Name[uk]=Інформація про втулок KDE
Name[uz]=KDE плагин ҳақида маълумот
Name[wa]=Informåcion sol tchôke-divins di KDE
Name[xx]=xxKDE Plugin Informationxx
Name[zh_CN]=KDE 插件信息

[PropertyDef::X-KDE-PluginInfo-Author]
Type=QString

[PropertyDef::X-KDE-PluginInfo-Email]
Type=QString

[PropertyDef::X-KDE-PluginInfo-Name]
Type=QString

[PropertyDef::X-KDE-PluginInfo-Version]
Type=QString

[PropertyDef::X-KDE-PluginInfo-Website]
Type=QString

[PropertyDef::X-KDE-PluginInfo-Category]
Type=QString

[PropertyDef::X-KDE-PluginInfo-Depends]
Type=QStringList

[PropertyDef::X-KDE-PluginInfo-License]
Type=QString

[PropertyDef::X-KDE-PluginInfo-EnabledByDefault]
Type=bool
