[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=sms_protocol
ServiceTypes=Kopete/Protocol
X-Kopete-Messaging-Protocol=messaging/sms
X-KDE-Library=kopete_sms
X-KDE-PluginInfo-Author=Richard Lärkäng
X-KDE-PluginInfo-Email=richard@goteborg.utfors.se
X-KDE-PluginInfo-Name=kopete_sms
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=SMS
Name[bn]=এস-এম-এস
Name[fa]=خدمت پیام کوتاه
Name[hi]=एसएमएस
Name[km]=សេវា​សារ​ខ្លីៗ
Name[ne]=एस एम एस
Name[zh_CN]=短信息
Comment=Protocol to send SMS messages
Comment[ar]=سيرسل البروتوكول رسالة عن  طريق خدمة الرسائل القصيرة
Comment[be]=Пратакол адпраўлення паведамленняў SMS
Comment[bg]=Протокол за изпращане на SMS съобщения
Comment[bn]=এস-এম-এস বার্তা পাঠাতে প্রোটোকল
Comment[br]=Komenad evit kas kemennadoù SMS
Comment[bs]=Protokol za slanje SMS poruka
Comment[ca]=Protocol per a enviar missatges SMS
Comment[cs]=Protokol k odesílání SMS zpráv
Comment[cy]=Protocol i anfon negeseuon SMS
Comment[da]=Protokol til at sende SMS-beskeder
Comment[de]=Protokoll zur Versendung von SMS-Nachrichten
Comment[el]=Πρωτόκολλο για αποστολή μηνυμάτων SMS
Comment[es]=Protocolo de envío de SMS
Comment[et]=Protokoll SMS-ide saatmiseks
Comment[eu]=SMS mezuak bidaltzeko protokoloa
Comment[fa]=قرارداد برای ارسال پیامهای کوتاه
Comment[fi]=Yhteyskäytäntö SMS-viestien lähettämiseen
Comment[fr]=Protocole pour envoyer des SMS
Comment[ga]=Prótacal chun teachtaireachtaí SMS a sheoladh
Comment[gl]=Protocolo para enviar mansaxes SMS
Comment[he]=פרוטוקול שליחת הודעות SMS
Comment[hi]=से जुड़ने का प्रोटोकॉल
Comment[hr]=Protokol za slanje SMS poruka
Comment[hu]=Protokoll SMS üzenetek küldéséhez
Comment[is]=Samskiptamáti til að senda SMS skilaboð
Comment[it]=Protocollo per inviare messaggi SMS
Comment[ja]=SMS メッセージを送るプロトコル
Comment[ka]=SMS შეტყობინებების გაგზავნის ოქმი
Comment[kk]=SMS хабарларын жіберу протоколы
Comment[km]=ពិធីការ​ដើម្បី​ផ្ញើ​សារ​ខ្លីៗ
Comment[lt]=Protokolas SMS žinučių siuntimui
Comment[mk]=Протокол за испраќање на SMS-пораки
Comment[nb]=Protokoll for å sende SMS-meldinger
Comment[nds]=Protokoll för't Sennen vun SMS-Narichten
Comment[ne]=एस एम एस सन्देश पठाउने प्रोटोकल
Comment[nl]=Protocol voor verzenden van SMS-berichten
Comment[nn]=Protokoll for å senda SMS-meldingar
Comment[pl]=Protokół wysyłania wiadomości SMS
Comment[pt]=Protocolo para enviar mensagens SMS
Comment[pt_BR]=Protocolo para o envio de mensagens SMS
Comment[ro]=Protocol de trimis mesaje SMS
Comment[ru]=Протокол отправки сообщений SMS
Comment[sk]=Protokol pre posielanie správ SMS
Comment[sl]=Protokol za pošiljanje SMS sporočil
Comment[sr]=Протокол за слање SMS порука
Comment[sr@Latn]=Protokol za slanje SMS poruka
Comment[sv]=Protokoll för att skicka SMS-meddelanden
Comment[ta]=SMS செய்தி அனுப்ப விதிமுறை
Comment[tg]=Қарордод барои фиристодани SMS пайёмҳо
Comment[tr]=SMS mesajları gönderme iletişim kuralı
Comment[uk]=Протокол для відсилання SMS повідомлень
Comment[uz]=SMS xabarlarni joʻnatish uchun protokol
Comment[uz@cyrillic]=SMS хабарларни жўнатиш учун протокол
Comment[wa]=Protocole po-z evoyî des messaedje SMS
Comment[zh_CN]=发送短信息的协议
Comment[zh_HK]=用來發送 SMS 訊息的通訊協定
Comment[zh_TW]=送 SMS 訊息的協定
