[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=sms_protocol
X-KDE-ServiceTypes=Kopete/Protocol
X-Kopete-Messaging-Protocol=messaging/sms
X-KDE-Library=kopete_sms
X-KDE-PluginInfo-Author=Richard Lärkäng
X-KDE-PluginInfo-Email=richard@goteborg.utfors.se
X-KDE-PluginInfo-Name=kopete_sms
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=SMS
Name[bn]=এস-এম-এস
Name[fa]=خدمت پیام کوتاه
Name[fi]=Tekstiviesti
Name[hi]=एसएमएस
Name[km]=សេវា​សារ​ខ្លីៗ
Name[ko]=문자 메시지
Name[ne]=एसएमएस
Name[x-test]=xxSMSxx
Comment=Send SMS messages to mobile phones
Comment[ar]=أرسل رسائل قصيرة للهواتف المتنقلة
Comment[ca]=Envia missatges SMS a telèfons mòbils
Comment[cs]=Poslat SMS na mobilní telefony
Comment[da]=Send SMS-beskeder til mobiltelefoner
Comment[de]=SMS-Nachrichten an Mobiltelefone senden
Comment[el]=Αποστολή μηνυμάτων SMS σε κινητά τηλέφωνα
Comment[eo]=Sendi SMS mesaĝojn al poŝtelefonoj
Comment[es]=Envía mensajes SMS a teléfonos móviles
Comment[et]=SMS-ide saatmine mobiilrelefonile
Comment[fi]=Lähetä tekstiviestejä matkapuhelimiin
Comment[fr]=Envoyer des messages SMS vers des téléphones portables
Comment[ga]=Seol teachtaireachtaí SMS chuig fón póca
Comment[gl]=Manda SMS a móbiles
Comment[hu]=SMS küldése mobiltelefonra
Comment[it]=Invia messaggi SMS verso telefoni cellulari
Comment[ja]=携帯電話に SMS メッセージを送ります
Comment[km]=ផ្ញើ​សារ​សេវា​សារ​ខ្លីៗ​ទៅ​ទូរស័ព្ទ​ចល័ត
Comment[ko]=휴대폰으로 문자 메시지를 보냅니다
Comment[lt]=Siųskite SMS žinutes į mobilius telefonus
Comment[lv]=Sītīt SMS ziņojumus uz mobīlajiem telefoniem
Comment[nb]=Send SMS-meldinger til mobiltelefoner
Comment[nds]=SMS-Narichten Mobiltelefonen tostüern
Comment[nl]=SMS-berichten naar mobiele telefoons verzenden
Comment[nn]=Send tekstmeldingar til mobiltelefonar
Comment[pa]=ਮੋਬਾਇਲ ਫੋਨਾਂ ਲਈ SMS ਸੁਨੇਹੇ ਭੇਜੋ
Comment[pl]=Wysyłanie wiadomości tekstowych na telefony komórkowe
Comment[pt]=Enviar mensagens SMS para telemóveis
Comment[pt_BR]=Mande torpedos SMS para telefones móveis
Comment[ro]=Expediați mesaje SMS spre telefoane mobile
Comment[ru]=Отправка SMS-сообщений на мобильные телефоны
Comment[sl]=Pošlji sporočilo SMS mobilnim telefonom
Comment[sv]=Skicka SMS till mobiltelefoner
Comment[tr]=Cep telefonlarına SMS mesajı gönder
Comment[uk]=Отримує та надсилає текстові повідомлення з вашого мобільного телефону
Comment[x-test]=xxSend SMS messages to mobile phonesxx
Comment[zh_CN]=把短消息发送到移动电话
Comment[zh_TW]=送出簡訊到手機
