[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=sms_protocol
X-KDE-ServiceTypes=Kopete/Protocol
X-Kopete-Messaging-Protocol=messaging/sms
X-KDE-Library=kopete_sms
X-KDE-PluginInfo-Author=Richard Lärkäng
X-KDE-PluginInfo-Email=richard@goteborg.utfors.se
X-KDE-PluginInfo-Name=kopete_sms
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=SMS
Name[ar]=SMS
Name[ast]=SMS
Name[bg]=SMS
Name[bn]=এস-এম-এস
Name[br]=SMS
Name[bs]=SMS
Name[ca]=SMS
Name[ca@valencia]=SMS
Name[cs]=SMS
Name[cy]=SMS
Name[da]=SMS
Name[de]=SMS
Name[el]=SMS
Name[en_GB]=SMS
Name[eo]=SMS
Name[es]=SMS
Name[et]=SMS
Name[eu]=SMS
Name[fa]=خدمت پیام کوتاه
Name[fi]=Tekstiviesti
Name[fr]=SMS
Name[ga]=SMS
Name[gl]=SMS
Name[he]=SMS
Name[hi]=एसएमएस
Name[hne]=एसएमएस
Name[hr]=SMS
Name[hu]=SMS
Name[ia]=SMS
Name[is]=SMS
Name[it]=SMS
Name[ja]=SMS
Name[kk]=SMS
Name[km]=សេវា​សារ​ខ្លីៗ
Name[ko]=문자 메시지
Name[lt]=SMS
Name[lv]=SMS
Name[mai]=SMS
Name[mk]=SMS
Name[ml]=എസ്എംഎസ്
Name[nb]=SMS
Name[nds]=SMS
Name[ne]=एसएमएस
Name[nl]=SMS
Name[nn]=SMS
Name[oc]=SMS
Name[pa]=SMS
Name[pl]=SMS
Name[pt]=SMS
Name[pt_BR]=SMS
Name[ro]=SMS
Name[ru]=SMS
Name[se]=SMS
Name[si]=SMS
Name[sk]=SMS
Name[sl]=SMS
Name[sq]=SMS
Name[sr]=СМС
Name[sr@ijekavian]=СМС
Name[sr@ijekavianlatin]=SMS
Name[sr@latin]=SMS
Name[sv]=SMS
Name[ta]=SMS
Name[tg]=SMS
Name[tr]=SMS
Name[ug]=SMS
Name[uk]=SMS
Name[uz]=SMS
Name[uz@cyrillic]=SMS
Name[vi]=SMS
Name[wa]=SMS
Name[x-test]=xxSMSxx
Name[zh_CN]=SMS
Name[zh_HK]=SMS
Name[zh_TW]=SMS
Comment=Send SMS messages to mobile phones
Comment[ar]=أرسل رسائل قصيرة للهواتف المتنقلة
Comment[ast]=Unvía mensaxes SMS a teléfonos móviles
Comment[bg]=Изпращане на SMS до мобилни телефони
Comment[bs]=Slanje CMC poruka na mobilne telefone
Comment[ca]=Envia missatges SMS a telèfons mòbils
Comment[ca@valencia]=Envia missatges SMS a telèfons mòbils
Comment[cs]=Poslat SMS na mobilní telefony
Comment[da]=Send SMS-beskeder til mobiltelefoner
Comment[de]=SMS-Nachrichten an Mobiltelefone senden
Comment[el]=Αποστολή μηνυμάτων SMS σε κινητά τηλέφωνα
Comment[en_GB]=Send SMS messages to mobile phones
Comment[eo]=Sendi SMS mesaĝojn al poŝtelefonoj
Comment[es]=Envía mensajes SMS a teléfonos móviles
Comment[et]=SMS-ide saatmine mobiilrelefonile
Comment[eu]=Bidali SMS mezuak telefono mugikorretara
Comment[fi]=Lähetä tekstiviestejä matkapuhelimiin
Comment[fr]=Envoyer des messages SMS vers des téléphones portables
Comment[ga]=Seol teachtaireachtaí SMS chuig fón póca
Comment[gl]=Manda SMS a móbiles
Comment[hr]=Šalji SMS-poruke mobitelima
Comment[hu]=SMS küldése mobiltelefonra
Comment[ia]=Invia messages de SMS a telephonos mobile
Comment[it]=Invia SMS a telefoni cellulari
Comment[ja]=携帯電話に SMS メッセージを送ります
Comment[kk]=Қалтафондарға кәдімгі SMS-терді жіберу
Comment[km]=ផ្ញើ​សារ​សេវា​សារ​ខ្លីៗ​ទៅ​ទូរស័ព្ទ​ចល័ត
Comment[ko]=휴대폰으로 문자 메시지를 보냅니다
Comment[lt]=Siųskite SMS žinutes į mobilius telefonus
Comment[lv]=Sītīt SMS ziņojumus uz mobīlajiem telefoniem
Comment[ml]=മൊബൈല്‍ഫോണിലേയ്ക്ക് എസ്എംഎസ് സന്ദേശങ്ങളയക്കാം 
Comment[nb]=Send SMS-meldinger til mobiltelefoner
Comment[nds]=SMS-Narichten Mobiltelefonen tostüern
Comment[nl]=SMS-berichten naar mobiele telefoons verzenden
Comment[nn]=Send tekstmeldingar til mobiltelefonar
Comment[pa]=ਮੋਬਾਇਲ ਫੋਨਾਂ ਲਈ SMS ਸੁਨੇਹੇ ਭੇਜੋ
Comment[pl]=Wysyłanie wiadomości tekstowych na telefony komórkowe
Comment[pt]=Enviar mensagens SMS para telemóveis
Comment[pt_BR]=Mande torpedos SMS para telefones celulares
Comment[ro]=Expediați mesaje SMS spre telefoane mobile
Comment[ru]=Отправка SMS-сообщений на мобильные телефоны
Comment[si]=ජංගම දුරකථන සඳහා SMS පණිවුඩ යවයි
Comment[sk]=Posielanie SMS správ na mobilné telefóny
Comment[sl]=Pošlje sporočila SMS mobilnim telefonom
Comment[sr]=Слање СМС порука на мобилне телефоне
Comment[sr@ijekavian]=Слање СМС порука на мобилне телефоне
Comment[sr@ijekavianlatin]=Slanje SMS poruka na mobilne telefone
Comment[sr@latin]=Slanje SMS poruka na mobilne telefone
Comment[sv]=Skicka SMS till mobiltelefoner
Comment[th]=ส่งข้อความ SMS ไปยังโทรศัพท์เคลื่อนที่
Comment[tr]=Cep telefonlarına SMS mesajı gönder
Comment[uk]=Отримує та надсилає текстові повідомлення з вашого мобільного телефону
Comment[x-test]=xxSend SMS messages to mobile phonesxx
Comment[zh_CN]=把短消息发送到移动电话
Comment[zh_TW]=送出簡訊到手機
