[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=sms_protocol
ServiceTypes=Kopete/Protocol
X-Kopete-Messaging-Protocol=messaging/sms
X-KDE-Library=kopete_sms
X-KDE-PluginInfo-Author=Richard Lärkäng
X-KDE-PluginInfo-Email=richard@goteborg.utfors.se
X-KDE-PluginInfo-Name=kopete_sms
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=SMS
Comment=Protocol to send SMS messages
Comment[da]=Protokol-plugin for SMS
Comment[hu]=Protokollmodul SMS-küldéshez
Comment[sr]=Додатак за протокол за слање SMS-а
