[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000900
Icon=qq_protocol
ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_qq
X-Kopete-Messaging-Protocol=messaging/qq
X-KDE-PluginInfo-Author=Hui Jin
X-KDE-PluginInfo-Email=blueangel.jin@gmail.com
X-KDE-PluginInfo-Name=kopete_qq
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=QQ
Name[x-test]=xxQQxx
Comment=Kopete test protocol
Comment[el]=Πρωτόκολλο ελέγχου του Kopete
Comment[fr]=Protocole de test de Kopete
Comment[x-test]=xxKopete test protocolxx
