[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000900
Icon=qq_protocol
ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_qq
X-Kopete-Messaging-Protocol=messaging/qq
X-KDE-PluginInfo-Author=Hui Jin
X-KDE-PluginInfo-Email=blueangel.jin@gmail.com
X-KDE-PluginInfo-Name=kopete_qq
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=QQ
Name[x-test]=xxQQxx
Comment=A popular Chinese IM system
Comment[el]=Ένα δημοφιλές κινέζικο σύστημα IM
Comment[ja]=人気の高い中国の IM システム
Comment[nb]=Et populært kinesisk lynmeldingssystem
Comment[pt]=Um sistema de IM popular na China
Comment[pt_BR]=Um sistema de IM popular na China
Comment[sv]=Ett populärt kinesiskt direktmeddelandesystem
Comment[zh_CN]=一种流行于中国的即时通讯系统
Comment[zh_TW]=一個受歡迎的中文即時訊息系統
