[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=qq_protocol
X-KDE-ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_qq
X-Kopete-Messaging-Protocol=messaging/qq
X-KDE-PluginInfo-Author=Hui Jin
X-KDE-PluginInfo-Email=blueangel.jin@gmail.com
X-KDE-PluginInfo-Name=kopete_qq
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=QQ
Name[ar]=QQ
Name[ast]=QQ
Name[bg]=QQ
Name[bs]=QQ
Name[ca]=QQ
Name[ca@valencia]=QQ
Name[cs]=QQ
Name[da]=QQ
Name[de]=QQ
Name[el]=QQ
Name[en_GB]=QQ
Name[eo]=QQ
Name[es]=QQ
Name[et]=QQ
Name[eu]=QQ
Name[fi]=QQ
Name[fr]=QQ
Name[ga]=QQ
Name[gl]=QQ
Name[hi]=क्यूक्यू
Name[hne]=क्यूक्यू
Name[hr]=QQ
Name[hu]=QQ
Name[ia]=QQ
Name[it]=QQ
Name[ja]=QQ
Name[kk]=QQ
Name[km]=QQ
Name[ko]=QQ
Name[lt]=QQ
Name[lv]=QQ
Name[ml]=ക്യുക്യു
Name[nb]=QQ
Name[nds]=QQ
Name[ne]=QQ
Name[nl]=QQ
Name[nn]=QQ
Name[pa]=QQ
Name[pl]=QQ
Name[pt]=QQ
Name[pt_BR]=QQ
Name[ro]=QQ
Name[ru]=QQ
Name[si]=QQ
Name[sk]=QQ
Name[sl]=QQ
Name[sq]=QQ
Name[sr]=ку‑ку
Name[sr@ijekavian]=ку‑ку
Name[sr@ijekavianlatin]=QQ
Name[sr@latin]=QQ
Name[sv]=QQ
Name[tr]=QQ
Name[ug]=QQ
Name[uk]=QQ
Name[vi]=QQ
Name[wa]=QQ
Name[x-test]=xxQQxx
Name[zh_CN]=QQ
Name[zh_TW]=QQ
Comment=A popular Chinese IM system
Comment[ar]=نظام التحادث الفوري الصيني الشعبي
Comment[ast]=Un sistema de MI popular chinu
Comment[bg]=Популярна китайска система за съобщения
Comment[bs]=Popularni kineski IM sistem
Comment[ca]=Un sistema de missatgeria xinès popular
Comment[ca@valencia]=Un sistema de missatgeria xinés popular
Comment[cs]=Populární čínský IM systém
Comment[da]=Et populært kinesisk IM-system
Comment[de]=Ein beliebtes chinesisches IM-System
Comment[el]=Ένα δημοφιλές κινέζικο σύστημα IM
Comment[en_GB]=A popular Chinese IM system
Comment[eo]=Popola ĉina tujmesaĝa sistemo
Comment[es]=Un sistema de MI popular chino
Comment[et]=Populaarne Hiina kiirsuhtlussüsteem
Comment[eu]=BM sistema txinatar ospetsua
Comment[fi]=Suosittu kiinalainen pikaviestin
Comment[fr]=Une messagerie instantanée chinoise populaire
Comment[ga]=Córas Síneach IM a mbaintear úsáid as go forleathan
Comment[gl]=Un sistema de IM popular na China
Comment[hr]=Popularni kineski IM-sustav
Comment[hu]=Népszerű kínai csevegőszolgáltatás
Comment[ia]=Un popular systema de IM chinese 
Comment[it]=Un popolare sistema cinese di messaggistica
Comment[ja]=人気の高い中国の IM システム
Comment[kk]=Әйгілі Қытай лезде хабарласу жүйесі
Comment[km]=ប្រព័ន្ធ​ផ្ញើ​សារ​បន្ទាន់​ភាសា​ចិន​ពេញ​និយម
Comment[ko]=중국에서 인기 있는 메신저 시스템
Comment[lt]=Populiari kiniška momenitinių žinučių tarnyba
Comment[lv]=Populāra Ķīniešu ziņapmaiņas sistēma
Comment[ml]=ചൈനയില്‍ പ്രചാരത്തിലുള്ള ഒരു ഐഎം സമ്പ്രദായം
Comment[nb]=Et populært kinesisk lynmeldingssystem
Comment[nds]=En breed bruukt chineesch Kortnarichtensysteem
Comment[nl]=Een populair Chinees IM-systeem
Comment[nn]=Ei populær kinesisk lynmeldingsteneste
Comment[pl]=Popularny chiński komunikator
Comment[pt]=Um sistema de IM popular na China
Comment[pt_BR]=Um sistema de mensagens instantâneas popular na China
Comment[ro]=Un sistem de MI chinez
Comment[ru]=Популярная китайская система обмена сообщениями
Comment[si]=ජනප්‍රිය චීන IM පද්ධතිය
Comment[sk]=Populárny čínsky IM systém
Comment[sl]=Priljubljen kitajski sistem za hipno sporočanje
Comment[sr]=Популарни кинески брзогласнички систем
Comment[sr@ijekavian]=Популарни кинески брзогласнички систем
Comment[sr@ijekavianlatin]=Popularni kineski brzoglasnički sistem
Comment[sr@latin]=Popularni kineski brzoglasnički sistem
Comment[sv]=Ett populärt kinesiskt direktmeddelandesystem
Comment[th]=บริการข้อความด่วนทันใจของชาวจีนที่ได้รับความนิยมมาก
Comment[tr]=Çinli Anında Haberleşme sistemi
Comment[uk]=Популярна китайська програма обміну повідомленнями
Comment[x-test]=xxA popular Chinese IM systemxx
Comment[zh_CN]=一种流行于中国的即时通讯系统
Comment[zh_TW]=一個受歡迎的中文即時訊息系統
