[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=contactnotes_plugin
Name=Contact Notes
Name[es]=Notas de contacto
Name[fr]=Informations sur les contacts
Name[he]=הערות איש קשר
Name[ja]=コンタクトノート
Name[pt]=Notas do Contacto
Name[pt_BR]=Notas de Contato
Name[ru]=Примечания к контактам
Name[sv]=Kontaktanteckningar
Name[zh_CN]=联系人备注
Name[zh_TW]=連絡人備註
Name[zu]=Amapheshaana Okuxhumana
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_contactnotes
X-Kopete-Plugin-Id=contactnotes
X-Kopete-Author=Olivier Goffart
X-Kopete-Site=http://kopete.kde.org
X-Kopete-Email=ogoffart@tiscalinet.be
X-Kopete-License=GPL
Comment=Add personal notes on your contacts
Comment[es]=Añade notas personales a sus contactos
Comment[fr]=Ajoutez vos notes personnelles à vos contacts
Comment[he]=הוסף הערות אישיות לאיש הקשר שלך
Comment[ja]=コンタクトに個人的なノートを付けます
Comment[pt]=Adicione nota pessoais aos seus contactos
Comment[pt_BR]=Adicione notas pessoais aos seus contatos
Comment[ru]=Добавить персональные примечания к вашим контактам
Comment[sv]=Lägg till personliga anteckningar om kontakter
Comment[zh_CN]=给您的联系人添加个人备注
Comment[zh_TW]=在您的連絡人加入個人的註解
