[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=identity
Name=Contact Notes
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_contactnotes
X-Kopete-Plugin-Id=contactnotes
X-Kopete-Author=Olivier Goffart
X-Kopete-Site=http://kopete.kde.org
X-Kopete-Email=ogoffart@tiscalinet.be
X-Kopete-License=GPL
Comment=Add personal notes on your contacts
