[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=identity
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_contactnotes
X-KDE-PluginInfo-Author=Olivier Goffart
X-KDE-PluginInfo-Email=ogoffart@tiscalinet.be
X-KDE-PluginInfo-Name=kopete_contactnotes
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Contact Notes
Name[ar]=ملاحظات الاتصال
Name[be]=Нататкі
Name[bg]=Бележки за контактите
Name[bn]=যোগাযোগ নোট
Name[br]=Notennoù an darempred
Name[bs]=Kontakt informacije
Name[ca]=Notes del contacte
Name[cs]=Poznámky ke kontaktu
Name[cy]=Nodiadau Cysylltiad
Name[da]=Kontaktnoter
Name[de]=Kontakt-Notizen
Name[el]=Σημειώσεις επαφής
Name[eo]=Kontaktinformoj
Name[es]=Notas de contacto
Name[et]=Kontakti märkmed
Name[eu]=Kontaktuaren oharrak
Name[fa]=یادداشتهای تماس
Name[fi]=Yhteystiedot
Name[fr]=Notes sur les contacts
Name[gl]=Notas de contacto
Name[he]=הערות על איש-קשר
Name[hi]=सम्पर्क नोट्स
Name[hr]=Zabilješke kontakata
Name[hu]=Megjegyzés a partnerekhez
Name[is]=Skráð um notanda
Name[it]=Note contatto
Name[ja]=コンタクトメモ
Name[ka]=მეგობრის შენიშვნები
Name[kk]=Контакт ескертпелері
Name[km]=​ចំណាំ​ក្នុង​ទំនាក់​ទំនង
Name[lt]=Kontaktų pastabos
Name[mk]=Забелешки за контакт 
Name[nb]=Notater om kontakter
Name[nds]=Kontakt-Notizen
Name[ne]=सम्पर्क द्रष्टब्य
Name[nl]=Notities bij contacten
Name[nn]=Notat om kontaktar
Name[pa]=ਸੰਪਰਕ ਨੋਟਿਸ
Name[pl]=Notatki kontaktu
Name[pt]=Notas do Contacto
Name[pt_BR]=Notas do Contato
Name[ru]=Примечания к контакту
Name[sk]=Poznámky kontaktu
Name[sl]=Zapiski za stike
Name[sr]=Белешке о контакту
Name[sr@Latn]=Beleške o kontaktu
Name[sv]=Kontaktanteckningar
Name[ta]=தொடர்பு குறிப்பு
Name[tg]=Эзоҳи Пайвастшавӣ
Name[tr]=Bağlantı Notları
Name[uk]=Примітки до контакту
Name[zh_CN]=联系人备忘
Name[zh_HK]=聯絡人備註
Name[zh_TW]=聯絡人備忘錄
Comment=Add personal notes on your contacts
Comment[ar]=أضف ملاحظاتك الشخصية إلى بيانات اﻹتصال
Comment[be]=Дадаць прыватныя нататкі для людзей у спісе
Comment[bg]=Добавяне и редактиране на бележки и коментари към контактите
Comment[bn]=আপনার যোগাযোগে ব্যক্তিগত নোট যোগ করুন
Comment[bs]=Dodajte lične bilješke vašim kontaktima
Comment[ca]=Afegeix notes personals als vostres contactes
Comment[cs]=Osobní poznámky ke kontaktům
Comment[cy]=Ychwanegu nodiadau personol ynglyn â'ch cysylltiadau
Comment[da]=Tilføj personlige noter om dine kontakter
Comment[de]=Ermöglicht das Hinzufügen persönlicher Notizen zu Kontakten
Comment[el]=Προσθέστε προσωπικές σημειώσεις στις επαφές σας
Comment[eo]=Aldoni personajn notojn al viaj kontaktoj
Comment[es]=Añade notas personales a tus contactos
Comment[et]=Isiklike märkmete lisamine kontaktide kohta
Comment[eu]=Gehitu ohar pertsonalak zure kontaktuei
Comment[fa]=افزودن پیامهای شخصی به تماسهای شما
Comment[fi]=Lisää omia muistiinpanoja yhteystietoihin
Comment[fr]=Ajoutez des notes personnelles à vos contacts
Comment[gl]=Engadir notas persoáis ós teus contactos
Comment[he]=הוספת הערות אישיות לגבי אנשי-הקשר שלך
Comment[hi]=आपके सम्पर्कों पर निजी टीप जोड़े
Comment[hr]=Dodaje osobne zabilješke o vašim kontaktima
Comment[hu]=Személyes megjegyzések fűzése a partnerek adataihoz
Comment[is]=Bæta við upplýsingum um notanda
Comment[it]=Aggiungi note personali ai tuoi contatti
Comment[ja]=コンタクトに個人的なメモを加えます
Comment[ka]=მეგობრებისთვის პერსონალური შენიშვნების დამატება
Comment[kk]=Контакттарға жеке ескертпелерді қосу
Comment[km]=បន្ថែម​ចំណាំ​ផ្ទាល់​ខ្លួន​លើ​ទំនាក់​ទំនង​របស់​អ្នក
Comment[lt]=Papildykite kontaktus asmeniniais užrašais
Comment[mk]=Додадете лични забелешки на вашите контакти
Comment[nb]=Legg til egne notater i kontaktlista
Comment[nds]=Dien Kontaken persöönliche Notizen tofögen
Comment[ne]=तपाईँको सम्पर्कमा व्यक्तिगत द्रष्टब्य थप्नुहोस्
Comment[nl]=Voeg persoonlijke notities toe aan contacten
Comment[nn]=Legg til eigne notat i kontaktlista
Comment[pl]=Dodaje osobiste notatki do kontaktu
Comment[pt]=Adiciona notas pessoais aos seus contactos
Comment[pt_BR]=Adiciona notas pessoais em seus contatos
Comment[ru]=Добавить личные примечания к вашим контактам
Comment[sk]=Pridá osobné poznámky ku kontaktom
Comment[sl]=Dodajte osebne zapiske k vašim stikom
Comment[sr]=Додаје личне забелешке о вашим контактима
Comment[sr@Latn]=Dodaje lične zabeleške o vašim kontaktima
Comment[sv]=Lägg till personliga anteckningar om kontakter
Comment[ta]=உங்கள் உரையில் சிறப்பு விளைவுகளை சேர்க்கும்
Comment[tg]=Ба пайвастагии худ эзоҳҳои шахсиро илова кунед
Comment[tr]=Bağlantıların üzerine kişisel notlar ekle
Comment[uk]=Додати особисті примітки до власних контактів
Comment[wa]=Radjouter des notes da vosse å calpin d' adresses
Comment[zh_CN]=在您的联系人上添加私人备忘
Comment[zh_HK]=為您的聯絡人新增個人備註
Comment[zh_TW]=新增聯絡人的備忘錄
