[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000792
Icon=identity
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_contactnotes
X-KDE-PluginInfo-Author=Olivier Goffart
X-KDE-PluginInfo-Email=ogoffart@tiscalinet.be
X-KDE-PluginInfo-Name=kopete_contactnotes
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Contact Notes
Name[ca]=Notes del contacte
Name[cs]=Poznámky ke kontaktu
Name[da]=Kontakt-noter
Name[de]=Kontakt-Notizen
Name[es]=Notas de contacto
Name[et]=Kontakti märkmed
Name[hu]=Megjegyzés a partnerekhez
Name[it]=Note contatto
Name[nl]=Notities bij contacten
Name[pt_BR]=Notas do Contato
Name[sr]=Белешке о контакту
Name[sv]=Kontaktanteckningar
Name[xx]=xxContact Notesxx
Comment=Add personal notes on your contacts
Comment[ca]=Afegeix notes personals als vostres contactes
Comment[da]=Tilføj personlige noter om dine kontakter
Comment[de]=Ermöglicht das Hinzufügen persönlicher Notizen zu Kontakten
Comment[es]=Añade notas personales a tus contactos
Comment[et]=Isiklike märkmete lisamine kontaktide kohta
Comment[hu]=Személyes megjegyzések fűzése a partnerek adataihoz
Comment[it]=Aggiungi note personali ai tuoi contatti
Comment[nl]=Voeg persoonlijke notities toe aan contacten
Comment[pt_BR]=Adiciona notas pessoais em seus contatos
Comment[sr]=Додаје личне забелешке о вашим контактима
Comment[sv]=Lägg till personliga anteckningar om kontakter
Comment[wa]=Radjouter des notes da vosse å calpin d' adresses
Comment[xx]=xxAdd personal notes on your contactsxx
