[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=x-office-contact
X-KDE-ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_contactnotes
X-KDE-PluginInfo-Author=Olivier Goffart
X-KDE-PluginInfo-Email=ogoffart@tiscalinet.be
X-KDE-PluginInfo-Name=kopete_contactnotes
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Contact Notes
Name[ar]=ملاحظات المراسَل
Name[ast]=Notes de contautu
Name[bg]=Бележки за контактите
Name[bn]=যোগাযোগ নোট
Name[br]=Notennoù an darempred
Name[bs]=Bilješke o kontaktu
Name[ca]=Notes del contacte
Name[ca@valencia]=Notes del contacte
Name[cs]=Poznámky ke kontaktu
Name[cy]=Nodiadau Cysylltiad
Name[da]=Kontaktnoter
Name[de]=Kontakt-Notizen
Name[el]=Σημειώσεις επαφής
Name[en_GB]=Contact Notes
Name[eo]=Kontaktinformoj
Name[es]=Notas de contacto
Name[et]=Kontakti märkmed
Name[eu]=Kontaktuaren oharrak
Name[fa]=یادداشتهای تماس
Name[fi]=Yhteystiedot
Name[fr]=Notes sur les contacts
Name[ga]=Nótaí Teagmhálacha
Name[gl]=Notas de contacto
Name[he]=הערות על איש-קשר
Name[hi]=सम्पर्क टीप
Name[hne]=सम्पर्क टीप
Name[hr]=Zabilješke kontakata
Name[hu]=Megjegyzés névjegyekhez
Name[ia]=Notas de contacto
Name[is]=Skráð um notanda
Name[it]=Note sul contatto
Name[ja]=コンタクトメモ
Name[kk]=Контакт жазбалары
Name[km]=​ចំណាំ​ក្នុង​ទំនាក់ទំនង
Name[ko]=대화 상대 메모
Name[lt]=Kontaktų pastabos
Name[lv]=Kontakta piezīmes
Name[mk]=Забелешки за контакт 
Name[ml]=സമ്പര്‍ക്ക കുറിപ്പുകള്‍
Name[nb]=Notater om kontakter
Name[nds]=Kontakt-Notizen
Name[ne]=सम्पर्क टिपोट
Name[nl]=Notities bij contactpersonen
Name[nn]=Notat om kontaktar
Name[pa]=ਸੰਪਰਕ ਨੋਟਿਸ
Name[pl]=Notatki kontaktu
Name[pt]=Notas do Contacto
Name[pt_BR]=Notas do contato
Name[ro]=Observații contact
Name[ru]=Заметки о контактах
Name[si]=සබඳතා සටහන්
Name[sk]=Poznámky ku kontaktu
Name[sl]=Opombe o stiku
Name[sq]=Shënime të Kontaktit
Name[sr]=Белешке о контакту
Name[sr@ijekavian]=Биљешке о контакту
Name[sr@ijekavianlatin]=Bilješke o kontaktu
Name[sr@latin]=Beleške o kontaktu
Name[sv]=Kontaktanteckningar
Name[ta]=தொடர்பு குறிப்பு
Name[tg]=Эзоҳи Пайвастшавӣ
Name[th]=บันทึกย่อของชื่อติดต่อ
Name[tr]=Bağlantı Notları
Name[ug]=ئالاقەداش ئىزاھاتى
Name[uk]=Примітки до контакту
Name[vi]=Ghi chú liên lạc
Name[x-test]=xxContact Notesxx
Name[zh_CN]=联系人备忘
Name[zh_HK]=聯絡人備註
Name[zh_TW]=聯絡人備忘錄
Comment=Add personal notes on your contacts
Comment[ar]=أضف ملاحظات شخصية لمراسليك
Comment[ast]=Amesta notes personales a los tos contautos
Comment[bg]=Добавяне и редактиране на бележки и коментари към контактите
Comment[bn]=আপনার যোগাযোগে ব্যক্তিগত নোট যোগ করুন
Comment[bs]=Dodajte lične zabilješke o svojim kontaktima
Comment[ca]=Afegeix notes personals als vostres contactes
Comment[ca@valencia]=Afig notes personals als vostres contactes
Comment[cs]=Osobní poznámky ke kontaktům
Comment[cy]=Ychwanegu nodiadau personol ynglyn â'ch cysylltiadau
Comment[da]=Tilføj personlige noter om dine kontakter
Comment[de]=Ermöglicht das Hinzufügen persönlicher Notizen zu Kontakten
Comment[el]=Προσθέστε προσωπικές σημειώσεις στις επαφές σας
Comment[en_GB]=Add personal notes on your contacts
Comment[eo]=Aldoni personajn notojn al viaj kontaktoj
Comment[es]=Añade notas personales a tus contactos
Comment[et]=Isiklike märkmete lisamine kontaktide kohta
Comment[eu]=Gehitu ohar pertsonalak zure kontaktuei
Comment[fa]=افزودن پیامهای شخصی به تماسهای شما
Comment[fi]=Lisää omia muistiinpanoja yhteystietoihin
Comment[fr]=Ajoutez des notes personnelles à vos contacts
Comment[ga]=Cuir nótaí pearsanta le do chuid teagmhálacha
Comment[gl]=Engade notas persoais aos seus contactos
Comment[he]=הוספת הערות אישיות לגבי אנשי-הקשר שלך
Comment[hi]=आपके सम्पर्कों पर निजी टीप जोड़े
Comment[hne]=आप मन के सम्पर्क मं निजी टीप जोड़े
Comment[hr]=Dodaje osobne zabilješke o vašim kontaktima
Comment[hu]=Személyes megjegyzések fűzése a partnerek adataihoz
Comment[ia]=Adde notas personal re tu contactos
Comment[is]=Bæta við upplýsingum um notanda
Comment[it]=Aggiungi note personali sui contatti
Comment[ja]=コンタクトに個人的なメモを加えます
Comment[kk]=Контакттарыңызға жеке жазбаларын қосу
Comment[km]=បន្ថែម​ចំណាំ​ផ្ទាល់​ខ្លួន​លើ​ទំនាក់ទំនង​របស់​អ្នក
Comment[ko]=대화 상대에게 개인 메모를 추가합니다
Comment[lt]=Papildykite kontaktus asmeniniais užrašais
Comment[lv]=Pievieno kontaktiem personīgas piezīmes
Comment[mk]=Додадете лични забелешки на вашите контакти
Comment[ml]=നിങ്ങളുടെ സമ്പര്‍ക്കപട്ടികയില്‍ സ്വകാര്യ‌ കുറിപ്പുകള്‍ ചേര്‍ക്കാം
Comment[nb]=Legg til egne notater i kontaktlista
Comment[nds]=Dien Kontaken persöönliche Notizen tofögen
Comment[ne]=तपाईँको सम्पर्कमा व्यक्तिगत टिपोट थप्नुहोस्
Comment[nl]=Voeg persoonlijke notities toe aan contacten
Comment[nn]=Legg til eigne notat i kontaktlista
Comment[pa]=ਆਪਣੇ ਸੰਪਰਕਾਂ ਲਈ ਨਿੱਜੀ ਨੋਟਿਸ ਸ਼ਾਮਲ ਕਰੋ
Comment[pl]=Dodaj osobiste notatki do kontaktu
Comment[pt]=Adiciona notas pessoais aos seus contactos
Comment[pt_BR]=Adiciona notas pessoais em seus contatos
Comment[ro]=Adaugă observații personale asupra contactelor
Comment[ru]=Добавление собственных комментариев к контактам
Comment[si]=ඔබේ සබඳතා මත පුද්ගලික සටහන් එක් කරයි
Comment[sk]=Pridá osobné poznámky ku kontaktom
Comment[sl]=Dodajte osebne opombe k vašim stikom
Comment[sr]=Додајте личне белешке о својим контактима
Comment[sr@ijekavian]=Додајте личне биљешке о својим контактима
Comment[sr@ijekavianlatin]=Dodajte lične bilješke o svojim kontaktima
Comment[sr@latin]=Dodajte lične beleške o svojim kontaktima
Comment[sv]=Lägg till personliga anteckningar om kontakter
Comment[ta]=உங்கள் உரையில் சிறப்பு விளைவுகளை சேர்க்கும்
Comment[tg]=Ба пайвастагии худ эзоҳҳои шахсиро илова кунед
Comment[th]=เพิ่มบันทึกย่อส่วนตัวต่าง ๆ ไว้บนรายการชื่อติดต่อต่าง ๆ ของคุณ
Comment[tr]=Bağlantıların üzerine kişisel notlar ekle
Comment[uk]=Додати особисті примітки до власних контактів
Comment[vi]=Thêm lời ghi chú của bạn về mỗi liên lạc
Comment[wa]=Radjouter des notes da vosse å calpin d' adresses
Comment[x-test]=xxAdd personal notes on your contactsxx
Comment[zh_CN]=在您的联系人上添加私人备忘
Comment[zh_HK]=為您的聯絡人新增個人備註
Comment[zh_TW]=新增聯絡人的備忘錄
