[Desktop Entry]
Name=kopete
Comment=Kopete, The KDE InstantMessenger
Name[de]=Kopete
Comment[de]=Kopete, der KDE InstantMessenger
Exec=kopete %i %m -caption "%c"
Type=Application
Terminal=0
Icon=kopete
