<!DOCTYPE kpartgui>
<kpartgui name="kkopete" version="0.2">
	<MenuBar>
		<Menu name="file" noMerge="1">
			<text>&amp;File</text>
			<Action name="Connection"/>
			<Action name="Status"/>
			<Action name="ShowTransfers"/>
			<Separator lineSeparator="true"/>
			<Action name="AddContact"/>
			<Separator lineSeparator="true"/>
			<Action name="save_contactlist"/>
			<Action name="file_quit"/>
		</Menu>
		<Menu name="settings">
			<text>&amp;Settings</text>
			<Action name="settings_showmenubar" />
			<Action name="settings_showtoolbar" />
			<Action name="settings_showstatusbar" />
			<Separator lineseperator="true" />
			<Action name="settings_keys" />
			<Action name="settings_global" />
			<Action name="settings_toolbars" />
			<Action name="settings_prefs" />
			<Separator lineseperator="true" />
			<Action name="settings_show_offliners" />
		</Menu>
	</MenuBar>
	<ToolBar fullWidth="true" name="mainToolBar">
		<Action name="ConnectAll"/>
		<Action name="DisconnectAll"/>
		<Action name="Status"/>
		<Action name="AddContact"/>
		<Action name="options_show_offliners"/>
	</ToolBar>
</kpartgui>
