[Desktop Entry]
MimeType=application/x-kopete-emoticons;application/x-icq;
Name=Kopete
GenericName=Instant Messenger
Comment=Instant Messenger
Exec=kopete -caption %c %u
Type=Application
X-DocPath=kopete/index.html
Terminal=false
Icon=kopete
Categories=Qt;KDE;Network;InstantMessaging;
X-DBUS-StartupType=Unique
X-KDE-ServiceTypes=DBUS/InstantMessenger
