<!DOCTYPE kpartgui>
<kpartgui name="kkopete" version="0.1">
	<MenuBar>
		<Menu name="file" noMerge="1">
			<text>&amp;File</text>
			<Action name="Connection"/>
			<Action name="Status"/>
			<Action name="ShowTransfers"/>
			<Separator lineSeparator="true"/>
			<Action name="AddContact"/>
			<Separator lineSeparator="true"/>
			<Action name="save_contactlist"/>
			<Action name="file_quit"/>
		</Menu>
		<Menu name="settings">
			<text>&amp;Settings</text>
			<Action name="options_show_offliners" append="show_merge"/>
		</Menu>
	</MenuBar>
	<ToolBar fullWidth="true" name="mainToolBar">
		<Action name="Connect"/>
		<Action name="Disconnect"/>
		<Action name="Status"/>
		<Action name="AddContact"/>
		<Action name="options_show_offliners"/>
		<Action name="options_configure"/>
		<Action name="file_quit"/>
	</ToolBar>
</kpartgui>
