[Desktop Entry]
Name=Kopete
Comment=Kopete, The KDE Instant Messenger
Comment[da]=Kopete, KDE InstantMessenger
Exec=kopete %i %m -caption "%c"
Type=Application
Terminal=0
Icon=kopete
