[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-kopete-emoticons
DefaultApp=kopete
Icon=kopete_emoticons
Patterns=*.kopete-emoticons
X-KDE-AutoEmbed=false
Comment=Kopete Emoticon Archive
Comment[be]=Архіў піктаграмаў эмоцыяў Kopete
Comment[bg]=Архив на икони за Kopete
Comment[bs]=Kopete arhiva smajlija
Comment[ca]=Arxiu d'emoticones Kopete
Comment[cs]=Archív Kopete emotikonů
Comment[da]=Kopete emotikonarkiv
Comment[de]=Kopete Emoticon-Archiv
Comment[es]=Archivo de emoticonos de Kopete
Comment[et]=Kopete emotikoniarhiiv
Comment[fr]=Archive d'émoticônes pour Kopete
Comment[hr]=Kopete Emoticon arhiva
Comment[hu]=Kopete emotikon-archívum
Comment[is]=Tilfynningatákn fyrir Kopete
Comment[it]=Archivio emoticon di Kopete
Comment[nb]=Kopete fjesingarkiv
Comment[nl]=Kopete Emoticon-archief
Comment[nn]=Fjesingarkiv for Kopete
Comment[pl]=Archiwum emotikon Kopete
Comment[pt]=Arquivo de 'Emoticons' do Kopete
Comment[pt_BR]=Pacote de Emoticon do Kopete
Comment[sk]=Archív smajlíkov Kopete
Comment[sl]=Arhiv z ikonami čustev za kopete
Comment[sr]=Kopete-ова архива емотикона
Comment[sr@Latn]=Kopete-ова архива емотикона
Comment[sv]=Kopetes smilisarkiv
Comment[ta]=Kopete எமோடிக்கான் வளைவு
Comment[tg]=Бойгонии Kopete Emoticon 
Comment[uk]=Архів емоційок для Kopete
Comment[zh_CN]=Kopete 表情存档
