[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-kopete-emoticons
DefaultApp=kopete
Icon=kopete_emoticons
Patterns=*.kopete-emoticons
X-KDE-AutoEmbed=false
Comment=Kopete Emoticon Archive
