[Desktop Entry]
Type=MimeType
MimeType=application/x-kopete-emoticons
DefaultApp=kopete
Icon=kopete_emoticons
Patterns=*.kopete-emoticons
X-KDE-AutoEmbed=false
Comment=Kopete Emoticon Archive
Comment[be]=Архіў эмацыйных значак Kopete
Comment[bg]=Архив на икони за Kopete
Comment[bn]=কপেট অভিব্যক্তি প্রতীক আর্কাইভ
Comment[bs]=Kopete arhiva smajlija
Comment[ca]=Arxiu d'emoticones Kopete
Comment[cs]=Archív Kopete emotikonů
Comment[da]=Kopete emotikon-arkiv
Comment[de]=Kopete Emoticon-Archiv
Comment[el]=Αρχειοθήκη emoticon του Kopete
Comment[es]=Archivo de emoticonos de Kopete
Comment[et]=Kopete emotikoniarhiiv
Comment[eu]=Kopete emoticon artxiboa
Comment[fa]=بایگانی تصاویر متحرک Kopete
Comment[fi]=Kopeten hymiöarkisto
Comment[fr]=Archive d'émoticônes pour Kopete
Comment[gl]=Arquivo de Emoticonas de Kopete
Comment[he]=ארכיון ערכת רגשות של Kopete
Comment[hr]=Kopete Emoticon arhiva
Comment[hu]=Kopete emotikon-archívum
Comment[is]=Tilfynningatákn fyrir Kopete
Comment[it]=Archivio emoticon di Kopete
Comment[ja]=Kopete の感情アイコン集
Comment[ka]=Kopeteს ემოციათა არქივი
Comment[kk]=Kopete белгілер архиві
Comment[km]=ប័ណ្ណសារ​សញ្ញា​អារម្មណ៍ Kopete
Comment[lt]=Kopete šypsniukų archyvas
Comment[mk]=Архива со емотикони за Kopete
Comment[nb]=Kopete fjesingarkiv
Comment[nds]=Kopete-Snutenarchiv
Comment[ne]=कोपेट इमोटिकन सङ्ग्रह
Comment[nl]=Kopete Emoticon-archief
Comment[nn]=Fjesingarkiv for Kopete
Comment[pl]=Archiwum emotikon Kopete
Comment[pt]=Arquivo de 'Emoticons' do Kopete
Comment[pt_BR]=Pacote de Emoticon do Kopete
Comment[ru]=Архив значков для Kopete
Comment[se]=Kopete:a «emoticon»-vuorká
Comment[sk]=Archív smajlíkov Kopete
Comment[sl]=Arhiv z ikonami čustev za Kopete
Comment[sr]=Kopete-ова архива емотикона
Comment[sr@Latn]=Kopete-ova arhiva emotikona
Comment[sv]=Kopetes smilisarkiv
Comment[ta]=Kopete எமோடிக்கான் வளைவு
Comment[tg]=Бойгонии Kopete Emoticon 
Comment[tr]=Kopete His Simgeleri Arşivi
Comment[uk]=Архів емоційок для Kopete
Comment[zh_CN]=Kopete 表情存档
Comment[zh_HK]=Kopete 表情符號集
Comment[zh_TW]=Kopete 表情圖示檔
