[Desktop Entry]
Icon=view-history
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_history2
X-KDE-FactoryName=kcm_kopete_history2
X-KDE-ParentApp=kopete_history2
X-KDE-ParentComponents=kopete_history2

Name=History2
Comment=History Plugin
