[Desktop Entry]
Icon=view-history
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_history2
X-KDE-FactoryName=kcm_kopete_history2
X-KDE-ParentApp=kopete_history2
X-KDE-ParentComponents=kopete_history2

Name=History2
Name[bg]=История2
Name[bs]=Historija2
Name[ca]=Historial2
Name[ca@valencia]=Historial2
Name[cs]=Historie2
Name[da]=Historik2
Name[de]=Verlauf2
Name[el]=Ιστορικό2
Name[en_GB]=History2
Name[es]=Historial2
Name[et]=Ajalugu2
Name[fi]=Historia2
Name[fr]=Historique2
Name[gl]=History2
Name[hu]=Üzenetnapló 2
Name[ia]=Historia2
Name[it]=Cronologia2
Name[kk]=Журнал2
Name[ko]=과거 기록2
Name[nb]=Historie2
Name[nds]=Vörgeschicht 2
Name[nl]=Geschiedenis2
Name[pl]=Historia2
Name[pt]=Histórico-2
Name[pt_BR]=Histórico-2
Name[ru]=Журнал разговоров-2
Name[sk]=História2
Name[sl]=Zgodovina2
Name[sr]=Историјат‑2
Name[sr@ijekavian]=Историјат‑2
Name[sr@ijekavianlatin]=Istorijat‑2
Name[sr@latin]=Istorijat‑2
Name[sv]=Historik 2
Name[tr]=Geçmiş2
Name[uk]=Журнал2
Name[x-test]=xxHistory2xx
Name[zh_CN]=历史2
Name[zh_TW]=歷史2
Comment=History Plugin
Comment[ar]=ملحق التاريخ
Comment[ast]=Complementu d'hestorial
Comment[bg]=Приставка за историята
Comment[bn]=ইতিহাস প্লাগিন
Comment[br]=Lugent an istorig
Comment[bs]=Dodatak za historiju
Comment[ca]=Connector de l'historial
Comment[ca@valencia]=Connector de l'historial
Comment[cs]=Modul historie
Comment[cy]=Ategyn Hanes
Comment[da]=Historik-plugin
Comment[de]=Verlaufsmodul
Comment[el]=Πρόσθετο ιστορικού
Comment[en_GB]=History Plugin
Comment[eo]=Historia kromaĵo
Comment[es]=Complemento de historial
Comment[et]=Ajalooplugin
Comment[eu]=Historia plugina
Comment[fa]=وصله تاریخچه
Comment[fi]=Historia-liitännäinen
Comment[fr]=Module d'historique
Comment[ga]=Breiseán Staire
Comment[gl]=Engadido de historial
Comment[he]=תוסף ההיסטוריה
Comment[hi]=इतिहास प्लगइन
Comment[hne]=इतिहास प्लगइन
Comment[hr]=Umetak za povijest
Comment[hu]=Előzmények modul
Comment[ia]=Plug-in de Historia
Comment[is]=Ferilsíforrit
Comment[it]=Estensione per la cronologia
Comment[ja]=履歴プラグイン
Comment[kk]=Журнал плагині
Comment[km]=កម្មវិធី​ជំនួយ​ប្រវត្តិ
Comment[ko]=과거 기록 플러그인
Comment[lt]=Žurnalo įskiepis
Comment[lv]=Vēstures spraudnis
Comment[mk]=Приклучок за историја
Comment[ml]=നാള്‍വഴി സംയോജകം
Comment[nb]=Programtillegg for historie
Comment[nds]=Vörgeschichtmoduul
Comment[ne]=इतिहास प्लगइन
Comment[nl]=Geschiedenis-plugin
Comment[nn]=Programtillegg for historie
Comment[pa]=ਅਤੀਤ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka historii
Comment[pt]='Plugin' de Histórico
Comment[pt_BR]=Plugin de histórico
Comment[ro]=Modul Istoric
Comment[ru]=Модуль журналирования
Comment[se]=Historihkkalassemoduvla
Comment[si]=ඉතිහාස ප්ලගිනය
Comment[sk]=Modul histórie
Comment[sl]=Vstavek za zgodovino
Comment[sr]=Прикључак за историјат
Comment[sr@ijekavian]=Прикључак за историјат
Comment[sr@ijekavianlatin]=Priključak za istorijat
Comment[sr@latin]=Priključak za istorijat
Comment[sv]=Historikinsticksprogram
Comment[ta]=வரலாற்று செருகல்
Comment[tg]=Модули Номнависи сӯҳбатҳо
Comment[th]=ส่วนเสริมเพื่อสร้างประวัติการใช้
Comment[tr]=Geçmiş Eklentisi
Comment[ug]=ئىز قىستۇرمىسى
Comment[uk]=Додаток історії
Comment[uz]=Tarix plagini
Comment[uz@cyrillic]=Тарих плагини
Comment[vi]=Phần bổ sung lịch sử
Comment[wa]=Tchôke-divins del istwere
Comment[x-test]=xxHistory Pluginxx
Comment[zh_CN]=历史插件
Comment[zh_HK]=歷程紀錄插件
Comment[zh_TW]=歷史外掛程式
