[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=utilities-terminal
X-KDE-Library=kopete_pipes
X-KDE-ServiceTypes=Kopete/Plugin
X-KDE-PluginInfo-Author=Charles Connell
X-KDE-PluginInfo-Email=charles@connells.org
X-KDE-PluginInfo-Name=kopete_pipes
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Pipes
Comment=Pipe messages through an external program or script
