[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000900
Icon=pipe
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_pipes
X-KDE-PluginInfo-Author=Charles Connell
X-KDE-PluginInfo-Email=charles@connells.org
X-KDE-PluginInfo-Name=kopete_pipes
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Pipes
Name[et]=Toru
Name[it]=Pipe
Name[pt]=Canais
Name[sv]=Skicka genom
Comment=Pipe messages through an external program or script
Comment[et]=Sõnumite saatmine toru kaudu välise programmi või skripti vahendusel
Comment[it]=Messaggi pipe tramite un programma esterno o uno script
Comment[pt]=Encaminhar as mensagens por um programa externo
Comment[sv]=Skicka meddelanden genom ett externt program eller skript
