[Desktop Entry]
Icon=pipe
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_pipes
X-KDE-FactoryName=kcm_kopete_pipes
X-KDE-ParentApp=kopete_pipes
X-KDE-ParentComponents=kopete_pipes

Name=Pipes
Name[el]=Διασωληνώσεις
Name[ga]=Píopaí
Name[km]=បំពង់
Name[nds]=Ümledden
Name[pt]=Canais
Name[pt_BR]=Canais
Name[sv]=Skicka genom
Name[tr]=Borular
Name[x-test]=xxPipesxx
Name[zh_CN]=管道
Name[zh_TW]=管線
Comment=Pipe messages through an external program or script
Comment[el]=Διασωλήνωση μηνύματος μέσω εξωτερικού προγράμματος ή σεναρίου κελύφους
Comment[ga]=Píopáil teachtaireachtaí trí ríomhchlár nó script sheachtrach
Comment[km]=សារ​បំពង់​តាម​កម្មវិធី ឬ​ស្គ្រីប​ខាងក្រៅ
Comment[nds]=Leddt Narichten dör en extern Programm oder Skript
Comment[pt]=Encaminhar as mensagens por um programa externo
Comment[pt_BR]=Encaminhar as mensagens por um programa externo
Comment[sv]=Skicka meddelanden genom ett externt program eller skript
Comment[tr]=İletileri bir dış uygulama ya da betik üzerinden borula
Comment[uk]=Надсилати повідомлення через через зовнішню програму чи скрипт
Comment[x-test]=xxPipe messages through an external program or scriptxx
Comment[zh_CN]=通过外部程序或脚本管道处理信息
Comment[zh_TW]=通透外部程式或文稿的管線訊息
