[Desktop Entry]
Type=Service
Name=Tutorial Plugin
Name[bg]=Приставка за историята
Name[ca]=Connector del tutelat
Name[de]=Anleitungsmodul
Name[el]=Πρόσθετο εκμάθησης
Name[eo]=Prilerna kromaĵo
Name[fa]=وصلۀ خودآموز
Name[ga]=Breiseán Teagaisc
Name[gl]=Extensión de titorial
Name[ja]=チュートリアルプラグイン
Name[ko]=따라하기 플러그인
Name[lv]=Pamācības spraudnis
Name[nb]=Programtillegg for opplæring
Name[nds]=Inföhrenmoduul
Name[ne]=संरक्षक प्लगइन
Name[nl]=Oefenplugin
Name[pt]='Plugin' de Tutorial
Name[pt_BR]='Plugin' de Tutorial
Name[sv]=Handledningsinsticksprogram
Name[vi]=Phần bổ sung trợ lý
Name[x-test]=xxTutorial Pluginxx
Name[zh_CN]=教程插件
Name[zh_TW]=教學外掛程式
Comment=Demonstration plugin for teaching Kopete development
Comment[bg]=Приставка за демонстрация развитието на Kopete
Comment[ca]=Connexió de demostració per ensenyar el desenvolupament del Kopete
Comment[de]=Anleitungsmodul zum Einfinden in die Kopete-Entwicklung
Comment[el]=Πρόσθετο επίδειξης για την εκμάθηση της ανάπτυξης του Kopete
Comment[eo]=Demonstrada kromaĵo por lernigi la Kopete programadon
Comment[gl]=Extensión de demonstración para aprender a desenvolver para Kopete
Comment[ja]=Kopete の開発方法を教えるデモプラグイン
Comment[ko]=Kopete 개발을 보여 주기 위한 예제 플러그인
Comment[lv]=Kopete izstrādes apmācības demonstrācijas spraudnis
Comment[nb]=Demonstrasjonsprogramtillegg for opplæring i Kopete-utvikling
Comment[nds]=Bispillmoduul för't Lehren, wodennig Kopete utwickelt warrt
Comment[ne]=कोपेट विकास पढाउनका लागि प्रदर्शनी प्लगइन
Comment[nl]=Demonstratieplugin voor het leren van Kopete-ontwikkeling
Comment[pt]='Plugin' de demonstração para ensinar a programar no Kopete
Comment[pt_BR]='Plugin' de demonstração para ensinar a programar no Kopete
Comment[sv]=Demonstrationsinsticksprogram för att lära ut utveckling av Kopete
Comment[vi]=Phần bổ sung minh hoạ để dạy phát triển Kopete
Comment[x-test]=xxDemonstration plugin for teaching Kopete developmentxx
Comment[zh_CN]=Kopete 开发教学示范插件
Comment[zh_TW]=教導 Kopete 開發的示範外掛程式
Icon=tutorial_plugin
X-KDE-ServiceTypes=Kopete/Plugin
X-Kopete-Version=1000900
X-KDE-Library=kopete_tutorialplugin
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=wstephenson@kde.org
X-KDE-PluginInfo-Name=kopete_tutorialplugin
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false


