[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=yahoo_protocol
X-KDE-ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_yahoo
X-Kopete-Messaging-Protocol=messaging/yahoo
X-KDE-PluginInfo-Author=Kopete Developers
X-KDE-PluginInfo-Email=kopete-devel@kde.org
X-KDE-PluginInfo-Name=kopete_yahoo
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Yahoo
Name[ar]=ياهو
Name[ast]=Yahoo
Name[bg]=Yahoo
Name[bn]=ইয়্যাহু
Name[br]=Yahoo
Name[bs]=Yahoo
Name[ca]=Yahoo
Name[ca@valencia]=Yahoo
Name[cs]=Yahoo
Name[cy]=Yahoo
Name[da]=Yahoo
Name[de]=Yahoo
Name[el]=Yahoo
Name[en_GB]=Yahoo
Name[eo]=Jahuo
Name[es]=Yahoo
Name[et]=Yahoo
Name[eu]=Yahoo
Name[fa]=یاهو
Name[fi]=Yahoo
Name[fr]=Yahoo
Name[ga]=Yahoo
Name[gl]=Yahoo
Name[he]=Yahoo
Name[hi]=याहू
Name[hne]=याहू
Name[hr]=Yahoo
Name[hu]=Yahoo
Name[ia]=Yahoo
Name[is]=Yahoo
Name[it]=Yahoo
Name[ja]=Yahoo
Name[kk]=Yahoo
Name[km]=យ៉ាហ៊ូ
Name[ko]=Yahoo
Name[lt]=Yahoo
Name[lv]=Yahoo
Name[mai]=याहू
Name[mk]=Yahoo
Name[ml]=യാഹൂ
Name[nb]=Yahoo
Name[nds]=Yahoo
Name[ne]=याहू
Name[nl]=Yahoo
Name[nn]=Yahoo
Name[oc]=Yahoo
Name[pa]=ਯਾਹੂ
Name[pl]=Yahoo
Name[pt]=Yahoo
Name[pt_BR]=Yahoo
Name[ro]=Yahoo
Name[ru]=Yahoo
Name[se]=Yahoo
Name[si]=Yahoo
Name[sk]=Yahoo
Name[sl]=Yahoo
Name[sq]=Yahoo
Name[sr]=Јаху
Name[sr@ijekavian]=Јаху
Name[sr@ijekavianlatin]=Yahoo
Name[sr@latin]=Yahoo
Name[sv]=Yahoo
Name[ta]=யாஹூ
Name[tg]=Yahoo
Name[tr]=Yahoo
Name[ug]=ياخۇ
Name[uk]=Yahoo
Name[uz]=Yahoo
Name[uz@cyrillic]=Yahoo
Name[vi]=Yahoo
Name[wa]=Yahoo
Name[x-test]=xxYahooxx
Name[zh_CN]=Yahoo
Name[zh_HK]=Yahoo
Name[zh_TW]=Yahoo
Comment=Yahoo! Messenger IM and video chat
Comment[ar]=ياهو! مرسال محادثة فورية ودردشة بالفيديو
Comment[ast]=Yahoo! Messenger MI y charra de videu
Comment[bg]=Съобщения и видеоразговори с Yahoo! Messenger
Comment[bs]=Yahoo! Messenger IM i video časkanje
Comment[ca]=Missatgeria instantània de Yahoo! Messenger i xat de vídeo
Comment[ca@valencia]=Missatgeria instantània de Yahoo! Messenger i xat de vídeo
Comment[cs]=Yahoo! Messenger zprávy a video chat
Comment[da]=Yahoo! Messenger IM og videochat
Comment[de]=Yahoo! Messenger IM und Video-Chat
Comment[el]=Yahoo! Messenger IM και συνομιλία βίντεο
Comment[en_GB]=Yahoo! Messenger IM and video chat
Comment[eo]=Yahoo! tujmesaĝilo kaj vidbabililo
Comment[es]=Yahoo! Messenger MI y charla de vídeo
Comment[et]=Yahoo! Messengeri kiirsuhtlus ja videovestlus
Comment[eu]=Yahoo! Messenger BM eta bideo-berriketa
Comment[fi]=Yahoo! Messenger -pikaviestin ja videopuhelut
Comment[fr]=Messagerie instantanée Yahoo! et discussions vidéos
Comment[ga]=Teachtaireachtaí meandaracha le Yahoo! Messenger agus comhrá físe
Comment[gl]=Mensaxería e vídeo conferencias con Yahoo! Messenger
Comment[hr]=IM i video-razgovor putem Yahoo! Messengera
Comment[hu]=Yahoo! üzenetküldő és videocsevegő
Comment[ia]=Yahoo! messagero IM e conversation in directo video
Comment[is]=Yahoo! spjallforritið
Comment[it]=Messaggistica e chat video Yahoo! Messenger
Comment[ja]=Yahoo! メッセンジャー IM とビデオチャット
Comment[kk]=Yahoo! лезде хабарласу мен видео-чаты
Comment[km]=កម្មវិធី​ផ្ញើ​សារ​បន្ទាន់ ​យ៉ាហ៊ូ! និង​ការ​ជជែក​វីដេអូ
Comment[ko]=Yahoo! 메신저 IM과 화상 대화
Comment[lt]=Yahoo! Messenger momentinės žnutės ir video pokalbiai
Comment[lv]=Yahoo! Messenger ziņapmaiņa un video tērzēšana
Comment[ml]=യാഹൂ! ദൂതന്‍ ഐഎമ്മും ചലനചിത്ര സല്ലാപവും
Comment[nb]=Yahoo! Messenger LM og video-prat
Comment[nds]=Kortnarichten un Videoklönen mit Yahoo!
Comment[nl]=Yahoo! Messenger IM en videoconversatie
Comment[nn]=Lynmeldingsteneste og videoprat frå Yahoo
Comment[pa]=ਯਾਹੂ! ਮੈਂਸੇਜ਼ਰ IM ਅਤੇ ਵਿਡੀਓ ਗੱਲਬਾਤ
Comment[pl]=Komunikator Yahoo! Messenger i rozmowa wideo
Comment[pt]=Conversa IM e de vídeo do Yahoo! Messenger
Comment[pt_BR]=Mensagens instantâneas e bate-papo com vídeo do Yahoo! Messenger
Comment[ro]=MI și discuții video Yahoo!
Comment[ru]=Служба мгновенных сообщений и видеочат Yahoo!
Comment[si]=Yahoo, ක්‍ෂණික පණිවුඩ හා වීඩියෝ සංවාද පණිවුඩකරු 
Comment[sk]=Yahoo! Messenger IM a video rozhovor
Comment[sl]=Hipni sporočilnik Yahoo! Messenger in video klepet
Comment[sr]=Јахуов брзи гласник и видео ћаскање
Comment[sr@ijekavian]=Јахуов брзи гласник и видео ћаскање
Comment[sr@ijekavianlatin]=Yahooov brzi glasnik i video ćaskanje
Comment[sr@latin]=Yahooov brzi glasnik i video ćaskanje
Comment[sv]=Yahoo! Messenger-direktmeddelande och -videochatt
Comment[th]=ข้อความด่วนทันใจและพูดคุยแบบวีดิโอด้วย Yahoo! 
Comment[tr]=Yahoo! Messenger IM ve videolu sohbet
Comment[uk]=Програма обміну повідомленням Yahoo! та відео-чат
Comment[x-test]=xxYahoo! Messenger IM and video chatxx
Comment[zh_CN]=Yahoo! 即时通讯和视频聊天协议
Comment[zh_TW]=Yahoo! Messenger 即時訊息與語音聊天

