<!DOCTYPE kpartgui>
<kpartgui version="10" name="kopete_yahoo_im">
	<MenuBar>
		<Menu noMerge="1" name="file">
			<Action name="yahooRequestWebcam" />
			<Action name="yahooSendWebcam" />	
			<Action name="yahooBuzz" />
			<Action name="yahooShowInfo" />
		</Menu>
	</MenuBar>


	<ToolBar name="statusToolBar">
		<Action name="yahooDisplayPicture" />
		<Action name="yahooRequestWebcam" />	
		<Action name="yahooSendWebcam" />		
		<Action name="yahooBuzz" />
		<Action name="yahooShowInfo" />	
	
	</ToolBar>


</kpartgui>
