[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=html
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_webpresence
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=will@stevello.free-online.co.uk
X-KDE-PluginInfo-Name=kopete_webpresence
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://www.cs.ncl.ac.uk/old/people/william.stephenson
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Comment=Show the status of (parts of) your contact list on a webpage
Comment[ar]=يظهر حالة أجزاء من قائمة أتصالاتك على صفحة الشبكة
Comment[be]=Паказвае спіс кантактаў ці яго частку на старонцы Сеціва
Comment[bg]=Приставка за показвана състоянието на (част от) списъка с контакти като уеб страница
Comment[bn]=একটি ওয়েবপেজে আপনার যোগাযোগ তালিকার (এর অংশের) অবস্থা প্রদর্শন করে
Comment[bs]=Pokazuje status (dijelova) vaše kontakt liste na web stranici
Comment[ca]=Mostra l'estatus de (parts de) la vostra llista de contactes a una pàgina web
Comment[cs]=Zobrazí stav (části) seznamu kontaktů na webu
Comment[cy]=Dangos cyflwr o (rannau o) eich rhestr cysylltiadau ar dudalen wê
Comment[da]=Vis status for (dele af) din kontaktliste på en netside
Comment[de]=Zeigt den Status (von Teilen) der eigenen Kontaktliste auf einer Internetseite
Comment[el]=Εμφάνιση της κατάστασης της λίστας επαφών σας σε ιστοσελίδα
Comment[es]=Mostrar el estado de (partes de) su lista de contactos en una página web
Comment[et]=Näitab (vähemalt osa) kontaktide staatust veebileheküljel
Comment[eu]=Erakutsi zure kontaktu zerrendaren (edo zati baten) egoera web orri batean
Comment[fa]=وضعیت )اجزایی از( فهرست تماس شما را روی صفحۀ وب نمایش می‌دهد
Comment[fi]=Näytä kontaktien tila www-sivulla
Comment[fr]=Affiche l'état de connexion de votre liste (ou d'une partie) sur une page internet
Comment[gl]=Mostra o status da túa lista de contactos (ou parte) nunha páxina web
Comment[he]=מציא את מצב ההתחברות של חברים ברשימת הקשר שלך )או של חלקם( בעמוד WEB.
Comment[hi]=वेब पृष्ठ पर आपकी सम्पर्क सूची की स्थिति (या आंशिक) दिखाए
Comment[hr]=Prikazivanje statusa (dijelova) vaše liste kontakata na web stranici
Comment[hu]=A partnerlista-tagok állapotának megjelenítése weboldalon
Comment[is]=Sýnir stöðu (hluta) lista þinna á vefsíðu
Comment[it]=Mostra lo stato della (o parte della) tua lista contatti su una pagina web
Comment[ja]=コンタクトリスト (の一部) の状態をウェブページに表示
Comment[ka]=სტატუსის ვებ გვერდზე ჩვენება
Comment[kk]=Контакттарыңыздың тізімінің (не оның бөлігінің) күйін веб парақта көрсетеді
Comment[km]=បង្ហាញ​ស្ថានភាព (ផ្នែក) នៃ​បញ្ជី​ទំនាក់​ទំនង​របស់​អ្នក​នៅ​លើ​ទំព័រ​វ៉េប
Comment[lt]=Rodyti kontaktų sąrašo (sąrašo dalies) būklę internetiniame puslapyje
Comment[mk]=Го прикажува статусот на (деловите на) вашата листа со контакти на вебстраница
Comment[nb]=Vis tilstanden til (deler av) kontaktlista de på en nettside
Comment[nds]=Wiest den Status (vun en poor) vun Dien Kontakten op en Nettsiet
Comment[ne]=वेबपृष्ठमा तपाईँको सम्पर्क सूची (भागको) वस्तुस्थिति देखाउनुहोस्
Comment[nl]=Toont de status van (delen van) uw contactenlijst op een webpagina
Comment[nn]=Vis tilstanden til (delar av) kontaktlista på ei nettside
Comment[pl]=Pokazuje status (części) Twojej listy kontaktów na stronie WWW
Comment[pt]=Mostra o estado (de partes) da sua lista de contactos numa página Web
Comment[pt_BR]=Mostra o status de (ou parte de) sua lista de contatos em uma página web
Comment[ru]=Отображает состояние вашего списка контактов (или его части) на странице в Сети
Comment[sk]=Zobrazenie stavu (časti) zo zoznamu kontaktov na webovej stránke
Comment[sl]=Pokaže stanje (dela) vašega seznama stikov na spletni strani
Comment[sr]=Приказивање статуса (делова) ваше листе контаката на веб страници
Comment[sr@Latn]=Prikazivanje statusa (delova) vaše liste kontakata na veb stranici
Comment[sv]=Visa status för (delar av) din kontaktlista på en webbsida
Comment[ta]=இணைய பக்கத்தில் உங்கள் தொடர்பாளரின் நிலைப்பட்டியலை காட்டு
Comment[tg]=Ҳолати (қисме аз) рӯйхати пайвастшавии шуморо дар саҳифаи шабака нишон медиҳад
Comment[tr]=Bağlantı listesinde web sayfası olanların (bölümler) durumunu göster
Comment[uk]=Показує стан вашого списку контактів (або його частини) на сторінці у Тенетах
Comment[zh_CN]=在网页上显示您联系人的状态
Comment[zh_HK]=在網頁上顯示您（一部份）聯絡人清單的狀態
Comment[zh_TW]=在網頁上顯示（部份）您的聯絡人的狀態
Name=Web Presence
Name[ar]=موقع على الشبكة
Name[be]=Сеціўная прысутнасць
Name[bg]=Уеб присъствие
Name[bn]=ওয়েব উপস্থিতি
Name[bs]=Web prisustvo
Name[ca]=Web de presència
Name[cs]=Přítomnost na webu
Name[cy]=Presenoldeb Gwê
Name[da]=WWW-nærvær
Name[de]=Web-Präsenz
Name[el]=Παρουσία σε ιστοσελίδα
Name[eo]=TTT-Prezenco
Name[es]=Presencia Web
Name[et]=Veebinimekiri
Name[fa]=حضور وب
Name[fi]=WWW-paikallaolo
Name[fr]=Présence sur le web
Name[gl]=Presencia na web
Name[he]=נוכחות רשת
Name[hi]=वेब उपस्थिति
Name[hr]=Prisutnost na webu
Name[hu]=Webes jelenlét
Name[is]=Á vefnum
Name[it]=Presenza web
Name[ja]=ウェブプレゼンス
Name[ka]=ვებ თვისებები
Name[kk]=Вебте қатысу
Name[km]=វត្តមាន​វ៉េប
Name[lt]=Rodyti internete
Name[mk]=Присуство на веб 
Name[nb]=Profil på nettet
Name[nds]=Nett-Praatschap
Name[ne]=वेब उपस्थिति
Name[nl]=Web-aanwezigheid
Name[nn]=Profil på nettet
Name[pl]=Status na WWW
Name[pt]=Presença na Web
Name[pt_BR]=Presença Web
Name[ro]=Prezenţă Web
Name[ru]=Присутствие в Сети
Name[sk]=Prítomnosť na webe
Name[sl]=Spletna prisotnost
Name[sr]=Присутност на Вебу
Name[sr@Latn]=Prisutnost na Vebu
Name[sv]=Webbnärvaro
Name[ta]=இணைய இருப்பு
Name[tg]=Мавҷудияти Web
Name[tr]=Web Hazır Bulunması
Name[uk]=Присутність у Тенет
Name[zh_CN]=Web 状态
Name[zh_HK]=網上狀態
Name[zh_TW]=網頁連線
