[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=text-html
X-KDE-ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_webpresence
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=wstephenson@kde.org
X-KDE-PluginInfo-Name=kopete_webpresence
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Comment=Show the status of (parts of) your contact list on a webpage
Name=Web Presence
