[Desktop Entry]
Type=Service
Icon=text-html
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_webpresence
X-KDE-ParentApp=kopete_webpresence
X-KDE-ParentComponents=kopete_webpresence

Comment=Show the status of (parts of) your contact list on a webpage
Comment[ar]=اعرض الحالة من قائمة مراسَل  في صفحة ويب
Comment[ast]=Amosar l'estáu de (partes) la to llista de contautos nuna páxina web
Comment[bg]=Приставка за показвана състоянието на (част от) списъка с контакти като уеб страница
Comment[bn]=একটি ওয়েবপেজে আপনার যোগাযোগ তালিকার (এর অংশের) অবস্থা প্রদর্শন করে
Comment[bs]=Prikazuje stanja(dijelove) vaše liste kontakata na veb stranici
Comment[ca]=Mostra l'estat de (parts de) la vostra llista de contactes a una pàgina web
Comment[ca@valencia]=Mostra l'estat de (parts de) la vostra llista de contactes a una pàgina web
Comment[cs]=Zobrazí stav (části) seznamu kontaktů na webu
Comment[cy]=Dangos cyflwr o (rannau o) eich rhestr cysylltiadau ar dudalen wê
Comment[da]=Vis status for (dele af) din kontaktliste på en netside
Comment[de]=Zeigt den Status Ihrer Kontaktliste (oder Teilen davon) auf einer Internetseite an
Comment[el]=Εμφάνιση της κατάστασης της λίστας επαφών σας σε ιστοσελίδα
Comment[en_GB]=Show the status of (parts of) your contact list on a webpage
Comment[eo]=Montras la staton (aŭ partojn) de via kontaktula listo sur reta paĝo
Comment[es]=Mostrar el estado de (partes de) su lista de contactos en una página web
Comment[et]=Näitab (vähemalt osa) kontaktide staatust veebileheküljel
Comment[eu]=Erakutsi zure kontaktu-zerrendaren (edo zati baten) egoera web-orrialde batean
Comment[fa]=وضعیت )اجزایی از( فهرست تماس شما را روی صفحه وب نمایش می‌دهد
Comment[fi]=Näytä kontaktien tila verkkosivulla
Comment[fr]=Affiche l'état de connexion de votre liste (ou d'une partie) sur une page internet
Comment[ga]=Taispeáin stádas do theagmhálacha (nó cuid acu) ar leathanach Gréasáin
Comment[gl]=Mostra o estado da lista de contactos (ou parte) nunha páxina web
Comment[he]=מציא את מצב ההתחברות של חברים ברשימת הקשר שלך )או של חלקם( בעמוד WEB.
Comment[hi]=वेब पृष्ठ पर आपकी सम्पर्क सूची की स्थिति (या आंशिक) दिखाएं
Comment[hne]=वेब पेज मं आप मन के सम्पर्क सूची के स्थिति (या आंसिक) दिखाव
Comment[hr]=Prikazivanje statusa (dijelova) vaše liste kontakata na web stranici
Comment[hu]=Partnerek állapotának megjelenítése weboldalon
Comment[ia]=Monstra le stato de (partes de) tu lista de contacto sur un pagina web
Comment[is]=Sýnir stöðu (hluta) lista þinna á vefsíðu
Comment[it]=Mostra lo stato della lista dei contatti (o una sua parte) su una pagina Web
Comment[ja]=コンタクトリスト (の一部) の状態をウェブページに表示
Comment[kk]=Контакттарыңыздың тізімінің (не оның бөлігінің) күйін веб парақта көрсету
Comment[km]=បង្ហាញ​ស្ថានភាព (ផ្នែក) នៃ​បញ្ជី​ទំនាក់ទំនង​របស់​អ្នក​នៅ​លើ​ទំព័រ​វ៉េប
Comment[ko]=대화 상대 목록의 일부분을 웹 페이지에 보여 줍니다
Comment[lt]=Rodyti kontaktų sąrašo (sąrašo dalies) būklę internetiniame puslapyje
Comment[lv]=Rāda jūsu kontaktu saraksta (vai daļas) statusu tīmekļa lapā
Comment[mk]=Го прикажува статусот на (деловите на) вашата листа со контакти на вебстраница
Comment[ml]=നിങ്ങളുടെ സമ്പര്‍ക്കപ്പട്ടികയുടെ (ഭാഗങ്ങള്‍) സ്ഥിതിവിവരങ്ങള്‍ ഒരു വെബ് താളില്‍ കാണിക്കുക
Comment[nb]=Vis tilstanden til (deler av) kontaktlista de på en nettside
Comment[nds]=Wiest den Status (vun en poor) vun Dien Kontakten op en Nettsiet
Comment[ne]=वेबपृष्ठमा तपाईँको सम्पर्क सूची (भागको) वस्तुस्थिति देखाउनुहोस्
Comment[nl]=Toont de status van (delen van) uw contactenlijst op een webpagina
Comment[nn]=Vis tilstanden til (delar av) kontaktlista på ei nettside
Comment[pl]=Pokazuje dostępność (części) twojej listy kontaktów na stronie WWW
Comment[pt]=Mostra o estado (de partes) da sua lista de contactos numa página Web
Comment[pt_BR]=Mostra o status de (ou parte de) sua lista de contatos em uma página Web
Comment[ro]=Afișează starea (unor părți a) listei de contacte pe o pagină web
Comment[ru]=Отображает состояние вашего списка контактов (или его части) на веб-странице
Comment[si]=ඔබේ සබඳතා ලැයිස්තුවේ තත්වය (අඩක්) ජාල අඩවියක පෙන්වයි
Comment[sk]=Zobrazí stav (časť) zo zoznamu kontaktov na webovej stránke
Comment[sl]=Pokaže stanje (dela) vašega seznama stikov na spletni strani
Comment[sr]=Приказивање стања (делова) ваше листе контаката на веб страници
Comment[sr@ijekavian]=Приказивање стања (делова) ваше листе контаката на веб страници
Comment[sr@ijekavianlatin]=Prikazivanje stanja (delova) vaše liste kontakata na veb stranici
Comment[sr@latin]=Prikazivanje stanja (delova) vaše liste kontakata na veb stranici
Comment[sv]=Visa status för (delar av) din kontaktlista på en webbsida
Comment[ta]=இணைய பக்கத்தில் உங்கள் தொடர்பாளரின் நிலைப்பட்டியலை காட்டு
Comment[tg]=Ҳолати (қисме аз) рӯйхати пайвастшавии шуморо дар саҳифаи шабака нишон медиҳад
Comment[tr]=Bağlantı listesinde web sayfası olanların (bölümler) durumunu göster
Comment[uk]=Показує стан вашого списку контактів (або його частини) на сторінці у Тенетах
Comment[vi]=Hiển thị trạng thái (một phần) của danh sách liên hệ trên trang Mạng
Comment[x-test]=xxShow the status of (parts of) your contact list on a webpagexx
Comment[zh_CN]=在网页上显示您联系人的状态
Comment[zh_HK]=在網頁上顯示您（一部份）聯絡人清單的狀態
Comment[zh_TW]=在網頁上顯示（部份）您的聯絡人的狀態
Name=Web Presence
Name[ar]=ويب الوجود
Name[ast]=Presencia Web
Name[bg]=Уеб присъствие
Name[bn]=ওয়েব উপস্থিতি
Name[bs]=Prisusnost na vebu
Name[ca]=Web de presència
Name[ca@valencia]=Web de presència
Name[cs]=Přítomnost na webu
Name[cy]=Presenoldeb Gwê
Name[da]=Webtilstedeværelse
Name[de]=Web-Präsenz
Name[el]=Παρουσία σε ιστοσελίδα
Name[en_GB]=Web Presence
Name[eo]=TTT-prezenco
Name[es]=Presencia Web
Name[et]=Veebinimekiri
Name[eu]=Webaren presentzia
Name[fa]=حضور وب
Name[fi]=Läsnäolo verkossa
Name[fr]=Présence sur le web
Name[ga]=Láithreacht Gréasáin
Name[gl]=Presenza na web
Name[he]=נוכחות רשת
Name[hi]=वेब उपस्थिति
Name[hne]=वेब उपस्थिति
Name[hr]=Prisutnost na webu
Name[hu]=Webes jelenlét
Name[ia]=Presentia de web
Name[is]=Á vefnum
Name[it]=Presenza sul Web
Name[ja]=ウェブプレゼンス
Name[kk]=Вебке қатысу
Name[km]=វត្តមាន​វ៉េប
Name[ko]=웹 내보내기
Name[lt]=Rodyti internete
Name[lv]=Tīmekļa klātbūtne
Name[mk]=Присуство на веб 
Name[ml]=വെബിലെ സാന്നിദ്ധ്യം
Name[nb]=Profil på nettet
Name[nds]=Nett-Praatschap
Name[ne]=वेब उपस्थिति
Name[nl]=Web-aanwezigheid
Name[nn]=Profil på nettet
Name[pa]=ਵੈੱਬ ਮੌਜੂਦਗੀ
Name[pl]=Obecność w sieci
Name[pt]=Presença na Web
Name[pt_BR]=Presença Web
Name[ro]=Prezență web
Name[ru]=Присутствие в Сети
Name[si]=ජාල පැවැත්ම
Name[sk]=Prítomnosť na webe
Name[sl]=Spletna prisotnost
Name[sr]=Присутност на Вебу
Name[sr@ijekavian]=Присутност на Вебу
Name[sr@ijekavianlatin]=Prisutnost na Webu
Name[sr@latin]=Prisutnost na Webu
Name[sv]=Webbnärvaro
Name[ta]=இணைய இருப்பு
Name[tg]=Мавҷудияти Web
Name[tr]=Ağ Mevcudiyeti
Name[uk]=Присутність у Тенетах
Name[vi]=Vẻ ngoài của Mạng
Name[x-test]=xxWeb Presencexx
Name[zh_CN]=Web 状态
Name[zh_HK]=網上狀態
Name[zh_TW]=網頁連線
