[Desktop Entry]
Type=Service
Icon=text-html
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_webpresence
X-KDE-ParentApp=kopete_webpresence
X-KDE-ParentComponents=kopete_webpresence

Comment=Show the status of (parts of) your contact list on a webpage
Name=Web Presence
