[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000900
Icon=html
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_webpresence
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=will@stevello.free-online.co.uk
X-KDE-PluginInfo-Name=kopete_webpresence
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://www.cs.ncl.ac.uk/old/people/william.stephenson
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Comment=Show the status of (parts of) your contact list on a webpage
Comment[el]=Εμφάνιση της κατάστασης της λίστας επαφών σας σε ιστοσελίδα
Comment[fr]=Affiche l'état de connexion de votre liste (ou d'une partie) sur une page internet
Comment[x-test]=xxShow the status of (parts of) your contact list on a webpagexx
Name=Web Presence
Name[el]=Παρουσία σε ιστοσελίδα
Name[fr]=Présence sur le web
Name[x-test]=xxWeb Presencexx
