[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=html
Name=Web Presence
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_webpresence
X-Kopete-Plugin-Id=webpresence
X-Kopete-Author=Will Stephenson
X-Kopete-Site=http://www.cs.ncl.ac.uk/old/people/william.stephenson
X-Kopete-Email=will@stevello.free-online.co.uk
X-Kopete-License=GPL
Comment=Show the status of (parts of) your contactlist on a webpage
