[Desktop Entry]
Encoding=UTF-8
Type=Service
Version=1000792
Icon=html
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_webpresence
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=will@stevello.free-online.co.uk
X-KDE-PluginInfo-Name=kopete_webpresence
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://www.cs.ncl.ac.uk/old/people/william.stephenson
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Comment=Show the status of (parts of) your contact list on a webpage
Comment[ca]=Mostra l'estatus de (parts de) la vostra llista de contactes a una pàgina web
Comment[da]=Vis status for (dele af) din kontaktliste på en netside
Comment[de]=Zeigt den Status (von Teilen) der eigenen Kontaktliste auf einer Internetseite
Comment[et]=Näitab (vähemalt osa) kontaktide staatust veebileheküljel
Comment[hu]=A partnerlista-tagok állapotának megjelenítése weboldalon
Comment[it]=Mostra lo stato della (o parte della) tua lista contatti su una pagina web
Comment[nl]=Toont de status van (delen van) uw contactenlijst op een webpagina
Comment[pt_BR]=Mostra o status de (ou parte de) sua lista de contatos em uma página web
Comment[sr]=Приказивање статуса (делова) ваше листе контаката на веб страници
Comment[sv]=Visa status för (delar av) din kontaktlista på en webbsida
Comment[xx]=xxShow the status of (parts of) your contact list on a webpagexx
Name=Web Presence
Name[ca]=Web de presència
Name[da]=WWW-nærvær
Name[de]=Web-Präsenz
Name[es]=Presencia Web
Name[et]=Veebinimekiri
Name[hu]=Webes jelenlét
Name[it]=Presenza web
Name[nl]=Web aanwezigheid
Name[pt_BR]=Presença Web
Name[sr]=Присутност веба
Name[sv]=Webbnärvaro
Name[xx]=xxWeb Presencexx
