[Desktop Entry]
Icon=msn_protocol
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_msn
X-KDE-FactoryName=MSNProtocolConfigFactory
X-KDE-ParentApp=kopete_msn
X-KDE-ParentComponents=kopete_msn

Name=MSN Plugin
Name[ar]=توصيلة MSN
Name[be]=Модуль MSN
Name[bg]=MSN
Name[bn]=এমএসএন প্লাগিন
Name[br]=Lugent MSN
Name[bs]=MSN dodatak
Name[ca]=Connector de MSN
Name[cs]=MSN modul
Name[cy]=Ategyn MSN
Name[da]=MSN-Plugin
Name[de]=MSN-Modul
Name[el]=Πρόσθετο MSN
Name[es]=Complemento de MSN
Name[et]=MSN plugin
Name[eu]=MSN Plugin-a
Name[fa]=وصلۀ ام‌اس‌ان
Name[fi]=MSN-liitännäinen
Name[fr]=Module MSN
Name[ga]=Breiseán MSN
Name[gl]=Plugin para MSN
Name[he]=תוסף MSN
Name[hi]=एमएसएन प्लगइन
Name[hr]=MSN umetak
Name[hu]=MSN modul
Name[is]=MSN íforrit
Name[it]=Plugin MSN
Name[ja]=MSN プラグイン
Name[ka]=MSN მოდული
Name[kk]=MSN плагин модулі
Name[km]=កម្មវិធី​ជំនួយ MSN
Name[lt]=MSN įskiepis
Name[mk]=MSN-приклучок
Name[nb]=MSN programtillegg
Name[nds]=MSN-Moduul
Name[ne]=एमएसएन प्लगइन
Name[nl]=MSN-plugin
Name[nn]=MSN-programtillegg
Name[pa]=MSN ਪਲੱਗਇਨ
Name[pl]=Wtyczka MSN
Name[pt]='Plugin' MSN
Name[pt_BR]=Plug-in MSN
Name[ro]=Modul MSN
Name[ru]=Модуль MSN
Name[se]=MSN-lassemoduvla
Name[sk]=Modul MSN
Name[sl]=Vstavek za MSN
Name[sr]=MSN прикључак
Name[sr@Latn]=MSN priključak
Name[sv]=MSN-insticksprogram
Name[ta]=MSN செருகல்
Name[tg]=Модули MSN
Name[tr]=MSN Eklentisi
Name[uk]=Втулок MSN
Name[uz]=MSN plagini
Name[uz@cyrillic]=MSN плагини
Name[wa]=Tchôke-divins MSN
Name[zh_CN]=MSN 插件
Name[zh_HK]=MSN 插件
Name[zh_TW]=MSN 外掛程式
Comment=Microsoft Network Protocol
Comment[ar]=بروتوكول شبكة Microsoft
Comment[be]=Пратакол сеткі Microsoft Network
Comment[bg]=Протокол за връзка с Microsoft Network
Comment[bn]=মাইক্রোসফ্ট নেটওয়ার্ক প্রোটোকল
Comment[br]=Komenad rouedad Microsoft
Comment[bs]=Microsoft Network protokol
Comment[ca]=Protocol per a la xarxa de Microsoft
Comment[cs]=Protokol sítě Microsoft
Comment[cy]=Protocol Rhwydwaith Microsoft
Comment[de]=Microsoft Netzwerk-Protokoll
Comment[el]=Πρωτόκολλο Microsoft Network
Comment[es]=Protocolo de red de Microsoft
Comment[et]=Microsofti võrguprotokoll
Comment[fa]=قرارداد شبکۀ میکروسافت
Comment[fi]=Microsoft Network -yhteyskäytäntö
Comment[fr]=Protocole réseau Microsoft
Comment[ga]=Prótacal Gréasáin Mhicrosoft
Comment[gl]=Protocolo para a rede de Microsoft
Comment[he]=תוסף חיבור לרשת מיקרוסופט
Comment[hi]=माइक्रोसॉफ्ट नेटवर्क प्रोटोकॉल
Comment[hr]=Microsoft mrežni protokol
Comment[hu]=Microsoft hálózati protokoll
Comment[is]=Microsoft Network Protocol 
Comment[it]=Protocollo di rete Microsoft
Comment[ja]=Microsoft ネットワークプロトコル
Comment[ka]=Microsoft ქსელის ოქმი
Comment[kk]=Microsoft Network желі протоколы
Comment[km]=ពិធីការ​បណ្ដាញ​ម៉ៃក្រូសូហ្វ
Comment[lt]=Microsoft tinklo protokolas
Comment[mk]=Мрежен протокол на Microsoft
Comment[nds]=Microsoft-Nettwarkprotokoll
Comment[ne]=माइक्रोसफ्ट सञ्जाल प्रोटोकल
Comment[nl]=Protocol voor Microsoft Network
Comment[nn]=Microsoft Network-protokoll
Comment[pl]=Protokół Microsoft Network
Comment[pt]=Protocolo da Microsoft Network
Comment[pt_BR]=Protocolo de Rede Microsoft
Comment[ru]=Протокол сети Microsoft Network
Comment[sl]=Protokol za povezavo na MSN
Comment[sv]=Microsoft-nätverksprotokoll
Comment[ta]=மைக்ரோசாப்ட் இணைய விதிமுறை
Comment[tg]=Қарордоди Шабакаи Microsoft
Comment[tr]=Microsoft Ağ Protokolü
Comment[uk]=Мережний протокол Microsoft
Comment[uz]=Microsoft tarmogʻi bilan aloqa oʻrnatish uchun protokol
Comment[uz@cyrillic]=Microsoft тармоғи билан алоқа ўрнатиш учун протокол
Comment[wa]=Protocole pol rantoele da Microsoft
Comment[zh_CN]=Microsoft Network 协议
Comment[zh_HK]=Microsoft 網絡通訊協定
Comment[zh_TW]=Microsoft 網路協定

