[Desktop Entry]
Encoding=UTF-8
Icon=plugin
Icon=msn_protocol
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_msn
X-KDE-FactoryName=MSNProtocolConfigFactory
X-KDE-ParentApp=kopete_msn
X-KDE-ParentComponents=kopete_msn

Name=MSN Plugin
Name[da]=MSN-Plugin
Name[hu]=MSN-bővítőmodul
Name[sr]=MSN додатак
Comment=Microsoft Network Protocol
Comment[hu]=Microsoft hálózati protokoll

