[Desktop Entry]
Encoding=UTF-8
Icon=msn_protocol
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_msn
X-KDE-FactoryName=MSNProtocolConfigFactory
X-KDE-ParentApp=kopete_msn
X-KDE-ParentComponents=kopete_msn

Name=MSN Plugin
Name[el]=Πρόσθετο MSN
Name[fr]=Module MSN
Name[x-test]=xxMSN Pluginxx
Comment=Microsoft Network Protocol
Comment[el]=Πρωτόκολλο Microsoft Network
Comment[fr]=Protocole réseau Microsoft
Comment[x-test]=xxMicrosoft Network Protocolxx

