[Desktop Entry]
Type=Service
Icon=smpppdcs
X-Kopete-Version=1000900
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_smpppdcs
X-KDE-PluginInfo-Author=Heiko Schäfer
X-KDE-PluginInfo-Email=heiko@rangun.de
X-KDE-PluginInfo-Name=kopete_smpppdcs
X-KDE-PluginInfo-Version=0.79
X-KDE-PluginInfo-Website=http://www.rangun.de
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=SUSE smpppd-enabled Connection Status (SMPPPD)
Name[bn]=SUSE smpppd-enabled সংযোগ অবস্থা (SMPPPD)
Name[bs]=Status veze koji koristi SUSE-ov smpppd servis
Name[ca]=Estat actiu de la connexió SUSE smpppd (SMPPPD)
Name[cs]=Stav spojení SUSE smpppd-enabled (SMPPPD)
Name[da]=SUSE smpppd-aktiveret Forbindelsesstatus (SMPPPD)
Name[de]=Verbindungsstatus mit Unterstützung für SuSE SMPPPD
Name[el]=SuSE smpppd-ενεργοποίηση κατάσταση σύνδεσης (SMPPPD)
Name[es]=Estado de conexión con SUSE smpppd habilitado (SMPPPD)
Name[et]=SUSE smpppd-võimalusega ühenduse staatus (SMPPPD)
Name[eu]=SUSE smpppd-gaitutat konexioaren egoera (SMPPPD)
Name[fa]=وضعیت اتصال فعال -SUSE smpppd (SMPPPD)
Name[fi]=SUSE smpppd-enabled -yhteyden tila (SMPPPD)
Name[fr]=État de la connexion pour « smpppd-enabled » de SUSE (SMPPPD)
Name[he]=SUSE smpppd-מאפשר מצב חיבור (SMPPPD)
Name[hu]=SUSE smpppd-alapú állapotjellemző (SMPPPD)
Name[is]=SUSE smpppd-virkt staða tengingar (SMPPPD)
Name[it]=Stato della connessione di SUSE smpppd
Name[ja]=SUSE smpppd を使った接続状態 (SMPPPD)
Name[ka]=SUSE smpppd-ჩართული კავშირის სტატუსი (SMPPPD)
Name[kk]=SUSE smpppd (SMPPPD) қосылымының күйі
Name[km]=ស្ថានភាព​តភ្ជាប់ SUSE ដែល​អនុញ្ញាត smpppd (SMPPPD)
Name[lt]=SUSE smpppd ryšio būklė (SMPPPD)
Name[nb]=Tilstand for SMPPPD – SUSE smpppd-forbindelse
Name[nds]=Verbinnenstatus mit Ünnerstütten för SuSE-SMPPPD
Name[ne]=SUSE smpppd ले जडान वस्तुस्थिति (SMPPPD) सक्षम पार्यो
Name[nl]=SUSE smpppd-geactiveerde verbindingsstatus (SMPPPD)
Name[nn]=Tilstand for SMPPPD – SUSE smpppd-forbindelse
Name[pl]=Status połączenia SUSE SMPPPD
Name[pt]=Estado da Ligação activado pelo 'smpppd' da SUSE (SMPPPD)
Name[pt_BR]=Status da Conexão compatível com SUSE smpppd
Name[ru]=Статус соединения с SUSE smpppd (SMPPPD)
Name[sk]=Stav spojenia SUSE smpppd-enabled (SMPPPD)
Name[sl]=Stanje povezave z uporabo SuSE SMPPPD
Name[sr]=Статус SUSE-ове smpppd-везе (SMPPPD)
Name[sr@Latn]=Status SUSE-ove smpppd-veze (SMPPPD)
Name[sv]=SUSE SMPPPD-aktiverad anslutningsstatus (SMPPPD)
Name[tr]=SUSE smpppd Bağlantı Durumu (SMPPPD)
Name[uk]=SUSE smpppd-уможливлений Стан з'єднання (SMPPPD)
Name[zh_CN]=SUSE smppp 连接状态(SMPPPD)
Name[zh_HK]=連接 SUSE smpppd 的連線狀態 (SMPPPD)
Name[zh_TW]=SUSE smpppd 連線狀態
Comment=Connects/disconnects Kopete automatically depending on availability of Internet connection
Comment[ar]=يقوم بوصل و فصل Kopete تلقائيا استنادا إلى وضع الاتصال بالشبكة
Comment[be]=Злучае/адлучае Kopete ад сервісаў у залежнасці ад наяўнасці інтэрфэйсаў з Інтэрнэтам
Comment[bg]=Автоматично установяване и прекъсване на връзката в зависимост от състоянието на връзката с Интернет
Comment[bn]=ইন্টারনেট সংযোগের সুবিধা অনুযায়ী কপেট স্বয়ংক্রীয়ভাবে সংযোগ/সংযোগবিচ্ছিন্নকরে
Comment[bs]=Automatski spaja Kopete i prekida vezu ovisno o dostupnosti Internet konekcije
Comment[ca]=Connecta/desconnecta automàticament depenent de la disponibilitat de la connexió a Internet
Comment[cs]=Automaticky připojí nebo odpojí vzhledem k dostupnosti připojení na Internet
Comment[cy]=Cysylltu/datgyslltu Kopete yn ymysgogol, yn dibynnu ar argaeledd cysylltiad Rhyngrwyd
Comment[da]=Forbinder/afbryder Kopete automatisk afhængig af om der er en internet-forbindelse
Comment[de]=Verbindet/trennt Kopete automatisch abhängig von der Verfügbarkeit einer Internetverbindung
Comment[el]=Συνδέει/αποσυνδέει το Kopete αυτόματα ανάλογα με την κατάσταση της σύνδεσης με το διαδίκτυο
Comment[es]=Conecta/desconecta Kopete automáticamente según la disponibilidad de la conexión a internet
Comment[et]=Kopete automaatne ühendamine/ühenduse katkestamine vastavalt internetiühenduse olemasolule
Comment[eu]=Kopete automatikoki konektatu/deskonektatzen du internet-eko konexioaren eskuragarritasunaren arabera
Comment[fa]=بسته به قابلیت دسترسی اتصال اینترنت،  Kopete به طور خودکار وصل/قطع ارتباط می‌کند
Comment[fi]=Yhdistää/katkaisee yhteyden automaattisesti riippuen onko Internet-yhteys päällä
Comment[fr]=Connecte / déconnecte automatiquement Kopete en fonction de la disponibilité de la connexion Internet
Comment[gl]=Conecta/desconecta a Kopete automáticamente dependendo da disponibilidade de conexión a Internet
Comment[he]=חיבור\ניתוק Kopete באופן אוטומטי בתלות בזמינות של החיבור לאינטרנט
Comment[hi]=इंटरनेट कनेक्शन की उपलब्धता की निर्भरता के आधार पर के-ऑप्टी को स्वचलित कनेक्ट/डिस्कनेक्ट करता है
Comment[hu]=A Kopete automatikus csatlakoztatása és bontása az internetkapcsolat elérhetőségétől függően
Comment[is]=(Af)tengir Kopete sjálfkrafa miðað við stöðu Internettengingar
Comment[it]=Connetti/disconnetti automaticamente Kopete a seconda della disponibilità della connessione ad internet
Comment[ja]=インターネット接続の有無により自動的に Kopete を接続/切断します
Comment[ka]=ინტერნეტ კავშირის არსებობისას ავტომატურად აკავშირებს Kopete-ს
Comment[kk]=Интернетке қосылымның бар=жоғына қарай Kopete-ті автоматты түрде қосады және ажыратады
Comment[km]=ភ្ជាប់ ​ ​ផ្ដាច​ Kopeteដោយ​ស្វ័យប្រវត្តិ​ដោយ​ផ្អែក​លើ​ភាព​មាន​នៃការណត​ភ្ជាប់​អ៊ីនធឺណិត
Comment[lt]=Automatiškai prijungia/atjungia Kopete, priklausomai nuo interneto ryšio buvimo
Comment[mk]=Автоматски го поврзува/исклучува Kopete во зависност на достапноста на поврзувањето на Интернет
Comment[nb]=Kobler Kopete automatisk til/fra avhengig av om internettforbindelse er tilgjengelig
Comment[nds]=Koppelt Kopete automaatsch to- oder af, afhangen vun de Verföögborkeit vun de Internetverbinnen
Comment[ne]=इन्टरनेट जडानको उपलब्धतामा आधारित कोपेट स्वचालित रूपमा जडान गर्दछ/विच्छेदन गर्दछ
Comment[nl]=Bouwt automatisch verbindingen op voor Kopete of verbreekt ze, afhankelijk van de beschikbaarheid van de internetverbinding
Comment[nn]=Koplar Kopete automatisk til eller frå avhengig av om Internett-sambandet er tilgjengeleg.
Comment[pl]=Automatycznie podłącza/odłącza Kopete zależnie od stanu połączenia z Internetem
Comment[pt]=Liga/desliga o Kopete automaticamente, dependendo da disponibilidade de uma ligação à Internet
Comment[pt_BR]=Conecta/desconecta o Kopete automaticamente dependendo da disponibilidade da conexão com a Internet
Comment[ru]=Автоматически входит в сеть или выходит из неё в зависимости от наличия соединения с Интернет
Comment[sk]=Pripojí/odpojí Kopete v závislosti či existuje pripojenie na Internet
Comment[sl]=Samodejno vzpostavi/prekine povezavo Kopete glede na dostopnost internetne povezave
Comment[sr]=Аутоматски успоставља или прекида везу у Kopete-у у зависности од доступности интернет везе
Comment[sr@Latn]=Automatski uspostavlja ili prekida vezu u Kopete-u u zavisnosti od dostupnosti internet veze
Comment[sv]=Ansluter eller kopplar ner Kopete automatiskt beroende på Internetförbindelsens tillgänglighet
Comment[ta]=இணைய இணைப்பை பொருத்து Kopete யுடன்தானாக இணையும்/நீக்கும் 
Comment[tg]=Вобаста ба имкониятҳои алоқаи Интернет Kopete-ро ба таври худкор пайваст/канда мекунад 
Comment[tr]=İnternet bağlantısının kullanılabilir olabilirliğine göre Kopete'yi otomatik bağlar/bağlamaz
Comment[uk]=Автоматично входить в мережу чи виходить з неї в залежності від наявності з'єднання з Інтернет
Comment[zh_CN]=根据 Internet 连接是否可用自动连接/断开 Kopete
Comment[zh_HK]=自動根據互聯網連接情況連接或中斷 Kopete 連線
Comment[zh_TW]=自動依據網路狀況來連線/中斷連線 Kopete
