[Desktop Entry]
Icon=smpppdcs
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_smpppdcs
X-KDE-FactoryName=SMPPPDCSConfigFactory
X-KDE-ParentApp=kopete_smpppdcs
X-KDE-ParentComponents=kopete_smpppdcs

X-Kopete-Version=1000900

Name=SUSE SMPPPD Connection Status
Name[be]=Стан злучэння SUSE SMPPPD
Name[bn]=SUSE SMPPPD সংযোগ অবস্থা
Name[bs]=SUSE SMPPPD status veze
Name[ca]=Estatus de la connexió SUSE SMPPPD 
Name[cs]=Stav spojení SUSE SMPPPD
Name[da]=SUSE SMPPD Forbindelsesstatus
Name[de]=SuSE SMPPPD-Verbindungsstatus
Name[el]=Κατάσταση σύνδεσης του SuSE SMPPPD
Name[es]=Estado de conexión de SUSE SMPPPD
Name[et]=SUSE SMPPPD ühenduse staatus
Name[eu]=SUSE SMPPPD konexioaren egoera
Name[fa]=وضعیت اتصال SUSE SMPPPD
Name[fi]=SUSE SMPPPD -yhteyden tila
Name[fr]=État de la connexion SUSE SMPPPD
Name[ga]=Stádas Ceangail SUSE SMPPPD
Name[gl]=Estado da conexión de SUSE SMPPPD
Name[he]=מצב החיבור של SUSE SMPPPD
Name[hu]=SUSE SMPPPD kapcsolati állapot
Name[is]=SUSE SMPPPD tengingarstaða
Name[it]=Stato della connessione di SUSE SMPPPD
Name[ja]=SUSE SMPPPD 接続状態
Name[ka]=SUSE SMPPPD კავშირის სტატუსი
Name[kk]=SUSE SMPPPD байланыс күйі
Name[km]=ស្ថានភាព​ការ​តភ្ជាប់ SUSE SMPPPD
Name[lt]=SUSE SMPPPD ryšio būklė
Name[nb]=Tilstand for SUSE-SMPPPD-forbindelsen
Name[nds]=SUSE SMPPPD-Verbinnenstatus
Name[ne]=SUSE SMPPPD जडान वस्तुस्थिति
Name[nl]=SUSE SMPPPD-verbindingsstatus
Name[nn]=Tilstand for SUSE-SMPPPD-sambandet
Name[pl]=Status połączenia SUSE SMPPPD
Name[pt]=Estado da Ligação do SMPPPD para a SUSE
Name[pt_BR]=Status da Conexão SUSE SMPPPD
Name[ru]=Статус соединения SUSE SMPPPD
Name[sk]=Stav spojenia SUSE SMPPPD
Name[sl]=Stanje povezave z uporabo SuSE SMPPPD
Name[sr]=Статус SUSE-ове SMPPPD везе
Name[sr@Latn]=Status SUSE-ove SMPPPD veze
Name[sv]=SUSE SMPPPD anslutningsstatus
Name[tr]=SUSE SMPPPD bağlantı durumu
Name[uk]=Стан з'єднання SUSE SMPPPD
Name[zh_CN]=SUSE SMPPPD 连接状态
Name[zh_HK]=SUSE SMPPPD 連線狀態
Name[zh_TW]=SUSE SMPPPD 連線狀態
Comment=SMPPPDCS Plugin
Comment[be]=Модуль SMPPPDCS
Comment[bn]=SMPPPDCS প্লাগিন
Comment[br]=Lugant SMPPPDCS
Comment[bs]=SMPPPDCS dodatak
Comment[ca]=Connector SMPPPDCS
Comment[cs]=SMPPPDCS modul
Comment[da]=SMPPPDCS-Plugin
Comment[de]=SMPPPDCS-Modul
Comment[el]=Πρόσθετο SMPPPDCS
Comment[eo]=SMPPPDCS-kromaĵo
Comment[es]=Extensión SMPPPDCS
Comment[et]=SMPPPDCS plugin
Comment[eu]=SMPPPDCS plugin-a
Comment[fa]=SUSE SMPPPD وصلۀ
Comment[fi]=SMPPPDCS-liitännäinen
Comment[fr]=Module SMPPPDCS
Comment[ga]=Breiseán SMPPPDCS
Comment[gl]=Plugin SMPPPDCS
Comment[he]=תוסף SMPPPDCS
Comment[hu]=SMPPPDCS bővítőmodul
Comment[is]=SMPPPDCS íforrit
Comment[it]=Plugin SMPPPDCS
Comment[ja]=SMPPPDCS プラグイン
Comment[ka]=SMPPPDCS მოდული
Comment[kk]=SMPPPDCS плагин модулі
Comment[km]=កម្មវិធី​ជំនួយ SMPPPDCS
Comment[lt]=SMPPPDCS įskiepis
Comment[nb]=Programtillegg for SMPPPDCS
Comment[nds]=SMPPPDCS-Moduul
Comment[ne]=SMPPPDCS प्लगइन
Comment[nl]=SMPPPDCS-plugin
Comment[nn]=Programtillegg for SMPPPDCS
Comment[pl]=Wtyczka SMPPPDCS
Comment[pt]='Plugin' do SMPPPDCS
Comment[pt_BR]=Plugin SMPPPDCS
Comment[ro]=Modul SMPPPDCS
Comment[ru]=Модуль SMPPPDCS
Comment[sk]=SMPPPDCS modul
Comment[sl]=Vstavek SMPPPDCS
Comment[sr]=Прикључак SMPPPDCS
Comment[sr@Latn]=Priključak SMPPPDCS
Comment[sv]=SMPPPDCS-insticksprogram
Comment[tr]=SMPPPDCS Eklentisi
Comment[uk]=Втулок SMPPPDCS
Comment[uz]=SMPPPDCS plagini
Comment[uz@cyrillic]=SMPPPDCS плагини
Comment[zh_CN]=SMPPPDCS 插件
Comment[zh_HK]=SMPPPDCS 插件
Comment[zh_TW]=SMPPPDCS 外掛程式
