[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=smpppdcs
X-Kopete-Version=1000900
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_smpppdcs
X-KDE-PluginInfo-Author=Heiko Schäfer
X-KDE-PluginInfo-Email=heiko@rangun.de
X-KDE-PluginInfo-Name=kopete_smpppdcs
X-KDE-PluginInfo-Version=0.72
X-KDE-PluginInfo-Website=http://www.rangun.de
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=SUSE smpppd-enabled Connection Status (SMPPPD)
Name[fr]=État de la connexion pour « smpppd-enabled » de Suse (SMPPPD)
Name[x-test]=xxSUSE smpppd-enabled Connection Status (SMPPPD)xx
Comment=Connects/disconnects Kopete automatically depending on availability of Internet connection
Comment[fr]=Connecte / déconnecte automatiquement Kopete en fonction de la disponibilité de la connexion Internet
Comment[x-test]=xxConnects/disconnects Kopete automatically depending on availability of Internet connectionxx
