[Desktop Entry]
Encoding=UTF-8
Icon=smpppdcs
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_smpppdcs
X-KDE-FactoryName=SMPPPDCSConfigFactory
X-KDE-ParentApp=kopete_smpppdcs
X-KDE-ParentComponents=kopete_smpppdcs

X-Kopete-Version=1000900

Name=SUSE SMPPPD Connection Status
Name[fr]=État de la connexion SUSE SMPPPD
Name[x-test]=xxSUSE SMPPPD Connection Statusxx
Comment=SMPPPDCS Plugin
Comment[fr]=Module SMPPPDCS
Comment[x-test]=xxSMPPPDCS Pluginxx
