[Desktop Entry]
Type=Service
Icon=wlm_protocol
X-KDE-ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_wlm
X-Kopete-Version=1000900
X-Kopete-Messaging-Protocol=messaging/wlm
X-KDE-PluginInfo-Author=Kopete Developers
X-KDE-PluginInfo-Email=kopete-devel@kde.org
X-KDE-PluginInfo-Name=kopete_wlm
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=WLM Messenger
Name[ar]=مرسال WLM
Name[ast]=WLM Messenger
Name[bg]=Моментни съобщения WLM
Name[bs]=WLM Poruke
Name[ca]=WLM Messenger
Name[ca@valencia]=WLM Messenger
Name[cs]=WLM Messenger
Name[da]=WLM-messenger
Name[de]=WLM Messenger
Name[el]=WLM Messenger
Name[en_GB]=WLM Messenger
Name[eo]=WLM Messenger
Name[es]=WLM Messenger
Name[et]=WLM Messenger
Name[eu]=WLM mezularitza
Name[fi]=WLM Messenger
Name[fr]=Messagerie WLM
Name[ga]=WLM Messenger
Name[gl]=WLM Messenger
Name[hne]=डबल्यूएलएम मैसेंजर
Name[hr]=WLM Messenger
Name[hu]=WLM Messenger
Name[ia]=Messagero WLM
Name[it]=Messaggistica WLM
Name[ja]=WLM メッセンジャー
Name[kk]=WLM хабарласу
Name[km]=កម្មវិធី​ផ្ញើសារ​របស់ WLM
Name[ko]=WLM 메신저
Name[lt]=WLM žinutės
Name[lv]=WLM Ziņotājs
Name[ml]=ഡബ്ലിയുഎല്‍എം ദൂതന്‍
Name[nb]=WLM Messenger
Name[nds]=WLM-Kortnarichtenmaker
Name[nl]=WLM Messenger
Name[nn]=WLM Messenger
Name[pa]=WLM ਮੈਸੈਂਜਰ
Name[pl]=Komunikator WLM
Name[pt]=WLM Messenger
Name[pt_BR]=Windows Live Messenger
Name[ro]=Mesager WLM
Name[ru]=WLM Messenger
Name[si]=WLM පණිවුඩකරු
Name[sk]=WLM Messenger
Name[sl]=WLM Messenger
Name[sq]=WLM Messenger
Name[sr]=Виндоуз лајв месенџер
Name[sr@ijekavian]=Виндоуз лајв месенџер
Name[sr@ijekavianlatin]=Windows Live Messenger
Name[sr@latin]=Windows Live Messenger
Name[sv]=WLM Messenger
Name[tr]=WLM Messenger
Name[uk]=Кур’єр WLM
Name[wa]=WLM Messenger
Name[x-test]=xxWLM Messengerxx
Name[zh_CN]=WLM Messenger
Name[zh_TW]=WLM Messenger
Comment=Windows Live Messenger plugin
Comment[ar]=ملحق مرسال النوافذ مباشر
Comment[ast]=Complementu de Windows Live Messenger
Comment[bg]=Приставка за съобщения Windows Live
Comment[bs]=Priključak za Windows Live Messenger
Comment[ca]=Connector pel Windows Live Messenger
Comment[ca@valencia]=Connector pel Windows Live Messenger
Comment[cs]=Modul pro Windows Live Messenger
Comment[da]=Plugin til Windows Live Messenger
Comment[de]=Modul für Windows-Live-Messenger
Comment[el]=Πρόσθετο Windows Live Messenger
Comment[en_GB]=Windows Live Messenger plugin
Comment[es]=Complemento de Windows Live Messenger
Comment[et]=Windows Live Messengeri plugin
Comment[eu]=Windows Live Messenger plugina
Comment[fi]=Windows Live Messenger -liitännäinen
Comment[fr]=Module Windows Live Messenger
Comment[ga]=Breiseán le haghaidh Windows Live Messenger
Comment[gl]=Engadido para o Live Messenger do Windows
Comment[hne]=विंडोज लाइव मैसेंजर प्लगइन
Comment[hr]=Priključak za Windows Live Messenger
Comment[hu]=Modul a Windows Live Messengerhez
Comment[ia]=Plug-in de Windows Live Messenger
Comment[it]=Estensione per Windows Live Messenger
Comment[ja]=Windows Live メッセンジャー用プラグイン
Comment[kk]=Windows Live хабарласу плагині
Comment[km]=កម្មវិធី​ជំនួយ​​របស់​កម្មវិធីផ្ញើសារ​បន្តផ្ទាល់​របស់​វីនដូ
Comment[ko]=Windows Live Messenger 플러그인
Comment[lt]=Windows Live Messenger priedas
Comment[lv]=Windows Live Messenger spraudnis
Comment[ml]=വിന്ഡോസ് ലൈവ് ദൂതന്റെ സംയോജകം
Comment[nb]=Programtillegg for  Windows Live Messenger
Comment[nds]=Windows-Live-Kortnarichtenmakermoduul
Comment[nl]=Plugin voor Windows Live Messenger
Comment[nn]=Programtillegg til Windows Live Messenger
Comment[pa]=ਵਿੰਡੋਜ਼ ਲਾਈਵ ਮੈਂਸੇਜ਼ਰ ਪਲੱਗਇਨ
Comment[pl]=Kompatybilność z komunikatorem Windows Live Messenger
Comment[pt]='Plugin' do Windows Live Messenger
Comment[pt_BR]=Plugin do Windows Live Messenger
Comment[ro]=Modul Windows Live Messenger
Comment[ru]=Модуль Windows Live Messenger
Comment[si]=Windows Live Messenger ප්ලගිනය
Comment[sk]=Modul pre Windows Live Messenger
Comment[sl]=Vstavek za Windows Live Messenger
Comment[sq]=Windows Live Messenger plugin
Comment[sr]=Прикључак Виндоуз лајв месенџера
Comment[sr@ijekavian]=Прикључак Виндоуз лајв месенџера
Comment[sr@ijekavianlatin]=Priključak Windows Live Messengera
Comment[sr@latin]=Priključak Windows Live Messengera
Comment[sv]=Insticksprogram för Windows Live Messenger
Comment[th]=ส่วนเสริมเพื่อใช้บริการ Windows Live Messenger
Comment[tr]=Windows Live Messenger eklentisi
Comment[uk]=Додаток кур'єра Windows Live
Comment[x-test]=xxWindows Live Messenger pluginxx
Comment[zh_CN]=Windows Live Messenger 插件
Comment[zh_TW]=Windows Live Messenger 外掛程式
