[Desktop Entry]
Type=Service
Icon=wlm_protocol
X-KDE-ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_wlm
X-Kopete-Version=1000900
X-Kopete-Messaging-Protocol=messaging/wlm
X-KDE-PluginInfo-Author=Kopete Developers
X-KDE-PluginInfo-Email=kopete-devel@kde.org
X-KDE-PluginInfo-Name=kopete_wlm
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=WLM Messenger
Name[ar]=مرسال WLM
Name[da]=WLM-messenger
Name[de]=WLN Messenger
Name[eu]=WLM mezularitza
Name[fr]=Messagerie WLM
Name[hne]=डबल्यूएलएम मैसेंजर
Name[ja]=WLM メッセンジャー
Name[km]=កម្មវិធី​ផ្ញើសារ​របស់ WLM
Name[ko]=WLM 메신저
Name[lv]=WLM Ziņotājs
Name[ml]=ഡബ്ലിയുഎല്‍എം ദൂതന്‍
Name[nds]=WLM-Kortnarichtenmaker
Name[pa]=WLM ਮੈਸੈਂਜਰ
Name[pl]=Komunikator WLM
Name[pt_BR]=Windows Live Messenger
Name[ro]=Mesager WLM
Name[sr]=Виндоуз лајв месинџер
Name[sr@latin]=Windows Live Messenger
Name[uk]=Кур’єр WLM
Name[x-test]=xxWLM Messengerxx
Comment=Windows Live Messenger plugin
Comment[ar]=ملحق مرسال النوافذ مباشر
Comment[ca]=Connector pel Windows Live Messenger
Comment[cs]=Modul pro Windows Live Messenger
Comment[da]=Plugin til Windows Live Messenger
Comment[de]=Modul für Windows-Live-Messenger
Comment[el]=Πρόσθετο Windows Live Messenger
Comment[es]=Complemento de Windows Live Messenger
Comment[et]=Windows Live Messengeri plugin
Comment[eu]=Windows Live Messenger plugina
Comment[fr]=Module Windows Live Messenger
Comment[ga]=Breiseán le haghaidh Windows Live Messenger
Comment[gl]=Extensión para o Windows Live Messenger
Comment[hne]=विंडोज लाइव मैसेंजर प्लगइन
Comment[hu]=Modul a Windows Live Messengerhez
Comment[it]=Estensione Windows Live Messenger
Comment[ja]=Windows Live メッセンジャー用プラグイン
Comment[km]=កម្មវិធី​ជំនួយ​​របស់​កម្មវិធីផ្ញើសារ​បន្តផ្ទាល់​របស់​វីនដូ
Comment[ko]=Windows Live Messenger 플러그인
Comment[lv]=Windows Live Messenger spraudnis
Comment[ml]=വിന്ഡോസ് ലൈവ് ദൂതന്റെ സംയോജകം
Comment[nb]=Programtillegg for  Windows Live Messenger
Comment[nds]=Windows-Live-Kortnarichtenmakermoduul
Comment[nl]=Plugin voor Windows Live Messenger
Comment[nn]=Programtillegg til Windows Live Messenger
Comment[pa]=ਵਿੰਡੋਜ਼ ਲਾਈਵ ਮੈਂਸੇਜ਼ਰ ਪਲੱਗਇਨ
Comment[pl]=Kompatybilność z komunikatorem Windows Live Messenger
Comment[pt]='Plugin' do Windows Live Messenger
Comment[pt_BR]=Plug-in do Windows Live Messenger
Comment[ro]=Modul Windows Live Messenger
Comment[ru]=Модуль Windows Live Messenger
Comment[sl]=Vstavek za Windows Live Messenger
Comment[sr]=Прикључак Виндоуз лајв месинџера
Comment[sr@latin]=Priključak Windows Live Messengera
Comment[sv]=Insticksprogram för Windows Live Messenger
Comment[tr]=Windows Live Messenger eklentisi
Comment[uk]=Додаток кур'єра Windows Live
Comment[x-test]=xxWindows Live Messenger pluginxx
Comment[zh_CN]=Windows Live Messenger 插件
Comment[zh_TW]=Windows Live Messenger 外掛程式
