[Desktop Entry]
Type=Service
Name=Tutorial Plugin
Name[ar]=ملحق التعليمات
Name[ast]=Tutorial del complementu
Name[bg]=Учебна приставка
Name[bs]=Tutorial Dodatak
Name[ca]=Connector de la guia d'aprenentatge
Name[ca@valencia]=Connector de la guia d'aprenentatge
Name[cs]=Výukový modul
Name[da]=Gennemgangsplugin
Name[de]=Anleitungsmodul
Name[el]=Πρόσθετο εκμάθησης
Name[en_GB]=Tutorial Plugin
Name[eo]=Prilerna kromaĵo
Name[es]=Tutorial del complemento
Name[et]=Õppeplugin
Name[eu]=Pluginaren tutoretza
Name[fa]=وصله خودآموز
Name[fi]=Opasliitännäinen
Name[fr]=Module externe de tutoriel
Name[ga]=Breiseán Teagaisc
Name[gl]=Engadido de titorial
Name[hi]=शिक्षण पाठ प्लगइन
Name[hne]=सिक्छन पाठ प्लगइन
Name[hr]=Priključak za podučavanje
Name[hu]=Oktatómodul
Name[ia]=Plug-in de classe special
Name[it]=Estensione di esercitazione
Name[ja]=チュートリアルプラグイン
Name[kk]=Үйрету плагині
Name[km]=កម្មវិធី​ជំនួយ​ការ​បង្រៀន
Name[ko]=따라하기 플러그인
Name[lt]=Mokymo įskiepis
Name[lv]=Pamācības spraudnis
Name[ml]=അദ്ധ്യാ‌പന സംയോജകം
Name[nb]=Programtillegg for opplæring
Name[nds]=Inföhrenmoduul
Name[ne]=संरक्षक प्लगइन
Name[nl]=Oefenplugin
Name[nn]=Programtillegg for opplæring
Name[pa]=ਟਟੋਰੀਅਲ ਪਲੱਗਇਨ
Name[pl]=Wtyczka samouczka
Name[pt]='Plugin' de Tutorial
Name[pt_BR]=Plugin tutorial
Name[ro]=Modul Îndrumar
Name[ru]=Модуль-руководство
Name[si]=උපකාරක ප්ලගිනය
Name[sk]=Výučbový modul
Name[sl]=Vstavek vodnik
Name[sq]=Tutorial Plugin
Name[sr]=Прикључак за учење
Name[sr@ijekavian]=Прикључак за учење
Name[sr@ijekavianlatin]=Priključak za učenje
Name[sr@latin]=Priključak za učenje
Name[sv]=Handledningsinsticksprogram
Name[tr]=Öğretici Eklentisi
Name[ug]=Tutorial قىستۇرما
Name[uk]=Додаток інструкції
Name[vi]=Phần bổ sung trợ lý
Name[wa]=Tchôke-divins tutoriel
Name[x-test]=xxTutorial Pluginxx
Name[zh_CN]=教程插件
Name[zh_TW]=教學外掛程式
Comment=Demonstration plugin for teaching Kopete development
Comment[ar]=ملحق عرض تعليم تطوير Kopete
Comment[ast]=Complementu de demostración pa enseñar desendolcu de Kopete
Comment[bg]=Приставка за демонстрация развитието на Kopete
Comment[bs]=Demonstrativni dodatak za učenje Kopete razvoja
Comment[ca]=Connexió de demostració per ensenyar el desenvolupament del Kopete
Comment[ca@valencia]=Connexió de demostració per ensenyar el desenvolupament del Kopete
Comment[cs]=Demonstrační modul pro výuku vývoje pro Kopete
Comment[da]=Demonstrationsplugin til at lære Kopete-udvikling
Comment[de]=Anleitungsmodul zum Einfinden in die Kopete-Entwicklung
Comment[el]=Πρόσθετο επίδειξης για την εκμάθηση της ανάπτυξης του Kopete
Comment[en_GB]=Demonstration plugin for teaching Kopete development
Comment[eo]=Demonstrada kromaĵo por lernigi la Kopete programadon
Comment[es]=Complemento de demostración para enseñar desarrollo de Kopete
Comment[et]=Plugin Kopete arendustegevuse tutvustamiseks
Comment[eu]=Demostrazioko plugina Kopete garatzea irakasteko
Comment[fi]=Liitännäinen, joka opastaa Kopete-kehittäjiä
Comment[fr]=Module externe de démonstration pour comprendre le développement de Kopete
Comment[ga]=Breiseán taispeána a mhúineann forbairt Kopete
Comment[gl]=Engadido de demostración para aprender a desenvolver para Kopete
Comment[hi]=के-ऑपीट डेवलपमेंट शिक्षण के लिए प्रदर्शन प्लगइन
Comment[hne]=के-ओपीट डेवलपमेंट सिक्छन बर प्रदर्सन प्लगइन
Comment[hr]=Pokazni priključak za podučavanje razvoja Kopetea
Comment[hu]=Bemutatómodul a Kopete fejlesztésének kérdéseiről
Comment[ia]=Plug-in de demonstration pro inseniar disveloppamento de Kopete
Comment[it]=Estensione dimostrativa per insegnare lo sviluppo di Kopete
Comment[ja]=Kopete の開発方法を教えるデモプラグイン
Comment[kk]=Kopete жетілдіруін көрсетіп үйрету плагині
Comment[km]=កម្មវិធី​ជំនួយ​ការ​បង្ហាញ​សម្រាប់​បង្រៀន​ការ​អភិវឌ្ឍន៍ Kopete
Comment[ko]=Kopete 개발을 보여 주기 위한 예제 플러그인
Comment[lt]=Įskiepis, demonstruojantis Kopete programavimo mokymą
Comment[lv]=Demonstrācijas spraudnis Kopete izstrādes apmācībai
Comment[ml]=കോപീറ്റ് വികസനം പഠിപ്പിയ്ക്കുന്നതു് പ്രദര്‍ശിപ്പിയ്ക്കുവാനുള്ള സംയോജകം
Comment[nb]=Demonstrasjonsprogramtillegg for opplæring i Kopete-utvikling
Comment[nds]=Bispillmoduul för't Lehren, wodennig Kopete utwickelt warrt
Comment[ne]=कोपेट विकास पढाउनका लागि प्रदर्शनी प्लगइन
Comment[nl]=Demonstratieplugin voor het leren van Kopete-ontwikkeling
Comment[nn]=Programtillegg for demonstrasjon og opplæring i Kopete-utvikling
Comment[pl]=Wtyczka pokazowa do nauki programowania dla Kopete
Comment[pt]='Plugin' de demonstração para ensinar a programar no Kopete
Comment[pt_BR]=Plugin de demonstração para ensinar o desenvolvimento do Kopete
Comment[ro]=modul demonstrativ pentru predarea dezvoltării Kopete
Comment[ru]=Демонстрационный модуль для изучения программирования модулей Kopete
Comment[si]=Kopete සංවර්ධනය ඉගැන්වීම සඳහා ප්ලගිනය
Comment[sk]=Ukážkový modul pre výuku vývoja pre Kopete
Comment[sl]=Predstavitveni vstavek za učenje razvoja za Kopete
Comment[sr]=Показни прикључак за учење програмирања Копетеа
Comment[sr@ijekavian]=Показни прикључак за учење програмирања Копетеа
Comment[sr@ijekavianlatin]=Pokazni priključak za učenje programiranja Kopetea
Comment[sr@latin]=Pokazni priključak za učenje programiranja Kopetea
Comment[sv]=Demonstrationsinsticksprogram för att lära ut utveckling av Kopete
Comment[tr]=Kopete geliştirmesini öğretmek için örnek eklenti
Comment[uk]=Демонстраційний додаток для навчання розробці у Kopete
Comment[vi]=Phần bổ sung minh hoạ để dạy phát triển Kopete
Comment[x-test]=xxDemonstration plugin for teaching Kopete developmentxx
Comment[zh_CN]=Kopete 开发教学示范插件
Comment[zh_TW]=教導 Kopete 開發的示範外掛程式
Icon=tutorial_plugin
X-KDE-ServiceTypes=Kopete/Plugin
X-Kopete-Version=1000900
X-KDE-Library=kopete_tutorialplugin
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=wstephenson@kde.org
X-KDE-PluginInfo-Name=kopete_tutorialplugin
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Category[ca]=Connectors
X-KDE-PluginInfo-Category[cs]=Moduly
X-KDE-PluginInfo-Category[de]=Module
X-KDE-PluginInfo-Category[el]=Πρόσθετα
X-KDE-PluginInfo-Category[es]=Complementos
X-KDE-PluginInfo-Category[et]=Pluginad
X-KDE-PluginInfo-Category[fi]=Liitännäiset
X-KDE-PluginInfo-Category[fr]=Modules
X-KDE-PluginInfo-Category[ga]=Breiseáin
X-KDE-PluginInfo-Category[gl]=Extensións
X-KDE-PluginInfo-Category[is]=Íforrit
X-KDE-PluginInfo-Category[it]=Estensioni
X-KDE-PluginInfo-Category[ja]=プラグイン
X-KDE-PluginInfo-Category[km]=កម្មវិធី​ជំនួយ
X-KDE-PluginInfo-Category[nds]=Modulen
X-KDE-PluginInfo-Category[pl]=Wtyczki
X-KDE-PluginInfo-Category[pt]='Plugins'
X-KDE-PluginInfo-Category[pt_BR]='Plugins'
X-KDE-PluginInfo-Category[sv]=Insticksprogram
X-KDE-PluginInfo-Category[x-test]=xxPluginsxx
X-KDE-PluginInfo-Category[zh_CN]=插件
X-KDE-PluginInfo-Category[zh_TW]=外掛程式
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false


