[Desktop Entry]
Icon=network-workgroup
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_accountconfig
X-KDE-FactoryName=kcm_kopete_accountconfig
X-KDE-ParentApp=kopete
X-KDE-ParentComponents=kopete
X-KDE-Weight=10

Name=Accounts
Comment=Manage Your Accounts and Identities
X-DocPath=kopete/configure-dialog.html#configuring-accounts


