[Desktop Entry]
Encoding=UTF-8
Icon=personal
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_accountconfig
X-KDE-FactoryName=KopeteAccountConfigFactory
X-KDE-ParentApp=kopete
X-KDE-ParentComponents=kopete

Name=Accounts
Name[da]=Konti
Name[es]=Cuentas
Comment=Manage all yours accounts:
Comment[da]=Håndterer alle dine konti:
Comment[es]=Gestiona todas sus cuentas


