[Desktop Entry]
Icon=network-workgroup
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_accountconfig
X-KDE-FactoryName=kcm_kopete_accountconfig
X-KDE-ParentApp=kopete
X-KDE-ParentComponents=kopete
X-KDE-Weight=10

Name=Accounts
Name[ar]=حسابات
Name[ast]=Cuentes
Name[bg]=Сметки
Name[bn]=অ্যাকাউন্ট
Name[br]=Kontoù
Name[bs]=Nalozi
Name[ca]=Comptes
Name[ca@valencia]=Comptes
Name[cs]=Účty
Name[cy]=Cyfrifon
Name[da]=Konti
Name[de]=Zugänge
Name[el]=Λογαριασμοί
Name[en_GB]=Accounts
Name[eo]=Kontoj
Name[es]=Cuentas
Name[et]=Kontod
Name[eu]=Kontuak
Name[fa]=حسابها
Name[fi]=Tilit
Name[fr]=Comptes
Name[ga]=Cuntais
Name[gl]=Contas
Name[he]=חשבונות
Name[hi]=खाते
Name[hne]=खाते
Name[hr]=Korisnički računi
Name[hu]=Azonosítók
Name[ia]=Contos
Name[is]=Notandanöfn
Name[it]=Account
Name[ja]=アカウント
Name[kk]=Тіркелгілер
Name[km]=គណនី
Name[ko]=계정
Name[lt]=Paskyros
Name[lv]=Konti
Name[mai]=खाता
Name[mk]=Сметки
Name[ml]=എക്കൌണ്ടുകള്‍
Name[nb]=Kontoer
Name[nds]=Kontos
Name[ne]=खाता
Name[nl]=Accounts
Name[nn]=Kontoar
Name[oc]=Comptes
Name[pa]=ਅਕਾਊਂਟ
Name[pl]=Konta
Name[pt]=Contas
Name[pt_BR]=Contas
Name[ro]=Conturi
Name[ru]=Учётные записи
Name[se]=Kontut
Name[si]=ගිණුම්
Name[sk]=Účty
Name[sl]=Računi
Name[sq]=Llogaritë
Name[sr]=Налози
Name[sr@ijekavian]=Налози
Name[sr@ijekavianlatin]=Nalozi
Name[sr@latin]=Nalozi
Name[sv]=Konton
Name[ta]=கணக்குகள்
Name[tg]=Ҳисоботҳо
Name[th]=บัญชีผู้ใช้ต่าง ๆ
Name[tr]=Hesaplar
Name[ug]=ھېساباتلار
Name[uk]=Облікові записи
Name[uz]=Hisoblar
Name[uz@cyrillic]=Ҳисоблар
Name[vi]=Tài khoản
Name[wa]=Contes
Name[x-test]=xxAccountsxx
Name[zh_CN]=账户
Name[zh_HK]=帳號
Name[zh_TW]=帳號
Comment=Manage Your Accounts and Identities
Comment[ar]=أدِر حساباتك وعضوياتك
Comment[ast]=Xestionar les tos cuentes ya identidaes
Comment[bg]=Управление на сметки и самоличности
Comment[bs]=Uredi svoj račun i identitet
Comment[ca]=Gestioneu els vostres comptes i identitats
Comment[ca@valencia]=Gestioneu els vostres comptes i identitats
Comment[cs]=Správa účtů a identit
Comment[da]=Håndtér dine konti og identiteter
Comment[de]=Hier können Sie Ihre Zugänge und Identitäten verwalten
Comment[el]=Διαχείριση των λογαριασμών και των ταυτοτήτων σας
Comment[en_GB]=Manage Your Accounts and Identities
Comment[eo]=Administri viajn kontojn kaj identaĵojn
Comment[es]=Gestionar sus cuentas e identidades
Comment[et]=Oma kontode ja identiteetide haldamine
Comment[eu]=Kudeatu zure kontu eta identitateak
Comment[fi]=Hallitse tilejä ja henkilöyksiä
Comment[fr]=Gérer vos comptes et identités
Comment[ga]=Bainistigh Do Chuid Cuntas agus Aitheantas
Comment[gl]=Xestione as súas identidades e contas
Comment[hne]=अपन खाता अउ पहिचान के प्रबंधन करव
Comment[hr]=Upravljanje vašim računima i identitetima
Comment[hu]=Itt lehet kezelni az azonosítókat és identitásokat
Comment[ia]=Gere tu contos e identitates
Comment[it]=Gestisci gli account e le identità
Comment[ja]=アカウントと分身の管理
Comment[kk]=Тіркелгілер мен іс-әлпеттеріңізді басқару
Comment[km]=គ្រប់គ្រង​គណនី និង​អត្តសញ្ញាណ​របស់​អ្នក
Comment[ko]=계정과 정체성을 관리합니다
Comment[lt]=Tvarkyti visas savo paskyras
Comment[lv]=Pārvaldīt kontus un identitātes
Comment[ml]=നിങ്ങളുടെ വ്യക്തിത്വവും എക്കൌണ്ടുകളും കൈകാര്യം ചെയ്യുക
Comment[nb]=Rediger kontoene og identitetene dine
Comment[nds]=Dien Kontos un Identiteten plegen
Comment[nl]=Beheer uw accounts en identiteiten
Comment[nn]=Handter kontoane og identitetane dine
Comment[pa]=ਆਪਣੇ ਅਕਾਊਂਟ ਅਤੇ ਪਛਾਣ ਦਾ ਪਰਬੰਧ ਕਰੋ
Comment[pl]=Zarządzanie kontami i tożsamościami
Comment[pt]=Gerir as Suas Contas e Identidades
Comment[pt_BR]=Gerencia as suas contas e identidades
Comment[ro]=Gestionați conturile și identitățile
Comment[ru]=Управление учётными записями и профилями
Comment[si]=ඔබේ ගිණුම් හා අනන්‍යතාවත් පාලනය කරන්න
Comment[sk]=Správa účtov a identít
Comment[sl]=Upravljanje z računi in istovetnostmi
Comment[sr]=Управљајте својим налозима и идентитетима
Comment[sr@ijekavian]=Управљајте својим налозима и идентитетима
Comment[sr@ijekavianlatin]=Upravljajte svojim nalozima i identitetima
Comment[sr@latin]=Upravljajte svojim nalozima i identitetima
Comment[sv]=Hantera dina konton och identiteter
Comment[th]=จัดการบัญชีผู้ใช้และการแสดงตัวต่าง ๆ ของคุณ
Comment[tr]=Kimliklerinizi ve Hesaplarınızı Yönetin
Comment[ug]=ھېسابات ۋە كىملىكلىرىڭىزنى باشقۇرىدۇ
Comment[uk]=Керування вашими обліковими записами та профілями
Comment[wa]=Manaedjî vos contes et idintités
Comment[x-test]=xxManage Your Accounts and Identitiesxx
Comment[zh_CN]=管理您的账户和身份
Comment[zh_TW]=管理您的帳號與身份
X-DocPath=kopete/configure-dialog.html#configuring-accounts


