[Desktop Entry]
Encoding=UTF-8
Icon=thumbnail-show
Type=Service
ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_appearanceconfig
X-KDE-FactoryName=kcm_kopete_appearanceconfig
X-KDE-ParentApp=kopete
X-KDE-ParentComponents=kopete

Name=Contact List
Name[bg]=Външен вид
Name[br]=Neuziadur
Name[ca]=Aparença
Name[cs]=Vzhled
Name[cy]=Golwg
Name[da]=Udseende
Name[de]=Erscheinungsbild
Name[el]=Εμφάνιση
Name[es]=Apariencia
Name[et]=Välimus
Name[eu]=Itxura
Name[fa]=ظاهر
Name[fi]=Ulkonäkö
Name[fr]=Apparence
Name[ga]=Cuma
Name[gl]=Aparencia
Name[he]=מראה
Name[hr]=Izgled
Name[hu]=Megjelenés
Name[is]=Útlit
Name[it]=Aspetto
Name[ja]=外観
Name[kk]=Сыртқы көрінісі
Name[km]=រូបរាង
Name[ko]=모양
Name[lt]=Išvaizda
Name[mk]=Изглед
Name[nb]=Utseende
Name[nds]=Utsehn
Name[ne]=देखावट
Name[nl]=Uiterlijk
Name[nn]=Utsjånad
Name[pa]=ਦਿੱਖ
Name[pl]=Wygląd
Name[pt]=Aparência
Name[pt_BR]=Aparência
Name[ro]=Aspect
Name[ru]=Внешний вид
Name[se]=Fárda
Name[sl]=Videz
Name[sr]=Изглед
Name[sr@latin]=Izgled
Name[sv]=Utseende
Name[tg]=Намуди зоҳирӣ
Name[tr]=Görünüm
Name[uk]=Вигляд
Name[uz]=Кўриниши
Name[vi]=Diện mạo
Name[wa]=Rivnance
Name[x-test]=xxAppearancexx
Name[zh_CN]=外观
Name[zh_HK]=外觀
Name[zh_TW]=外觀
Comment=Configure Contact List Look and Feel
Comment[bg]=Настройване външния вид на програмата
Comment[ca]=Modifiqueu l'aparença i comportament del Kopete
Comment[de]=Hier können Sie Kopetes Erscheinungsbild anpassen
Comment[el]=Τροποποίηση όψης και αίσθησης του Kopete
Comment[es]=Cambie el aspecto de Kopete
Comment[fa]=تغییر ظاهر و احساس Kopete
Comment[gl]=Aquí pode modificar o aspeito e comportamento de Kopete
Comment[ja]=Kopete の外観をカスタマイズ
Comment[ko]=Kopete의 모습을 변경합니다
Comment[ne]=कोपेटको मोहडा परिवर्तन गर्नुहोस् र महशुस गर्नुहोस्
Comment[nl]=Wijzig het uiterlijk en gedrag van Kopete
Comment[pt]=Alterar a Aparência e Comportamento do Kopete
Comment[pt_BR]=Alterar a Aparência e Comportamento do Kopete
Comment[sv]=Ändra Kopetes utseende och känsla
Comment[uk]=Зміна вигляду і поведінки Kopete
Comment[vi]=Thay đổi diện mạo của Kopete
Comment[x-test]=xxChange Kopete Look And Feelxx
Comment[zh_CN]=您可在此更改 Kopete 的观感
Comment[zh_TW]=改變 Kopete 的外觀與感覺
DocPath=kopete/configure-dialog.html#configuring-appearance


