[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kopete/Protocol
X-KDE-Derived=Kopete/Plugin
Comment=Kopete Protocol Plugin
Comment[ar]=توصيلة بروتوكول KDE
Comment[be]=Пратакол Kopete
Comment[bg]=Приставка за протоколите на Kopete
Comment[bn]=কপেট প্রোটোকল প্লাগিন
Comment[br]=Lugent komenad Kopete
Comment[bs]=Kopete dodatak za protokol
Comment[ca]=Connector de protocol per a Kopete
Comment[cs]=Modul protokolu aplikace Kopete
Comment[cy]=Ategyn Protocol Kopete
Comment[da]=Kopete-protokol-plugin
Comment[de]=Kopete Protokoll-Modul
Comment[el]=Πρόσθετο πρωτοκόλλου Kopete
Comment[eo]=Kopete-Protokolkromaĵo
Comment[es]=Complemento de protocolo de Kopete
Comment[et]=Kopete protokolliplugin
Comment[eu]=Kopete protocolo plugin-a
Comment[fa]=وصلۀ قرارداد Kopete
Comment[fi]=Kopeten yhteyskäytäntöliitännäinen
Comment[fr]=Module de protocole pour Kopete
Comment[ga]=Breiseán Phrótacal Kopete
Comment[gl]=Plugin de protocolo para Kopete
Comment[he]=תוסף פרוטוקול של Kopete
Comment[hi]=के-ऑप्टी प्रोटोकॉल प्लगइन
Comment[hr]=Umetak za Kopete protokol
Comment[hu]=Kopete protokollkezelő bővítőmodul
Comment[is]=Íforrit fyrir Kopete samskiptamátann
Comment[it]=Plugin del protocollo di Kopete
Comment[ja]=Kopete プロトコルプラグイン
Comment[ka]=Kopete ოქმის მოდული
Comment[kk]=Kopete протоколының плагин модулі
Comment[km]=កម្មវិធី​ជំនួយ​ពិធីការ Kopete
Comment[lt]=Kopete protokolo įskiepis
Comment[mk]=Приклучок за протокол во Kopete 
Comment[nb]=Programtillegg for Kopete-protokoll
Comment[nds]=Kopete-Protokollmoduul
Comment[ne]=कोपेट प्रोटोकल प्लगइन
Comment[nl]=Kopete protocol-plugin
Comment[nn]=Kopete-programtillegg for protokoll
Comment[pl]=Wtyczka protokołu Kopete
Comment[pt]='Plugin' de Protocolo do Kopete
Comment[pt_BR]=Plugin do Protocolo do Kopete
Comment[ro]=Modul de protocol Kopete
Comment[ru]=Модуль протокола Kopete
Comment[se]=Kopete protokollalassemoduvla
Comment[sk]=Modul protokolu Kopete
Comment[sl]=Vstavek za protokol za Kopete
Comment[sr]=Kopete-ов прикључак за протокол
Comment[sr@Latn]=Kopete-ov priključak za protokol
Comment[sv]=Protokollinsticksprogram för Kopete
Comment[ta]=Kopete விதிமுறை செருகல்
Comment[tg]=Модули Қарордоди Kopete 
Comment[tr]=Kopete İletişim Kuralı Eklentisi
Comment[uk]=Втулок протоколу для Kopete
Comment[wa]=Tchôke-divins di protocole po Kopete
Comment[zh_CN]=Kopete 协议插件
Comment[zh_HK]=Kopete 通訊協定插件
Comment[zh_TW]=Kopete 協定外掛程式

[PropertyDef::X-Kopete-Messaging-Protocol]
Type=QString

