[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kopete/Protocol
X-KDE-Derived=Kopete/Plugin
Comment=Kopete Protocol Plugin

[PropertyDef::X-Kopete-Messaging-Protocol]
Type=QString

