[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kopete/Plugin
X-KDE-Derived=KPluginInfo
Comment=Kopete Plugin
Comment[ar]=توصيلة Kopete
Comment[be]=Модуль Kopete
Comment[bg]=Приставки на Kopete
Comment[bn]=কপেট প্লাগিন
Comment[br]=Lugent Kopete
Comment[bs]=Kopete dodatak
Comment[ca]=Connector de Kopete
Comment[cs]=Modul aplikace Kopete
Comment[cy]=Ategyn Kopete
Comment[da]=Kopete-plugin
Comment[de]=Kopete-Modul
Comment[el]=Πρόσθετο Kopete
Comment[eo]=Kopete-kromaĵo
Comment[es]=Complemento de Kopete
Comment[et]=Kopete plugin
Comment[eu]=Kopete plugin-a
Comment[fa]=Kopete وصلۀ
Comment[fi]=Kopete-liitännäinen
Comment[fr]=Module de Kopete
Comment[ga]=Breiseán Kopete
Comment[gl]=Plugin de Kopete
Comment[he]=תוסף Kopete
Comment[hi]=के-ऑप्टी प्लगइन
Comment[hr]=Umetak za Kopete
Comment[hu]=Kopete bővítőmodul
Comment[is]=Kopete íforrit
Comment[it]=Plugin di Kopete
Comment[ja]=Kopete プラグイン
Comment[ka]=Kopeteს მოდული
Comment[kk]=Kopete плагин модулі
Comment[km]=កម្មវិធី​ជំនួយ Kopete
Comment[lt]=Kopete įskiepis
Comment[mk]=Приклучок за Kopete
Comment[nb]=Programtillegg for Kopete
Comment[nds]=Kopete-Moduul
Comment[ne]=कोपेट प्लगइन
Comment[nl]=Kopete-plugin
Comment[nn]=Kopete-programtillegg
Comment[pl]=Wtyczka Kopete
Comment[pt]='Plugin' do Kopete
Comment[pt_BR]=Plug-in do Kopete
Comment[ro]=Modul Kopete
Comment[ru]=Модуль Kopete
Comment[se]=Kopete lassemoduvla
Comment[sk]=Modul Kopete
Comment[sl]=Vstavek za Kopete
Comment[sr]=Прикључак за Kopete
Comment[sr@Latn]=Priključak za Kopete
Comment[sv]=Insticksprogram för Kopete
Comment[ta]=Kopete செருகல்
Comment[tg]=Модули Kopete 
Comment[tr]=Kopete Eklentisi
Comment[uk]=Втулок Kopete
Comment[uz]=Kopete plagini
Comment[uz@cyrillic]=Kopete плагини
Comment[wa]=Tchôke-divins po Kopete
Comment[zh_CN]=Kopete 插件
Comment[zh_HK]=Kopete 插件
Comment[zh_TW]=Kopete 外掛程式

# The Kopete version for which the plugin is written
[PropertyDef::X-Kopete-Version]
Type=int

