[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kopete/UI
X-KDE-Derived=Kopete/Plugin
Comment=A Kopete UI Plugin
Comment[ar]=توصيلة واجهة استخدام Kopete
Comment[be]=Модуль інтэрфэйсу Kopete
Comment[bg]=Приставка за графичния интерфейс на Kopete
Comment[bn]=একটি কপেট ইউ-আই প্লাগিন
Comment[bs]=Kopete dodatak za UI
Comment[ca]=Un connector de IU per a Kopete
Comment[cs]=Modul rozhraní aplikace Kopete
Comment[cy]=Ategyn UI Kopete
Comment[da]=En Kopete UI-plugin
Comment[de]=Ein Kopete Benutzeroberflächenmodul
Comment[el]=Ένα πρόσθετο γραφικού περιβάλλοντος του Kopete
Comment[es]=Complemento de UI de Kopete
Comment[et]=Kopete kasutajaliidese plugin
Comment[eu]=Kopete UI plugin bat
Comment[fa]=یک وصلۀ شناسۀ کاربر Kopete
Comment[fi]=Kopeten käyttöliittymäliitännäinen
Comment[fr]=Un module d'interface utilisateur pour Kopete
Comment[ga]=Breiseán Chomhéadan Úsáideora Kopete
Comment[gl]=Un protocolo de interfaz gráfica para Kopete
Comment[he]=תוסף ממשק משתמש של Kopete
Comment[hi]=एक के-ऑप्टी यूआई प्लगइन
Comment[hr]=Umetak za Kopeteovo korisničko sučelje
Comment[hu]=Kopete bővítőmodul a grafikus felülethez
Comment[is]=Viðmótsíforrit fyrir Kopete
Comment[it]=Plugin per UI di Kopete
Comment[ja]=Kopete UI プラグイン
Comment[ka]=Kopete UI მოდული
Comment[kk]=Kopete интерфейсінің плагин модулі
Comment[km]=កម្មវិធី​ជំនួយ​ចំណុច​ប្រទាក់​ក្រាហ្វិក​របស់ Kopete
Comment[lt]=Kopete sąsajos įskiepis
Comment[mk]=UI-приклучок за Kopete
Comment[nb]=Et programtillegg for Kopete brukergrensesnitt
Comment[nds]=Kopete-Böversietmoduul
Comment[ne]=कोपेट यू आई प्लगइन
Comment[nl]=Een Kopete gebruikersinterface-plugin
Comment[nn]=Kopete-programtillegg for brukargrensesnitt
Comment[pl]=Wtyczka interfejsu użytkownika Kopete
Comment[pt]=Um 'Plugin' de Interface do Kopete
Comment[pt_BR]=Um plug-in de UI do Kopete
Comment[ro]=Un modul interfaţă grafică Kopete
Comment[ru]=Модуль интерфейса пользователя Kopete
Comment[se]=Kopete geavaheaddjelaktalassemoduvla
Comment[sk]=Modul rozhrania Kopete
Comment[sl]=Vstavek za uporabniški vmesnik za Kopete
Comment[sr]=Прикључак за Kopete-ов кориснички интерфејс
Comment[sr@Latn]=Priključak za Kopete-ov korisnički interfejs
Comment[sv]=Gränssnittsinsticksprogram för Kopete
Comment[ta]=ஒரு Kopete UI செருகல்
Comment[tg]=Модули Интерфейси Корвандии Kopete
Comment[tr]=Bir Kopete UI Eklentisi
Comment[uk]=Втулок інтерфейсу для Kopete
Comment[wa]=On tchôke-divins d' eterface grafike po Kopete
Comment[zh_CN]=Kopete 界面插件
Comment[zh_HK]=Kopete 用戶界面插件
Comment[zh_TW]=Kopete 使用者介面外掛程式
