[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kopete/Plugin
X-KDE-Derived=KPluginInfo
Comment=Kopete Plugin
Comment[ar]=Kopete ملحق
Comment[ast]=Complementu de Kopete
Comment[bg]=Приставки на Kopete
Comment[bn]=কপেট প্লাগিন
Comment[br]=Lugent Kopete
Comment[bs]=Kopete Dodatak
Comment[ca]=Connector del Kopete
Comment[ca@valencia]=Connector del Kopete
Comment[cs]=Modul aplikace Kopete
Comment[cy]=Ategyn Kopete
Comment[da]=Kopete-plugin
Comment[de]=Kopete-Modul
Comment[el]=Πρόσθετο Kopete
Comment[en_GB]=Kopete Plugin
Comment[eo]=Kopete-kromaĵo
Comment[es]=Complemento de Kopete
Comment[et]=Kopete plugin
Comment[eu]=Kopete-ren plugina
Comment[fa]=Kopete وصله
Comment[fi]=Kopete-liitännäinen
Comment[fr]=Module de Kopete
Comment[ga]=Breiseán Kopete
Comment[gl]=Engadido de Kopete
Comment[he]=תוסף Kopete
Comment[hi]=के-ऑप्टी प्लगइन
Comment[hne]=के-ओप्टी प्लगइन
Comment[hr]=Umetak za Kopete
Comment[hu]=Kopete-modul
Comment[ia]=Plug-in de Kopete
Comment[is]=Kopete íforrit
Comment[it]=Estensione di Kopete
Comment[ja]=Kopete プラグイン
Comment[kk]=Kopete плагині
Comment[km]=កម្មវិធី​ជំនួយ Kopete
Comment[ko]=Kopete 플러그인
Comment[lt]=Kopete įskiepis
Comment[lv]=Kopete spraudnis
Comment[mk]=Приклучок за Kopete
Comment[ml]=കോപീറ്റ് സംയോജകം
Comment[nb]=Programtillegg for Kopete
Comment[nds]=Kopete-Moduul
Comment[ne]=कोपेट प्लगइन
Comment[nl]=Kopete-plugin
Comment[nn]=Kopete-tillegg
Comment[pa]=ਕੋਪੀਟੀ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Kopete
Comment[pt]='Plugin' do Kopete
Comment[pt_BR]=Plugin do Kopete
Comment[ro]=Modul Kopete
Comment[ru]=Модуль Kopete
Comment[se]=Kopete lassemoduvla
Comment[si]=Kopete ප්ලගිනය
Comment[sk]=Modul Kopete
Comment[sl]=Vstavek za Kopete
Comment[sq]=Kopete Plugin
Comment[sr]=Прикључак Копетеа
Comment[sr@ijekavian]=Прикључак Копетеа
Comment[sr@ijekavianlatin]=Priključak Kopetea
Comment[sr@latin]=Priključak Kopetea
Comment[sv]=Insticksprogram för Kopete
Comment[ta]=Kopete செருகல்
Comment[tg]=Модули Kopete 
Comment[th]=ส่วนเสริมของ Kopete
Comment[tr]=Kopete Eklentisi
Comment[ug]=Kopete قىستۇرما
Comment[uk]=Додаток до Kopete
Comment[uz]=Kopete plagini
Comment[uz@cyrillic]=Kopete плагини
Comment[vi]=Phần bổ sung Kopete
Comment[wa]=Tchôke-divins po Kopete
Comment[x-test]=xxKopete Pluginxx
Comment[zh_CN]=Kopete 插件
Comment[zh_HK]=Kopete 插件
Comment[zh_TW]=Kopete 外掛程式

# The Kopete version for which the plugin is written
[PropertyDef::X-Kopete-Version]
Type=int

