[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Kopete/Plugin
X-KDE-Derived=KPluginInfo
Comment=Kopete Plugin
Comment[ca]=Connector de Kopete
Comment[da]=Kopete-plugin
Comment[sr]=Додатак за Kopete

