[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Kopete/UI
X-KDE-Derived=Kopete/Plugin
Comment=A Kopete UI Plugin
Comment[ar]=توصيلة واجهة استخدام Kopete
Comment[bg]=Приставка за графичния интерфейс на Kopete
Comment[bs]=Kopete dodatak za UI
Comment[ca]=Un connector de IU per a Kopete
Comment[cs]=Modul rozhraní aplikace Kopete
Comment[cy]=Ategyn UI Kopete
Comment[da]=En Kopete UI-plugin
Comment[de]=Ein Kopete Benutzeroberflächenmodul
Comment[el]=Ένα πρόσθετο UI του Kopete
Comment[es]=Plugin de UI de Kopete
Comment[et]=Kopete kasutajaliidese plugin
Comment[eu]=Kopete UI plugin bat
Comment[fi]=Kopeten käyttöliittymäliitännäinen
Comment[fr]=Un module d'interface utilisateur pour Kopete
Comment[ga]=Breiseán Chomhéadan Úsáideora Kopete
Comment[gl]=Un protocolo de interfaz gráfica para Kopete
Comment[he]=תוסף ממשק משתמש של Kopete
Comment[hi]=एक के-ऑप्टी यूआई प्लगइन
Comment[hr]=Umetak za Kopeteovo korisničko sučelje
Comment[hu]=Kopete bővítőmodul a grafikus felülethez
Comment[is]=Viðmótsíforrit fyrir Kopete
Comment[it]=Plugin per UI di Kopete
Comment[ja]=Kopete UIプラグイン
Comment[mk]=UI-приклучок за Kopete
Comment[nb]=Et programtillegg for Kopete brukergrensesnitt
Comment[nl]=Een Kopete gebruikersinterface-plugin
Comment[nn]=Kopete-programtillegg for brukargrensesnitt
Comment[pl]=Wtyczka interfejsu użytkownika Kopete
Comment[pt]=Um 'Plugin' de Interface do Kopete
Comment[pt_BR]=Um plug-in de UI do Kopete
Comment[ru]=Модуль интерфейса пользователя Kopete
Comment[se]=Kopete geavaheaddjelaktalassemoduvla
Comment[sk]=Modul rozhrania Kopete
Comment[sl]=Vstavek za uporabniški vmesnik za Kopete
Comment[sr]=Прикључак за Kopete-ов кориснички интерфејс
Comment[sr@Latn]=Dodatak za Kopete-ov korisnički interfejs
Comment[sv]=Gränssnittsinsticksprogram för Kopete
Comment[ta]=ஒரு Kopete UI செருகல்
Comment[tg]=Модули Интерфейси Корвандии Kopete
Comment[tr]=Bir Kopete UI Eklentisi
Comment[uk]=Втулок інтерфейсу для Kopete
Comment[wa]=On tchôke-divins d' eterface grafike po Kopete
Comment[xx]=xxA Kopete UI Pluginxx
Comment[zh_CN]=Kopete 界面插件
