[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kopete/UI
X-KDE-Derived=Kopete/Plugin
Comment=A Kopete UI Plugin
Comment[ar]=Kopete ملحق واجهة المستخدم
Comment[ast]=Complementu d'UI de Kopete
Comment[bg]=Приставка за графичния интерфейс на Kopete
Comment[bn]=একটি কপেট ইউ-আই প্লাগিন
Comment[bs]=Kopete UI Dodatak
Comment[ca]=Un connector d'IU per al Kopete
Comment[ca@valencia]=Un connector d'IU per al Kopete
Comment[cs]=Modul rozhraní aplikace Kopete
Comment[cy]=Ategyn UI Kopete
Comment[da]=En Kopete UI-plugin
Comment[de]=Ein Kopete-Benutzeroberflächenmodul
Comment[el]=Ένα πρόσθετο γραφικού περιβάλλοντος του Kopete
Comment[en_GB]=A Kopete UI Plugin
Comment[eo]=Kopete UI kromaĵo
Comment[es]=Complemento de UI de Kopete
Comment[et]=Kopete kasutajaliidese plugin
Comment[eu]=Kopete interfazearen plugin bat
Comment[fa]=یک وصله شناسه کاربر Kopete
Comment[fi]=Kopeten käyttöliittymäliitännäinen
Comment[fr]=Un module d'interface utilisateur pour Kopete
Comment[ga]=Breiseán Chomhéadan Úsáideora Kopete
Comment[gl]=Un engadido da interface de usuario para Kopete
Comment[he]=תוסף ממשק משתמש של Kopete
Comment[hi]=एक के-ऑप्टी यूआई प्लगइन
Comment[hne]=एक के-ओप्टी यूआई प्लगइन
Comment[hr]=Umetak za Kopeteovo korisničko sučelje
Comment[hu]=Kopete-modul a grafikus felülethez
Comment[ia]=Un Plug-in de UI de Kopete
Comment[is]=Viðmótsíforrit fyrir Kopete
Comment[it]=Estensione di interfaccia grafica di Kopete
Comment[ja]=Kopete UI プラグイン
Comment[kk]=Kopete интерфейсінің плагині
Comment[km]=កម្មវិធី​ជំនួយ​ចំណុច​ប្រទាក់​អ្នក​ប្រើ​របស់ Kopete
Comment[ko]=Kopete UI 플러그인
Comment[lt]=Kopete sąsajos įskiepis
Comment[lv]=Kopete saskarnes spraudnis
Comment[mk]=UI-приклучок за Kopete
Comment[ml]=ഒരു കോപീറ്റ് യുഐ സംയോജകം
Comment[nb]=Et programtillegg for Kopete brukergrensesnitt
Comment[nds]=Kopete-Böversietmoduul
Comment[ne]=कोपेट यूआई प्लगइन
Comment[nl]=Een Kopete gebruikersinterface-plugin
Comment[nn]=Kopete-programtillegg for brukargrensesnitt
Comment[pa]=ਇੱਕ ਕੋਪੀਟੀ UI ਪਲੱਗਇਨ
Comment[pl]=Wtyczka interfejsu użytkownika Kopete
Comment[pt]=Um 'Plugin' de Interface do Kopete
Comment[pt_BR]=Um plugin de interface gráfica do Kopete
Comment[ro]=Un modul de interfață Kopete
Comment[ru]=Модуль интерфейса пользователя Kopete
Comment[se]=Kopete geavaheaddjelaktalassemoduvla
Comment[si]=Kopete UI ප්ලගිනයක්
Comment[sk]=Modul rozhrania Kopete
Comment[sl]=Vstavek za uporabniški vmesnik za Kopete
Comment[sr]=Копетеов прикључак за корисничко сучеље
Comment[sr@ijekavian]=Копетеов прикључак за корисничко сучеље
Comment[sr@ijekavianlatin]=Kopeteov priključak za korisničko sučelje
Comment[sr@latin]=Kopeteov priključak za korisničko sučelje
Comment[sv]=Gränssnittsinsticksprogram för Kopete
Comment[ta]=ஒரு Kopete UI செருகல்
Comment[tg]=Модули Интерфейси Корвандии Kopete
Comment[th]=ส่วนเสริมของ Kopete สำหรับใช้งานส่วนติดต่อผู้ใช้
Comment[tr]=Bir Kopete UI Eklentisi
Comment[uk]=Додаток інтерфейсу для Kopete
Comment[vi]=Phần bổ sung giao diện người dùng Kopete
Comment[wa]=On tchôke-divins d' eterface grafike po Kopete
Comment[x-test]=xxA Kopete UI Pluginxx
Comment[zh_CN]=Kopete 界面插件
Comment[zh_HK]=Kopete 用戶界面插件
Comment[zh_TW]=Kopete 使用者介面外掛程式
