[Desktop Entry]
Encoding=UTF-8
Icon=gear
Type=Service
ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_pluginconfig
X-KDE-FactoryName=kcm_kopete_pluginconfig
X-KDE-ParentApp=kopete
X-KDE-ParentComponents=kopete
X-KDE-Weight=200

Name=Plugins
Name[bg]=Приставки
Name[br]=Lugantoù
Name[ca]=Connectors
Name[de]=Module
Name[el]=Πρόσθετα
Name[es]=Complementos
Name[fa]=وصله‌ها
Name[ga]=Breiseáin
Name[gl]=Extensións
Name[ja]=プラグイン
Name[ko]=플러그인
Name[nb]=Programtillegg
Name[nds]=Modulen
Name[ne]=प्लगइन
Name[oc]=Ajustons
Name[pt]='Plugins'
Name[pt_BR]='Plugins'
Name[sv]=Insticksprogram
Name[uk]=Втулки
Name[vi]=Phần bổ sung
Name[x-test]=xxPluginsxx
Name[zh_CN]=插件
Name[zh_TW]=外掛程式
Comment=Select and Configure Plugins
Comment[ca]=Selecciona i configura els connectors
Comment[ga]=Roghnaigh agus Cumraigh Breiseáin
Comment[ja]=プラグインの選択と設定
Comment[nds]=Modulen utsöken un instellen
Comment[pt]=Seleccionar e Configurar os 'Plugins'
Comment[pt_BR]=Seleccionar e Configurar os 'Plugins'
Comment[sv]=Välj och anpassa insticksprogram
Comment[x-test]=xxSelect and Configure Pluginsxx
Comment[zh_TW]=選擇與設定外掛程式
