[Desktop Entry]
Encoding=UTF-8
Icon=gear
Type=Service
ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_pluginconfig
X-KDE-FactoryName=kcm_kopete_pluginconfig
X-KDE-ParentApp=kopete
X-KDE-ParentComponents=kopete

Name=Plugins
Name[bg]=Приставки
Name[de]=Module
Name[el]=Πρόσθετα
Name[es]=Complementos
Name[fa]=وصله‌ها
Name[ga]=Breiseáin
Name[ja]=プラグイン
Name[pt]='Plugins'
Name[pt_BR]='Plugins'
Name[sv]=Insticksprogram
Name[uk]=Втулки
Name[vi]=Phần bổ sung
Name[x-test]=xxPluginsxx
Name[zh_TW]=外掛程式
Comment=Configure Plugins
Comment[bg]=Настройване на приставките
Comment[de]=Module einrichten
Comment[el]=Ρύθμιση προσθέτων
Comment[fa]=پیکربندی وصله‌ها
Comment[ga]=Cumraigh Breiseáin
Comment[ja]=プラグインの設定
Comment[nl]=Plugins instellen
Comment[pt]=Configurar os 'Plugins'
Comment[pt_BR]=Configurar os 'Plugins'
Comment[sv]=Anpassa insticksprogram
Comment[uk]=Налаштувати втулки
Comment[vi]=Cấu hình phần bổ sung
Comment[x-test]=xxConfigure Pluginsxx
Comment[zh_TW]=設定外掛程式
