[Desktop Entry]
Icon=configure
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_behaviorconfig
X-KDE-FactoryName=KopeteBehaviorConfigFactory
X-KDE-ParentApp=kopete
X-KDE-ParentComponents=kopete

Name=Behavior
Name[ar]=السلوك
Name[be]=Паводзіны
Name[bg]=Поведение
Name[bn]=আচরণ
Name[br]=Emzalc'h
Name[bs]=Ponašanje
Name[ca]=Comportament
Name[cs]=Chování
Name[cy]=Ymddygiad
Name[da]=Opførsel
Name[de]=Verhalten
Name[el]=Συμπεριφορά
Name[en_GB]=Behaviour
Name[eo]=Fenestrokonduto
Name[es]=Comportamiento
Name[et]=Käitumine
Name[eu]=Portaera
Name[fa]=رفتار
Name[fi]=Käytös
Name[fr]=Comportement
Name[ga]=Oibriú
Name[gl]=Comportamento
Name[he]=אופן פעולה
Name[hi]=बर्ताव
Name[hr]=Ponašanje
Name[hu]=Működés
Name[is]=Hegðun
Name[it]=Comportamento
Name[ja]=挙動
Name[ka]=ქცევა
Name[kk]=Қасиеттер
Name[km]=ឥរិយាបថ
Name[lt]=Elgsena
Name[mk]=Однесување
Name[nb]=Oppførsel
Name[nds]=Bedregen
Name[ne]=व्यवहार
Name[nl]=Gedrag
Name[nn]=Åtferd
Name[pa]=ਰਵੱਈਆ
Name[pl]=Zachowanie
Name[pt]=Comportamento
Name[pt_BR]=Comportamento
Name[ro]=Comportament
Name[ru]=Поведение
Name[rw]=Imyitwarire
Name[se]=Láhtten
Name[sk]=Chovanie
Name[sl]=Obnašanje
Name[sr]=Понашање
Name[sr@Latn]=Ponašanje
Name[sv]=Beteende
Name[tg]=Рафтор
Name[tr]=Davranış
Name[uk]=Поведінка
Name[uz]=Xususiyatlar
Name[uz@cyrillic]=Хусусиятлар
Name[wa]=Dujhance
Name[zh_CN]=行为
Name[zh_HK]=行為
Name[zh_TW]=行為
Comment=Here You Can Personalize Kopete
Comment[ar]=هنا يمكنك تخصيص Kopete
Comment[be]=Персаналізацыя Kopete
Comment[bg]=Настройване поведението на програмата
Comment[bn]=আপনি এখানে কপেট ব্যক্তিগতকরণ করতে পারেন
Comment[bs]=Ovdje možete prilagoditi sebi Kopete
Comment[ca]=Aquí podreu personalitzar el Kopete
Comment[cs]=Zde je možné přizpůsobit si Kopete
Comment[cy]=Yma Gallwch Bersonoleiddio Kopete
Comment[da]=Her kan du personliggøre Kopete
Comment[de]=Hier können Sie Kopete an Ihre persönlichen Vorstellungen anpassen
Comment[el]=Εδώ μπορείτε να προσαρμόσετε το Kopete
Comment[en_GB]=Here You Can Personalise Kopete
Comment[es]=Aquí­ puede personalizar Kopete
Comment[et]=Siin saab muuta Kopete just selliseks, nagu sulle meeldib
Comment[eu]=Hemen Kopete pertsonalizatu dezakezu
Comment[fa]=اینجا می‌توانید Kopete را شخصی کنید
Comment[fi]=Täällä voit yksilöllistää Kopetea
Comment[fr]=Vous pouvez personnaliser Kopete ici
Comment[ga]=Tig Leat Kopete a Oiriúnú Duit Féin Anseo
Comment[gl]=Aquí podes personaliza-lo comportamento de Kopete
Comment[he]=כאן ניתן להתאים אישית את Kopete
Comment[hi]=यहाँ आप के-ऑप्टी को पर्सनलाइज कर सकते हैं
Comment[hr]=Ovde možete prilagoditi Kopete
Comment[hu]=Itt lehet megváltoztatni a Kopete működési jellemzőit
Comment[is]=Hér geturðu breytt Kopete
Comment[it]=Qui puoi personalizzare Kopete
Comment[ja]=ここで Kopete の挙動をカスタマイズします
Comment[ka]=თქვენ აქ შეგიძლიათ Kopete-ს მორგება
Comment[kk]=Мұнда Kopete-ті ыңғайлап алуға болады
Comment[km]=ទីនេះ អ្នក​អាច​តម្រូវ Kopete តាម​បុគ្គល
Comment[lt]=Čia galite Kopete pritaikyti sau
Comment[mk]=Тука можете да го прилагодите Kopete на вашите желби
Comment[nb]=Sett dine egne innstillinger i Kopete
Comment[nds]=Hier kannst Du Kopete Dien Wennsten topassen
Comment[ne]=तपाईँ यहाँ कोपेट निजीकरण गर्न सक्नुहुन्छ
Comment[nl]=Hier kunt u Kopete naar wens instellen
Comment[nn]=Vel dine eigne innstillingar i Kopete
Comment[pl]=Tutaj możesz dostosować Kopete do osobistych preferencji
Comment[pt]=Aqui você pode personalizar o Kopete
Comment[pt_BR]=Agora você pode personalizar o Kopete
Comment[ro]=Aici puteţi personaliza Kopete
Comment[ru]=Персональная настройка Kopete
Comment[se]=Dáppe sáhtát heivehit Kopete:a iežat hápmái
Comment[sk]=Tu môžete Kopete prispôsobiť
Comment[sl]=Tukaj lahko nastavite Kopete
Comment[sr]=Овде можете прилагодити Kopete себи
Comment[sr@Latn]=Ovde možete prilagoditi Kopete sebi
Comment[sv]=Här kan du göra personlig anpassning av Kopete
Comment[tg]=Дар Ин Ҷо Шумо Kopete-и Худро Шахсӣ Карда Метавонед
Comment[tr]=Burada Kopete'yi Kişiselleştirebilirsiniz
Comment[uk]=Тут можна наладнати Kopete під себе
Comment[uz]=Bu yerda turli xususiyatlarni moslash mumkin
Comment[uz@cyrillic]=Бу ерда турли хусусиятларни мослаш мумкин
Comment[wa]=Chal vos ploz apontyî Kopete a vosse mode
Comment[zh_CN]=您可在此个性化 Kopete
Comment[zh_HK]=在此您可設定 Kopete 的個人化資料
Comment[zh_TW]=您已經在此將 Kopete 個人化
DocPath=kopete/configure-dialog.html#configuring-behavior



