[Desktop Entry]
Encoding=UTF-8
Icon=cinecamera
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_avdeviceconfig
X-KDE-FactoryName=KopeteAVDeviceConfigFactory
X-KDE-ParentApp=kopete
X-KDE-ParentComponents=kopete

Name=Devices
Name[br]=Trobarzhelloù
Name[eo]=Aparatoj
Name[id]=Divais
Name[lv]=Iekārtas
Name[th]=อุปกรณ์
Name[ven]=Maano
Name[vi]=Thiết bềE
Name[xh]=Amacebo
Name[zu]=Amacebo
Comment=Here You Can Alter Kopete's Video And Audio Devices' Settings
DocPath=kopete/configure-dialog.html#configuring-avdevice
