[Desktop Entry]
Icon=configure
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kopete_behaviorconfig
X-KDE-FactoryName=kcm_kopete_behaviorconfig
X-KDE-ParentApp=kopete
X-KDE-ParentComponents=kopete

Name=Behavior
Comment=Personalize Kopete's Behavior
X-DocPath=kopete/configure-dialog.html#configuring-behavior



