[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000900
Icon=meanwhile_protocol
ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_meanwhile
X-Kopete-Messaging-Protocol=messaging/meanwhile
X-KDE-PluginInfo-Author=Jeremy Kerr
X-KDE-PluginInfo-Email=jk@ozlabs.org
X-KDE-PluginInfo-Name=kopete_meanwhile
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Meanwhile
Name[is]=Á meðan
Name[mk]=Во меѓувреме
Name[nb]=Imens
Name[sk]=Medzitým
Name[ta]=இடைப்பட்ட பொழுதில்
Comment=Meanwhile (Lotus Sametime) Protocol
Comment[ca]=Protocol Meanwhile (Lotus Sametime)
Comment[da]=Meanwhile-protokol (Lotus Sametime)
Comment[de]=Meanwhile-Protokoll (Lotus Sametime)
Comment[el]=Πρρωτόκολλο Meanwhile (Lotus Sametime)
Comment[es]=Protocolo Meanwhile (Lotus Sametime)
Comment[et]=Meanwhile (Lotus Sametime) protokoll
Comment[fa]=قرارداد Meanwhile‌ (گاهی لوتوس)
Comment[fr]=Protocole Meanwhile (Lotus Sametime)
Comment[he]=פרוטוקול Meanwhile
Comment[is]="Meanwhile" (Lotus Sametimr) samskipturegla
Comment[it]=Protocollo Meanwhile (Lotus Sametime)
Comment[ja]=Meanwhile (Lotus Sametime) プロトコル
Comment[km]=ពីធីការ Meanwhile (Lotus Sametime)
Comment[nds]=Meanwhile-Protokoll (Lotus Sametime)
Comment[nl]=Procotol voor Meanwhile (Lotus Sametime)
Comment[pl]=Protokół Meanwhile (Lotus Sametime)
Comment[pt]=Protocolo Meanwhile (Lotus Sametime)
Comment[pt_BR]=Protocolo Meanwhile (Lotus Sametime)
Comment[sk]=Meanwhile (Lotus Sametime) Protokol
Comment[sl]=Protokol Meanwhile (Lotus Sametime)
Comment[sv]=Meanwhile-protokoll (Lotus Sametime)
Comment[uk]=Протокол Meanwhile (Lotus Sametime)
Comment[zh_TW]=Meanwhile （Lotus Sametime）協定外掛程式
