[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000900
Icon=meanwhile_protocol
ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_meanwhile
X-Kopete-Messaging-Protocol=messaging/meanwhile
X-KDE-PluginInfo-Author=Sivaram Gottimukkala
X-KDE-PluginInfo-Email=sivaram@somewhere.net
X-KDE-PluginInfo-Name=kopete_meanwhile
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Meanwhile
Name[el]=Την ίδια ώρα
Name[is]=Á meðan
Name[mk]=Во меѓувреме
Name[nb]=Imens
Name[ne]=यसै बीचमा
Name[ta]=இடைப்பட்ட பொழுதில்
Name[x-test]=xxMeanwhilexx
Comment=Meanwhile protocol plugin
Comment[bg]=Приставка за протоколите на Kopete
Comment[de]=Meanwhile-Protokoll-Modul
Comment[el]=Πρόσθετο πρωτοκόλλου 'Την ίδια ώρα'
Comment[es]=Complemento del protocolo Meanwhile
Comment[fa]=وصلۀ قرارداد Meanwhile
Comment[ja]=Meanwhile プロトコルプラグイン
Comment[ne]=यसै बीचको प्रोटोकल प्लगइन
Comment[nl]=Meanwhile protocol-plugin
Comment[pt]='Plugin' de Protocolo Meanwhile
Comment[pt_BR]='Plugin' de Protocolo Meanwhile
Comment[sv]=Protokollinsticksprogram Meanwhile
Comment[uk]=Втулок протоколу Meanwhile
Comment[vi]=Phần bổ sung giao thức Meanwhile
Comment[x-test]=xxMeanwhile protocol pluginxx
Comment[zh_TW]=Meanwhile 協定外掛程式
