[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000900
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_motionaway
X-KDE-PluginInfo-Author=Duncan Mac-Vicar Prett
X-KDE-PluginInfo-Email=duncan@kde.org
X-KDE-PluginInfo-Name=kopete_motionaway
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Motion Auto-Away
Name[ar]=حركة التبعيد التلقائية
Name[bg]=Промяна на състоянието
Name[bs]=Auto-odsutnost na osnovu kretanja
Name[ca]=Auto-absent per moviment
Name[cy]=Dim Yma (Dim Symudiad)
Name[da]=Bevægelses-auto-borte
Name[de]=Auto-Abwesenheit
Name[es]=Auto-Alejado
Name[et]=Automaatne äraolek
Name[eu]=Auto-urrunduta
Name[fi]=Liikeen perusteella poistuminen
Name[fr]=Détection de mouvement
Name[gl]=Auto-alonxamento
Name[he]=שינוי מצב לפי גלאי תזוזה
Name[hi]=मोशन आटो अवे
Name[hr]=Automatska odsutnost u nedostatku pokreta
Name[hu]=A távollét érzékelése mozgásdetektálással
Name[it]=Automaticamente "assente" se inutilizzato
Name[ja]=自動不在時の動作
Name[mk]=Авто-отсутен за движење 
Name[nb]=Bli borte automatisk
Name[nl]=Automatisch afwezig
Name[nn]=Bli vekke automatisk
Name[pl]=Wykrywanie nieaktywności za pomocą czujnika ruchu
Name[pt]=Auto-Ausência por Movimento
Name[pt_BR]=Ausente Automático
Name[ru]=Автоопределение отсутствия
Name[sk]=Automatická prítomnosť podľa pohybu
Name[sl]=Samodejna odsotnost
Name[sr]=Аутоматска одсутност без покретâ
Name[sr@Latn]=Automatska odsutnost bez pokretâ
Name[sv]=Automatisk rörelsefrånvaro
Name[ta]=அகராதி
Name[tg]=Ҳаракати Ақибгардии Худкор
Name[tr]=Otomatik Uzakta Hareketi
Name[uk]=Автовиявлення відсутності
Name[xx]=xxMotion Auto-Awayxx
Name[zh_CN]=自动离开
Comment=Sets away status when not detecting movement near the computer 
