[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000900
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_motionaway
X-KDE-PluginInfo-Author=Duncan Mac-Vicar Prett
X-KDE-PluginInfo-Email=duncan@kde.org
X-KDE-PluginInfo-Name=kopete_motionaway
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Motion Auto-Away
Name[ar]=حركة التبعيد التلقائية
Name[bg]=Промяна на състоянието
Name[bs]=Auto-odsutnost na osnovu kretanja
Name[ca]=Auto-absent per moviment
Name[cs]=Pohybem automaticky pryč
Name[cy]=Dim Yma (Dim Symudiad)
Name[da]=Bevægelses-auto-borte
Name[de]=Auto-Abwesenheit
Name[el]=Κίνηση Αυτόματα - Λείπω
Name[es]=Auto-Alejado
Name[et]=Automaatne äraolek
Name[eu]=Auto-urrunduta
Name[fi]=Liikeen perusteella poistuminen
Name[fr]=Détection de mouvement
Name[gl]=Auto-alonxamento
Name[he]=מסמן "לא נמצא" בהתאם לתנועה
Name[hi]=मोशन आटो अवे
Name[hr]=Automatska odsutnost u nedostatku pokreta
Name[hu]=A távollét érzékelése mozgásdetektálással
Name[it]=Automaticamente "assente" se inutilizzato
Name[ja]=自動不在時の動作
Name[mk]=Авто-отсутен за движење 
Name[nb]=Bli borte automatisk
Name[nl]=Automatisch afwezig
Name[nn]=Bli vekke automatisk
Name[pl]=Wykrywanie nieaktywności za pomocą czujnika ruchu
Name[pt]=Auto-Ausência por Movimento
Name[pt_BR]=Ausente Automático
Name[ru]=Автоопределение отсутствия
Name[sk]=Automatická prítomnosť podľa pohybu
Name[sl]=Samo-odsotnost (premikanje)
Name[sr]=Аутоматска одсутност без покретâ
Name[sr@Latn]=Automatska odsutnost bez pokretâ
Name[sv]=Automatisk rörelsefrånvaro
Name[ta]=அகராதி
Name[tg]=Ҳаракати Ақибгардии Худкор
Name[uk]=Автовиявлення відсутності
Name[xx]=xxMotion Auto-Awayxx
Name[zh_CN]=自动离开
Comment=Sets away status when not detecting movement near the computer
Comment[ar]=يحول وضع الاتصال إلى في الخارج عندما لا يتم تحديد تعاملات مع الكومبيوتر
Comment[bg]=Промяна на състоянието, когато няма активност от страна на потребителя
Comment[bs]=Postavlja status odsutnosti ako nije detektovano kretanje u blizini računara
Comment[ca]=Estableix l'estatus d'absent en no detectar moviment a l'ordinador
Comment[cs]=Nastaví automaticky stav "pryč" při absenci pohybu
Comment[cy]=Gosod cyflwr i "i fwrdd" os na chanfyddir symudiad wrth ymyl y cyfrifiadur
Comment[da]=Sætter borte-status når ingen bevægelse detekteres nær computeren
Comment[de]=Setzt automatisch den Status auf abwesend, wenn keine Aktivität am Rechner feststellbar ist
Comment[el]=Ορίζει την κατάσταση σε «Λείπω» όταν δεν ανιχνεύει κίνηση κοντά στον υπολογιστή
Comment[es]=Se pone en estado Alejado cuando no se detecte movimiento cerca de su ordenador
Comment[et]=Määrab äraoleku staatuse, kui arvuti juures mingit elutegevust ei täheldata
Comment[eu]=Ezarri urrunduta egoera konputagailuan mugimendurik ez dagoenean
Comment[fi]=Asettaa poissa tilan, jos koneen lähistöllä ei havaita liikettä
Comment[fr]=Active l'état absent lorsque aucune activité n'est détectée près de l'ordinateur
Comment[gl]=Pónse en estado alonxado cando non se detectan movementos preto do seu ordenador
Comment[he]=מגדיר מצב "לא נמצא" בעת חוסר פעילות על המחשב
Comment[hi]=जब कम्प्यूटर के आसपास गतिविधि पता नहीं लगता है तो स्थिति को दूर नियत करता है
Comment[hr]=Postavlja status „odsutan“ kada ne detektira pomicanje u blizini računala
Comment[hu]=A távolléti állapot automatikus beállítása, ha nincs mozgás a számítógép körül
Comment[is]=Breytir stöðu þinni ef tölvan er ekki notkun
Comment[it]=Imposta lo stato ad assente quando non viene rilevato nessun movimento 
Comment[ja]=コンピュータの近くにいない場合、不在状態にセットします。
Comment[mk]=Го поставува статусот отсутен кога нема движење на компјутерот
Comment[nb]=Sett som borte når det ikke er noen bevegelse på mus eller tastatur
Comment[nl]=Stelt automatisch afwezigheid in als er geen beweging wordt gedetecteerd
Comment[nn]=Set som vekke når det ikkje er noka rørsle på mus eller tastatur
Comment[pl]=Ustawia status "Zaraz wracam", gdy nie wykrywa żadnego ruchu w pobliżu komputera
Comment[pt]=Coloca o estado de ausência quando não é detectado nenhum movimento perto do computador
Comment[pt_BR]=Configura o status de ausente quando não detectar movimento próximo ao computador
Comment[ru]=Устанавливает состояние "отсутствует", если работа за компьютером не регистрируется в течение долгого времени
Comment[sk]=Nastaví stav prítomnosti podľa toho, či bol zaznamenaný pohyb pri počítači
Comment[sl]=Nastavi stanje odsotnosti, ko ni premikanja v bližini računalnika
Comment[sr]=Поставља статус „одсутан“ када не детектује померање у близини рачунара
Comment[sr@Latn]=Postavlja status „odsutan“ kada ne detektuje pomeranje u blizini računara
Comment[sv]=Ställer automatisk in frånvarostatus när ingen rörelse märks nära datorn
Comment[ta]=கணிப்பொறியின் அருகே நடக்கும் இயக்கத்தை கண்டுபிடிக்காத போது அமைக்கும்
Comment[tg]=Ҳангоми муайян накардани ҳаракат дар назди компютер ҳолатро дур месозад
Comment[uk]=Встановлює стан у значення "відсутній", якщо не реєструється робота за комп'ютером
Comment[xx]=xxSets away status when not detecting movement near the computerxx
Comment[zh_CN]=根据计算机旁的状态设置离开状态
