[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_motionaway
X-KDE-FactoryName=MotionAwayConfigFactory
X-KDE-ParentApp=kopete_motionaway
X-KDE-ParentComponents=kopete_motionaway

Name=Motion Auto-Away
Name[bg]=Промяна на статуса
Name[ca]=Auto-absent per moviment
Name[cy]=Dim Yma (Dim Symudiad)
Name[da]=Bevægelses-auto-borte
Name[de]=Auto-Abwesenheit
Name[es]=Auto-Alejado
Name[et]=Automaatne äraolek
Name[fr]=Détection de mouvement
Name[gl]=Auto-alonxamento
Name[he]=שינוי מצב לפי גלאי תזוזה
Name[hu]=A távollét érzékelése mozgásdetektálással
Name[nl]=Automatisch afwezig
Name[pt]=Auto-Ausência por Movimento
Name[pt_BR]=Ausente Automático
Name[sk]=Automatická prítomnosť podľa pohybu
Name[sl]=Samodejna odsotnost
Name[sr]=Аутоматска одсутност без покретâ
Name[sv]=Automatisk rörelsefrånvaro
Name[xx]=xxMotion Auto-Awayxx
Comment=Sets away status when not detecting movement near the computer 
