[Desktop Entry]
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_motionaway
X-KDE-FactoryName=MotionAwayConfigFactory
X-KDE-ParentApp=kopete_motionaway
X-KDE-ParentComponents=kopete_motionaway

Name=Motion Auto-Away
Name[ar]=حركة التبعيد التلقائية
Name[bg]=Промяна на състоянието
Name[bn]=চলাচল স্বয়ংক্রীয়-অনুপস্থিতি
Name[bs]=Auto-odsutnost na osnovu kretanja
Name[ca]=Auto-absent per moviment
Name[cs]=Nepřítomnost podle pohybu
Name[cy]=Dim Yma (Dim Symudiad)
Name[da]=Bevægelses-auto-borte
Name[de]=Auto-Abwesenheit
Name[el]=Αυτόματη μετάβαση σε απουσία
Name[es]=Ausencia automática por movimiento
Name[et]=Automaatne äraolek
Name[eu]=Auto-urrunduta
Name[fa]=حرکت خودکار دور
Name[fi]=Liikeen perusteella poistuminen
Name[fr]=Détection de mouvement
Name[gl]=Auto-alonxamento
Name[he]=מסמן "לא נמצא" בהתאם לתנועה
Name[hi]=मोशन आटो अवे
Name[hr]=Automatska odsutnost u nedostatku pokreta
Name[hu]=A távollét érzékelése mozgásdetektálással
Name[it]=Automaticamente "assente" se inutilizzato
Name[ja]=自動不在時の動作
Name[ka]=ავტო-გასვლა
Name[kk]=Орында жоқ күйін автоорнату
Name[km]=ចលនា​ស្វ័យប្រវត្តិ ពេល​មិន​នៅ
Name[lt]=Judėjimas „Pasitraukęs“
Name[mk]=Авто-отсутен за движење 
Name[nb]=Bli borte automatisk
Name[nds]=Auto-Wegwesen
Name[ne]=चाल स्वत: बाहिर
Name[nl]=Automatisch afwezig
Name[nn]=Bli vekke automatisk
Name[pl]=Wykrywanie nieaktywności za pomocą czujnika ruchu
Name[pt]=Ausência Automática por Movimento
Name[pt_BR]=Ausente Automático
Name[ru]=Автоопределение отсутствия
Name[sk]=Automatická prítomnosť podľa pohybu
Name[sl]=Samo-odsotnost (premikanje)
Name[sr]=Аутоматска одсутност без покретâ
Name[sr@Latn]=Automatska odsutnost bez pokretâ
Name[sv]=Automatisk rörelsefrånvaro
Name[ta]=அகராதி
Name[tg]=Ҳаракати Ақибгардии Худкор
Name[tr]=Otomatik Uzakta Hareketi
Name[uk]=Автовиявлення відсутності
Name[zh_CN]=自动离开
Name[zh_HK]=動作感應器
Name[zh_TW]=動作偵測自動離開
Comment=Sets away status when not detecting movement near the computer
Comment[ar]=يحول وضع الاتصال إلى في الخارج عندما لا يتم تحديد تعاملات مع الكومبيوتر
Comment[bg]=Промяна на състоянието, когато няма активност от страна на потребителя
Comment[bn]=যখন কম্পিউটারের কাছে কোনও চলাচল অনুভূত হয়না তখন অনুপস্থিত অবস্থা নিযুক্ত করে
Comment[bs]=Postavlja status odsutnosti ako nije detektovano kretanje u blizini računara
Comment[ca]=Estableix l'estatus d'absent en no detectar moviment a l'ordinador
Comment[cs]=Nastaví automaticky stav "nepřítomen" při absenci pohybu
Comment[cy]=Gosod cyflwr i "i fwrdd" os na chanfyddir symudiad wrth ymyl y cyfrifiadur
Comment[da]=Sætter borte-status når ingen bevægelse detekteres nær computeren
Comment[de]=Setzt automatisch den Status auf abwesend, wenn keine Aktivität am Rechner feststellbar ist
Comment[el]=Ορίζει την κατάσταση σε απουσία όταν δεν ανιχνεύει κίνηση κοντά στον υπολογιστή
Comment[es]=Se pone en estado Ausente cuando no se detecte movimiento cerca de su equipo
Comment[et]=Määrab äraoleku staatuse, kui arvuti juures mingit elutegevust ei täheldata
Comment[eu]=Ezarri urrunduta egoera konputagailuan mugimendurik ez dagoenean
Comment[fa]=اگر هیچ حرکتی نزدیک رایانۀ شما آشکار نشود، وضعیت را کنار می‌گذارد
Comment[fi]=Asettaa poissaolevaksi, jos koneen lähistöllä ei havaita liikettä
Comment[fr]=Active l'état absent lorsque aucune activité n'est détectée près de l'ordinateur
Comment[gl]=Pónse en estado alonxado cando non se detectan movementos preto do seu ordenador
Comment[he]=מגדיר מצב "לא נמצא" בעת חוסר פעילות על המחשב
Comment[hi]=जब कम्प्यूटर के आसपास गतिविधि पता नहीं लगता है तो स्थिति को दूर नियत करता है
Comment[hr]=Postavlja status „odsutan“ kada ne detektira pomicanje u blizini računala
Comment[hu]=A távolléti állapot automatikus beállítása, ha nincs mozgás a számítógép körül
Comment[is]=Breytir stöðu þinni ef tölvan er ekki notkun
Comment[it]=Imposta lo stato ad assente quando non viene rilevato nessun movimento 
Comment[ja]=コンピュータの近くにいない場合、不在状態にセットします
Comment[ka]=აყენებს გასვლის სტატუსს როდესაც კომპიუტერთან აქტივობა არ შეიმჩნევა
Comment[kk]=Компьютерде қимыл жоқты байқап орында жоқ деген күйді орнатады
Comment[km]=កំណត់​ស្ថានភាព​មិន​នៅ នៅ​ពេល​កុំព្យូទ័រ និង​អ្វីៗ​នៅ​ជិត​វា មិន​កម្រើក
Comment[lt]=Būklė nustatoma „Pasitraukęs“, jei šalia kompiuterio nėra jokio judėjimo
Comment[mk]=Го поставува статусот отсутен кога нема движење на компјутерот
Comment[nb]=Sett som borte når det ikke er noen bevegelse på mus eller tastatur
Comment[nds]=Stellt den Status automaatsch op "Nich dor", wenn sik an'n Reekner nix deit
Comment[ne]=कम्प्युटर नजिक चाल पत्ता नलाग्दा वस्तुस्थिति बाहिर सेट गर्दछ
Comment[nl]=Stelt automatisch afwezigheid in als er geen beweging wordt gedetecteerd
Comment[nn]=Set som vekke når det ikkje er noka rørsle på mus eller tastatur
Comment[pl]=Ustawia status "Zaraz wracam", gdy nie wykrywa żadnego ruchu w pobliżu komputera
Comment[pt]=Configura o estado de ausência ao não detectar movimento perto do computador
Comment[pt_BR]=Configura o status de ausente quando não detectar movimento próximo ao computador
Comment[ru]=Устанавливает состояние "отсутствует", если работа за компьютером не регистрируется в течение долгого времени
Comment[sk]=Nastaví stav prítomnosti podľa toho, či bol zaznamenaný pohyb pri počítači
Comment[sl]=Nastavi stanje odsotnosti, ko ni premikanja v bližini računalnika
Comment[sr]=Поставља статус „одсутан“ када не детектује померање у близини рачунара
Comment[sr@Latn]=Postavlja status „odsutan“ kada ne detektuje pomeranje u blizini računara
Comment[sv]=Ställer automatisk in frånvarostatus när ingen rörelse märks nära datorn
Comment[ta]=கணிப்பொறியின் அருகே நடக்கும் இயக்கத்தை கண்டுபிடிக்காத போது அமைக்கும்
Comment[tg]=Ҳангоми муайян накардани ҳаракат дар назди компютер ҳолатро дур месозад
Comment[tr]=Bilgisayarın başında olunmadığı algılanırsa uzakta olarak belirler
Comment[uk]=Встановлює стан у значення "відсутній", якщо не реєструється робота за комп'ютером
Comment[zh_CN]=根据计算机旁的状态设置离开状态
Comment[zh_HK]=偵測不到電腦附近有動作時將狀態設為「離開」
Comment[zh_TW]=當偵測不到動作時自動設為離開
