[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KCModule

X-KDE-Library=kopete_motionaway
X-KDE-FactoryName=kcm_kopete_motionaway
X-KDE-ParentApp=kopete_motionaway
X-KDE-ParentComponents=kopete_motionaway

Name=Motion Auto-Away
Name[el]=Αυτόματη μετάβαση σε απουσία
Name[fr]=Détection de mouvement
Name[x-test]=xxMotion Auto-Awayxx
Comment=Sets away status when not detecting movement near the computer
Comment[el]=Ορίζει την κατάσταση σε απουσία όταν δεν ανιχνεύει κίνηση κοντά στον υπολογιστή
Comment[fr]=Active l'état absent lorsque aucune activité n'est détectée près de l'ordinateur
Comment[x-test]=xxSets away status when not detecting movement near the computerxx
