[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Motion Auto-Away
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_motionaway
X-Kopete-Plugin-Id=motionautoaway
X-Kopete-Author=Duncan Mac-Vicar P.
X-Kopete-Site=http://kopete.kde.org
X-Kopete-Email=duncan@kde.org
X-Kopete-License=GPL
Comment=Sets away status when not detecting movement near the computer 
